<% @search_results.each do |user| %>
	<div class="user-row">
		<div style="display: table-cell; width: 50px; vertical-align: middle;">
	    	<% case user.profile_type.to_s %>  
	      	<% 	when "1" %>
	      	<% user_image = user.user_images.where( :primary => true ).first.image_url(:image_100_100) rescue "/images_avatar/avatar-gen-person-w100-h100.png" %>
	      	<%   when "2"%>
	      	<% user_image = user.user_images.where( :primary => true ).first.image_url(:image_100_100) rescue "/images_avatar/avatar-gen-person-w100-h100.png" %>
	      	<%   when "3"%>
	      	<% user_image = user.publisher_user.publisher_user_images.where( :primary => true ).first.image_url(:image_100_100) rescue "/images_avatar/avatar-gen-person-w100-h100.png" %>
	      	<%   when "4"%>
	      	<% user_image = user.user_images.where( :primary => true ).first.image_url(:image_100_100) rescue "/images_avatar/avatar-gen-person-w100-h100.png" %>
	      	<%   when "5"%>
	      	<% user_image = user.user_images.where( :primary => true ).first.image_url(:image_100_100) rescue "/images_avatar/avatar-gen-person-w100-h100.png" %>
	      	<%   else %>
	      	<% user_image = user.user_images.where( :primary => true ).first.image_url(:image_100_100) rescue "/images_avatar/avatar-gen-person-w100-h100.png" %>
	      	<% end %>
	      	<a href="<%= user.slug %>" style="display: inline; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
				<%= image_tag(user_image.to_s) %>
			</a>
		</div>
		<div style="display: table-cell; width: 175px; vertical-align: middle; padding: 5px;">
			<a href="<%= user.slug %>" style="display: inline; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= user.name_first.to_s + " " + user.name_last.to_s %></a>
			<div style="font-size: 12px">
				<!-- <div><#%= user.username %#></div> -->
				<div style="display: inline">User ID:</div>
				<div class="user_id" data-user-id=<%= user.id %> style="display: inline"><%= user.id %></div>
			</div>
			<% if UserFriendship.exists?(:user_id => current_user.id, :user_friend_id => user.id) %>
				<!-- <#%= link_to "Remove Friend", {:action => "remove_friend", :friend_id => user.id}, :remote => true, :method => :post, :id => "user_id_#{user.id}" %> -->
			<% else %>
				<%= link_to "Add Friend", {:action => "add_user_friend", :user_friend_id => user.id}, :remote => true, :method => :post, :id => "user_id_#{user.id}" %>
			<% end %>				
		</div>
	</div>
<% end %>
<div style="height: 10px"></div>
<%= will_paginate @search_results, :inner_window=> 2, :params => {:controller => 'user_lists'} %>
<script type="text/javascript">
	$('.pagination a').attr('data-remote', 'true');
	function setAjaxPagination() {
		$('.pagination a').click ( function( event ){
			event.preventDefault();
			event.stopImmediatePropagation();
			// Setting search filter
			var search_age_from = "";
			if ($("#user_from_age").val())
				search_age_from = $("#user_from_age").val();
			
			var search_age_to = "";
			if ($("#user_to_age").val())
				search_age_to = $("#user_to_age").val();	
			
			var search_gender = "";
			var searchGender = get_user_gender();
			if (searchGender == 1 || searchGender == 0)
				search_gender = searchGender;	
			
			var search_bd_year = "";
			if ($("#user_bd_year").val())
				search_bd_year = $("#user_bd_year").val();
			
			var search_bd_month = "";
			if ($("#user_bd_month").val())
				search_bd_month = $("#user_bd_month").val();
			
			var search_bd_day = "";
			if ($("#user_bd_day").val())
				search_bd_day = $("#user_bd_day").val();
			var order = '{ "search_age_from": "' + search_age_from + '"' +
					', "search_age_to": "' + search_age_to + '"' +
					', "search_gender": "' + search_gender + '"' +
					', "search_bd_year": "' + search_bd_year + '"' +
					', "search_bd_month": "' + search_bd_month + '"' +
					', "search_bd_day": "' + search_bd_day + '"' +
					', "search_query": "' + $("#search_query").val() + '"' +
					'}';
			$.ajax({
				method: "POST",
			  	url: $(this).attr('href'),
			  	data: order,
			  	contentType: "application/json",
			  	dataType: "script" });
		});
	}
	setAjaxPagination();
</script>
