


	<style>

		figure.dialog-user-image-1 {
			position: relative;
			margin: 0 auto;
		}		
		figure.dialog-user-image-1 img {
			/*border: 1px solid #aaa;*/
		}
		figcaption.expand-image {		
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			/*display: none !important;
			visibility: hidden !important*/
			/*background: url("/assets/background-000000-o100-w10-h10.png") repeat;*/
		}
		figcaption.expand-image div.img-1-container {
			position: relative;
			width: 100%;
			height: auto;
		}			
		figcaption.expand-image div.img-1-container div.img-1 {
			position: absolute;
			top: 14px;
			right: 14px;
			width: 48px;
			height: 48px;
			margin: auto;
			background: url("/assets/icon_expand_w48_h48.png") no-repeat;
			opacity: 0;
			
		}			
		figure.dialog-user-image-1 figcaption:hover div a div.img-1 {
			-webkit-opacity: 0.5;
			-moz-opacity: 0.5;
			opacity: 0.5;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;			
		}
		
	</style>
			
	<style>

		figure.dialog-user-image-2 {
			position: relative;
			margin: 0 auto;
		}		
		figure.dialog-user-image-2 img {
			/*border: 1px solid #aaa;*/
		}
		figcaption.expand-image {		
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
		}
		figcaption.expand-image div.img-2-container {
			position: relative;
			width: 100%;
			height: auto;
		}			
		figcaption.expand-image div.img-2-container div.img-2 {
			position: absolute;
			top: 14px;
			right: 14px;
			width: 48px;
			height: 48px;
			margin: auto;
			background: url("/assets/icon_expand_w48_h48.png") no-repeat;
			opacity: 0;
			
		}			
		figure.dialog-user-image-2 figcaption:hover div a div.img-2 {
			-webkit-opacity: 0.5;
			-moz-opacity: 0.5;
			opacity: 0.5;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;			
		}
		
	</style>
			
	<style>

		figure.dialog-user-image-3 {
			position: relative;
			margin: 0 auto;
		}		
		figure.dialog-user-image-3 img {
			/*border: 1px solid #aaa;*/
		}
		figcaption.expand-image {		
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
		}
		figcaption.expand-image div.img-3-container {
			position: relative;
			width: 100%;
			height: auto;
		}			
		figcaption.expand-image div.img-3-container div.img-3 {
			position: absolute;
			top: 14px;
			right: 14px;
			width: 48px;
			height: 48px;
			margin: auto;
			background: url("/assets/icon_expand_w48_h48.png") no-repeat;
			opacity: 0;
			
		}			
		figure.dialog-user-image-3 figcaption:hover div a div.img-3 {
			-webkit-opacity: 0.5;
			-moz-opacity: 0.5;
			opacity: 0.5;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;			
		}
		
	</style>
			
	<style>

		figure.dialog-user-image-4 {
			position: relative;
			margin: 0 auto;
		}		
		figure.dialog-user-image-4 img {
			/*border: 1px solid #aaa;*/
		}
		figcaption.expand-image {		
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
		}
		figcaption.expand-image div.img-4-container {
			position: relative;
			width: 100%;
			height: auto;
		}			
		figcaption.expand-image div.img-4-container div.img-4 {
			position: absolute;
			top: 14px;
			right: 14px;
			width: 48px;
			height: 48px;
			margin: auto;
			background: url("/assets/icon_expand_w48_h48.png") no-repeat;
			opacity: 0;
			
		}			
		figure.dialog-user-image-4 figcaption:hover div a div.img-4 {
			-webkit-opacity: 0.5;
			-moz-opacity: 0.5;
			opacity: 0.5;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-ms-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;			
		}
		
	</style>
			
			
			<div class="jqmWindow jqmWindow-11" id="dialog_11">
		   		<div class="table-dl-form-1">
		   			<div class="row">
		   				<div class="cell-100percent">
		   					<div id="close_form11" class="form-edit-close jqmClose tip-left-center" tabindex="">
		   						<img src="/assets/x_close_white_w20_h20.png" alt="X" height="20px">
		   					</div>
			                <div class="tip-content">
			                    <div class="tooltiptext">Close</div>
			                </div>																															   					
		   					<div style="clear: both;"></div>
		   				</div>
   					</div>
				</div>				   				
				<div style="width: 100%; text-align: center;">
					<div style="height: 20px;"></div>
					<figure id="figure_dialog_11" class="dialog-user-image-1">
						<img alt="" src="" class="dialog-user-image-hover" />
						<figcaption id="figcaption_dialog_11" class="expand-image">												
							<div class="img-1-container image">
								<% if !@image_1.nil? %>
								<a rel="gallery" title="" href="<%= @image_1.image_url() + '?' + (rand(10..90) * rand(100..900)).to_s if @image_1.image? %>">									
									<div id="img_1" class="img-1"></div>
								</a>
								<% end %>
							</div>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="jqmWindow jqmWindow-21" id="dialog_21">
		   		<div class="table-dl-form-1">
		   			<div class="row">
		   				<div class="cell-100percent">
		   					<div id="close_form21" class="form-edit-close jqmClose tip-left-center" tabindex="">
		   						<img src="/assets/x_close_white_w20_h20.png" alt="X" height="20px">
		   					</div>
			                <div class="tip-content">
			                    <div class="tooltiptext">Close</div>
			                </div>																															   					
		   					<div style="clear: both;"></div>
		   				</div>
   					</div>
				</div>				   				
				<div style="width: 100%; text-align: center;">
					<div style="height: 20px;"></div>
					<figure id="figure_dialog_21" class="dialog-user-image-2">
						<img alt="" src="" class="dialog-user-image-hover" />
						<figcaption id="figcaption_dialog_21" class="expand-image">												
							<div class="img-2-container image">
								<% if !@image_2.nil? %>
								<a rel="gallery" title="" href="<%= @image_2.image_url() + '?' + (rand(10..90) * rand(100..900)).to_s if @image_2.image? %>">									
									<div id="img_2" class="img-2"></div>
								</a>
								<% end %>
							</div>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="jqmWindow jqmWindow-31" id="dialog_31">
		   		<div class="table-dl-form-1">
		   			<div class="row">
		   				<div class="cell-100percent">
		   					<div id="close_form31" class="form-edit-close jqmClose tip-left-center" tabindex="">
		   						<img src="/assets/x_close_white_w20_h20.png" alt="X" height="20px">
		   					</div>
			                <div class="tip-content">
			                    <div class="tooltiptext">Close</div>
			                </div>																															   					
		   					<div style="clear: both;"></div>
		   				</div>
   					</div>
				</div>				   				
				<div style="width: 100%; text-align: center;">
					<div style="height: 20px;"></div>
					<figure id="figure_dialog_31" class="dialog-user-image-3">
						<img alt="" src="" class="dialog-user-image-hover" />
						<figcaption id="figcaption_dialog_31" class="expand-image">												
							<div class="img-3-container image">
								<% if !@image_3.nil? %>
								<a rel="gallery" title="" href="<%= @image_3.image_url() + '?' + (rand(10..90) * rand(100..900)).to_s if @image_3.image? %>">									
									<div id="img_3" class="img-3"></div>
								</a>
								<% end %>
							</div>
						</figcaption>
					</figure>
				</div>
			</div>

			<div class="jqmWindow jqmWindow-41" id="dialog_41">
		   		<div class="table-dl-form-1">
		   			<div class="row">
		   				<div class="cell-100percent">
		   					<div id="close_form41" class="form-edit-close jqmClose tip-left-center" tabindex="">
		   						<img src="/assets/x_close_white_w20_h20.png" alt="X" height="20px">
		   					</div>
			                <div class="tip-content">
			                    <div class="tooltiptext">Close</div>
			                </div>																															   					
		   					<div style="clear: both;"></div>
		   				</div>
   					</div>
				</div>				   				
				<div style="width: 100%; text-align: center;">
					<div style="height: 20px;"></div>
					<figure id="figure_dialog_41" class="dialog-user-image-4">
						<img alt="" src="" class="dialog-user-image-hover" />
						<figcaption id="figcaption_dialog_41" class="expand-image">												
							<div class="img-4-container image">
								<% if !@image_4.nil? %>
								<a rel="gallery" title="" href="<%= @image_4.image_url() + '?' + (rand(10..90) * rand(100..900)).to_s if @image_4.image? %>">									
									<div id="img_4" class="img-4"></div>
								</a>
								<% end %>
							</div>
						</figcaption>
					</figure>
				</div>
			</div>


								<div class="jqmWindow jqmWindow-2" id="dialog_5">
							   		<div class="table-dl-form">
							   			<div class="row">
							   				<div class="cell-100percent">
							   					<div id="close_form5" class="form-edit-close jqmClose" tabindex="">
							   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
							   					</div>
							   					<div style="clear: both;"></div>
							   				</div>
					   					</div>
									</div>				   				
									<div class="pad-left-20">
										<div style="height: 20px;"></div>
										<div class="profile-grid profile-cs-style-3">
											<figure class="" id="profile_figure_dialog">
												<img alt="photo not appearing" src="" />
												<figcaption class="figcaption-2">
													<div class="tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Delete</div>
									                </div>																								
												</figcaption>
											</figure>
										</div>
									</div>
								</div>

								<div class="jqmWindow jqmWindow-2" id="dialog_5_listing">
							   		<div class="table-dl-form">
							   			<div class="row">
							   				<div class="cell-100percent">
							   					<div id="close_form5_listing" class="form-edit-close jqmClose" tabindex="">
							   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
							   					</div>
							   					<div style="clear: both;"></div>
							   				</div>
					   					</div>
									</div>				   				
									<div class="pad-left-20">
										<div style="height: 20px;"></div>
										<div class="profile-grid profile-cs-style-3">
											<figure class="" id="profile_figure_dialog_listing">
												<img alt="photo not appearing" src="" />
												<!-- <figcaption class="figcaption-2">
													<div class="tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Delete</div>
									                </div>																								
												</figcaption> -->
											</figure>
										</div>
									</div>
								</div>


								
								
								
								
					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left-long padding-left-8">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Product Story</span>
										</div>
									</div>		
								</div>
								<!-- <div class="cell-title-bar-profile-center">
									<span></span>
								</div> -->
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<!-- <div class="btn-opt-edit-container">
											<div id="open_edit_story_1" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_story_1" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
			   		
			   		
			   		
					<div class="table" style="height: 210px; margin: 0;">
						<div class="row">
							<div class="cell-475">
								<div class="table pad-marg-null">
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Product Name:</span>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_name_product" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Tagline:</span>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_product_tagline" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>													
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Versions:</span>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_versions" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>													
									<div class="row" style="height: 12px;"></div>
								</div>
							</div>
							<div class="cell-225" id="container_image_1" style="padding: 1px 4px 0 0;">
								<div id="drop_container_image_1" class="drop width-200 float-right">
									<div id="render_image_1" class="padding-0">
										<%= render 'image_1' %>
							        </div>
								</div>
							</div>
						</div>
					</div>

					<div style="height: 10px;"></div>

					<div class="table margin-0">
						<div class="row">
							<div class="cell-100percent">
								<div style="height: 10px;"></div>
								<div class="show-story-1">
									<div class="textarea-description-container">
										<div id="render_publisher_product_description_image" class="render-description-image"></div>
										<div id="textarea_description" class="textarea-description textarea-description-show" tabindex=""></div>												
									</div>
								</div>
							</div>
						</div>
					</div>

					<div style="height: 20px;"></div>

			   		<div class="table">
			   			<div class="row">
							<div class="cell-350" id="container_image_2" style="padding: 0 0 0 1px; vertical-align: top;">
								<!-- <div id="drop_container_image_2" class="drop width-200 float-right"> -->
								<div id="drop_container_image_2" class="drop">
									<div id="render_image_2" class="padding-0">
										<%= render 'image_2' %>
							        </div>
								</div>
							</div>
							<!-- <div class="cell-40"></div> -->
							<div class="cell-350" id="container_image_3" style="padding: 0 1px 0 0; vertical-align: top;">
								<!-- <div id="drop_container_image_3" class="drop width-200 float-right"> -->
								<div id="drop_container_image_3" class="drop float-right">
									<div id="render_image_3" class="padding-0">
										<%= render 'image_3' %>
							        </div>
								</div>
							</div>
							<!-- <div class="cell-20"></div> -->
				   		</div>
				   	</div> 
			   		
					<div style="height: 10px;"></div>
			   		
					<div style="width: 700px; height: 42px; text-align: center;"></div>
			   		
			   		<div style="height: 20px;"></div>

					<div class="title-bar-profile-1">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Story Details</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>

				   	<div>
				   		<div style="height: 10px;"></div>
				   		<div class="table">
				   			<div class="row">
				   				<div class="cell-20"></div>
								<div class="cell-330" style="vertical-align: top;">
							   		<div class="table">
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Content Type											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_content_type">
																	<div id="box_content_type"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
	<style>
	
		.info-text-1 {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			font-weight: 400;
			color: #000;	
		}
		.info-text-2 {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
			font-weight: 200;
			color: #888;	
		}
		.form-info-outer-content-type {
			height: 960px;
		}
		.form-info-inner-content-type {
			height: 940px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		.info-text-spacer {
			height: 8px;	
		}
		
	</style>										
										
							   			<div class="row">
											<div class="cell-325">
											</div>
										</div>													
										
										<div class="row-divider-space-8"></div>
										<div class="row-divider-space-8"></div>

							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Subject											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														
														<div class="row">
															<div class="cell-325">
																<div id="show_category_subject">
																	<div id="box_category_subject"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-category-subject {
			height: 110px;
		}
		.form-info-inner-category-subject {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										


										<div class="row-divider-space-8"></div>

							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Topic											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row box-detail-row">
															<div class="cell-325 box-detail-padding">
																<div id="show_topic">
																	<div id="box_topic">
																		<div id="render_topic_insert">
																			<%= render 'publisher_product_manifests/topic'%>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														
													</div>
												</div>

											</div>
										</div>

										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-topic {
			height: 190px;
		}
		.form-info-inner-topic {
			height: 170px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

																				
									</div>
								</div>
								
								<div class="cell-20"></div>
								
								<div class="cell-330">
							   		<div class="table">
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="table">
																	<div class="row">
																		<div class="cell-265">
																			<div class="box-detail-title">
																				Age Range											
																			</div>
																		</div>
																		<div class="cell-20 min-h-20 min-w-20">
																		</div>																		
																		<div class="cell-20 min-h-20 min-w-20">
																		</div>
																		<div class="cell-20 min-h-20 min-w-20">
																		</div>
																	</div>			
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_appropriate_age">
																	<div id="box_appropriate_age"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-appropriate-age {
			height: 130px;
		}
		.form-info-inner-appropriate-age {
			height: 110px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

										<div class="row-divider-space-8"></div>

							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="table">
																	<div class="row">
																		<div class="cell-265">
																			<div class="box-detail-title">
																				Grade Range										
																			</div>
																		</div>
																		<div class="cell-20 min-h-20 min-w-20">
																		</div>																		
																		<div class="cell-20 min-h-20 min-w-20">
																		</div>
																		<div class="cell-20 min-h-20 min-w-20">
																		</div>
																	</div>			
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_appropriate_grade">
																	<div id="box_appropriate_grade"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-appropriate-grade {
			height: 130px;
		}
		.form-info-inner-appropriate-grade {
			height: 110px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

										<div class="row-divider-space-8"></div>
										
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="table">
																	<div class="row">
																		<div class="cell-265">
																			<div class="box-detail-title">
																				Market Target									
																			</div>
																		</div>
																		<div class="cell-20 min-h-20 min-w-20">
																		</div>																		
																		<div class="cell-20 min-h-20 min-w-20">
																		</div>
																		<div class="cell-20 min-h-20 min-w-20">
																		</div>
																	</div>			
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_market_target">
																	<div id="box_market_target"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-market-target {
			height: 240px;
		}
		.form-info-inner-market-target {
			height: 220px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

							   			
									</div>									
								</div>
								<div class="cell-20"></div>
							</div>
						</div>
					</div>						
						
					<div class="title-bar-profile-2" style="margin: 0;">
						<div class="tbl-title-bar-profile-2" style="margin: 0;">
							<div class="row-title-bar-profile" style="margin: 0;">
								<div class="cell-title-bar-profile-2" style="margin: 0;">
									<span><em>Premium</em></span>		
								</div>
							</div>
						</div>
					</div>
					<div style="height: 10px;"></div>						
					<div>
				   		<div class="table">
				   			<div class="row">
				   				<div class="cell-20"></div>
								<div class="cell-330" style="vertical-align: top;">
							   		<div class="table">
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Lesson Plan Subject										
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row box-detail-row">
															<div class="cell-325 box-detail-padding">
																<div id="show_lesson_plan_subject">
																	<div id="box_lesson_plan_subject">
																		<div id="render_lesson_plan_subject_insert">
																			<%= render 'publisher_product_manifests/lesson_plan_subject'%>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-lesson-plan-subject {
			height: 140px;
		}
		.form-info-inner-lesson-plan-subject {
			height: 120px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

										<div class="row-divider-space-8"></div>

							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Lesson/Course Time Used										
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_lesson_time">
																	<div id="box_lesson_time"></div>
																	<div id="box_course_time"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-lesson-time {
			height: 140px;
		}
		.form-info-inner-lesson-time {
			height: 120px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

							   			
									</div>
								</div>
				   				<div class="cell-20"></div>
								<div class="cell-330">
							   		<div class="table">
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Platform											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_platform">
																	<div id="box_platform"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-platform {
			height: 110px;
		}
		.form-info-inner-platform {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

										<div class="row-divider-space-8"></div>

							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		File Type											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_file_type">
																	<div id="box_file_type"></div>
																</div>
															</div>
														</div>
													</div>
												</div> 
											</div>
										</div>
										
										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-file-type {
			height: 110px;
		}
		.form-info-inner-file-type {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

										<div class="row-divider-space-8"></div>

							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Enhancements											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_enhancement">
																	<div id="box_enhancement"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-enhancement {
			height: 1120px;
		}
		.form-info-inner-enhancement {
			height: 1100px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

										<div class="row-divider-space-8"></div>
							   			
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Reviewed By											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_by_review">
																	<div id="box_by_review"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										<div class="row-divider-space-8"></div>

	<style>
	
		.form-info-outer-by-review {
			height: 110px;
		}
		.form-info-inner-by-review {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

									</div>
								</div>
								<div class="cell-20"></div>	
							</div>
						</div>		
					</div>

					<div class="title-bar-profile-1">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Pricing</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>
					<div style="height: 10px;"></div>					
				   	<div>
				   		<div class="table">
				   			<div class="row">
				   				<div class="cell-20"></div>
								<div class="cell-330">
									<div class="box-detail">
										<div class="table box-detail-table-1">
											<div class="row box-detail-row">
												<div class="cell-325">
													<div class="cell-265">
														<div class="box-detail-title">
															Pricing Model											
														</div>
													</div>
													<div class="cell-20 min-h-20 min-w-20">
													</div>																		
													<div class="cell-20 min-h-20 min-w-20">
													</div>
													<div class="cell-20 min-h-20 min-w-20">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="cell-325">
													<div id="show_pricing_model">
														<div id="box_pricing_model"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="cell-330" style="min-width: 330px; min-height: 1px;"></div>
								<div class="cell-30"></div>
							</div>

	<style>
	
		.form-info-outer-pricing-model {
			height: 140px;
		}
		.form-info-inner-pricing-model {
			height: 120px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

						</div>

						<div style="height: 16px;"></div>

				   		<div class="table">
				   			<div class="row">
								<div class="cell-20"></div>
								<div class="cell-670" style="min-width: 670px; min-height: 1px;">
									<div class="box-detail-2" style="background-color: #fff;">
										<div class="table box-detail-table-2">
											<div class="row box-detail-row">
												<div class="cell-670">
													<div class="cell-630">
														<div class="box-detail-title">
															Price											
														</div>														
													</div>													
													<div class="cell-20 min-h-20 min-w-20">
													</div>																		
													<div class="cell-20 min-h-20 min-w-20">
													</div>
													<div class="cell-20 min-h-20 min-w-20">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="cell-670">
													<div id="show_price">
														<div class="table-product-price">	
															<div id="row_price_1" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price (subscription -1)</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_1_dec"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_2" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price (subscription -enterprise 1-999 seats)</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_2_dec" class="min-w-20 h-24"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_3" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price (subscription - enterprise 1000-4999 seats)</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_3_dec" class="min-w-20 min-h-20"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_4" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price (subscription - enterprise 5000-9999 seats)</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_4_dec" class="min-w-20 min-h-20"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_5" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price (subscription - enterprise 10,000+ seats)</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_5_dec" class="min-w-20 min-h-20"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_6" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price - Single User</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_6_dec" class="min-w-20 min-h-20"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_7" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price (server - enterprise 1-999 seats)</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_7_dec" class="min-w-20 min-h-20"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_8" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price (server - enterprise 1000-4999 seats)</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_8_dec" class="min-w-20 min-h-20"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_9" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price (server - enterprise 5000-9999 seats)</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_9_dec" class="min-w-20 min-h-20"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_10" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Price (server - enterprise 10,000+ seats)</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																<div class="cell-product-price-4">
																	<div id="price_10_dec" class="min-w-20 min-h-20"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
															<div id="row_price_11" class="row-product-price">
																<div class="cell-product-price-1">
																	<span class="price-list">Call for Pricing</span>
																</div>
																<div class="cell-product-price-2">
																</div>
																<div class="cell-product-price-3"><div class="container-dollar-sign"></div></div>
																<div class="cell-product-price-4">
																	<div id="price_11_dec" class="min-w-20 min-h-20"></div>
																</div>
																<div class="cell-product-price-5 render-1"></div>
															</div>	
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cell-20"></div>
								
							</div>

	<style>
	
		.form-info-outer-price {
			height: 110px;
		}
		.form-info-inner-price {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										
							
							
						</div>
					</div>

					<div style="height: 16px;"></div>

					<div class="title-bar-profile-1">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Core Standards</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>
								
				   	<div>
				   		<div style="height: 10px;"></div>
				   		<div class="table">
				   			<div class="row">

								<div class="cell-20"></div>
								
<!-- 
box_detail_standard			box-detail-1			box-detail-2
box_detail_table_standard	box-detail-table-1		box-detail-table-2
cell_outer_standard			cell-325				cell-670
cell_inner_standard			cell-265				cell-670 
-->
					
								<div class="cell-670" style="min-width: 670px; min-height: 1px;">
									<div id="box_detail_core_literacy_standard" class="box-detail-2" style="background-color: #fff;">
										<div id="box_detail_table_core_literacy_standard" class="table box-detail-table-2">
											<div class="row box-detail-row">
												<div id="cell_outer_core_literacy_standard" class="cell-670">
													<div id="cell_inner_core_literacy_standard" class="cell-670">
														<div class="box-detail-title">
															Core Literacy Standards											
														</div>														
													</div>													
													<div class="cell-20 min-h-20 min-w-20">
													</div>																		
													<div class="cell-20 min-h-20 min-w-20">
													</div>
													<div class="cell-20 min-h-20 min-w-20">
													</div>
												</div>
											</div>
										</div>
										<div class="table box-detail-table-2">
											<div class="row">
												<div class="cell-670">
													<div id="show_core_literacy_standard">
														<div id="box_core_literacy_standard"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cell-20"></div>
							</div>
							
	<style>
	
		.form-info-outer-core-literacy-standard {
			height: 110px;
		}
		.form-info-inner-core-literacy-standard {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										
							
						</div>
					</div>


				   	<div>
				   		<div style="height: 10px;"></div>
				   		<div class="table">
				   			<div class="row">

								<div class="cell-20"></div>
								
<!-- 
box_detail_standard			box-detail-1			box-detail-2
box_detail_table_standard	box-detail-table-1		box-detail-table-2
cell_outer_standard			cell-325				cell-670
cell_inner_standard			cell-265				cell-670 
-->
					
								<div class="cell-670" style="min-width: 670px; min-height: 1px;">
									<div id="box_detail_core_math_standard" class="box-detail-2" style="background-color: #fff;">
										<div id="box_detail_table_core_math_standard" class="table box-detail-table-2">
											<div class="row box-detail-row">
												<div id="cell_outer_core_math_standard" class="cell-670">
													<div id="cell_inner_core_math_standard" class="cell-670">
														<div class="box-detail-title">
															Core Math Standards											
														</div>														
													</div>													
													<div class="cell-20 min-h-20 min-w-20">
													</div>																		
													<div class="cell-20 min-h-20 min-w-20">
													</div>
													<div class="cell-20 min-h-20 min-w-20">
													</div>
												</div>
											</div>
										</div>
										<div class="table box-detail-table-2">
											<div class="row">
												<div class="cell-670">
													<div id="show_core_math_standard">
														<div id="box_core_math_standard"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="cell-20"></div>
							</div>
							
	<style>
	
		.form-info-outer-core-math-standard {
			height: 110px;
		}
		.form-info-inner-core-math-standard {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										
							
						</div>
					</div>

					<div style="height: 16px;"></div>

					<div class="title-bar-profile-1">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Research</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>
				   	<div>
				   		<div style="height: 0px;"></div>
			   			<div id="render_pdfs">
			   				<%= render 'public_publisher_product_manifests/list_pdfs'%>							
						</div>
						<div style="height: 2px;"></div>						
					</div>


								
					<div class="title-bar-profile-1">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Evaluation</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>
								
				   	<div>
				   		<div style="height: 10px;"></div>
				   		<div class="table">
				   			<div class="row">
				   				<div class="cell-20"></div>
								<div class="cell-330" style="vertical-align: top;">
							   		<div class="table">
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Allow Teacher Ratings											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_allow_teacher_rating">
																	<div class="cb-cell-1"><span class="price-list">Allow teacher ratings: </span></div>
																	<div id="box_allow_teacher_rating" class="cb-cell-2"><span class="price-list"></span></div>
																	<div class="cb-cell-3"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
	<style>
	
		.form-info-outer-allow-teacher-rating {
			height: 110px;
		}
		.form-info-inner-allow-teacher-rating {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										
										
										<div class="row-divider-space-8"></div>
										<div class="row-divider-space-8"></div>

							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Allow Comments									
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_allow_comments">
																	<div class="cb-cell-1"><span class="price-list">Allow comments: </span></div>
																	<div id="box_allow_comments" class="cb-cell-2"><span class="price-list"></span></div>
																	<div class="cb-cell-3"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
	<style>
	
		.form-info-outer-allow-comments {
			height: 110px;
		}
		.form-info-inner-allow-comments {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										
				   		
				   					</div>
				   				</div>
				   				
								<div class="cell-20"></div>
				   				
								<div class="cell-330">
							   		<div class="table">
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Allow Student Likes											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_allow_student_likes">
																	<div class="cb-cell-1"><span class="price-list">Allow Student Likes: </span></div>
																	<div id="box_allow_student_likes" class="cb-cell-2"><span class="price-list"></span></div>
																	<div class="cb-cell-3"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
	<style>
	
		.form-info-outer-allow-student-likes {
			height: 110px;
		}
		.form-info-inner-allow-student-likes {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										
										
										<div class="row-divider-space-8"></div>
				   		
				   					</div>
				   				</div>
				   				
								<div class="cell-20"></div>  				
				   			</div>
				   			
				   		</div>
				   		
					</div>

					<div style="height: 16px;"></div>
													
					<div class="title-bar-profile-1">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Ads</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>
								
				   	<div>
				   		<div style="height: 10px;"></div>
				   		<div class="table">
				   			<div class="row">
				   				<div class="cell-20"></div>
							</div>
						</div>

				   		<div class="table">
				   			<div class="row">
				   				<div class="cell-20"></div>
				   				<div class="cell-330">
									<div class="box-detail-title-large">
										Square Listing											
									</div>
				   				</div>
				   				<div class="cell-20"></div>
				   				<div class="cell-330">
									<div class="box-detail-title-large">
										Poster Pin											
									</div>				   					
				   				</div>
				   				<div class="cell-20"></div>
							</div>
						</div>

				   		<div class="table">
				   			<div class="row">
				   				<div class="cell-20"></div>
				   				<div class="cell-330" style="vertical-align: top;">
				   					<img src="../assets_knowstory/generic-product-ad-box-w137-h134.png" alt="generic-product-ad-box-w137-h134.png">
				   				</div>
				   				<div class="cell-20"></div>
				   				<div class="cell-330" style="vertical-align: top;">
				   					<img src="../assets_knowstory/generic-product-poster-pin-w167-h93.png" alt="generic-product-poster-pin-w167-h93.png">
				   				</div>
				   				<div class="cell-20"></div>
							</div>
						</div>

				   		<div class="table">
				   			<div class="row">
				   				<div class="cell-20"></div>
				   				<div class="cell-330" style="vertical-align: top;">
							   		<div class="table">
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Square Listing										
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_poster_print_purchase">
																	<div class="cb-cell-1"><span class="price-list">Purchase on Print Poster: </span></div>
																	<div id="box_poster_print_purchase" class="cb-cell-2"><span class="price-list"></span></div>
																	<div class="cb-cell-3"></div>
																</div>
															</div>
														</div>
													</div>
												</div> 
											</div>
										</div>
										
	<style>
	
		.form-info-outer-poster-print-purchase {
			height: 110px;
		}
		.form-info-inner-poster-print-purchase {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										
										
										<div class="row-divider-space-8"></div>
				   					</div>
				   				</div>
				   				<div class="cell-20"></div>
				   				<div class="cell-330">
							   		<div class="table">
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Poster Pin											
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_poster_pin_web">
																	<div class="cb-cell-1"><span class="price-list">See Pin on Web Poster: </span></div>
																	<div id="box_poster_pin_web" class="cb-cell-2"><span class="price-list"></span></div>
																	<div class="cb-cell-3"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
	<style>
	
		.form-info-outer-poster-pin-web {
			height: 110px;
		}
		.form-info-inner-poster-pin-web {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										
										
																		
				   					<!-- </div> -->
										<div class="row-divider-space-8"></div>
										<div class="row-divider-space-8"></div>
							   		<!-- <div class="table"> -->
							   			<div class="row">
											<div class="cell-325">
												<div class="box-detail">
													<div class="table box-detail-table-1">
														<div class="row box-detail-row">
															<div class="cell-325">
																<div class="cell-265">
																	<div class="box-detail-title">
																		Poster Pin									
																	</div>
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>																		
																<div class="cell-20 min-h-20 min-w-20">
																</div>
																<div class="cell-20 min-h-20 min-w-20">
																</div>
															</div>
														</div>
														<div class="row">
															<div class="cell-325">
																<div id="show_poster_pin_purchase">
																	<div class="cb-cell-1"><span class="price-list">Purchase on Print Poster: </span></div>
																	<div id="box_poster_pin_purchase" class="cb-cell-2"><span class="price-list"></span></div>
																	<div class="cb-cell-3"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										
	<style>
	
		.form-info-outer-poster-pin-purchase {
			height: 110px;
		}
		.form-info-inner-poster-pin-purchase {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										
										
				   					</div>
				   				</div>
				   				<div class="cell-20"></div>
							</div>
						</div>
					</div>

					<div style="height: 16px;"></div>

					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left-long padding-left-8">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Corporation Contact</span>
										</div>
									</div>		
								</div>
								<!-- <div class="cell-title-bar-profile-center">
									<span></span>
								</div> -->
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<!-- <div class="btn-opt-edit-container">
											<div id="open_edit_story_4" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_story_4" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="table" style="height: 210px; margin: 0;">
						<div class="row">
							<div class="cell-475">
								<div class="table pad-marg-null">
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Corporate URL:</span>
													</div>
													<div class="cell-280 show-story-4">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute" style="top: -1px;">
																		<span id="span_corporate_logo_url" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
								</div>
							</div>
							<div class="cell-225" id="container_image_4" style="padding: 1px 4px 0 0;">
								<div id="drop_container_image_4" class="drop width-200 float-right">
									<div id="render_image_4" class="padding-0">
										<%= render 'image_4' %>
							        </div>
								</div>
							</div>
						</div>
					</div>

					<!-- <div style="height: 10px;"></div> -->
			   		
					<div style="width: 700px; height: 42px; text-align: center;">
						<div class="table">
							<div class="row">
								<div id="btns_edit_story_4" class="cell-700 visibility-hidden">
									<div style="display: inline-block;">
										<div id="cancel_edit_story_4" class="btn-submit-story-1" tabindex="51">Cancel</div>
									</div>
									<div style="display: inline-block;">
										<div id="submit_edit_story_4" class="btn-submit-story-1" tabindex="52">Save</div>
									</div>
								</div>
							</div>
						</div>
					</div>
								
								
<div style="height: 2px;"></div>								
								
