

	<style>
		
		.member-list-1 {
			width: 100%; 
			/*height: 109px;*/
			height: auto; 
			padding: 1px;
			vertical-align: top;
			margin: 0;
			position: relative;
			/*background-color:transparent;*/
			/*opacity: 1;*/
			border-bottom: 1px solid #ccc;
			/*background: rgba (255, 255, 255, 0.2);*/		
			/*background: red;*/	
		}
		.member-list-1:hover {
			background-color: #F8F8F8;
		}		
		.member-list-1a {
			height: auto;
			padding-left: 2px;
		}
		.member-list-1a-1 {
			background-color: inherit;   
		    vertical-align: top;
		    margin: 0;
		    height: 100px;
		    width: 100px;
		}
		.member-list-1b-1 {
			position: relative;
			width: 100%;
			height: 24px;
			margin: 0;
			padding: 4px 0 0 10px;
		}
		.member-list-1b-2 {
			position: relative;
			width: 100%;
			height: 52px;
			margin: 0;
			padding: 0 10px 0 0;
		}
		.member-list-1b-3 {
			position: relative;
			width: 100%;
			height: 24px;
			padding: 0 10px 0 0;
		}	
		.member-span-1 {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	/*color: #666;*/
		  	color: #333;
			font-size: 13px;
			width: 579px;
		    white-space: pre-wrap;
		    word-wrap: break-word;
		    overflow-wrap: break-word;		
		    border: 1px solid transparent;
			padding: 6px 5px 5px 5px;	    
		}		
		.member-span-2 {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #37633a;
			font-size: 10px;
		}
		.member-span-2-a {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #37633a;
			font-size: 13px;
		}
		/*.member-span-2-a:hover {
			text-decoration: underline;
			cursor: pointer;
		}*/		
		/*.member-span-3 {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #37633a;
			font-size: 10px;
		}*/

		
	</style>
	
	<style>
		
		/*:focus {
			text-decoration: none;
		}*/
		.member-list-link-a a {
		    /*color: transparent;*/
		    text-decoration: none;
		}
		.member-list-link-a a:hover {
		    /*color: transparent;*/
		    text-decoration: none;
		}
		.member-list-link-a a:active {
		    /*color: transparent;*/
		    text-decoration: none;
		}
		.member-list-link-a a:focus {
		    /*color: transparent;*/
		    text-decoration: none;
		}
		a {
		    /*color: transparent;*/
		    text-decoration: none;
		}
		a:hover {
		    /*color: transparent;*/
		    text-decoration: none;
		}
		a:active {
		    /*color: transparent;*/
		    text-decoration: none;
		}
		a:focus {
		    /*color: transparent;*/
		    text-decoration: none;
		}
		/*img {
		    border: 0 none;
		}*/
		/*a:hover {
		    text-decoration: none;
		}		
		a:active {
		    text-decoration: none;
		}		
		a:focus {
		    text-decoration: none;
		}*/		

	</style>

	<!-- <style>
		.product-listbox-full {
	 		position: relative;
	 		width:700px;
	 		background: #fff;
		}
	</style> -->
	
	<style>

		.container-figure-image-border-load {
			border: 2px solid #fff;
		}	
		.container-figure-image-border {
			border: 2px solid #ccc;
		}
		.container-figure-image-border-edit {
			border: 2px solid #fbb040;
		}	
		.container-figure-image-list {
			width: 200px;
			height: 200px;	
		}
		/*span.color-record {
			color: #593E16;
		}	
		span.color-no-record {
			color: #49853f;			
		}*/	
		
	</style>
	
	<style>

		.ks-tip-container {
			position: relative;
		}		
		.ks-tip-target:hover + .ks-tip-1 span {
		}
		.ks-tip-target:hover + .ks-tip-1 {
			display: block;
		}
		.ks-tip-1 {
			position: absolute;
			width: 60px;
			height: 24px;
			background-color: rgba(0, 0, 0, 0.6);
			border-color: rgba(0, 0, 0, 0.6);
			border-radius: 3px;
			box-shadow: 0px 2px 2px #aaa;
			text-align: center;			
			font-family:Arial, Helvetica, sans-serif;
			font-size: 11px;
			font-weight: 400;					
			color: #fff;	
			padding: 6px 0 0 0;
			display: none;							
		}
		.ks-tip-1-indicator {
			position: absolute;
			top: 24px;
			left: 4px;
			width: 8px;
			height: 12px;
			background-image: url("/assets/drop-w8-h12.png");
		}		
		.ks-tip-34minus {
			top: -34px;
		}

		.ks-tip-target:hover + .ks-tip span {
		}
		.ks-tip-target:hover + .ks-tip {
			display: block;
		}
		.ks-tip {
			position: absolute;
			display: none;							
		}		
		.ks-tip-delete-post-user-comment {
			position: absolute;
			width: 60px;
			height: 24px;
			background-color: rgba(0, 0, 0, 0.6);
			border-color: rgba(0, 0, 0, 0.6);
			border-radius: 3px;
			box-shadow: 0px 2px 2px #aaa;
			text-align: center;			
			font-family:Arial, Helvetica, sans-serif;
			font-size: 11px;
			font-weight: 400;					
			color: #fff;	
			padding: 6px 0 0 0;
			display: none;
			top: -36px;
			left: -20px;		
			z-index: 1;
		}		
		.ks-tip-indicator-delete-post-user-comment {
			position: absolute;
			top: 24px;
			left: 27px;
			width: 8px;
			height: 12px;
			background-image: url("/assets/drop-w8-h12.png");
		}		

		.ks-tip-delete-post-user {
			position: absolute;
			width: 60px;
			height: 24px;
			background-color: rgba(0, 0, 0, 0.6);
			border-color: rgba(0, 0, 0, 0.6);
			border-radius: 3px;
			box-shadow: 0px 2px 2px #aaa;
			text-align: center;			
			font-family:Arial, Helvetica, sans-serif;
			font-size: 11px;
			font-weight: 400;					
			color: #fff;	
			padding: 6px 0 0 0;
			display: none;
			top: -36px;
			left: -20px;		
			z-index: 1;
		}		
		.ks-tip-indicator-delete-post-user {
			position: absolute;
			top: 24px;
			left: 27px;
			width: 8px;
			height: 12px;
			background-image: url("/assets/drop-w8-h12.png");
		}		

	</style>
	
	<script>

		function set_by_review_listing(b_has_by_review_listing, list_number) {
			// var list_id = "#by_review_" + list_number;
			// var s = "No";
			// // if(b_has_by_review_listing) {
				// // s = "Yes"				
			// // }
			// $(list_id).html(s);
		}

		// function set_field_test(len_col, title, field, field_text, field_text_default, has_field_other, field_other, list_number) {
			// var list_id      = "#" + field + "_" + list_number;
			// var list_id_text = "#" + field + "_" + list_number + " span.list-field-text";
			// var s = "";
			// var s_text = "";
			// var s_text_default = field_text_default;
			// var s_html = "";
			// var length_title = title.length + 2;
			// var length_column_pixels = len_col;
			// var character_size_height = 13;
			// var character_size_width = Math.round(13 * 0.50);
			// var length_column_characters = Math.round(length_column_pixels/character_size_width);
			// var length_allowed = length_column_characters - length_title;
			// var length_subtract = 2;
			// for(var i = 0; i < field_text.length; i++) {
				// s = field_text[i];
				// // s = s.replace(/ /g, "&nbsp;");
				// if(i == 0) {
	 				// s_text = s;
	 			// }
				// if(i > 0) {
	 				// s_text += ', ' + s;
	 			// }
			// }
			// if(has_field_other) {
				// if(s_text.length > 0) {
					// s_text += ', ' + field_other;
				// }
				// else {
					// s_text = field_other;
				// }
			// }
			// if(s_text.length > 0) {
				// if(s_text.length > length_allowed) {
					// s_text = s_text.slice(0, (length_allowed - length_subtract)); 
		 			// s_html += '<span class="list-field-title">' + title + '</span><span class="list-field-text">' + s_text + '</span><span class="list-float-right">...</span>';
		 			// // $(list_id_text).addClass("color-record");
				// }
				// else {
		 			// s_html += '<span class="list-field-title">' + title + '</span><span class="list-field-text">' + s_text + '</span>';
		 			// // $(list_id_text).addClass("color-record");
				// }
			// }
			// else { 
				// s_html += '<span class="list-field-title">' + title + '</span><span class="list-field-text">' + s_text_default + '</span>';
				// // $(list_id_text).addClass("color-no-record");
			// }
			// $(list_id).html(s_html);
			// if(s_text.length > 0) {
				// $(list_id_text).removeClass("color-no-record").addClass("color-record");
			// }
			// else { 
		 		// $(list_id_text).removeClass("color-record").addClass("color-no-record");
			// }
		// }
		function set_field(title, field, field_text, field_text_default, has_field_other, field_other, list_number) {
			var list_id      = "#" + field + "_" + list_number;
			var list_id_text = "#" + field + "_" + list_number + " span.list-field-text";
			var list_id_ellipsi = "#" + field + "_container_" + list_number + " div.list-field-ellipsi";
			var list_id_tip_span = "#render_" + field + "_" + list_number + " div.list-tip-1 span";
			var list_id_tip = "#render_" + field + "_" + list_number + " div.list-tip-1";
			// alert(list_id_tip);
			var s = "";
			var s_text = "";
			var s_text_default = field_text_default;
			var s_html = "";
			for(var i = 0; i < field_text.length; i++) {
				s = field_text[i];
				// s = s.replace(/ /g, "&nbsp;");
				if(i == 0) {
	 				s_text = s;
	 			}
				if(i > 0) {
	 				s_text += ', ' + s;
	 			}
			}
			if(has_field_other) {
				if(s_text.length > 0) {
					s_text += ', ' + field_other;
				}
				else {
					s_text = field_other;
				}
			}
			if(s_text.length > 0) {
		 		s_html += '<span class="list-field-title">' + title + '</span><span class="list-field-text">' + s_text + '</span>';
			}
			else { 
				s_html += '<span class="list-field-title">' + title + '</span><span class="list-field-text">' + s_text_default + '</span>';
			}
			$(list_id).html(s_html);
			if(s_text.length > 0) {
				$(list_id_text).removeClass("color-no-record").addClass("color-record");
			}
			else { 
		 		$(list_id_text).removeClass("color-record").addClass("color-no-record");
			}
			var w = $(list_id).width();
			if (w > 210) {
				$(list_id).addClass("overflow-hidden-208");
				$(list_id_ellipsi).removeClass("hidden");
				$(list_id_tip_span).html(s_text);
				$(list_id_tip).removeClass("hidden");
			}
		}
		
	</script>
	
	<style>
		
		.color-record {
			/*color: #593E16;*/
			color: #000;
		}	
		.color-no-record {
			color: #49853f;			
		}	
		span.box-odd {
			color: #593E16;
		}
		span.box-even {
			color: #FBB040;  
		}
		span.box-other {
			color: #A6A6A6;
		}
		span.form-text-12 {
		    font-family: Arial,Helvetica,sans-serif;
		    font-size: 13px;
		    font-weight: 700;
		}
		div.form-text-list-12 span {
		    font-family: Arial,Helvetica,sans-serif;
		    font-size: 13px;
		    font-weight: 700;
		}
		.like-icon {
			height: 22px;
			width: 19px;
			background-image: url("/assets/icon_like_green_w22_h19.png");
			background-repeat: no-repeat;
			background-position: 0px 0px;
			position: relative;
			top: 6px;
		}
		.style-tagline {
			padding: 1px 1px 1px 8px;
		}
		.style-list-field-1 {
			display: inline-block;
			padding: 1px 1px 1px 0px;
		}
		.style-list-field-1-title {
			display: inline-block;
			padding: 1px 1px 1px 8px;
		}
		.style-list-field-2 {
			padding: 1px 1px 1px 0px;
		}
		
		.list-field-title {
		    font-family: Arial,Helvetica,sans-serif;
		    font-size: 13px;
		    font-weight: 700;
		    color: #888;
		}
		.list-field-text {
		    font-family: Arial,Helvetica,sans-serif;
		    font-size: 13px;
		    font-weight: 700;
		}
		
		/*.list-float-right {
			float: right;
			padding-right: 8px;	
		}*/		
		/*.float-clear {
			clear: all;
		}*/
		
		.list-field-cell-1 {
			display: table-cell; 
			width: 210px;
			overflow-x: hidden;
		}
		.list-field-cell-1a {
			/*width: 208px;*/
			width: auto;
			word-wrap: normal;
			white-space: nowrap;
		}
		.list-field-cell-2 {
			display: table-cell; 
			width: 15px;
		}
		.list-field-cell-3 {
			display: table-cell; 
			width: 10px;
		}
		.overflow-hidden-208 {
			width: 208px;
			overflow-x: hidden;
		}
		.hidden {
			display: none !important;
			visibility: hidden !important			
		}
		
	</style>
	
	<style>
		
		.tooltip-text-1 {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-weight: 400;					
			/*color: #37633A;*/
			color: #fff;	
			/*background-color: #FAFF94;*/
			background-color: rgba(0, 0, 0, 0.6);
			/*background-color: #eee;*/
			/*border-color: #37633A;*/
			border-color: rgba(0, 0, 0, 0.6);
			border-radius: 3px;
			box-shadow: 0px 2px 2px #aaa;
		}
		.tip-content { display: none; }
		
	</style>

	<style>

		.list-tip-container {
			position: relative;
		}		
		.list-tip-target:hover + .list-tip-1 span {
		}
		.list-tip-target:hover + .list-tip-1 {
			display: block;
		}
		.list-tip-1 {
			position: absolute;
			/*width: 60px;*/
			height: 24px;
			background-color: rgba(0, 0, 0, 0.8);
			border-color: rgba(0, 0, 0, 0.8);
			/*background-color: rgba(55, 99, 58, 0.9);*/ /*#37633A*/
			/*border-color: rgba(55, 99, 58, 0.9);*/			
			border-radius: 3px;
			box-shadow: 0px 2px 2px #aaa;
			text-align: center;			
			font-family:Arial, Helvetica, sans-serif;
			font-size: 13px;
			font-weight: 400;					
			color: #fff;	
			padding: 4px;
			display: none;			
			width: auto;
			word-wrap: normal;
			white-space: nowrap;							
		}
		.list-tip-1-indicator {
			position: absolute;
			top: 24px;
			left: 4px;
			width: 8px;
			height: 12px;
			background-image: url("/assets/drop-w8-h12.png");
		}		
		.list-tip-34minus {
			top: -34px;
		}
		.list-tip-pos-1 {
			top: -30px;
		}
		.list-tip-target:hover + .list-tip span {
		}
		.list-tip-target:hover + .list-tip {
			display: block;
		}
		.list-tip {
			position: absolute;
			display: none;							
		}		
		.list-tip-delete-post-user-comment {
			position: absolute;
			width: 60px;
			height: 24px;
			background-color: rgba(0, 0, 0, 0.6);
			border-color: rgba(0, 0, 0, 0.6);
			border-radius: 3px;
			box-shadow: 0px 2px 2px #aaa;
			text-align: center;			
			font-family:Arial, Helvetica, sans-serif;
			font-size: 11px;
			font-weight: 400;					
			color: #fff;	
			padding: 6px 0 0 0;
			display: none;
			top: -36px;
			left: -20px;		
			z-index: 1;
		}		
		.list-tip-indicator-delete-post-user-comment {
			position: absolute;
			top: 24px;
			left: 27px;
			width: 8px;
			height: 12px;
			background-image: url("/assets/drop-w8-h12.png");
		}		

		.list-tip-delete-post-user {
			position: absolute;
			width: 60px;
			height: 24px;
			background-color: rgba(0, 0, 0, 0.6);
			border-color: rgba(0, 0, 0, 0.6);
			border-radius: 3px;
			box-shadow: 0px 2px 2px #aaa;
			text-align: center;			
			font-family:Arial, Helvetica, sans-serif;
			font-size: 11px;
			font-weight: 400;					
			color: #fff;	
			padding: 6px 0 0 0;
			display: none;
			top: -36px;
			left: -20px;		
			z-index: 1;
		}		
		.list-tip-indicator-delete-post-user {
			position: absolute;
			top: 24px;
			left: 27px;
			width: 8px;
			height: 12px;
			background-image: url("/assets/drop-w8-h12.png");
		}		

		
	</style>
	
			<!-- <div id="scroll1" class="product-listbox" style="height: 500px;"> -->
			<div class="product-listbox-full">	

			<% if !@publisher_products.nil? %>
			<% if @publisher_products.any? %>
				<% i = 1 %>
				<!-- <#% s_rand = '?' + (rand(10..90) * rand(100..900)).to_s %#> -->
				<% @publisher_products.each do |publisher_product| %>
					<% publisher_product_manifest = publisher_product.publisher_product_manifest %>
					<!-- <#% @publisher_product = publisher_product %#> -->
					<!-- <#% @publisher_product_manifest = publisher_product.publisher_product_manifest %#> -->
						<%= link_to(('Publisher-Product-Manifest-id' + publisher_product.slug), class: "publisher-product-list-span publisher-product-list-edit") do %>
				   		<div class="table pad-marg-null">
				   			<div class="row">
								<div class="cell-210">
									<div style="padding: 0px 0px 0px 0px;">
							   			<div id="render_listing_product_logo">
											<div class="container-figure-image-list container-figure-image-border">
												<figure>
													<%= publisher_product_pos1_200_for(publisher_product) %>
													<!-- <#%= image_tag("avatars/avatar-gen-product-w200-h200.png") %#> -->
													<!-- <img src="../images_avatar/avatar-gen-product-w200-h200.png" alt=""> -->
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="cell-490">
									<div class="table pad-marg-null">
										<div class="row">
											<div class="cell-235">
												<div style="4px;"></div>
												<div class="table pad-marg-null">
													<div class="row">
														<div class="cell-235">

															<div id="render_product_name_<%= i %>" class="list-tip-container"></div>

														    <script id="product_name_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="product_name_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="product_name_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_product_name_<%= i %>";
																var ref		  = "#product_name_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_product_name = product_name_for(publisher_product) %>
																var product_name_text = <%=raw h_product_name[:product_name_text] %>;
																var list_number = "<%= i %>";
															    set_field("", "product_name", product_name_text, "Product Name", false, "", list_number);
															</script>
															
														</div>
													</div>		
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">

															<div id="render_versions_<%= i %>" class="list-tip-container"></div>

														    <script id="versions_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="versions_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="versions_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_versions_<%= i %>";
																var ref		  = "#versions_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_versions = versions_for(publisher_product) %>
																var versions_text = <%=raw h_versions[:versions_text] %>;
																var list_number = "<%= i %>";
															    set_field("Version: ", "versions", versions_text, "Version", false, "", list_number);
															</script>

														</div>
													</div>		
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">
															
															<div id="render_category_subject_<%= i %>" class="list-tip-container"></div>

														    <script id="category_subject_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="category_subject_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="category_subject_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_category_subject_<%= i %>";
																var ref		  = "#category_subject_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_category_subject = category_subject_for(publisher_product) %>
																var category_subject_text = <%=raw h_category_subject[:category_subject_text] %>;
																var has_category_subject_other = <%=raw h_category_subject[:has_category_subject_other] %>;
																var category_subject_other = "<%=raw h_category_subject[:category_subject_other] %>";
																var list_number = "<%= i %>";
																set_field("Subject: ", "category_subject", category_subject_text, "Subject", has_category_subject_other, category_subject_other, list_number);
															</script>
															
														</div>
													</div>		
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">
																
															<div id="render_age_range_<%= i %>" class="list-tip-container"></div>
															
														    <script id="age_range_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="age_range_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="age_range_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_age_range_<%= i %>";
																var ref		  = "#age_range_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_age_range = age_range_for(publisher_product) %>
																var age_range_text = <%=raw h_age_range[:age_range_text] %>;
																var list_number = "<%= i %>";
																set_field("Age Range: ", "age_range", age_range_text, "Ages", false, "", list_number);
															</script>
																															
														</div>
													</div>		
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">

															<div id="render_grade_range_<%= i %>" class="list-tip-container"></div>
															
														    <script id="grade_range_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="grade_range_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="grade_range_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_grade_range_<%= i %>";
																var ref		  = "#grade_range_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_grade_range = grade_range_for(publisher_product) %>
																var grade_range_text = <%=raw h_grade_range[:grade_range_text] %>;
																var list_number = "<%= i %>";
																set_field("Grade Range: ", "grade_range", grade_range_text, "Grades", false, "", list_number);
															</script>
															
														</div>
													</div>		
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">
															
															<div id="render_market_target_<%= i %>" class="list-tip-container"></div>
															
														    <script id="market_target_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="market_target_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="market_target_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_market_target_<%= i %>";
																var ref		  = "#market_target_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_market_target = market_target_for(publisher_product) %>
																var market_target_text = <%=raw h_market_target[:market_target_text] %>;
																var list_number = "<%= i %>";
																// set_market_target(market_target_text, list_number);
																set_field("Market: ", "market_target", market_target_text, "Market", false, "", list_number);
															</script>
																														
														</div>
													</div>		
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">

															<div id="render_pricing_model_<%= i %>" class="list-tip-container"></div>
															
														    <script id="pricing_model_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="pricing_model_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="pricing_model_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_pricing_model_<%= i %>";
																var ref		  = "#pricing_model_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_pricing_model = pricing_model_for(publisher_product) %>
																var pricing_model_text = <%=raw h_pricing_model[:pricing_model_text] %>;
																var list_number = "<%= i %>";
																// set_pricing_model(pricing_model_text, list_number);
																set_field("Pricing Model: ", "pricing_model", pricing_model_text, "Pricing Model", false, "", list_number);
															</script>
															
														</div>
													</div>		
													<div class="row" style="height: 10px;"></div>
												</div>
											</div>
							   				<div class="cell-10"></div>
											<div class="cell-235">
												<div style="height: 4px;"></div>
												<div class="table pad-marg-null">
													<div class="row">
														<div class="cell-235">

															<div id="render_platform_<%= i %>" class="list-tip-container"></div>
															
														    <script id="platform_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="platform_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="platform_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_platform_<%= i %>";
																var ref		  = "#platform_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_platform = platform_for(publisher_product) %>
																var platform_text = <%=raw h_platform[:platform_text] %>;
																var has_platform_other = <%=raw h_platform[:has_platform_other] %>;
																var platform_other = "<%=raw h_platform[:platform_other] %>";
																var list_number = "<%= i %>";
																// set_platform(platform_text, has_platform_other, platform_other, list_number);
																set_field("Platform: ", "platform", platform_text, "Platform", has_platform_other, platform_other, list_number);
															</script>
															
														</div>
													</div>	
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">

															<div id="render_file_type_<%= i %>" class="list-tip-container"></div>
															
														    <script id="file_type_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="file_type_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="file_type_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_file_type_<%= i %>";
																var ref		  = "#file_type_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_file_type = file_type_for(publisher_product) %>
																var file_type_text = <%=raw h_file_type[:file_type_text] %>;
																var has_file_type_other = <%=raw h_file_type[:has_file_type_other] %>;
																var file_type_other = "<%=raw h_file_type[:file_type_other] %>";
																var list_number = "<%= i %>";
																// set_file_type(file_type_text, has_file_type_other, file_type_other, list_number);
																set_field("File Type: ", "file_type", file_type_text, "File Type", has_file_type_other, file_type_other, list_number);
															</script>
																														
														</div>
													</div>	
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">

															<div id="render_by_review_<%= i %>" class="list-tip-container"></div>
															
														    <script id="by_review_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="by_review_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="by_review_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>
													    										    
															<script type="text/javascript">
																var container = "#render_by_review_<%= i %>";
																var ref		  = "#by_review_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_by_review = by_review_for(publisher_product) %>
																var by_review_text = [<%=raw h_by_review[:by_review_text] %>];
																var has_by_review_other = <%=raw h_by_review[:has_by_review_other] %>;
																var by_review_other = "<%=raw h_by_review[:by_review_other] %>";
																var list_number = "<%= i %>";
																set_field("Reviewed: ", "by_review", by_review_text, "No", has_by_review_other, by_review_other, list_number);
															</script>
															
														</div>
													</div>	
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">

															<div id="render_enhancement_<%= i %>" class="list-tip-container"></div>
															
														    <script id="enhancement_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="enhancement_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="enhancement_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>

															<script type="text/javascript">
																var container = "#render_enhancement_<%= i %>";
																var ref		  = "#enhancement_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_enhancement = enhancement_for(publisher_product) %>
																var enhancement_text = <%=raw h_enhancement[:enhancement_text] %>;
																var has_enhancement_other = <%=raw h_enhancement[:has_enhancement_other] %>;
																var enhancement_other = "<%=raw h_enhancement[:enhancement_other] %>";
																var list_number = "<%= i %>";
																set_field("Enhancements: ", "enhancement", enhancement_text, "Enhancements", has_enhancement_other, enhancement_other, list_number);
															</script>
															
														</div>
													</div>	
													<div class="row" style="height: 4px;"></div>
													<div class="row">
														<div class="cell-235">
															<div style="position: relative;">
																<div style="display: inline-block">
																	<span class="list-field-title">Student Rating </span>
																</div>
																<div style="display: inline-block" class="like-icon"></div>
																<div style="display: inline-block">
																	<span class="list-field-title"> : </span>
																</div>
																<div style="display: inline-block">
																	<span id="box_student_rating_listing" class="list-field-text"></span>
																</div>
															</div>
														</div>
													</div>	
												</div>
											</div>
											<div class="cell-10"></div>			
										</div>
									</div>
									<div class="table pad-marg-null">
										<div class="row">
											<div class="cell-490">
												<span class="list-field-title">Teacher Rating Total: </span>
												<span class="list-field-title"> # </span>
												<span class="list-field-title">&nbsp;&nbsp;&nbsp;</span>
												<span class="list-field-title">Easy: </span>
												<span class="list-field-title"> # </span>
												<span class="list-field-title">&nbsp;&nbsp;&nbsp;</span>
												<span class="list-field-title">Fit: </span>
												<span class="list-field-title"> # </span>
												<span class="list-field-title">&nbsp;&nbsp;&nbsp;</span>
												<span class="list-field-title">Worked: </span>
												<span class="list-field-title"> # </span>
											</div>
										</div>
									</div>
								</div>
					   		</div>
					   	</div> 
					   	
				   		<div class="table pad-marg-null">
				   			<div class="row">
								<div class="cell-210">
							    	
									<div id="render_product_tagline_<%= i %>" class="list-tip-container"></div>
									
								    <script id="product_tagline_Template_<%= i %>" type="text/x-jQuery-tmpl">
										<div id="product_tagline_container_<%= i %>" class="table pad-marg-null list-tip-target">
											<div class="row">
												<div class="list-field-cell-1">
													<div id="product_tagline_<%= i %>" class="list-field-cell-1a"></div>
												</div>
												<div class="list-field-cell-2">
													<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
												</div>
												<div class="list-field-cell-3"></div>																		
											</div>
										</div>
									    <div class="list-tip-1 list-tip-pos-1 hidden">
									    	<div class="list-tip-1-indicator"></div>
											<span></span>
									    </div>
							    	</script>

									<script type="text/javascript">
										var container = "#render_product_tagline_<%= i %>";
										var ref		  = "#product_tagline_Template_<%= i %>";
									    $(ref).tmpl().appendTo(container);

										<% h_product_tagline = product_tagline_for(publisher_product) %>
										var product_tagline_text = <%=raw h_product_tagline[:product_tagline_text] %>;
										var list_number = "<%= i %>";
									    set_field("", "product_tagline", product_tagline_text, "Tagline", false, "", list_number);
									</script>
																		
								</div>					   	
								<div class="cell-490">
									<div class="table pad-marg-null">
										<div class="row">
											<div class="cell-235"></div>
											<div class="cell-10"></div>
											<div class="cell-235">
												<span class="list-field-title">Product ID: <%= publisher_product.slug %> </span>
											</div>
											<div class="cell-10"></div>
										</div>
									</div>									
								</div>					   	
							</div>					   	
					   	</div>
					   	<div style="2px;"></div>
					   	<div style="background-color: #37633a; width: 100%; height: 2px;"></div>
						<% end %>
					
						<% i += 1 %>					
				<% end %>

			<% else %>
				<div class="" style="color: red; padding-left: 20px;">
					<h3>No record</h3>
				</div>
			<% end %>
			<% end %>
			</div>





	<!-- <script>
	
		function set_category_subject(category_subject, has_category_subject_other) {
			var e = document.getElementById("publisher_product_category_subject");			
			for(var i = 0; i < category_subject.length; i++) {
				if (category_subject[i]) {
					e.options[i].setAttribute('selected','selected');
				}
			}
			if (has_category_subject_other) {
				e.options[39].setAttribute('selected','selected');
			}
			else {
				e.options[39].selected = false;
				$("#other_category_subject").addClass("hidden");
			}
			$("#publisher_product_category_subject").trigger("chosen:updated");
		}

		function set_category_subject_text(category_subject_text, has_category_subject_other, category_subject_other) {
			var s = "";
			var s_html = "";
			var s_html_default = "Subject";
			for(var i = 0; i < category_subject_text.length; i++) {
				s = category_subject_text[i];
				s = s.replace(/ /g, "&nbsp;");
	 			if (i%2 == 0 ? true : false) {
	 				s_html += '<span class="box-odd">' + s + '</span> ';
	 			}
	 			else {
	 				s_html += '<span class="box-even">' + s + '</span> ';
	 			}
			}
			if (has_category_subject_other) {
				s_html += '<span class="box-other">' + category_subject_other.replace(/ /g, "&nbsp;") + '</span> ';
				$("#other_category_subject").removeClass("hidden");
			}
			$("#box_category_subject").html(s_html);
			if (s_html.length > 0) {					
				$("#box_category_subject").addClass("box-detail-padding");
			}
			else {
				$("#box_category_subject").removeClass("box-detail-padding");
			}
			
			if( s_html.length > 0) {
				$("#box_category_subject_listing").html(s_html);	
				$("#box_category_subject_listing").removeClass("color-no-record");
			}
			else {
				$("#box_category_subject_listing").html(s_html_default);
				$("#box_category_subject_listing").addClass("color-no-record");
			}
						
		}

	</script> -->

	<script>
		
				
		// $(window).load(function() {
		$(document).ready(function() {			
      	// $(function() {


			// set_listing_product_name(gon.product_name, gon.b_product_name);
			// set_category_subject(gon.category_subject, gon.has_category_subject_other);

			// document.oncontextmenu = function() {return false;};
			// $(document).on("mousedown", ".publisher-product-list-edit", function(e) { 
				// if( e.button == 2 ) { 
					// alert(this.id);
			    // } 
			// }); 

			// $(document).on("click", ".publisher-product-list-edit", function() {
				// alert('click');
			// });

            // $('.tip').each(function() {
                // var tipContent = $(this).next('.tip-content').html();
                // $(this).qtip({
                	// style: { classes: 'tooltip-text-1' },
                    // content: tipContent,
                    // show: 'mouseover',
                    // hide: 'mouseout'
                // })
            // });			
            // $('.tip-bottom-center').each(function() {
                // var tipContent = $(this).next('.tip-content').html();
                // $(this).qtip({
                	// style: { classes: 'tooltip-text-1' },
                    // content: tipContent,
                    // show: 'mouseover',
                    // hide: 'mouseout',
				    // position: {
				        // my: 'top center',
				        // at: 'bottom center'
				        // // target: $('.tip-bottom-center')
    				// }                    
                // })
            // });			
            // $('.tip-top-center').each(function() {
                // var tipContent = $(this).next('.tip-content').html();
                // $(this).qtip({
                	// style: { classes: 'tooltip-text-1' },
                    // content: tipContent,
                    // show: 'mouseover',
                    // hide: 'mouseout',
				    // position: {
				        // my: 'bottom center',
				        // at: 'top center'
				        // // target: $('.tip-top-center')
    				// }                    
                // })
            // });			

			
		});				

				
	</script>

	<!-- <script>

	 	// *****
	 	// section listing_product_name

		// .color-record {
			// color: #185C61;
		// }	
		// .color-no-record {
			// color: #49853f;			
		// }	

		function set_listing_product_name(product_name, b_product_name) {
			if( b_product_name ) {
				$("#listing_product_name").removeClass("color-no-record").addClass("color-record");
			}
			else {
				$("#listing_product_name").removeClass("color-record").addClass("color-no-record");
			}
			$("#listing_product_name").html(product_name);
		}
		
	</script> -->

	<!-- <script>

	 	// *****
	 	// section listing_product_tagline
		
		function set_listing_product_tagline(product_tagline, b_product_tagline) {
			if( b_product_tagline ) {
				$("#listing_product_tagline").removeClass("color-no-record").addClass("color-record");
			}
			else {
				$("#listing_product_tagline").removeClass("color-record").addClass("color-no-record");
			}
			$("#listing_product_tagline").html(product_tagline);
		}
		
	</script> -->

