<% provide(:title, 'Publishers Add Product') %>


	<script src="/assets/jquery.validate.js"></script>
	<script type="text/javascript" src="/assets/jquery.js"></script>

	<style>
		
		@import url(http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Istok+Web);
		
		
		.jp-showcell-1 {
			width: 90px;
		} 	
		td.jp-showcell {
			height: 40px;
			width: 100px;
			padding-left: 4px;
			padding-top: 4px;
			vertical-align: top;
	  		font-family: 'QuickUsePlace', sans-serif;
	  		/*font-family: 'Quattrocento Sans', sans-serif;*/
	        font-size: 10px;
	    	color: #214025;
	    	font-weight: 200;
		}
		td.jp-showcell-empty {
			height: 60px;
			width: 200px;
	    	background-color: #fff;
		}
		.jp-cell-border-top {
			border-top:#000000 solid 1px;				
		}					
		.jp-cell-border-bottom {
			border-bottom:#000000 solid 1px;				
		}					
		.jp-cell-border-left {
			border-left:#000000 solid 1px;				
		}					
		.jp-cell-border-right {
			border-right:#000000 solid 1px;				
		}					
		.jp-showcell-background-0 {
			background-color: #fff;
		}
		.jp-showcell-background-1 {
			background-color: #ddd;
		}
		span.jp-title {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #D98D2D;
		}
		span.jp-title-sub {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #A9D996;
		}
		.jp-btn {
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 50px;
		  	height: 20px;
		  	background: inherit;
		  	border-width: 0px;
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 13px;
	    	color: #9F6720;
	    	font-weight: 400;					  	
		}
		.jp-btn:focus {
		}
		.jp-btn:hover { 
		  	text-decoration: underline;
		  	cursor: pointer; 
		}
		.jp-btn:active { 
		  	text-decoration: underline; 
		}
		.txtarea {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 14px;
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 2px;
			/*border: solid 1px #478A3E;*/
			border: solid 1px #aaa;
			background-color: #fff;
			resize: none;	
			height: 70px;
			width: 400px;
		}
		.form-text-index {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 14px;
		}
		.input-form-spacer-jp {
			height: 16px;
		}
		.jp-table-descr {
			display: table; 
			width: 560px;	
		}
 		div .jp-col-right {
			display: table-cell;
			width: 410px;
			text-align: left;
			align: top;		
		}
		div .jp-col-left {
			display: table-cell;
			width: 180px;
			align: top;
			text-align: left;		
		}
		.jp-col-right span {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #000;    		
			height: 16px;
		}
		.jp-col-left span {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #000;    		
			height: 16px;
		}
		.jp-textarea {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #000;    		
			height: 16px;
			position: relative;
			top: -48px;
		}
		
	</style>

	<style>

		.box-profile-general {
			background-color: #F8F8F8;
		    border: 1px solid #41B737;
		    border-radius: 0px 0px 0px 0px;
		    box-shadow: 0 3px 3px #CCCCCC;
		    display: table-cell;
		    padding: 8px;
			width:556px;
			/*height: 200px;*/
		}
		.box-profile-general:focus {
			outline: none;
		}
		.profile-label-text {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #277820;    		
		}
		.profile-label-text-no-entry {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #910303;    		
		}		
		.box-profile-line-container {
			width: 100%;
			text-align: center;
		}
		.box-profile-line {
			height: 1px;
			/*width: 539px;*/
			width: 100%;
			border-top: 1px solid #41B737; 
		}
		.box-profile-space {
			height: 30px;
		}
		
	</style>

	<style>
		
		.input-home-profile {
			font-family: msyh, Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 700;
			font-size: 13px;
			width: 260px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 0px;
		}
		.input-home-profile:focus {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 700;
			-webkit-box-shadow: 0 0 10px #88E87B;
			-moz-box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #88E87B;
		}
		.input-home-profile-short {
			font-family: msyh, Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 700;
			font-size: 13px;
			width: 220px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 0px;
		}
		.input-home-profile-short:focus {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 700;
			-webkit-box-shadow: 0 0 10px #88E87B;
			-moz-box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #88E87B;
		}
		.input-home-profile-exp {
			font-family: msyh, Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 16px;
			width: 100px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 6px;
		}
		.input-home-profile-exp:focus {
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: 0 0 10px #88E87B;
			-moz-box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #88E87B;
		}
		.input-label-catagory {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #41B737;
			width: 160px;
			height: 18px;
		}
		.input-label-home-profile {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #888;
			width: 160px;
			height: 18px;
		}
		.input-label-home-profile-a {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #F69010;
		}
		.input-label-home-profile-a:hover {
			color: #F69010;
		}
		.input-label-home-profile-a:focus {
			color: #F69010;
			text-shadow: 1px 1px #34922C;
		}
		.signin-btn-home-profile {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #11520B;
			height: 24px;
			width:76px;
			/*background-color: #D98D2D;*/
			background-color: #F69010;			
			border: 2px solid #11520B;
	    	/*border-radius: 12px;*/
	    	border-radius: 0 12px 0 12px;			
			margin-top: 10px;
			padding-bottom: 1px;
			/*background: url("/assets/arrow-green-w100-h104.png") no-repeat 0px 0px;*/						
		}
		.signin-btn-home-profile:hover {
			color: #fff;
			background-color: #E3AC66;
			text-shadow: 1px 1px #34922C;
			cursor: pointer;
		}
		.signin-btn-home-profile:focus {
			text-shadow: 1px 1px #34922C;			
			box-shadow: 0 0 14px #eee;
			outline: none;
		}
		.signin-btn-home-profile:select {
			text-shadow: 1px 1px #34922C;						
			box-shadow: 0 0 14px #eee;
			outline: none;
		}
		.sign-btn-home-profile:select {
			background: #CCC; 
			color: #5F7A2A;
		  	box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
		}		
		.space-home-profile {
			height: 6px;
		}
		.form-home-profile-table {
			display: table;
		}
		.form-home-profile-row {
			display: table-row;
		}
		.form-home-profile-row {
			display: table-row;
		}		
		.form-home-profile-cell-1 {
			display: table-cell;
			width: 110px;
		}
		.form-home-profile-cell-2 {
			display: table-cell;
			width: 230px;
		}
		.form-home-profile-cell-3 {
			display: table-cell;
			width: 180px;
		}
		.form-home-profile-cell-2a {
			display: table-cell;
			width: 310px;
		}
		.form-home-profile-cell-3a {
			display: table-cell;
			width: 110px;
		}
		.form-home-profile-cell-submit {
			display: table-cell;
			width: 500px;
			text-align: center;
		}
		.form-home-profile-table-bd {
			display: table;
		}
		.form-home-profile-row-bd {
			display: table-row;
		}
		.form-home-profile-cell-bd-space {
			display: table-cell;
			width: 30px;
		}
		.form-home-profile-cell-bd {
			display: table-cell;
			width: 70px;
		}
		.form-home-profile-cell-month {
			display: table-cell;
			/*width: 104px;*/
			width: 60px;
		}
		.form-home-profile-cell-day {
			display: table-cell;
			/*width: 84px;*/
			width: 60px;
		}
		.form-home-profile-cell-year {
			display: table-cell;
			/*width: 110px;*/
			width: 70px;			
		}		
		.form-home-profile-cell-bd-why {
			display: table-cell;
			width: 90px;
			padding-left: 20px;
		}		
		.form-home-profile-table-gender {
			display: table;
		}
		.form-home-profile-row-gender {
			display: table-row;
		}
		.form-home-profile-cell-gender-space {
			display: table-cell;
			width: 30px;
		}
		.form-home-profile-cell-gender-1 {
			display: table-cell;
			width: 110px;
		}		
		.form-home-profile-cell-gender-2 {
			display: table-cell;
			width: 80px;
		}		
		.form-home-profile-cell-gender-3 {
			display: table-cell;
			width: 70px;
			text-align: center;
		}		
		.form-home-profile-cell-gender-4 {
			display: table-cell;
			width: 70px;
			text-align: center;			
		}		
		.form-home-profile-cell-gender-5 {
			display: table-cell;
			width: 100px;
			padding-left: 20px;			
		}		
		.form-home-profile-cell-account-type {
			display: table-cell;
			width: 60px;
		}		
		/*.form-home-profile-table-gender {
			display: table;
		}
		.form-home-profile-row-gender {
			display: table-row;
		}
		.form-home-profile-cell-gender-1 {
			display: table-cell;
			width: 110px;			
		}		
		.form-home-profile-cell-gender-2 {
			display: table-cell;
		}
		.form-home-profile-cell-gender-3 {
			display: table-cell;
		}
		.form-home-profile-cell-gender-4 {
			display: table-cell;
		}*/
		
		.form-home-profile-cell-account-type-1 {
			display: table-cell;
			width: 70px;
		}		
		.form-home-profile-row-space {
			height: 4px;
		}
		.signup-btn-home-profile {
		    background-color: #41B737;
		    border: 3px groove #11520B;
		    border-radius: 6px 6px 6px 6px;
		    color: #FFFFFF;
		    font-family: msyh,Arial,Helvetica,sans-serif;
		    font-size: 14px;
		    font-weight: bold;
		    height: 35px;
		    letter-spacing: 1.5px;
		    width: 260px;
		}
		.signup-btn-home-profile:hover {
			color: #fff;
			background-color: #E3AC66;
			text-shadow: 1px 1px #34922C;
			cursor: pointer;
		}
		.signup-btn-home-profile:focus {
			box-shadow: 0 0 10px #29731F;
			text-shadow: 1px 1px #34922C;
			outline: none;
		}
		.submit-btn-home-profile {
		    background-color: #F69010;
		    border-radius: 0 12px 0 12px;
		    text-align: center;
		}
		.submit-btn-home-profile {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #11520B;
			height: 24px;
			width:80px;
			/*background-color: #D98D2D;*/
			border: 2px solid #11520B;
	    	/*border-radius: 12px;*/			
			margin-top: 10px;
			padding-top: 5px;
			margin-left: 0px;
		    background-color: #F69010;
		    border-radius: 0 12px 0 12px;
		}
		.submit-btn-home-profile:hover {
			color: #fff;
			background-color: #E3AC66;
			text-shadow: 1px 1px #34922C;
			cursor: pointer;
		}
		.submit-btn-home-profile:focus {
			box-shadow: 0 0 10px #29731F;
			text-shadow: 1px 1px #34922C;			
			outline: none;
		}
		.submit-btn-home-profile-password {
			padding-top: 0px;			
		}	
			
	</style>

	<style>
		
		input[type=checkbox] {
		    display:none;
		}			
		input[type=radio] {
		    display:none;
		}			
		.rd-button {
			width: 18px;
			height: 18px; 
			border-style: solid; 
			border-width: 2px; 
			border-color: #11520B; 
			border-radius: 18px;		
			margin-bottom: -4px;
			display: inline-block;
			margin-right: 0px;
			cursor: pointer;		
		}
		.rd-button:focus {
			/*box-shadow: 0 0 14px #eee;*/
			/*box-shadow: 0 0 10px #88E87B;*/
			box-shadow: 0 0 10px #29731F;
			outline: none;
		}
		.rd-button:select {
			/*box-shadow: 0 0 10px #88E87B;*/
			box-shadow: 0 0 10px #29731F;		
			outline: none;
		}
		.rd-background {
			background-color: #A5E5B4;
		}	
		.dropdown-1 {
			width: 106px;
		}
		.dropdown-2 {
			width: 70px;
		}
		.dropdown-3 {
			width: 70px;
		}
		.dropdown {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #11520B;
			background-color: #D98D2D;
			border: 2px solid #11520B;
	    	border-radius: 4px;			
			height: 24px;
	    	position: relative;
			padding-top: 5px;
			padding-left: 6px;
			margin-right: 2px;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			text-decoration: none;
			outline: none;
		}
		/*.dropdown > .selected {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #11520B;
			background-color: #D98D2D;
			border: 2px solid #11520B;
	    	border-radius: 4px;			
			height: 24px;
	    	position: relative;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			outline: none;	
		}*/
		.dropdown:focus {
			color: #ACDDE3;
			/*background-color:#072C53;*/
			-webkit-box-shadow: 0 0 25px #ccc;
			-moz-box-shadow: 0 0 25px #ccc;
			box-shadow: 0 0 25px #ccc;
			-webkit-transform: scale(1.03);
			-moz-transform: scale(1.03);
			-webkit-transform: scale(1.03);
			-moz-transform: scale(1.03);
			-o-transform: scale(1.03);
			-ms-transform: scale(1.03);
			-webkit-transform: scale(1.03);
			-moz-transform: scale(1.03);
			-o-transform: scale(1.03);
			-ms-transform: scale(1.03);
			-webkit-transform: scale(1.03);
			-moz-transform: scale(1.03);
			-o-transform: scale(1.03);
			-ms-transform: scale(1.03);
			transform: scale(1.03);
			outline: none;
		}
		.dropdown.focus > .selected,
		.dropdown:focus > .selected {
		    outline: none;
		}
		.dropdown > .selected:hover,
		.dropdown > .selected:focus {
		    /*cursor: pointer;*/
		}
		/*.dropdown1 > .selected i {*/
		.dropdown > .selected .down-caret {
		    position: absolute;
		    top: 0px;
		    right: 4px;
		    bottom: 0;
		    width: 12px;
		    /*height: 20px;*/
		    line-height: 20px;
		    border-left: 2px solid #11520B;
		    text-align: center;
		    /*color: #999;*/
		    color: #11520B;
		}
		.dropdown.open > .selected {
		    -webkit-border-radius: 4px 4px 0px 0px;
		    border-radius: 4px 4px 0px 0px;
		}
		.dropdown ul {
		    display: none;
		    position: absolute;
		    left: 0;
		    top: 100%;
		    width: 100%;
		    background: #2B333B;
		    /*z-index: 1;    */
		    border: 1px solid #333;
		    border-top: none;
		    -webkit-border-radius: 0px 0px 4px 4px;
		    border-radius: 0px 0px 4px 4px;
		    box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    line-height: 1;
		    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
		    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
		    /*max-height: 300px;*/
		    overflow: auto;
		    height: 100px;
		    margin: 0;
		    padding-left: 6px;
		}
		.dropdown .dropdown-1 ul {
			height: 100px;
		}
		.dropdown .dropdown-2 ul {
			height: 100px;
		}
		.dropdown .dropdown-3 ul {
			height: 100px;
		}
		.dropdown ul li.selected {
		    /*color: #ACDDE3;*/
		    color: #000;
		    /*background: #005C9E;*/
			background: #A5E5B4;
		}
		.dropdown ul li:last-child.selected {
		    -webkit-border-radius: 0px 0px 4px 4px;
		    border-radius: 0px 0px 4px 4px;
		}
		.dropdown ul li {
		    position: relative;
		    display: block;
		    text-decoration: none;    
		    color: #ACDDE3;
		    /*padding: 4px 4px;   */    
		    padding-left: 4px;
		}
		.dropdown ul li:first-child {
		    color: #838383;
		}
		.dropdown ul li:first-child.selected {
		    color: #838383;
		}
		.dropdown ul li.hover {
		    background: #fff;
		    color: #000;
		}
		/*#form_current_password {
			display:none;
		}
		#form_new_password {
			display:none;
		}*/
		
	</style>
	
	<style>
		
		/*checkbox_tick_1.png*/
	.cb-affirm {
		background-color: #F8F8F8;
	    /*border: 1px solid #41B737;*/
		background-image: url("/assets/checkbox_tick_1.png");		
		background-repeat: no-repeat;
		background-position: 0px 0px;
		top: 4px;
	}	
	.display-none {
		display: none;
	}
	.render-1 {
		width: auto;
		height: auto;
		position: relative;
	}
	.render-2 {
		width: 20px;
		height: 16px;
		position: relative;	
	}
	
	
	</style>		

	<style>
		
		.input-form-word-description {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 14px;
			width: 296px;
			height: 70px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 2px;
			resize: none;				
		}		
		.input-form-word-description:focus {		
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: 0 0 10px #88E87B;
			-moz-box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #88E87B;
		}
		.input-form-word-description-label {
			 position: relative; 
			 top: -49px;
		}
		.char_num {
			font-family: Arial, Helvetica, sans-serif;
			color: blue;			
			font-size: 11px;
			width: 50px;
			height: 15px;
		}
		
	</style>

	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				
				<div class="col-midd">

					<div class="line-space-20"></div>

					<div style="text-align: left;">
						<span class="normal pad-left-20">Publisher Products</span>
					</div>


					<div class="pad-left-20">
						<div id="box_profile_general" class="box-profile-general" tabindex="9">
							
							<!-- <div class="box-profile-space"></div> -->
							
							<div class="form-home-profile-table">						
								<div class="form-home-profile-row">
									<div class="form-home-profile-cell-1">
										<span class="input-label-catagory">User ID:</span>
									</div>
									<div class="form-home-profile-cell-2">
										<span class="input-label-catagory"><%= @publisher_id %></span>
									</div>
									<div class="form-home-profile-cell-3">
										<!-- <div id="render0"></div> -->
									</div>								
								</div>
							</div>

							<div class="box-profile-space"></div>								
							<div class="box-profile-space"></div>
							<span class="input-label-catagory">Product Name</span>
							<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
							<div class="box-profile-space"></div>
							
							<%= form_for @publisher_product, :html => {:id => 'form_publisher_product_new' } do |f| %>	
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<!-- <label class="input-label-home-profile" for="publisher_name">Product Name</label> -->
											<%= f.label(:name_product, 'Product Name', class: 'input-label-home-profile') %>
										</div>
										<div class="form-home-profile-cell-2">
											<%= f.text_field :name_product, :class => 'input-home-profile-short', :tabindex => '1', :autofocus => true %>
										</div>
										<div class="form-home-profile-cell-3">
											<div class="cell-error" id="state_name_product"><p id="error_name_product"></p></div>
										</div>										
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<!-- <div id="submit_name" class="submit-btn-home-profile" tabindex="12">Submit</div> -->
											<%= f.submit 'Submit', class: 'submit-btn-home-profile', :tabindex => '2' %>										
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>
							<% end %>
						</div>
					</div>
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_publishers_right' %>
				</div>												
			</div>
		</div>
	</div>


					
	<script>


		function formValidate() {
						
			$("#form_admin_new").validate({
			
				submitHandler: function(form) {
					form.submit();
				},
			
				debug: true,
				onkeyup: false,
				focusCleanup: true,
				// invalidClass: "error",
				// validClass: "success",
				
				rules: {
					'admin_user[name_first]': {
						required: true,
						minlength: 1,						
						maxlength: 30						
					},
					'admin_user[name_first]': {
						required: true,
						minlength: 1,
						maxlength: 30												
					},
					'admin_user[email]': {
						required: true,
						maxlength: 100,
						email: true
					},															
					'admin_user[username]': {
						required: true,
						minlength: 1,
						maxlength: 30
					},
					'admin_user[password]': {
						required: true,
						minlength: 4,
						maxlength: 50
					},
					'admin_user[password_confirmation]': {
						equalTo: "#admin_user_password"
					}
				},
				invalidHandler: function(event, validator) {
					var errors = validator.numberOfInvalids();
					if (errors) {
						var message = errors == 1
						? 'You missed 1 field'
						: 'You missed ' + errors + ' fields';
						$("div.errors p").html(message);
						$("div.errors").show();
					} else {
						$("div.errors").hide();
					}
				},				
				messages: {
					'admin_user[name_first]': {
						required: "*",
						maxlength: "First name exceeds 30 characters"							
					},
					'admin_user[name_last]': {
						required: "*",
						maxlength: "Last name exceeds 30 characters"							
					},
					'admin_user[username]': {
						required: "*",
						minlength: "Username at least 2 characters",
						maxlength: "Username exceeds 15 characters"
					},
					'admin_user[password]': {
						required: "*",
						minlength: "Password at least 4 characters long",
						maxlength: "Password exceeds 20 characters"
					},
					'admin_user[password_confirmation]': {
						equalTo: "Passwords must match"
					},
					'admin_user[email]': {
						required: "*",
						maxlength: "Email address exceeds 40 characters",
						email: "Please enter a valid email address"
					}										
				},
				errorContainer: $("div .error_label"),				
				errorPlacement: function(error, element) {
					error.insertAfter('#error_' + element.attr('id'));
					$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					//$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				},
				// invalid: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// $('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');					
				// },
				// highlight: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				// unhighlight: function(element) {
					// //$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				error: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('success').addClass('error');
					$('#label_' + label.attr('for')).removeClass('required-label').addClass('error-label');
				},
				success: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('error').addClass('success');
					$('#label_' + label.attr('for')).removeClass('error-label').addClass('required-label');
					
					$('#state_' + label.attr('for')).css ({			
						background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
					});
 
					$('#error_' + label.attr('for')).html("");
				},				
				focus: function(element) {
				 	$('#' + element.attr('id')).removeClass('required').removeClass('error').removeClass('success').addClass('focus');
				}
			});
			
			$.validator.setDefaults({
				
				submitHandler: function() {
					form.submit();
				}
				//$('#user_username');
				
				// submitHandler: function() { alert("submitted!"); }
				// debug: true,
				// onkeyup: false,
				// focusCleanup: true,
				// errorClass: "invalid",
				// validClass: "success"
			});
		}

		$(window).load( function() {
		//$(document).ready(function(){

			// formValidate();

		});
	
	</script>
