
	<div style="display: inline-block;">
			
	<% if @publisher_journalposters.any? %>
		
		<% @publisher_journalposters.each do |publisher_journalposter| %>
		
			<div style="height: 30px;"></div>
		
		  	<div class="jp-cell-list">

		  		<table>
		  			<tr>
		  				<td>
		  					<table>
		  						<tr>
		  							<td>
		  								
										<% if publisher_journalposter.has_journalposter_logo %>
											<!-- <div class="pad-left-20"><a id="render_publisher_journalposter_logo" href="/PublisherJournalPosterLogos/= @publisher_journalposters[0].id.to_s "></a></div> -->
					
											<div>
											   <% for publisher_journalposter_logo in publisher_journalposter.publisher_journalposter_logos %> 
											   		<div>
														<ul class="grid cs-style-3">
															<li>
																<figure>
																	<img alt="logo not appearing" src="<%= publisher_journalposter_logo.image_url(:logo) if publisher_journalposter_logo.image? %>" />
																	<figcaption>
																		<span><%= link_to('Edit', {:controller => 'publisher_journalposter_descriptions', :action => 'index', :id => publisher_journalposter.id}) %></span>
																	</figcaption>
																</figure>
															</li>
														</ul>
													</div>
											   <% end %> 
											</div>
																	
										<% else %>
										
											<div>
										   		<div>
													<ul class="grid cs-style-3">
														<li>
															<figure>
																<img alt="logo not appearing" src="../journal_poster/logo_journalposter_generic_2.jpg" />
																<figcaption>
																	<span><%= link_to "Add a Logo", new_publisher_journalposter_logo_path(:publisher_id => publisher_journalposter.publisher_id, :publisher_journalposter_id => publisher_journalposter.id) %></span>
																</figcaption>
															</figure>
														</li>
													</ul>
												</div>
											</div>
										
											<!-- <#% if @publisher_journalposters.any? %#>
											<div class="pad-left-20">
												<span class="normal">
													<#%= link_to "Add a Logo", new_publisher_journalposter_logo_path(:publisher_id => @publisher_journalposters[0].publisher_id, :publisher_journalposter_id => @publisher_journalposters[0].id) %#>
												</span>
											</div>	
											<#% end %#> -->
															
										<% end %>
										
									</td>
								</tr>
							</table>
		  				</td>
		  				<td style="width: 20px;"></td>
		  				<td>
		  					
		  					<div class="jp-listbox">
		  						
		  						<div class="jp-listbox-1">
		  							<span class="jp-title-sub"><%= publisher_journalposter.poster_text %></span>
		
				    				<% if ( publisher_journalposter.poster == 1) %>
		
					    				<% if (!publisher_journalposter.has_journalposter_logo) %>
					    				<br>
					    				<span class="jp-missing">* no logo</span>
		        						<% end %>
		
									<% end %>

				    				<% if ( publisher_journalposter.poster == 2) %>

					    				<% if (publisher_journalposter.has_purchase) %>
					    				<br>
					    				<span class="jp-purchased">Purchased on: <%= publisher_journalposter.purchase_date.strftime("%B %d, %Y") %></span>				    				
					    				<% else %>
					    				<br>
					    				<span class="jp-not-purchased">* not purchased</span>
		        						<% end %>
		
					    				<% if (!publisher_journalposter.has_journalposter_logo) %>
					    				<br>
					    				<span class="jp-missing">* no logo</span>
		        						<% end %>

									<% end %>
		
				    				<% if ( publisher_journalposter.poster == 3) %>
		
					    				<% if (publisher_journalposter.has_purchase) %>
					    				<br>
					    				<span class="jp-purchased">Purchased on: <%= publisher_journalposter.purchase_date.strftime("%B %d, %Y") %></span>				    				
					    				<% else %>
					    				<br>
					    				<span class="jp-not-purchased">* not purchased</span>
		        						<% end %>

					    				<% if (!publisher_journalposter.has_journalposter_logo) %>
					    				<br>
					    				<span class="jp-missing">* no logo</span>
		        						<% end %>

					    				<% if (!publisher_journalposter.has_journalposter_prodshot) %>
					    				<br>
					    				<span class="jp-missing">* no product/screen shot</span>
		        						<% end %>
		
									<% end %>
		  							
				    				<% if ( publisher_journalposter.poster == 4) %>
		
					    				<% if (publisher_journalposter.has_purchase) %>
					    				<br>
					    				<span class="jp-purchased">Purchased on: <%= publisher_journalposter.purchase_date.strftime("%B %d, %Y") %></span>				    				
					    				<% else %>
					    				<br>
					    				<span class="jp-not-purchased">* not purchased</span>
		        						<% end %>

					    				<% if (!publisher_journalposter.has_journalposter_logo) %>
					    				<br>
					    				<span class="jp-missing">* no logo</span>
		        						<% end %>

					    				<% if (!publisher_journalposter.has_journalposter_prodshot) %>
					    				<br>
					    				<span class="jp-missing">* no product/screen shot</span>
		        						<% end %>
		
									<% end %>

		  						</div>
		  						<div class="jp-listbox-2">
		  							<div style="display: inline-block;">
					    				<span><%= link_to('View', {:controller => 'publisher_journalposter_descriptions', :action => 'index', :id => publisher_journalposter.id}, :class => 'jp-cell-list-link') %></span>

					    				<% if ((publisher_journalposter.poster == 2) || (publisher_journalposter.poster == 3) || (publisher_journalposter.poster == 4)) %>
						    				<% if (publisher_journalposter.has_purchase) %>
						    				<% else %>
			        						<span class="jp-cell-list-link">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
						    				<span><%= link_to 'Purchase', new_publisher_journalposter_purchase_path( :publisher_journalposter_purchase => {:id => publisher_journalposter.id, :poster => 3 }), :class => 'jp-cell-list-link' %></span>
											<% end %>
										<% end %>
										
										<span class="jp-cell-list-link">&nbsp;&nbsp;&nbsp;|</span>	        						
		        						<div style="display: inline-block;">
								    	<span>
										   	<% delete_msg = "Delete this Journal Poster Pin?" %>
											<%= button_to "Delete", {:action => 'destroy', :id => publisher_journalposter.id}, :method => :delete, data: { confirm: delete_msg }, :class => 'jp-btn' %>
										</span>
										</div>

	        						</div>
		  						</div>
		  						
		  					</div>

						</td>
					</tr>
				</table>
			    
			</div>
		<% end %>

		<!-- number_to_currency(journalposter.price) -->
		
					
	<% else %>
				
		<h3>No record for Publisher Journal Posters</h3>
		
	<% end %>
			
	</div>
	
