<% provide(:title, 'Journal Posters List') %>


	<style>
		
		/*@import url(http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Istok+Web);*/
		
		div.jp-cell-list {
			height: 180px;
			width: 540px;
			padding-left: 10px;
			padding-top: 10px;
			vertical-align: top;
	    	/*cursor: pointer;*/
	    	background-color: #fff;
	    	border: solid 4px #aaa;
	    	border-radius: 4px;
		}
		div.jp-cell-list:hover {
	    	/*background-color: #eee;*/	    	
		}
		span.jp-cell-list-text-1 {
	  		/*font-family: 'QuickUsePlace', sans-serif;*/
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 14px;
	    	color: #214025;
	    	font-weight: 400;			
		}
		.jp-cell-list-link {
	  		/*font-family: 'QuickUsePlace', sans-serif;*/
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 13px;
	    	color: #9F6720;
	    	font-weight: 400;			
		}
		.jp-cell-list-link:hover {
	  		/*font-family: 'QuickUsePlace', sans-serif;*/
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 13px;
	    	color: #9F6720;
	    	font-weight: 400;			
		}
		/*.jp-cell-list-delete-btn {
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 50px;
		  	height: 20px;
		  	background: inherit;
		  	border-width: 0px;
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 13px;
	    	color: #9F6720;
	    	font-weight: 400;					  	
		}
		.jp-cell-list-delete-btn:focus {
		}
		.jp-cell-list-delete-btn:hover { 
		  	text-decoration: underline;
		  	cursor: pointer; 
		}
		.jp-cell-list-delete-btn:active { 
		  	text-decoration: underline; 
		}*/
		span.jp-title {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #D98D2D;
		}
		span.jp-title-sub {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #A9D996;
		}
		.jp-btn {
		  	/*display: inline-block;*/
		  	text-decoration: none; 
		  	/*width: 38px;*/
		  	height: 20px;
		  	background: inherit;
		  	border-width: 0px;
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 13px;
	    	color: #9F6720;
	    	font-weight: 400;					  	
		}
		.jp-btn:focus {
		}
		.jp-btn:hover { 
		  	text-decoration: underline;
		  	cursor: pointer; 
		}
		.jp-btn:active { 
		  	text-decoration: underline; 
		}
		span.jp-not-purchased {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #FA7D7D;			
		}
		span.jp-purchased {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #A9D996;			
		}
		span.jp-missing {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #C9AB00;			
		}		
		.jp-listbox {
			height: 150px;
			width: 290px;			
		}
		.jp-listbox-1 {
			height: 130px; 
			width: 290px;			
		}
		.jp-listbox-2 {
			height: 10px; 
			width: 290px; 
			text-align: right;			
		}
		ul.jp-edit-instr li {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
			color: #666;
			width: 500px;
			margin-left: 60px;
		}
		
	</style>

	<style>
		
		.publisher-journalposters-table {
			display:table;
			width: 100%;
			border-top: 0px; 
			border-collapse: collapse;
		}
		.publisher-journalposters-row-top {
			display: table-row;
			height: 2px;
		  	border-bottom: 1px solid #ccc;			
		}
		.publisher-journalposters-cell-top-image {
			display:table-cell;
			height: 2px;
			/*width: 500px;*/
		  	border-bottom: 1px solid #ccc;
		}
		.publisher-journalposters-cell-top {
			display:table-cell;
			height: 2px;
			/*width: 70px;*/
		  	border-bottom: 1px solid #ccc;
		}
		.publisher-journalposters-row {
			display: table-row;
			height: 118px;
		  	border-bottom: 1px solid #ccc;
		  	background-color: #fff;			
		}
		/*.publisher-journalposters-row:hover {
		  	background-color: #F8F8F8;			
		}*/
		.publisher-journalposters-cell-image {
			display:table-cell;
		  	overflow: auto;
		  	width: 120px;			
			height: 100%;
		  	padding: 8px 0 0 10px;
		  	border-bottom: 1px solid #ccc;
		}
		.publisher-journalposters-cell {
			display:table-cell;
		  	overflow: auto;
		  	width: 530px;			
			height: 100%;
		  	padding: 8px 0;
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 200;
		  	font-color: #888;
			font-size: 13px;
			border-bottom: 1px solid #ccc;
			vertical-align: top;
		}
		.publisher-journalposters-cell span.publisher-name a {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #5628E1;
			font-size: 14px;
		}
		.publisher-journalposters-span-1 {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #666;
			font-size: 14px;
		}
		.publisher-journalposters-cell-top div {
			height: 100%;
			padding: 0 0 0 10px;
		}
		.publisher-journalposters-cell div {
			height: 100%;
		}
		
	</style>
	
	<style>
	
		.publisher-journalposter-utility-bar {
			width: 100%;
			height: 50px;
			background: url('/assets/light_grey.jpg');
			/*border-bottom: 2px #DCE3DF solid;*/
			text-align: left;
		}
		.publisher-journalposter-utility-bar span {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 200;
		  	color: #888;
			font-size: 13px;
		}
		
	</style>

	<style>
		
		.search { 
			padding:6px 15px 6px 30px;
			margin:3px; 
			background: url('/assets/search.png') no-repeat 8px 6px; 
			width: 300px;
		}
		.rounded { 
			border-radius:15px; 
			-moz-border-radius:15px; 
			-webkit-border-radius:15px; 
		}		
		input[type=text]{
			color:#bcbcbc;
		}
		input[type=button], input[type=button]:hover {
			position:relative; 
			left:-6px;
			height: 29px;
			border:1px solid #adc5cf;
			background: #e4f1f9; /* Old browsers */
			background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
			background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
			color:#7da2aa;
			cursor: pointer;
		}				
		.lighter, .light, .dark {
			width:100%;
			height:50px;
			padding:10px 0px 0px 0px;
		}
		.lighter{
			background: url('/assets/lighter_grey.jpg');
		}
		.lighter input[type=text]{
			border:1px solid #d0d0d0;
			background-color:#fcfcfc;
		}
		.light{
			background: url('/assets/light_grey.jpg');
		}
		.light input[type=text]{
			border:1px solid #acb1b7;
			background-color:#fcfcfc;
		}
		.dark{
			background: url('/assets/dark_grey.jpg');
		}
		.dark input[type=text]{
			border:1px solid #2a2e31;
			background-color:#2d3035;
			color:#505358;
		}

	</style>





	<style>
		
		.publisher-journalposters-list-1 {
			width: 100%; 
			height: 109px; 
			padding: 4px;
			position: relative;
			background-color: #fff;
			border-bottom: 1px solid #ccc;
		}
		.publisher-journalposters-list-1:hover {
			background-color: #F8F8F8;
		}
		.publisher-journalposters-list-2 {
 			display: inline-block;		
 			position: relative;
		}
		.publisher-journalposters-list-3 {
 			display: inline-block; 
 			position: absolute;
 			width: 490px;
 			height: 102px;
 			top: 4px; 
 			padding-left: 8px;
		}
		.publisher-journalposters-list-4 {
 			display: inline-block; 
 			width: 140px;
 			
		}
		.publisher-journalposters-list-5 {
 			display: inline-block;
 			width: 330px; 
		}
		/*.publisher-journalposter-list-top-border {
			height: 2px;
			width: 100%;
			border-bottom: 2px solid #ccc;
			position: absolute;
			top: -1px;
		}*/
		
	</style>

 	<style>
 		
		.image-grid figcaption.figcaption-1 {
			text-align: right;			
			padding-top: 5px;
			padding-right: 10px;
			/*padding-left: 0px;
			padding-bottom: 0px;*/

			background: #000;
			/*color: #fff;*/
		}
		.image-grid figcaption.figcaption-1 a {
			text-align: right;
			color: #fff;
			font-family: Arial, Helvetica, sans-serif;
		    font-size: 13px;
			font-weight: 200;					  	
		}
		.image-grid-caption-height-30 figcaption {
			height: 30px;
		}
		div.image-grid-text-1-container {
			width: 100%;
			text-align: left;
		}
		div.image-grid-text-1-container span,
		div.image-grid-text-1-container a {
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 14px;
			font-weight: 200;
			color: #888;								  	
		}
		.figure-box-500 {
			width: 500px; 
			height: 500px; 
			border: 1px solid #888;
		}
		.figure-box-200 {
			width: 200px; 
			height: 200px; 
			border: 1px solid #888;
		}
		.figure-box-100 {
			width: 100px; 
			height: 100px; 
			border: 1px solid #888;
		}
		.figure-box-50 {
			width: 50px; 
			height: 50px; 
			border: 1px solid #888;
		}

 	</style>


	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				<div class="col-left">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>
						<div class="row-profile">
							<div class="col-left">
								<%= render 'share/dir_publishers_left'%>
							</div>
						</div>
					</div>
				</div>
				<div class="col-midd">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-midd-600">
								
								<div class="line-space-20"></div>
						
								<div class="pad-left-20">
									<span class="jp-title">Publisher Posters</span>
								</div>
								
								<div class="line-space-20"></div>
								
								<ul class="jp-edit-instr">
									<li>Free Online Poster Pins may be edited/changed at any time after they are created.</li>
									<li>Purchased options must be edited/changed before the cutoff date: </li>						
								</ul>
								<!-- <div class="line-space-20"></div>
								<div class="pad-left-20" style="text-align: left;">
									<span class="jp-cell-list-text-1">Record Count: <#%= @publisher_journalposters.count %#></span>
								</div> -->
			
								<div class="line-space-20"></div>
			
								<span class="pad-left-20"><%= link_to '&laquo; Start a Poster &raquo;'.html_safe, '/PublisherCreateJournalPoster', :class => 'links' %></span>
			
								<div class="line-space-20"></div>
			
								<!-- <div id="publisher_journalposters" style="width: 100%; text-align: center;"> -->
								<div>
									
									<%= render 'publisher_journalposters/list' %>
			
								</div>
			
								<div style="height: 50px;"></div>	
			
						    	<div style="width: 100%; text-align: center;">
							    	<h5>
									   	<% delete_all_msg = "Delete all records and reset index in Publisher Journal Posters?" %>
										<%= button_to "Delete All Records and Reset Index", {:action => 'dbdelete'}, :method => :post, data: { confirm: delete_all_msg }, :class => 'reset-db-btn-long', :remote => true %>
									</h5>
								</div>
										
								<div style="height: 100px;"></div>	
								
							</div>
						</div>
					</div>					
				</div>
				<div class="col-right">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-right">
								<%= render 'share/dir_publishers_right_bare' %>
							</div>
						</div>
					</div>										
				</div>								
			</div>
		</div>
	</div>

