

		<div style="text-align: center;">
			<div class="journal-txt3">
				Choose your level of sponsorship and which posters.
			</div>
		</div>
		<div class="journal-space-page-1"></div>
			
		<%= form_for( @publisher_journalposter, :html => {:id => "form_publisher_journalposter"}) do |f| %> 
		
		<div class="journal-table">
			<div class="journal-row">
				<div class="journal-cell" style="width: 187.5px">
					
					<div id="rd_poster_1" class="journal-box-wrapper journal-box-wrapper-border" tabindex="1">
						
						<div class="journal-box bk-color-1">
							<div class="journal-title-center">
								<span class="journal-txt-title-1">FREE</span>
							</div>
							<div class="journal-space-table-1"></div>	
							<div>
								<span class="journal-txt1">Free Online Poster Pin</span><span class="journal-txt2">(Listing with any poster, any subject)</span>
							</div>
							<div class="journal-space-table-1"></div>	
							<div>
								<span class="journal-txt2">&ndash; Logo</span>
							</div>
							<div class="journal-space-table-1"></div>							
							<div>
								<span class="journal-txt2">&ndash; Tag Line</span>
							</div>
							<div class="journal-space-table-1"></div>								
							<div>
								<span class="journal-txt2">&ndash; URL (and link)</span>
							</div>
							<div class="journal-space-table-1"></div>							
							<div>
								<span class="journal-txt2">&ndash; 30 Word Description</span>
							</div>	
						</div>
						<div class="journal-price-container bk-color-1">
						</div>										
						<div id="rd_poster_1_tag" class="journal-digit-container bk-color-1">
							<span id="span_poster_1" class="journal-digit journal-digit-color">1</span>										
						</div>
						<%= f.radio_button(:poster, '1') %>		
					</div>	
										
				</div>
				<div class="journal-cell" style="width: 187.5px">
					
					<div id="rd_poster_2" class="journal-box-wrapper journal-box-wrapper-border" tabindex="2">
						
						<div class="journal-box bk-color-2">
							<div class="journal-title-center">
								<span class="journal-txt-title-2">PINNED</span>
							</div>
							<div class="journal-space-table-1"></div>	
							<div>
								<span class="journal-txt1">Print Poster Pin + Online Listing</span>
							</div>
							<div class="journal-space-table-1"></div>
							<div>
								<span class="journal-txt2">Print Poster – 5500 print/mailed copies</span>
							</div>	
							<div class="journal-space-table-1"></div>	
							<div>
								<span class="journal-txt2">&ndash; Logo</span>
							</div>
							<div class="journal-space-table-1"></div>							
							<div>
								<span class="journal-txt2">&ndash; Tag Line</span>
							</div>
							<div class="journal-space-table-1"></div>								
							<div>
								<span class="journal-txt2">&ndash; URL (and link)</span>
							</div>
							<div class="journal-space-table-1"></div>							
							<div>
								<span class="journal-txt2">&ndash; 30 Word Description</span>
							</div>	
							<div class="journal-space-table-1"></div>							
							<div>
								<span class="journal-txt2">Note: limited spots, sign up today!</span>
							</div>	
						</div>
						<div class="journal-price-container bk-color-2">
							<span class="journal-price-tag">$300.00</span>
						</div>
						<div id="rd_poster_2_tag" class="journal-digit-container bk-color-2">
							<span id="span_poster_2" class="journal-digit journal-digit-color">2</span>										
						</div>
						<%= f.radio_button(:poster, '2') %>		
							
					</div>
				</div>
				<div class="journal-cell" style="width: 187.5px">

					<div id="rd_poster_3" class="journal-box-wrapper journal-box-wrapper-border" tabindex="3">
						
						<div class="journal-box bk-color-3">
							<div class="journal-title-center">
								<span class="journal-txt-title-3">SMALL AD BOX</span>
							</div>
							<div class="journal-space-table-1"></div>
							<div>
								<span class="journal-txt1">Poster Pin AND Poster Anchor with 3’x3’ custom ad box on border + Online Listing</span>
							</div>
							<div class="journal-space-table-1"></div>
							<div>
								<span class="journal-txt2">Print Poster – 5500 print/mailed copies</span>
							</div>	
							<div class="journal-space-table-1"></div>	
							<div>
								<span class="journal-txt2">&ndash; Logo</span>
							</div>
							<div class="journal-space-table-1"></div>							
							<div>
								<span class="journal-txt2">&ndash; Tag Line</span>
							</div>
							<div class="journal-space-table-1"></div>								
							<div>
								<span class="journal-txt2">&ndash; URL (and link)</span>
							</div>
							<div class="journal-space-table-1"></div>							
							<div>
								<span class="journal-txt2">&ndash; 30 Word Description</span>
							</div>	
							<div class="journal-space-table-1"></div>							
							<div>
								<span class="journal-txt2">Note: limited spots, sign up today!</span>
							</div>	
						</div>	
						<div class="journal-price-container bk-color-3">
							<span class="journal-price-tag">$750.00</span>
						</div>										
						<div id="rd_poster_3_tag" class="journal-digit-container bk-color-3">
							<span id="span_poster_3" class="journal-digit journal-digit-color">3</span>										
						</div>
						<%= f.radio_button(:poster, '3') %>		
					</div>
				</div>
				<div class="journal-cell" style="width: 187.5px">
					
					<div id="rd_poster_4" class="journal-box-wrapper journal-box-wrapper-border" tabindex="4">
						
						<div class="journal-box bk-color-4">									
							<div class="journal-title-center">
								<span class="journal-txt-title-4">BACK COVER</span>
							</div>
							<div class="journal-space-table-1"></div>
							<div>
								<span class="journal-txt1">Back Cover of Journal side AND Poster Pin & Poster Anchor + Online Listing</span>
							</div>
							<div class="journal-space-table-1"></div>
							<div>
								<span class="journal-txt2">Print Poster – 5500 print/mailed copies</span>
							</div>	
							
							<div class="journal-space-table-1"></div>	
							<div>
								<span class="journal-txt2">&ndash; Great, Terrific and now extra Awesome with a full page on the back cover</span>
							</div>
							<div class="journal-space-table-1"></div>							
							<div>
								<span class="journal-txt2">ONE per poster</span>
							</div>	
						</div>	
						<div class="journal-price-container bk-color-4">
							<span class="journal-price-tag">$5000.00</span>
						</div>										
						<div id="rd_poster_4_tag" class="journal-digit-container bk-color-4">
							<span id="span_poster_4" class="journal-digit journal-digit-color">4</span>										
						</div>
						<%= f.radio_button(:poster, '4') %>		
					</div>
				</div>
			</div>
		</div>
		<div style="height: 30px;"></div>
		
		<div style="width: 100%;">
			<div class="journal-arrow-container">
				<div id="arrow_1" class="journal-arrow-gray" tabindex="5"></div>
			</div>
			<%= f.submit '', :id => 'submit_id', :tabindex => '' %>
		</div>
		
		<% end %>
							
		
	<script>
		
		
		function enableArrow() {
			$("#arrow_1").removeClass("journal-arrow-gray").addClass("journal-arrow-green");	
			//$("#link-arrow-1").removeAttr("link-arrow-disable");		
		}
		
		//$(window).load( function() {
		$(document).ready(function(){
			
			//$("#link-arrow-1").addAttr("link-arrow-disable");
			
			$('#arrow-1').on('click', function() {
				if ($("#arrow-1").hasClass("journal-arrow-green")) {
					$('#submit_id').click();
				}
			});

			$('#rd_poster_1').on('click', function() {
				$("#span_poster_1").removeClass("journal-digit-color").addClass("journal-digit-color-select");
				$("#span_poster_2").removeClass("journal-digit-color-select").addClass("journal-digit-color");
				$("#span_poster_3").removeClass("journal-digit-color-select").addClass("journal-digit-color");
				$("#span_poster_4").removeClass("journal-digit-color-select").addClass("journal-digit-color");
				
				$("#rd_poster_1_tag").removeClass("bk-color-1").addClass("bk-color-select");
				$("#rd_poster_2_tag").removeClass("bk-color-select").addClass("bk-color-2");
				$("#rd_poster_3_tag").removeClass("bk-color-select").addClass("bk-color-3");
				$("#rd_poster_4_tag").removeClass("bk-color-select").addClass("bk-color-4");
				
				var rd ="#publisher_journalposter_poster_1";
				$(rd).prop('checked',true);
				enableArrow();				
			});
			$('#rd_poster_2').on('click', function() {
				$("#span_poster_2").removeClass("journal-digit-color").addClass("journal-digit-color-select");
				$("#span_poster_1").removeClass("journal-digit-color-select").addClass("journal-digit-color");
				$("#span_poster_3").removeClass("journal-digit-color-select").addClass("journal-digit-color");
				$("#span_poster_4").removeClass("journal-digit-color-select").addClass("journal-digit-color");

				$("#rd_poster_2_tag").removeClass("bk-color-1").addClass("bk-color-select");
				$("#rd_poster_1_tag").removeClass("bk-color-select").addClass("bk-color-1");
				$("#rd_poster_3_tag").removeClass("bk-color-select").addClass("bk-color-3");
				$("#rd_poster_4_tag").removeClass("bk-color-select").addClass("bk-color-4");

				var rd ="#publisher_journalposter_poster_2";
				$(rd).prop('checked',true);				
				enableArrow();				
			});
			$('#rd_poster_3').on('click', function() {
				$("#span_poster_3").removeClass("journal-digit-color").addClass("journal-digit-color-select");
				$("#span_poster_1").removeClass("journal-digit-color-select").addClass("journal-digit-color");
				$("#span_poster_2").removeClass("journal-digit-color-select").addClass("journal-digit-color");
				$("#span_poster_4").removeClass("journal-digit-color-select").addClass("journal-digit-color");

				$("#rd_poster_3_tag").removeClass("bk-color-1").addClass("bk-color-select");
				$("#rd_poster_1_tag").removeClass("bk-color-select").addClass("bk-color-1");
				$("#rd_poster_2_tag").removeClass("bk-color-select").addClass("bk-color-2");
				$("#rd_poster_4_tag").removeClass("bk-color-select").addClass("bk-color-4");

				var rd ="#publisher_journalposter_poster_3";
				$(rd).prop('checked',true);				
				enableArrow();				
			});
			$('#rd_poster_4').on('click', function() {
				$("#span_poster_4").removeClass("journal-digit-color").addClass("journal-digit-color-select");
				$("#span_poster_1").removeClass("journal-digit-color-select").addClass("journal-digit-color");
				$("#span_poster_2").removeClass("journal-digit-color-select").addClass("journal-digit-color");
				$("#span_poster_3").removeClass("journal-digit-color-select").addClass("journal-digit-color");

				$("#rd_poster_4_tag").removeClass("bk-color-1").addClass("bk-color-select");
				$("#rd_poster_1_tag").removeClass("bk-color-select").addClass("bk-color-1");
				$("#rd_poster_2_tag").removeClass("bk-color-select").addClass("bk-color-2");
				$("#rd_poster_3_tag").removeClass("bk-color-select").addClass("bk-color-3");

				var rd ="#publisher_journalposter_poster_4";
				$(rd).prop('checked',true);				
				enableArrow();				
			});
						
			$('#rd_poster_1').on('focus', function() {
				$("#rd_poster_1").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				$("#rd_poster_2").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_3").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_4").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");				
			});
						
			$('#rd_poster_2').on('focus', function() {
				$("#rd_poster_2").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				$("#rd_poster_1").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_3").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_4").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");				
			});

			$('#rd_poster_3').on('focus', function() {
				$("#rd_poster_3").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				$("#rd_poster_1").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_2").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_4").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");				
			});
			$('#rd_poster_4').on('focus', function() {
				$("#rd_poster_4").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				$("#rd_poster_1").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_2").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_3").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");				
			});



			// $( selector ).hover( handlerIn, handlerOut )
			// $( "li" ).hover(
			// function() {
			// $( this ).append( $( "<span> ***</span>" ) );
			// }, function() {
			// $( this ).find( "span:last" ).remove();
			// }
			// );			
			
			$('#rd_poster_1').hover(
				function() {
					$("#rd_poster_1").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				},
				function() {
					$("#rd_poster_1").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				}
			);
			$('#rd_poster_2').hover(
				function() {
					$("#rd_poster_2").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				},
				function() {
					$("#rd_poster_2").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				}
			);
			$('#rd_poster_3').hover(
				function() {
					$("#rd_poster_3").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				},
				function() {
					$("#rd_poster_3").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				}
			);
			$('#rd_poster_4').hover(
				function() {
					$("#rd_poster_4").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				},
				function() {
					$("#rd_poster_4").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				}
			);

			$('#arrow_1').hover(
				function() {
					if (!($('#arrow_1').hasClass("journal-arrow-gray"))) {						
						$("#arrow_1").removeClass("journal-arrow-green").addClass("journal-arrow-green-hover");
					}
				},
				function() {
					if (!($('#arrow_1').hasClass("journal-arrow-gray"))) {
						$('#arrow_1').removeClass("journal-arrow-green-hover").addClass("journal-arrow-green");
					}
				}
			);
						
			$('#rd_poster_2').on('hover', function() {
				$("#rd_poster_2").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				$("#rd_poster_1").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_3").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_4").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");				
			});

			$('#rd_poster_3').on('hover', function() {
				$("#rd_poster_3").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				$("#rd_poster_1").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_2").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_4").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");				
			});
			$('#rd_poster_4').on('hover', function() {
				$("#rd_poster_4").removeClass("journal-box-wrapper-border").addClass("journal-box-wrapper-border-hover");
				$("#rd_poster_1").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_2").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");
				$("#rd_poster_3").removeClass("journal-box-wrapper-border-hover").addClass("journal-box-wrapper-border");				
			});

			// $('#arrow_1').on('hover', function() {
				// if ($('#arrow_1').hasClass("journal-arrow-green")) {
					// $('#arrow_1').removeClass("journal-arrow-green").addClass("journal-arrow-green-hover");
				// }
			// });
			$('#arrow_1').on('focus', function() {
				if (!$('#arrow_1').hasClass("journal-arrow-gray")) {
					$("#arrow_1").removeClass("journal-arrow-green").addClass("journal-arrow-green-hover");
				}
			});
			$('#arrow_1').on('blur', function() {
				if (!$('#arrow_1').hasClass("journal-arrow-gray")) {
					$('#arrow_1').removeClass("journal-arrow-green-hover").addClass("journal-arrow-green");
				}
			});
			
    		$('#rd_poster_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_poster_1').click();
    		});				
    		$('#rd_poster_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_poster_2').click();
    		});				
    		$('#rd_poster_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_poster_3').click();
    		});				
    		$('#rd_poster_4').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_poster_4').click();
    		});				
			
    		$('#arrow_1').keypress(function(e){
      			if(e.keyCode==13) {
					if (!($('#arrow_1').hasClass("journal-arrow-gray"))) {
	      				$('#arrow_1').click();
	      			}
      			}
    		});				
			
			$('#arrow_1').on('click', function() {
				$('#submit_id').click();
			});
			
		});

		
	</script>


