<% provide(:title, 'Publishers New Journal Poster') %>

	<script type="text/javascript" src="../scripts/jquery-1.9.1.js"></script>
	<link href="/assets/custom_sign_form.css" rel="stylesheet">

	
	<style>
	
		@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);
		@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic);
		/*@import url(http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Istok+Web);*/
		
	  	/*font-family: 'QuattrocentoSans-Regular';
	  	font-family: 'QuattrocentoSans-Italic';
	  	font-family: 'QuattrocentoSans-Bold';
	  	font-family: 'QuattrocentoSans-BoldItalic';*/
		
		.journal-container {
			position: relative;
			margin: 0 auto;
			clear: both;
			width: 1000px;
			background-color: #fff;
			min-height: 800px;
		}
		div .journal-table {
			display: table;
			width: 760px;
			position: relative; 
			margin: 0 auto;			
		}
		div .journal-row {
			display: table-row;
			align: top;
		}
		div .journal-cell {
			display: table-cell;
			verticle-align: top;
		}
		.journal-box-free {
			width: 200px;
			height: 330px;
			border: 6px solid #ddd;
			border-radius: 6px;
			padding-top: 10px;
			padding-right: 6px;
			padding-left: 10px;
			padding-bottom: 6px;
			position: relative;
			vertical-align: top;
		}
		.journal-box-signup {
			width:240px;
			height: 134px;
			padding: 0px;
			position: relative;
			vertical-align: top;
 			margin: 0 auto;			
			border-width: 4px;
			border-style: solid;
			border-color: #808080;		
		}
		.journal-box-signup:hover {
			border-color: #C4740C;			
		}
		.journal-box-signup a div div {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 20px;
	    	font-weight: 600;
			color: #214025;										
		}
		.journal-box-signup:hover a div div {
			border-color: #C4740C;			
			color: #C4740C;
		}
		.journal-link-signup {
			width: 340px;
			heigh: 144px;
			background-color: #fff;
		}		
		.journal-link-signup:hover {
			text-decoration: none;			
		}		
		.journal-space-table-1 {
			height: 2px;
		}
		.journal-space-page-1 {
			height: 10px;
		}		
		.journal-txt-title-light {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 50px;
	    	color: #41B737;
	    	font-weight: 800;
		}
		.journal-txt-title-dark {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 26px;
	    	color: #214025;
	    	font-weight: 800;
		}
		.journal-txt-title-dark-sub {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 16px;
	    	color: #214025;
	    	font-weight: 400;
		}
		.journal-txt-title-1 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 18px;
	    	color: #1A9624;
	    	text-shadow: 1px 1px #333;
	    	font-weight: 800;
	    	line-height: 1em;
		}
		.journal-txt-title-2 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 18px;
	    	color: #C96333;
	    	text-shadow: 1px 1px #333;
	    	font-weight: 800;
	    	line-height: 1em;
		}
		.journal-txt-title-3 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 18px;
	    	color: #F6F9F9;
	    	text-shadow: 1px 1px #333;
	    	font-weight: 800;
	    	line-height: 1em;
		}
		.journal-txt-title-4 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 18px;
	    	color: #FFCC00;
	    	text-shadow: 1px 1px #333;
	    	font-weight: 800;
	    	line-height: 1em;
		}
		.journal-txt1 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 12px;
	    	color: #111;
	    	font-weight: 800;
	    	line-height: .8em;
		}				
		.journal-txt2 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 12px;
	    	color: #222;
	    	font-weight: 200;
	    	line-height: .8em;		    	
		}	
		.journal-txt3 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 20px;
	    	color: #214025;
	    	font-weight: 600;
		}	
		.journal-txt4 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 22px;
	    	font-weight: 600;
		}	
		.journal-container p {
		  	/*font-family: 'Quattrocento Sans', sans-serif;*/
	  		font-family: 'Roboto Condensed', sans-serif;
	  		/*font-family: 'QuickUsePlace', sans-serif;*/
		    font-size: 18px;
		    color: #222;
		    font-weight: 200;
		    line-height: 1.1em;		    				
		}
		.journal-links {
	    	color: #C4740C;
	    	font-weight: 200;
		}
		a.journal-links-large {
	    	color: #C4740C;
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 20px;	    	
	    	font-weight: 200;
		}
		.journal-title-center {
			text-align: center;
		}
 		.journal-price-1 {
 			position: absolute;
 			bottom: 20px; 
 			left: 62px;
 		}
 		.journal-price-2 {
 			position: absolute;
 			bottom: 20px; 
 			left: 64px;
 		}
 		.journal-price-3 {
 			position: absolute;
 			bottom: 20px; 
 			left: 58px;
 		}
		.journal-banner-1 {
			background-color: #41B737;
			width: 1000px;
			height: 40px;
	  		font-family: 'Roboto Condensed', sans-serif;
	  		/*font-family: 'QuickUsePlace', sans-serif;*/
		    font-size: 26px;
		    color: #fff;
		    font-weight: 600;
		    text-shadow: 1px 1px #34922C;
		    padding-top: 10px;
		}
		.journal-tab-1-no-background {
			width: 134px;
			height: 30px;
	  		font-family: 'Roboto Condensed', sans-serif;
	  		/*font-family: 'QuickUsePlace', sans-serif;*/
		    font-size: 20px;
		    color: #ddd;
		    font-weight: 400;
		    text-shadow: 1px 1px #34922C;
		    padding-left: 10px;
		    padding-top: 8px;
		    margin-left: 40px;
		    position: relative;
			z-index: 100;			
			background: #fff;
		}		
		hr.ln-1 {
		    display: block;
		    height: 1px;
		    width: 750px;
		    border: 0;
		    border-top: 2px solid #ccc;
		    margin: 1em 0;
		    padding: 0;
		    position: relative;
		    top: -36px;
			z-index: 1;					    
		} 				
		hr.ln-2 {
		    display: block;
		    height: 1px;
		    width: 100%;
		    border: 0;
		    border-top: 2px solid #ccc;
		    margin: 1em 0;
		    padding: 0;
		    position: relative;
		    top: -36px;
			z-index: 1;					    
		} 				
		.journal-tab-container {
			width: 100%;
			height: 50px;
		}
		.journal-pin-1 {
			position: relative;
			top: -282px;
			left: 150px;
		}
		ul.journal-txt5 li {
	  		font-family: 'Roboto Condensed', sans-serif;
		    font-size: 16px;
		    color: #222;
		    font-weight: 200;
		    line-height: 1.1em;		 
		    padding-top: 10px;
			list-style-type: none;		       				
			background-image: url('../journal_poster/pin-black-w15-h24.png');
			background-repeat: no-repeat;
			background-position: 0px 7px;
			padding-left: 20px; 			
		}	
		ul.journal-txt6 li {
	  		font-family: 'Roboto Condensed', sans-serif;
		    font-size: 16px;
		    color: #111;
		    font-weight: 200;
		    line-height: 1.1em;		 
		    padding-top: 10px;
			list-style-type: none;		       				
			background-image: url('../journal_poster/pin-white-w15-h24.png');
			background-repeat: no-repeat;
			background-position: 0px 7px;
			padding-left: 20px; 			
		}	
		.journal-txt5 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 16px;
	    	font-weight: 400;
	    	color: #333;
		}	
		.journal-txt-title-light-small {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 30px;
	    	color: #41B737;
	    	font-weight: 800;
		}		
		.journal-digit-txt-1 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 18px;
	    	color: #1A9624;
	    	margin-left: 6px;
	    	text-shadow: 1px 1px #333;
	    	font-weight: 800;
	    	line-height: 1em;
			position: relative;
			top: -13px;	    	
		}
		.journal-digit-txt-2 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 18px;
	    	color: #C96333;
	    	margin-left: 6px;
	    	text-shadow: 1px 1px #333;
	    	font-weight: 800;
	    	line-height: 1em;
			position: relative;
			top: -13px;	    	
		}
		.journal-digit-txt-3 {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 18px;
	    	color: #F6F9F9;
	    	margin-left: 6px;
	    	text-shadow: 1px 1px #333;
	    	font-weight: 800;
	    	line-height: 1em;
			position: relative;
			top: -13px;	    	
		}
		.journal-link-pdf {
			box-shadow: 4px 4px 20px #888888;
			width: 200px;
			height: 259px;
			margin-left: 18px;
		}
		.journal-link-pdf:hover {
			box-shadow: 4px 4px 20px #786011;
		}
		
		/*.rd-button {
			width: 18px;
			height: 18px; 
			border-style: solid; 
			border-width: 2px; 
			border-color: #005C9E; 
			border-radius: 18px;		
			margin-bottom: -4px;
			display: inline-block;
			margin-right: 0px;
		}
		.rd-background {
			background-image: url("/assets/radio_tick.png");		
			background-repeat: no-repeat;
			background-position: 1px 1px;
		}*/	
		
		
	</style>


	<style>
		
		.journal-box-steps {
			width:1000px;
			/*height: 400px;*/
			padding: 4px;
			position: relative;
			vertical-align: top;
 			margin: 0 auto;			
		}
		.journal-txt-title-steps {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 26px;
	    	color: #214025;
	    	font-weight: 800;
		}
		.journal-txt-title-steps-sub {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 20px;
	    	color: #214025;
	    	font-weight: 800;
		}
		.journal-box-steps ul li {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 18px;
	    	color: #222;
	    	font-weight: 800;
		}
		.journal-txt-steps-sub {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 1.0em;
	    	color: #214025;
	    	font-weight: 800;
		}
		div.journal-steps-info {
			width: 200px;
			text-align: left;
			margin-left: 70px;	
		}
		div.journal-arrow-container {
			height: 124px;
			width: 130px;
			margin: 0 auto;			
			/*margin-left: 110px;*/
		}
		.journal-arrow-green {
			height: 114px;
			width:100px;
			margin-top: 10px;
			background: url("/assets/arrow-green-w100-h104.png") no-repeat 0px 0px;						
			/*background-image: url("/assets/arrow-green-w100-h104.png");*/						
		}
		.journal-arrow-gray {
			height: 114px;
			width:100px;
			margin-top: 10px;
			background: url("/assets/arrow-gray-w100-h104.png") no-repeat 0px 0px;						
			/*background-image: url("/assets/arrow-green-w100-h104.png");*/						
		}
		.journal-arrow-green-hover {
			height: 124px;
			width:119px;	
			margin-top: 0px;		
			margin-left: 10px;
			cursor: pointer;
			/*-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			-ms-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;*/
			background: url("/assets/arrow-hovergreen-w119-h124.png") no-repeat 0px 0px;						
		}
		.journal-arrow-green:hover {
			height: 124px;
			width:119px;	
			margin-top: 0px;		
			margin-left: 10px;
			cursor: pointer;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
			background: url("/assets/arrow-hovergreen-w119-h124.png") no-repeat 0px 0px;						
		}
 		.link-arrow-enable {
 			
 		}		
 		.link-arrow-disable {
 			disable;
 		}	
		/*input[type=checkbox] {
		    display:none;
		}*/					
		input[type=radio] {
		    display:none;
		}			
		.rd-button {
			width: 18px;
			height: 18px; 
			border-style: solid; 
			border-width: 2px; 
			border-color: #005C9E; 
			border-radius: 18px;		
			margin-bottom: -4px;
			display: inline-block;
			margin-right: 0px;
		}
		.rd-background {
			background-image: url("/assets/radio_tick.png");		
			background-repeat: no-repeat;
			background-position: 1px 1px;
		}	
		input[type=submit] {
		    display:none;
		}			
 				
		.journal-box {
			height: 330px;
			padding-top: 10px;
			padding-right: 6px;
			padding-left: 10px;
			text-align: left;
		}
		.journal-digit-container {
			height: 50px; 
			border-top: 1px solid #000; 
			text-align: center; 
			padding-top: 8px;
		}
		.journal-box-wrapper {
			width: 150px;
			height: 406px;
		}
		/*.journal-box-wrapper:hover {
			border: 3px solid #FFBF3D;
			cursor: pointer;
		}*/
		.journal-box-wrapper-border {
			border: 3px solid #000;
			cursor: pointer;
		}
		.journal-box-wrapper-border-hover {
			border: 3px solid #FFBF3D;
			cursor: pointer;
		}

		.journal-digit-container-full {
			width: 180px;
			height: 36px;
			padding-top: 2px;
			text-align: center;
			border-left: 1px solid #000;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
			border-top: 1px solid #000;
		}
		.journal-digit {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 40px;
	    	font-weight: 800;
		}
		.journal-digit-color {
	    	color: #E500FA;
		}
		.journal-digit-color-select {
	    	color: #FFBF3D;
			text-shadow: 2px 2px #666;	    	
		}
		.bk-color-1 {
			background-color: #F6F2FA;
		}
		.bk-color-2 {
			background-color: #EBDEFA;			
		}
		.bk-color-3 {
			background-color: #DEC7FC;			
		}
		.bk-color-4 {
			background-color: #C59DFC;						
		}
		.bk-color-select {
			background-color: #41B737;						
		}						
		.journal-price-tag {
	  		font-family: 'Quattrocento Sans', sans-serif;
	        font-size: 12px;
	    	color: #111;
	    	font-weight: 800;
		}				
 		.journal-price-container {
 			height: 20px; 
 			text-align: center;
 		}
 	
 		span.jp-title {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #D98D2D;
		}
		span.jp-title-sub {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #A9D996;
		}

	</style>

	<style>
	
		*, *:after, *:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		
	</style>
	
	
	<header>
		<%= render 'share/backtotop' %>
	</header>

	<% if false %>
	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				<div class="col-midd-right">
					<div class="line-space-20"></div>
					<div class="pad-left-20">
						<span class="jp-title">Journal Posters</span>
					</div>
					<div class="line-space-20"></div>
					<div id="publisher_journalposters" style="width: 100%; text-align: center;">
						<%= render 'publisher_journalposters/new' %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% end %>


	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				<div class="col-left">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>
						<div class="row-profile">
							<div class="col-left">
								<%= render 'share/dir_publishers_left'%>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-midd" style="height: 800px;"> -->
				<div class="col-midd-right" style="height: 900px;">

					<div class="line-space-20"></div>
			
					<div class="pad-left-20">
						<span class="jp-title">Posters</span>
					</div>
					
					<div class="line-space-20"></div>

					<div id="publisher_journalposters" style="width: 100%; text-align: center;">
						<%= render 'publisher_journalposters/new' %>
					</div>
						
				</div>
				<!-- <div class="col-right">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-right">
								<span><%= link_to "Members", '/Members' %></span>
							</div>
						</div>
					</div>										
				</div> -->								
			</div>								
		</div>
	</div>



