
<style>
	.drop-namespace105 .drop-hidden {
	display: none !important;
	visibility: hidden !important;  
	}
	.drop-namespace105 .drop-clear-both {
	clear: both;
	}
	.drop-namespace105 .drop-105 {
	width: 200px;
	}
	.drop-namespace105 .drop-105 .drop-105-triangle {
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: relative;
	left: 3px;
	float: left;
	}
	.drop-namespace105 .drop-105 .drop-105-box {
	width: 200px;
	float: left;
	/*position: relative;*/
	position: absolute;
	margin-top: 0px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	z-index: 1;
	}
	.drop-namespace105 .drop-105 .drop-105-container-links {
	}
	.drop-namespace105 .drop-105 .margin-top-hide-1 {
	margin-top: -16px;
	}
	.drop-namespace105 .drop-105 .margin-top-show-1 {
	margin-top: -6px;
	}
	.drop-namespace105 .drop-105 .drop-105-link-1 {
	width: 100%;
	}
	/*.drop-namespace105 .drop-105 .drop-105-target {
	position: relative;
	width: 200px;
	height: 19px;
	padding: 9px 0px 4px 0px;
	text-align: center;
	}
	.drop-namespace105 .drop-105 .drop-105-target:hover {
	background: #f6f6f6;
	}*/
	.drop-namespace105 .drop-105 .drop-105-link-1:hover .span-1 {
	}   
	.drop-namespace105 .drop-105 .drop-105-span-1 {
	color: #376340; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	}
	.drop-namespace105 .drop-105 a.drop-105-link-a-1 {
	text-decoration: none;
	}
	.drop-namespace105 .drop-105 a.drop-105-link-a-1:hover {
	text-decoration: none;
	}
	.drop-namespace105 .drop-105 .drop-105-border {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;      
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;     
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;      
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;     
	}
	.drop-namespace105 .drop-105 .drop-105-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.drop-namespace105 .drop-105 .drop-105-divider-1 {
	height: 2px;
	}
	.drop-namespace105 .drop-105 .drop-105-divider-2 {
	height: 10px;
	}
	.drop-namespace105 .drop-105 .background-transparent {
	background-color: transparent;
	}
	.drop-namespace105 .background-white {
	background-color: #fff;
	}
	.drop-namespace105 .drop-105 .nav-caret-container {
	width: 14px;
	height: 30px;
	padding: 0 0 0 2px;     
	}
	.drop-namespace105 .drop-105 .nav-caret {
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin: 16px 0 0 0px;
	}
	.drop-namespace105 .drop-105 .nav-caret-down {
	border-top: 5px solid #999;
	border-bottom: 0;     
	}
	.drop-namespace105 .drop-105 .nav-caret-up {
	border-bottom: 5px solid #999;
	border-top: 0;
	}
	.drop-namespace105 .drop-105 .nav-drop-1:hover {
	cursor: pointer;
	}
	.drop-namespace105 .drop-105 .nav-drop-1:hover .nav-avatar img {
	border: 2px solid #A9D996;
	}
	.drop-namespace105 .drop-105 .nav-drop-1:hover .nav-caret-down {
	border-top: 5px solid #A9D996;
	}
	.drop-namespace105 .drop-105 .nav-drop-1:hover .nav-caret-up {
	border-bottom: 5px solid #A9D996;
	}
	.drop-namespace105 .drop-105 .cursor-pointer:hover {
	cursor: pointer;
	}
	.drop-namespace105 .drop-105-target-icon {
	display: inline-block;
	}	
	.drop-namespace105 .drop-105-target-text {
	display: inline-block;
	}	
	.drop-namespace105 .drop-105 a:focus {
	outline: none;	
	}
	.drop-namespace105 .drop-105 a:active {
	outline: none;
	}
	.drop-namespace105 .drop-105 a:visited {
	outline: none;
	}
	.drop-namespace105 .drop-105-table {
	display: table;
	}
	.drop-namespace105 .drop-105-table-row {
	display: table-row;
	}
	.drop-namespace105 .drop-105-table-cell-1 {
	display: table-cell;
	width: 174px;
	}
	.drop-namespace105 .drop-105-table-cell-2 {
	display: table-cell;
	width: 12px;
	}
	.drop-namespace105 .drop-105-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
	}
	.drop-namespace105 .drop-105-1:hover {
	background: #f6f6f6;
	}
	.drop-namespace105 .drop-105-1-target {
	position: relative;
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
	position: relative;
	float: left;
	left: -8px;
	top: 33px;
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-container {
	position: relative;
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-box {
	width: 200px;
	position: absolute;
	margin-top: 0px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	z-index: 1;
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-container-links {
	}
	.drop-namespace105 .drop-105-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
	}
	.drop-namespace105 .drop-105-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-link-1 {
	width: 100%;
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-link-1:hover {
	background: #f6f6f6;
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-link-1:hover .span-1 {
	}   
	.drop-namespace105 .drop-105-1 .drop-105-1-span-1 {
	color: #376340; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	}
	.drop-namespace105 .drop-105-1 a.drop-105-1-link-a-1 {
	text-decoration: none;
	}
	.drop-namespace105 .drop-105-1 a.drop-105-1-link-a-1:hover {
	text-decoration: none;
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-border {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;      
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;     
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;      
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;     
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-divider-1 {
	height: 2px;
	}
	.drop-namespace105 .drop-105-1 .drop-105-1-divider-2 {
	height: 10px;
	}
	.drop-namespace105 .drop-105-1 .background-transparent {
	background-color: transparent;
	}
	.drop-namespace105 .drop-105-1 .background-white {
	background-color: #fff;
	}
	.drop-namespace105 .drop-105-1 .nav-caret-container {
	width: 14px;
	height: 30px;
	padding: 0 0 0 2px;     
	}
	.drop-namespace105 .drop-105-1 .nav-caret {
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin: 16px 0 0 0px;
	}
	.drop-namespace105 .drop-105-1 .nav-caret-down {
	border-top: 5px solid #999;
	border-bottom: 0;     
	}
	.drop-namespace105 .drop-105-1 .nav-caret-up {
	border-bottom: 5px solid #999;
	border-top: 0;
	}
	.drop-namespace105 .drop-105-1 .nav-drop-1:hover {
	cursor: pointer;
	}
	.drop-namespace105 .drop-105-1 .nav-drop-1:hover .nav-avatar img {
	border: 2px solid #A9D996;
	}
	.drop-namespace105 .drop-105-1 .nav-drop-1:hover .nav-caret-down {
	border-top: 5px solid #A9D996;
	}
	.drop-namespace105 .drop-105-1 .nav-drop-1:hover .nav-caret-up {
	border-bottom: 5px solid #A9D996;
	}
	.drop-namespace105 .drop-105-1 .cursor-pointer:hover {
	cursor: pointer;
	}
	.drop-namespace105 .drop-105-1-target-icon {
	display: inline-block;
	}	
	.drop-namespace105 .drop-105-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
	}	
</style>

<style>
	
.overlay {
  position: relative;
  z-index: 1;
  /*overflow: hidden;*/
}

.overlay:after {
  position: absolute;
  content:"";
  top: 50%;
  left: 50%;
  width: 40px;
  height: 60px;
  opacity:0;
}

.overlay:hover:after  {
  opacity: .5;
  box-shadow: 0 0 0 3px blue inset;  
}

.red:after {
  background-color: red;
}
	

</style>
	
<style>
	
	.image-5-container {
		width: 1200px; 
		height: 300px; 
		/*background-color: blue;*/ 
		position: relative;
		/*background-image: url("/assets/avatars/background-1-w1200-h300.jpg");*/
	}
	.background-edit-border {
		box-shadow: 0 0 0 2px #fbb040 inset;
	}
	
</style>
	
	
<div id="image_5_container" class="image-5-container" style="display: table-cell; vertical-align: bottom; width: 1200px; height: 300px;">
	<div class="drop-namespace105 hidden">
		<div id="background_options" class="text-edit-background drop-105">
			<div class="text-edit-background-inner drop-105-target">
				<span>Background</span><br>
				<span>photo</span><br>
				<span>options</span>
			</div>
	    	<div class="drop-105-container drop-hidden">
				<div class="drop-105-box background-transparent margin-top-hide-1">
					<div class="drop-105-triangle"></div>
					<div style="clear: both;"></div>
					<div class="drop-105-container-links background-white drop-105-border drop-105-shadow">
						
						<% if !@image_5_id.nil? %>

							<div class="drop-105-divider-2"></div>
							<div class="drop-105-link-1 cursor-pointer" data-id="1">
								<div class="drop-105-1">
							    	<div class="drop-105-1-target">
							    		<div class="drop-105-1-target-text">
							    			<span class="drop-105-1-span-1">New/Change</span>
							    		</div>						    		
							    	</div>
						    	</div>
							</div>
							<div class="drop-105-divider-1"></div>
							<div class="drop-105-link-1 cursor-pointer" data-id="2">
								<div class="drop-105-1">
							    	<div class="drop-105-1-target">
							    		<div class="drop-105-1-target-text">
							    			<span class="drop-105-1-span-1">Crop/Center</span>
							    		</div>						    		
							    	</div>
						    	</div>
							</div>
							<div class="drop-105-divider-1"></div>
							<div class="drop-105-link-1 cursor-pointer" data-id="3">
								<div class="drop-105-1">
							    	<div class="drop-105-1-target">
							    		<div class="drop-105-1-target-text">
							    			<span class="drop-105-1-span-1">Delete</span>
							    		</div>						    		
							    	</div>
						    	</div>
							</div>
							<div class="drop-105-divider-2"></div>
						
						<% else %>
						
							<div class="drop-105-divider-2"></div>
							<div class="drop-105-link-1 cursor-pointer" data-id="4">
								<div class="drop-105-1">
							    	<div class="drop-105-1-target">
							    		<div class="drop-105-1-target-text">
							    			<span class="drop-105-1-span-1">New Photo</span>
							    		</div>						    		
							    	</div>
						    	</div>
							</div>
							<div class="drop-105-divider-2"></div>
						
						<% end %>
						
					</div>
				</div>
	        </div>
		</div>
	</div>
	
	<div class="" style="position: relative; bottom: 262px;">
		<div style="display: table;">
			<div style="display: table-row;">
				<div class="" style="display: table-cell; width: 400px;"></div>
				<div style="display: table-cell; width: 800px; height: 32px; text-align: center;">
					<div id="edit_product_headline" class="edit-product-headline hidden" style="display: inline-block;">
						<input class="input-profile-2 bkgrnd-text-1-input input-profile-color-1" style="width: 700px; height: 26px; padding: 1px 2px 0px 2px; text-align: center;" id="publisher_product_manifest_product_headline" name="publisher_product_manifest[product_headline]" tabindex="12" type="text" value="<%= @product_headline %>" placeholder="Product Headline" />
					</div>
					<div id="show_product_headline" style="display: inline-block;">
						<div class="" style="width: 650px; height: 32px; padding: 0; border-color: transparent;">
							<span id="span_product_headline" class="bkgrnd-text-1 product-headline" style="background-color: #000; opacity: 0.5; padding-left: 4px; padding-right: 4px;"></span>
						</div>
					</div>
					<div class="edit-options float-right hidden" style="height: 30px; background-color: #fff; display: inline-block;">
						<div class="edit-options-block-1">
							<div id="required_product_headline" class="required-1"></div>
						</div>
						<div class="edit-options-block-1 ks-tip-container">
							<div id="open_info_product_headline" class="question-icon info-show-20 required-1 ks-tip-target"></div>
						    <div class="ks-tip ks-tip-2">
						    	<div class="ks-tip-indicator-2"></div>
								What is this?
						    </div>				
						</div>																		
						<div class="edit-options-block-1 ks-tip-container">
							<div id="open_edit_product_headline" class="edit-icon-right form-edit-open-20 ks-tip-target" tabindex=""></div>
						    <div class="ks-tip ks-tip-3">
						    	<div class="ks-tip-indicator-3"></div>
								Edit
						    </div>				
						</div>
					</div>
					<div class="float-clear"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="edit-product-headline hidden" style="position: absolute; bottom: 232px; right: 81px; width: 121px; background-color: #fff;">
		<div style="padding: 4px;">
			<div style="display: inline-block;">
				<div id="submit_product_headline" class="btn-submit-product" tabindex="">Save</div>
			</div>
			<div style="display: inline-block;">
				<div id="cancel_product_headline" class="btn-submit-product" tabindex="">Cancel</div>
			</div>	
		</div>																													
	</div>


	<div class="container-image-1" id="container_image_1" style="position: relative;">
		<div id="drop_container_image_1" class="drop" style="position: absolute; bottom: -60px; left: 20px;">
			<div id="render_image_1" class="">
				<%= render 'image_1' %>
	        </div>
		</div>
	</div>							
</div>



<script>

	var drop_visible_namespace105 = false;
	function drop_show_namespace105() {
		$(".drop-namespace105 .drop-105-container").removeClass('drop-hidden');
		$(".drop-namespace105 .drop-105-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
		drop_visible_namespace105 = true;			
	}	
	function drop_hide_namespace105() {
		$(".drop-namespace105 .drop-105-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);		
		drop_visible_namespace105 = false;			
	}	
	function drop_toggle_namespace105() {
		if (drop_visible_namespace105) {
			drop_hide_namespace105();
		}
		else {
			drop_close_all_called_namespace105 = false;
			drop_show_namespace105();
		}
	}	
	
	function dropCloseAll_namespace105() {
		drop_close_all_called_namespace105 = true;
		drop_hide_namespace105();
	}
	
	
	var drop_close_all_called_namespace105 = false;
	
	
	$(document).ready(function () {				

		// $('#render_image_5').css('background-image', 'url("/assets/avatars/background-1-w1200-h300.jpg")');
		$('#render_image_5').css('background-image', 'url(<%= @image_5_url %>)');
		
		// $("img").one("load", function() {
			// if((this.id == "image_5_img") || (this.id == "image_5_img_generic")) {
				// var img_w = this.width;
				// var img_h = this.height;
				// $(".container-figure-image-5").css({
					// width : img_w,
					// height : img_h						
				// })													
			// }
			// if(this.id == "image_5_img_600") {
				// var img_w = this.width;
				// var img_h = this.height;
				// $("#figure_dialog_105_1").css({
					// width : img_w,
					// height : img_h
				// });																			
			// }								
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  		// $(".drop-namespace105").removeClass("hidden");
		  	// }
		// });

		$(document).on('click', function(e) {
			var target_namespace105 = $(e.target).parents('.drop-namespace105').attr("class");
			if (target_namespace105 == null) {
				drop_hide_namespace105();
			}
		});

		$(".drop-namespace105 .drop-105-target").on('click', function() {
			drop_toggle_namespace105();
		});
		$(".drop-namespace105 .drop-105-link-1[data-id='1']").on("click", function() {
			dropCloseAll_namespace105();
			$(document).trigger("btn_image_5_change_click");
		});
		$(".drop-namespace105 .drop-105-link-1[data-id='2']").on("click", function() {
			dropCloseAll_namespace105();
			$(document).trigger("btn_image_5_crop_click");
		});
		$(".drop-namespace105 .drop-105-link-1[data-id='3']").on("click", function() {
			dropCloseAll_namespace105();
			$(document).trigger("btn_image_5_delete_click");
		});
		$(".drop-namespace105 .drop-105-link-1[data-id='4']").on("click", function() {
			dropCloseAll_namespace105();
			$(document).trigger("btn_image_5_new_click");
		});

		// $("#image_5_img").on("load", function() {
			// var img_w = this.width;
			// var img_h = this.height;
			// $(".container-figure-image-5").css({
				// width : img_w,
				// height : img_h						
			// });													
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  		// $(".drop-namespace105").removeClass("hidden");
		  	// }
		// });

		// $("#image_5_img_generic").on("load", function() {
			// var img_w = this.width;
			// var img_h = this.height;
			// $(".container-figure-image-5").css({
				// width : img_w,
				// height : img_h						
			// });													
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  		// $(".drop-namespace105").removeClass("hidden");
		  	// }
		// });

		// $("#image_5_img_600").on("load", function() {
			// var img_w = this.width;
			// var img_h = this.height;
			// $("#figure_dialog_105_1").css({
				// width : img_w,
				// height : img_h
			// });																			
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  	// }
		// });

	});
	
</script>

<script>
	
	// product_headline
	
	$(document).ready(function(){

		$(document).on('click', '#open_info_product_headline', function() {
			$("#dlg_info").html(info_msg_2);
			divHeight_1001 = $("#dialog_1001").height();
			$("#dialog_1001").jqmShow();
		});

		// alert('gon.product_headline = ' + gon.product_headline);
		// set_control_span("product_headline", gon.product_headline, gon.b_product_headline);
		// set_control_required("product_headline", gon.b_required_product_headline);

		set_control_span("product_headline", "<%= @product_headline %>", <%= @b_product_headline %>);
		set_control_required("product_headline", <%= @b_required_product_headline %>);

		$("#open_edit_product_headline").click(function(){
    		$("#show_product_headline, #open_edit_product_headline").fadeOut(300, function(){
    			$("#show_product_headline").addClass("hidden");
    			$("#open_edit_product_headline").addClass("visibility-hidden");
    			$(".edit-product-headline").fadeIn(1300).removeClass("hidden");
    		});
	  	});
		$("#submit_product_headline").keypress(function(e){
  			if(e.keyCode==13)
  			$("#submit_product_headline").click();
		});		
		$("#cancel_product_headline").keypress(function(e){
  			if(e.keyCode==13)
  			$("#cancel_product_headline").click();
		});		
		$("#cancel_product_headline").on('click', function() {
			show_control_class("product_headline", "product-headline");
		});
		$("#submit_product_headline").on('click', function() {
			var input_publisher_product_manifest_product_headline = $("#publisher_product_manifest_product_headline").val();
			var obj_list = '{  "publisher_product_id":' + publisher_product_id +  		
					   	   ',  "product_headline":"' + input_publisher_product_manifest_product_headline +
						   '"}';      
		  	var obj = '{ "publisher_product_manifest": [' +  obj_list + '] }';       
		  	$.ajax({
		    	type: 'POST',
		    	// data : JSON.stringify(obj),
		    	data : obj,
		    	url: '/publisher_product_manifests/update_product_headline',			    	
		    	dataType: "json",
		    	contentType: "application/json",
		    	processData: false,
		    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	statusCode: {
                	// 200:function() { alert("200"); }, 202:function() { alert("202"); }
            	},
            	success: function(data) {
            		if (!data.b_error) {
						set_control_span("product_headline", data.product_headline, data.b_product_headline);
						show_control_class("product_headline", "product-headline");
            		}
            		else {
						show_control_class("product_headline", "product-headline");
						alert('An error occured while updating this field.');	            			
            		}
            	},
            	error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	});
	  		return false;
		});


	});
			
</script>
