
<% if false %>
					<div class="title-bar-profile-4">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<span>Story Details</span>		
								</div>
								<div class="cell-title-bar-profile-center">
								</div>
								<div class="cell-title-bar-profile-right">
								</div>
							</div>
						</div>
					</div>
<% end %>

			   		<div style="height: 10px;"></div>
			   		
			   		<div class="table">
			   			<div class="row">
			   				<div class="cell-20"></div>
							<div class="cell-330">
						   		<div class="table">
						   			<div class="row">
										<div class="cell-325">
											<div class="box-detail">
												<div class="table box-detail-table-1">
													<div class="row box-detail-row">
														<div class="cell-325">
															<div class="cell-265">
																<div class="box-detail-title">
																	Content Type											
																</div>
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_info_content_type" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <!-- <div class="tooltiptitle"></div> -->
												                    <div class="tooltiptext">What is this?</div>
												                </div>																								
															</div>																		
															<div class="cell-20 min-h-20 min-w-20">
																<div id="required_content_type" class="required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Required</div>
												                </div>																								
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_edit_content_type" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Edit</div>
												                </div>																								
															</div>
														</div>
													</div>
													<div class="row">
														<div class="cell-325">
															<div id="edit_content_type" class="hidden">
																<div style="padding: 4px;">
													          		<select id="publisher_product_content_type" name="publisher_product[content_type]" data-placeholder="-Select-" class="chosen-select" multiple style="width:314px;" tabindex="">
																		<% @content_types.each do|content_type| %>
																			<option value="<%= content_type.id %>">
																				<%= content_type.col_1 %>
																			</option>
																		<% end %>
													          		</select>
												          		</div>
																<div id="other_content_type" class="hidden" style="padding: 4px;">
																	<input style="width: 314px;" class="input-product height-24" id="publisher_product_content_type_other" name="publisher_product[content_type_other]" tabindex="10" type="text" value="<%= @publisher_product_content_type.content_type_other %>" placeholder="Other" />
																</div>
																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_content_type" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_content_type" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>																													
															</div>
															<div id="show_content_type">
																<div id="box_content_type"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									
						   			<div class="row">
										<div class="cell-325">
										   	<div id="form_info_content_type" class="form-info-outer form-info-outer-content-type">
										   		<div style="height: 10px;"></div>
										   		<div class="form-info-inner form-info-inner-content-type">
										   			<div id="form_info_content_type_a">
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
												   					<div id="close_info_content_type" class="form-edit-close pop-info tip-left-center">
												   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
												   					</div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Close</div>
													                </div>																								
												   					<div style="clear: both;"></div>
												   				</div>
										   					</div>
														</div>				   				
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
																	<div>
																		<div><span class="info-text-1">Apps</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				A self-contained program or piece of software designed to fulfill a particular educational purpose; 
																				an APPlication, especially as downloaded by a user to a mobile device.																					
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Assessment/Testing</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Formative or Summative Assessments, Tests
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Digital Content</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Any type of digital content in text that may be audio enhanced, courses, lesson plans
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Curriculum (Websites)</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Interactive multimedia curriculum which may have mutliple lessons crossing multiple grades; 
																				or other collections of resources like ebooks.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">eBook</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				A book composed in or converted to digital format for display on a computer screen 
																				or handheld device; may contain multimedia including audio enhanced.  
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Learning Games</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Game-based subject learning including but not limited to physical education.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Service</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Educational services and staffing including special needs teachers, other therapy, 
																				trainers, etc.  Does not include facilities management, food service, or things not 
																				related to teaching and learning.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">School Management Software</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Major systems including Learning Management Systems, Student Information Systems 
																				or Campus Management Systems related to student and teacher achievement or resources.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Technical Skills Software</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Includes vocational softwares and the student or professional development to learn them.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Software Tools (Collaboration, Creation, etc.)</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Includes collaboration, presentation, instructional creation tools.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Video</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Any video created to be educational.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Other</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Other type that does not fit will into the listed types.
																			</span>
																		</div>
																		
																	</div>													   					
												   				</div>
										   					</div>
														</div>				   				
													</div>
												</div>
											</div>

										</div>
									</div>													
									
									
									
									
									
									
									
									
									
									
									<div class="row-divider-space-8"></div>
									<div class="row-divider-space-8"></div>

						   			<div class="row">
										<div class="cell-325">
											<div class="box-detail">
												<div class="table box-detail-table-1">
													<div class="row box-detail-row">
														<div class="cell-325">
															<div class="cell-265">
																<div class="box-detail-title">
																	Subject											
																</div>
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_info_category_subject" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <!-- <div class="tooltiptitle"></div> -->
												                    <div class="tooltiptext">What is this?</div>
												                </div>																								
															</div>																		
															<div class="cell-20 min-h-20 min-w-20">
																<div id="required_category_subject" class="required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Required</div>
												                </div>																								
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_edit_category_subject" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Edit</div>
												                </div>																								
															</div>
														</div>
													</div>
													
													<div class="row">
														<div class="cell-325">
															<div id="edit_category_subject" class="hidden">
																<div style="padding: 4px;">
													          		<select id="publisher_product_category_subject" name="publisher_product[category_subject]" data-placeholder="-Select-" class="chosen-select" multiple style="width:314px;" tabindex="">
																		<% @category_subjects.each do|category_subject| %>
																			<option value="<%= category_subject.id %>"><%= category_subject.col_1 %></option>
																		<% end %>
													          		</select>
												          		</div>
																<div id="other_category_subject" class="hidden" style="padding: 4px;">
																	<input style="width: 314px;" class="input-product height-24" id="publisher_product_category_subject_other" name="publisher_product[category_subject_other]" tabindex="10" type="text" value="<%= @publisher_product_category_subject.category_subject_other %>" placeholder="Other" />
																</div>
																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_category_subject" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_category_subject" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>												
															</div>
															<div id="show_category_subject">
																<div id="box_category_subject"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row-divider-space-8"></div>


						   			<div class="row">
										<div class="cell-325">
										   	<div id="form_info_category_subject" class="form-info-outer form-info-outer-category-subject">
										   		<div style="height: 10px;"></div>
										   		<div class="form-info-inner form-info-inner-category-subject">
										   			<div id="form_info_category_subject_a">
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
												   					<div id="close_info_category_subject" class="form-edit-close pop-info tip-left-center">
												   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
												   					</div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Close</div>
													                </div>																								
												   					<div style="clear: both;"></div>
												   				</div>
										   					</div>
														</div>				   				
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
																	<span class="info-text-2">
												   						General educational subject category
																	</span>													   					
												   				</div>
										   					</div>
														</div>				   				
													</div>
												</div>
											</div>
										</div>
									</div>													

									<div class="row-divider-space-8"></div>






						   			<div class="row">
										<div class="cell-325">
											<div class="box-detail">
												<div class="table box-detail-table-1">
													<div class="row box-detail-row">
														<div class="cell-325">
															<div class="cell-265">
																<div class="box-detail-title">
																	Topic											
																</div>
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_info_topic" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <!-- <div class="tooltiptitle"></div> -->
												                    <div class="tooltiptext">What is this?</div>
												                </div>																								
															</div>																		
															<div class="cell-20 min-h-20 min-w-20">
																<div id="required_topic" class="required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Required</div>
												                </div>																								
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_edit_topic" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Edit</div>
												                </div>																								
															</div>
														</div>
													</div>
													
													
													
													
													
													
													
													
													
													
															<!-- 
															<div class="edit-story-1 hidden">
																<div id="textarea_description_containter_edit" class="textarea-description-container-edit toggle-description" tabindex="">
																	<div id="render_publisher_product_description_image_edit" class="render-description-image"></div>
																	<div id="textarea_description_edit" class="textarea-description textarea-description-edit toggle-description" contenteditable="true" tabindex=""></div>
																</div>		
															</div>
															<div class="show-story-1">
																<div class="textarea-description-container">
																	<div id="render_publisher_product_description_image" class="render-description-image"></div>
																	<div id="textarea_description" class="textarea-description textarea-description-show" tabindex=""></div>												
																</div>
															</div> 
															-->
													
													
													
													<div class="row box-detail-row">
														<div class="cell-325 box-detail-padding">
															<div id="edit_topic" class="hidden">

																<div id="textarea_topic_containter_edit" class="textarea-topic-container-edit toggle-topic" tabindex="">
																	<div id="textarea_topic_edit" class="textarea-topic textarea-topic-edit toggle-topic" contenteditable="true" tabindex=""></div>
																</div>		

																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_topic" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_topic" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>					
															</div>
															<div id="show_topic">
																<div class="textarea-topic-container">
																	<div id="textarea_topic" class="textarea-topic textarea-topic-show" tabindex=""></div>												
																</div>
																<!-- <div id="box_topic">
																	<div id="render_topic_insert">
																		<#%= render 'publisher_product_manifests/topic'%#>
																	</div>
																</div> -->
															</div>
														</div>
													</div>
													
													
													
													<% if false %>
													<div class="row box-detail-row">
														<div class="cell-325 box-detail-padding">
															<div id="edit_topic" class="hidden">

																<%= form_tag url_for(:action => :update_topic, :id => ''), :remote => true do %>
																	<%= text_area_tag :topic, @publisher_product_manifest.topic, :class => 'textarea-product-description width-314 height-60', :placeholder => 'Topic' %>
																	<!-- :onkeyup => 'countChar(this)' -->
																	<!-- <div id="char_num" class="char_num"></div> -->	
																	<%= hidden_field_tag :publisher_product_manifest_id, @publisher_product_manifest_id %>
																	<%= hidden_field_tag :publisher_product_id, @publisher_product_id %>
																	<%= hidden_field_tag :publisher_id, @publisher_id %>
																	<!-- <#% if @b_topic %#>
																	<textarea class="textarea-product-description width-314 height-60" id="publisher_product_manifest_topic" name="publisher_product_manifest[topic]" tabindex="13" type="text" value="" placeholder="" onkeyup="countChar_1(this)" ><#%= @publisher_product_manifest.topic %#></textarea>
																	<#% else %#>
																	<textarea class="textarea-product-description width-314 height-60" id="publisher_product_manifest_topic" name="publisher_product_manifest[topic]" tabindex="13" type= value="text" placeholder="Topic" onkeyup="countChar(this)" ></textarea>
																	<#% end %#> -->
																	<%= submit_tag 'Save', :id => 'submit_topic_hidden', :class => 'hidden' %>
																<% end %>

																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_topic" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_topic" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>					
															</div>
															<div id="show_topic">
																<div id="box_topic">
																	<div id="render_topic_insert">
																		<%= render 'publisher_product_manifests/topic'%>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<% end %>
													
													
													
													
													
												</div>
											</div>

										</div>
									</div>











									<div class="row-divider-space-8"></div>

						   			<div class="row">
										<div class="cell-325">
										   	<div id="form_info_topic" class="form-info-outer form-info-outer-topic">
										   		<div style="height: 10px;"></div>
										   		<div class="form-info-inner form-info-inner-topic">
										   			<div id="form_info_topic_a">
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
												   					<div id="close_info_topic" class="form-edit-close pop-info tip-left-center">
												   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
												   					</div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Close</div>
													                </div>																								
												   					<div style="clear: both;"></div>
												   				</div>
										   					</div>
														</div>				   				
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
																	<span class="info-text-2">
																		Topic area as a sub-section of a subject such as Math (Subject) "Fractions" (Topic),  
																		Social Studies (Subject) "Civil War" (Topic),  
																		History (Subject) "Ancient Greece" (Topic), 
																		or Management (Subject) "Personal Finance" (Topic). 
																	</span>													   					
												   				</div>
										   					</div>
														</div>				   				
													</div>
												</div>
											</div>
										</div>
									</div>													
								</div>
							</div>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<div class="cell-20"></div>
							
							<div class="cell-330">
						   		<div class="table">

						   			<div class="row">
										<div class="cell-325">
								
											<div class="box-detail">
												<div class="table box-detail-table-1">
													<div class="row box-detail-row">
														<div class="cell-325">
															<!-- <div class="table">
																<div class="row"> -->
																	<div class="cell-265">
																		<div class="box-detail-title">
																			Age Range											
																		</div>
																		<!-- <div id="required_appropriate_age" class="required-abs-1 left-100"></div> -->
																	</div>
																	<div class="cell-20 min-h-20 min-w-20">
																		<div id="open_info_age_range" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
														                <div class="tip-content">
														                    <!-- <div class="tooltiptitle"></div> -->
														                    <div class="tooltiptext">What is this?</div>
														                </div>																								
																	</div>																		
																	<div class="cell-20 min-h-20 min-w-20">
																		<div id="required_age_range" class="required-1 pop-info tip-top-center"></div>
														                <div class="tip-content">
														                    <!-- <div class="tooltiptitle"></div> -->
														                    <div class="tooltiptext">Required</div>
														                </div>																								
																	</div>
																	<div class="cell-20 min-h-20 min-w-20">
																		<div id="open_edit_age_range" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
														                <div class="tip-content">
														                    <!-- <div class="tooltiptitle"></div> -->
														                    <div class="tooltiptext">Edit</div>
														                </div>																								
																	</div>
																<!-- </div>			
															</div> -->
														</div>
													</div>
													
													<div class="row">
														<div class="cell-325">
															<div id="edit_age_range" class="hidden">

																<% if false %>
																<div style="padding: 4px;">
													          		<select id="publisher_product_appropriate_age" name="publisher_product[appropriate_age]" data-placeholder="-Select-" class="chosen-select" multiple style="width:314px;" tabindex="">
																			<!-- <option value="0">-Select-</option> -->
																		<% @appropriate_ages.each do|age_appropriate| %>
																			<option value="<%= age_appropriate.id %>"><%= age_appropriate.col_1 %></option>
																		<% end %>
													          		</select>
																</div>
																<% end %>
																
																<div style="padding: 4px;">
																	<span>From:</span>
													          		<select id="publisher_product_from_age" name="publisher_product[from_age]" data-placeholder="-Select-" class="chosen-select" style="width:314px;" tabindex="">
																		<option value="0">-Select-</option>
																		<% @from_ages.each do|from_age| %>
																			<option value="<%= from_age.id %>"><%= from_age.col_1 %></option>
																		<% end %>
													          		</select>
																</div>

																<div style="padding: 4px;">
																	<span>To:</span>
													          		<select id="publisher_product_to_age" name="publisher_product[to_age]" data-placeholder="-Select-" class="chosen-select" style="width:314px;" tabindex="">
																		<option value="0">-Select-</option>
																		<% @to_ages.each do|to_age| %>
																			<option value="<%= to_age.id %>"><%= to_age.col_1 %></option>
																		<% end %>
													          		</select>
																</div>
																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_age_range" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_age_range" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>					
															</div>
															<!-- <div id="show_appropriate_age">
																<div id="box_appropriate_age"></div>
															</div> -->
															<div id="show_age_range" style="padding: 0 0 0 0px;">
																<!-- <div id="box_from_age"></div><div id="box_to_age"></div> -->
																<div id="box_age_range"></div>
															</div>																
														</div>
													</div>
													
												</div>
											</div> <!-- box -->

								
										</div>
									</div>

									<div class="row-divider-space-8"></div>


						   			<div class="row">
										<div class="cell-325">

										   	<div id="form_info_age_range" class="form-info-outer form-info-outer-appropriate-age">
										   		<div style="height: 10px;"></div>
										   		<div class="form-info-inner form-info-inner-appropriate-age">
										   			<div id="form_info_age_range_a">
										   				
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
												   					<div id="close_info_age_range" class="form-edit-close pop-info tip-left-center">
												   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
												   					</div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Close</div>
													                </div>																								
												   					<div style="clear: both;"></div>
												   				</div>
										   					</div>
														</div>				   				

												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
																	<span class="info-text-2">
																		Select an age range for which the content is appropriate.
																	</span>													   					
												   				</div>
										   					</div>
														</div>				   				
													</div>
												</div>
											</div>

										</div>
									</div>													













									<div class="row-divider-space-8"></div>

						   			<div class="row">
										<div class="cell-325">
								
											<div class="box-detail">
												<div class="table box-detail-table-1">
													<div class="row box-detail-row">
														<div class="cell-325">
															<!-- <div class="table">
																<div class="row"> -->
																	<div class="cell-265">
																		<div class="box-detail-title">
																			Grade Range										
																		</div>
																		<!-- <div id="required_appropriate_grade" class="required-abs-1 left-100"></div> -->
																	</div>
																	<div class="cell-20 min-h-20 min-w-20">
																		<div id="open_info_grade_range" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
														                <div class="tip-content">
														                    <!-- <div class="tooltiptitle"></div> -->
														                    <div class="tooltiptext">What is this?</div>
														                </div>																								
																	</div>																		
																	<div class="cell-20 min-h-20 min-w-20">
																		<div id="required_grade_range" class="required-1 pop-info tip-top-center"></div>
														                <div class="tip-content">
														                    <!-- <div class="tooltiptitle"></div> -->
														                    <div class="tooltiptext">Required</div>
														                </div>																								
																	</div>
																	<div class="cell-20 min-h-20 min-w-20">
																		<div id="open_edit_grade_range" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
														                <div class="tip-content">
														                    <!-- <div class="tooltiptitle"></div> -->
														                    <div class="tooltiptext">Edit</div>
														                </div>																								
																	</div>
																<!-- </div>			
															</div> -->
														</div>
													</div>
													
													<div class="row">
														<div class="cell-325">
															<div id="edit_grade_range" class="hidden">

																<% if false %>
																<div style="padding: 4px;">
													          		<select id="publisher_product_appropriate_grade" name="publisher_product[appropriate_grade]" data-placeholder="-Select-" class="chosen-select" multiple style="width:314px;" tabindex="">
																			<!-- <option value="0">-Select-</option> -->
																		<% @appropriate_grades.each do|grade_appropriate| %>
																			<option value="<%= grade_appropriate.id %>"><%= grade_appropriate.col_1 %></option>
																		<% end %>
													          		</select>
																</div>
																<% end %>
																																	
																<div style="padding: 4px;">
													          		<select id="publisher_product_from_grade" name="publisher_product[from_grade]" data-placeholder="-Select-" class="chosen-select" style="width:314px;" tabindex="">
																		<option value="0">-Select-</option>
																		<% @from_grades_ordered.each do|from_grade| %>
																			<option value="<%= from_grade.id %>"><%= from_grade.col_1 %></option>
																		<% end %>
													          		</select>
																</div>

																<div style="padding: 4px;">
													          		<select id="publisher_product_to_grade" name="publisher_product[to_grade]" data-placeholder="-Select-" class="chosen-select" style="width:314px;" tabindex="">
																		<option value="0">-Select-</option>
																		<% @to_grades_ordered.each do|to_grade| %>
																			<option value="<%= to_grade.id %>"><%= to_grade.col_1 %></option>
																		<% end %>
													          		</select>
																</div>
																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_grade_range" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_grade_range" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>					
															</div>
															<!-- <div id="show_appropriate_grade">
																<div id="box_appropriate_grade"></div>
															</div> -->
															<div id="show_grade_range">
																<!-- <div id="box_from_grade"></div><div id="box_to_grade"></div> -->
																<div id="box_grade_range"></div>
															</div>
														</div>
													</div>
													
												</div>
											</div> <!-- box -->

								
										</div>
									</div>

									<div class="row-divider-space-8"></div>


						   			<div class="row">
										<div class="cell-325">

										   	<div id="form_info_grade_range" class="form-info-outer form-info-outer-appropriate-grade">
										   		<div style="height: 10px;"></div>
										   		<div class="form-info-inner form-info-inner-appropriate-grade">
										   			<div id="form_info_grade_range_a">
										   				
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
												   					<div id="close_info_grade_range" class="form-edit-close pop-info tip-left-center float-right">
												   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
												   					</div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Close</div>
													                </div>																								
												   					<div style="clear: both;"></div>
												   				</div>
										   					</div>
														</div>				   				

												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
																	<span class="info-text-2">
																		Select a grade range for which the content is appropriate.
																	</span>													   					
												   				</div>
										   					</div>
														</div>				   				
													</div>
												</div>
											</div>

										</div>
									</div>													














									<div class="row-divider-space-8"></div>
									
						   			<div class="row">
										<div class="cell-325">
								
											<div class="box-detail">
												<div class="table box-detail-table-1">
													<div class="row box-detail-row">
														<div class="cell-325">
															<!-- <div class="table">
																<div class="row"> -->
																	<div class="cell-265">
																		<div class="box-detail-title">
																			Market Target									
																		</div>
																		<!-- <div id="required_market_target" class="required-abs-1 left-100"></div> -->
																	</div>
																	<div class="cell-20 min-h-20 min-w-20">
																		<div id="open_info_market_target" class="question-icon info-show-20 required-1 pop-info tip-top-center"></div>
														                <div class="tip-content">
														                    <!-- <div class="tooltiptitle"></div> -->
														                    <div class="tooltiptext">What is this?</div>
														                </div>																								
																	</div>																		
																	<div class="cell-20 min-h-20 min-w-20">
																		<div id="required_market_target" class="required-1 pop-info tip-top-center"></div>
														                <div class="tip-content">
														                    <!-- <div class="tooltiptitle"></div> -->
														                    <div class="tooltiptext">Required</div>
														                </div>																								
																	</div>
																	<div class="cell-20 min-h-20 min-w-20">
																		<div id="open_edit_market_target" class="edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex=""></div>
														                <div class="tip-content">
														                    <!-- <div class="tooltiptitle"></div> -->
														                    <div class="tooltiptext">Edit</div>
														                </div>																								
																	</div>
																<!-- </div>			
															</div> -->
														</div>
													</div>
													
													<div class="row">
														<div class="cell-325">
															<div id="edit_market_target" class="hidden">

																<div style="padding: 4px;">
													          		<select id="publisher_product_market_target" name="publisher_product[market_target]" data-placeholder="-Select-" class="chosen-select" multiple style="width:380px;" tabindex="">
													            		<!-- <option value="0">-Select-</option> -->
																		<option value="1">Consumer</option>
																		<option value="2">Institutions</option>
													          		</select>
																</div>
																
															  	<!-- <script type="text/javascript">
															    	var config = {
															      	'.chosen-select'           : {},
															      	'.chosen-select-deselect'  : {allow_single_deselect:true},
															      	'.chosen-select-no-single' : {disable_search_threshold:10},
															      	'.chosen-select-no-results': {no_results_text:'-nothing found-'},
															      	'.chosen-select-width'     : {width:"95%"}
															    	}
															    	for (var selector in config) {
															      		$(selector).chosen(config[selector]);
															    	}
															  	</script> -->

																<div style="padding: 4px;">
																	<div style="display: inline-block;">
																		<div id="submit_market_target" class="btn-submit-product" tabindex="">Save</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_market_target" class="btn-submit-product" tabindex="">Cancel</div>
																	</div>	
																</div>																													
															</div>
															<div id="show_market_target">
																<div id="box_market_target"></div>
															</div>
														</div>
													</div>
													
												</div>
											</div> <!-- box -->

								
										</div>
									</div>

									<div class="row-divider-space-8"></div>


						   			<div class="row">
										<div class="cell-325">

										   	<div id="form_info_market_target" class="form-info-outer form-info-outer-market-target">
										   		<div style="height: 10px;"></div>
										   		<div class="form-info-inner form-info-inner-market-target">
										   			<div id="form_info_market_target_a">
										   				
												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
												   					<div id="close_info_market_target" class="form-edit-close pop-info tip-left-center">
												   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
												   					</div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Close</div>
													                </div>																																					   					
												   					<div style="clear: both;"></div>
												   				</div>
										   					</div>
														</div>				   				

												   		<div class="table">
												   			<div class="row">
												   				<div class="cell-100percent form-edit-background">
																	<div>
																		<div><span class="info-text-1">Market</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Target buyers of this educational content or curriculum.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>																			
																		<div><span class="info-text-1">Consumer</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Students, parents or individual teachers.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		<div><span class="info-text-1">Institutions</span></div>
																		<div style="padding: 0 0 0 6px;">
																			<span class="info-text-2">
																				Schools, districts or States.
																			</span>
																		</div>
																		<div class="info-text-spacer"></div>
																		
																	</div>
												   				</div>
										   					</div>
														</div>				   				
													</div>
												</div>
											</div>

										</div>
									</div>													

									<!-- <div class="row-divider-space-8"></div> -->
						   			
								</div>									
							</div>
							<div class="cell-20"></div>
						</div>
					</div>
