
<% if false %>
	<style>
		
		div.drop-5-container-target  {
			position: relative;
		}
		div.drop-5-container-target .dropOut .triangle {
			width: 0;
			height: 0;
			position: absolute;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid white;
			top: -8px;
			left: 0px;
		}
		div.drop-5-container-target .drop-5-container {
			width: 140px;
			position: absolute;
			z-index: 2;
			left: 2px;
			top: -2000px;
		}
		div.drop-5-container-target .dropOut {
			width: 140px;
			background: #fff;
			float: left;
			position: relative;
			margin-top: 0px;
			/*opacity: 0;*/
			opacity: 1;
			-webkit-border-top-left-radius: 0px;
			-webkit-border-top-right-radius: 4px;
			-webkit-border-bottom-right-radius: 4px;
			-webkit-border-bottom-left-radius: 4px; 			
			-moz-border-top-left-radius: 0px;
			-moz-border-top-right-radius: 4px;
			-moz-border-bottom-right-radius: 4px;
			-moz-border-bottom-left-radius: 4px; 			
			border-top-left-radius: 0px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px; 			
			-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.45);
			-moz-box-shadow: 0 1px 6px rgba(0,0,0,.45);
			box-shadow: 0 1px 6px rgba(0,0,0,.45);
			/*display: none !important;
			visibility: hidden !important;*/
			/*display: none;*/
			/*visibility: hidden;*/					
		}
		div.drop-5-container-target .dropOut ul {
			float: left;
			padding: 10px 0;
		}
		div.drop-5-container-target .dropOut ul li {
			text-align: left;
			float: left;
			width: 120px;
			height: 24px;
			padding: 4px 0 6px 10px;
			margin: 3px 10px 3px 10px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		div.drop-5-container-target .dropOut ul li:hover {
			background: #f2f2f2;
		}
		div.drop-5-container-target .dropOut ul li div {
			color: #376340;	
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 700;
			width: 100%;
			height: 24px;
		}
		div.drop-5-container-target .dropOut ul li:hover div {
			color: #376340;	
			cursor: pointer;
		}
		/*div.drop-5-container-target .drop-5-target:hover + .drop-5-container .dropOut { margin-top: 8px; }
		div.drop-5-container-target .drop-5-target + .drop-5-container:hover .dropOut { margin-top: 8px; }*/		

		div.drop-5-container-target .drop-5-target:hover + .drop-5-container .dropOut { margin-top: 8px; }
		div.drop-5-container-target .drop-5-target + .drop-5-container:hover .dropOut { margin-top: 8px; }		
		
	</style>
<% end %>

	<style>
	
		li {list-style-type: none;}
	
	</style>

	<style>

		.container-figure-image-border-load {
			border: 2px solid #fff;
		}	
		.container-figure-image-border {
			border: 2px solid #ccc;
		}
		.container-figure-image-border-edit {
			border: 2px solid #fbb040;
		}	
		
	</style>


	<style>
		
		.figure-pdf-image-generic:hover {
			cursor: pointer;
		}
		
	</style>

	<style>

		span.label-pdf-delete {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #888;
		}
		span.label-pdf-delete:hover {
			text-decoration: underline;
			cursor: pointer;			
		}
		
	</style>

	<style>
	
		.form-info-outer-pdf {
			height: 110px;
		}
		.form-info-inner-pdf {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		.list-divide-line-pdf {
			width: 100%; 
			padding: 0 0 0 10px;
		}
		.list-divide-line-pdf div {
			width: 680px; 
			height: 2px; 
			border-bottom: 2px solid #ddd; /*#49853f*/ 
			margin: 6px 0 6px 0;
		}
		
	</style>										



<style>
	
.drop-namespace501 .drop-hidden {
  	display: none !important;
    visibility: hidden !important;  
}
.drop-namespace501 .drop-clear-both {
  	clear: both;
}
.drop-namespace501 .drop-501 {
	width: 200px;
}
.drop-namespace501 .drop-501 .drop-501-triangle {
  	width: 0px;
  	height: 0px;
  	border-left: 8px solid transparent;
  	border-right: 8px solid transparent;
  	border-bottom: 8px solid #fff;
  	position: relative;
  	left: 3px;
  	float: left;
}
.drop-namespace501 .drop-501 .drop-501-box {
  	width: 200px;
  	float: left;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-namespace501 .drop-501 .drop-501-container-links {
}
.drop-namespace501 .drop-501 .margin-top-hide-1 {
	margin-top: -16px;
}
.drop-namespace501 .drop-501 .margin-top-show-1 {
	margin-top: -6px;
}
.drop-namespace501 .drop-501 .drop-501-link-1 {
	width: 100%;
}
.drop-namespace501 .drop-501 .drop-501-link-1:hover .span-1 {
}   
.drop-namespace501 .drop-501 .drop-501-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-namespace501 .drop-501 a.drop-501-link-a-1 {
	text-decoration: none;
}
.drop-namespace501 .drop-501 a.drop-501-link-a-1:hover {
	text-decoration: none;
}
.drop-namespace501 .drop-501 .drop-501-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-namespace501 .drop-501 .drop-501-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-namespace501 .drop-501 .drop-501-divider-1 {
  	height: 2px;
}
.drop-namespace501 .drop-501 .drop-501-divider-2 {
  	height: 10px;
}
.drop-namespace501 .drop-501 .background-transparent {
  	background-color: transparent;
}
 .drop-namespace501 .background-white {
  	background-color: #fff;
}
.drop-namespace501 .drop-501 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-namespace501 .drop-501 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-namespace501 .drop-501 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-namespace501 .drop-501 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-namespace501 .drop-501 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-namespace501 .drop-501 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-namespace501 .drop-501 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-namespace501 .drop-501 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-namespace501 .drop-501 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-namespace501 .drop-501-target-icon {
	display: inline-block;
}	
.drop-namespace501 .drop-501-target-text {
	display: inline-block;
}	
.drop-namespace501 .drop-501 a:focus {
	outline: none;	
}
.drop-namespace501 .drop-501 a:active {
	outline: none;
}
.drop-namespace501 .drop-501 a:visited {
	outline: none;
}
.drop-namespace501 .drop-501-table {
	display: table;
}
.drop-namespace501 .drop-501-table-row {
	display: table-row;
}
.drop-namespace501 .drop-501-table-cell-1 {
	display: table-cell;
	width: 174px;
}
.drop-namespace501 .drop-501-table-cell-2 {
	display: table-cell;
	width: 12px;
}	
.drop-namespace501 .drop-501-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
}
.drop-namespace501 .drop-501-1:hover {
  	background: #f6f6f6;
}
.drop-namespace501 .drop-501-1-target {
	position: relative;
}
.drop-namespace501 .drop-501-1 .drop-501-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
  	position: relative;
  	float: left;
  	left: -8px;
  	top: 33px;
}
.drop-namespace501 .drop-501-1 .drop-501-1-container {
  	position: relative;
}
.drop-namespace501 .drop-501-1 .drop-501-1-box {
  	width: 200px;
  	position: absolute;
  	margin-top: 0px;
  	-webkit-transition: all .1s ease-out;
  	-moz-transition: all .1s ease-out;
  	-ms-transition: all .1s ease-out;
  	-o-transition: all .1s ease-out;
  	transition: all .1s ease-out;
  	z-index: 1;
}
.drop-namespace501 .drop-501-1 .drop-501-1-container-links {
}
.drop-namespace501 .drop-501-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
}
.drop-namespace501 .drop-501-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
}
.drop-namespace501 .drop-501-1 .drop-501-1-link-1 {
  	width: 100%;
}
.drop-namespace501 .drop-501-1 .drop-501-1-link-1:hover {
  	background: #f6f6f6;
}
.drop-namespace501 .drop-501-1 .drop-501-1-link-1:hover .span-1 {
}   
.drop-namespace501 .drop-501-1 .drop-501-1-span-1 {
  	color: #376340; 
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 16px;
  	font-weight: 700;
}
.drop-namespace501 .drop-501-1 a.drop-501-1-link-a-1 {
	text-decoration: none;
}
.drop-namespace501 .drop-501-1 a.drop-501-1-link-a-1:hover {
	text-decoration: none;
}
.drop-namespace501 .drop-501-1 .drop-501-1-border {
  	-webkit-border-top-left-radius: 4px;
  	-moz-border-top-left-radius: 4px;
  	border-top-left-radius: 4px;      

  	-webkit-border-top-right-radius: 4px;
  	-moz-border-top-right-radius: 4px;
  	border-top-right-radius: 4px;     

  	-webkit-border-bottom-right-radius: 4px;
  	-moz-border-bottom-right-radius: 4px;
  	border-bottom-right-radius: 4px;      

  	-webkit-border-bottom-left-radius: 4px;
  	-moz-border-bottom-left-radius: 4px;
  	border-bottom-left-radius: 4px;     
}
.drop-namespace501 .drop-501-1 .drop-501-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
}
.drop-namespace501 .drop-501-1 .drop-501-1-divider-1 {
  	height: 2px;
}
.drop-namespace501 .drop-501-1 .drop-501-1-divider-2 {
  	height: 10px;
}
.drop-namespace501 .drop-501-1 .background-transparent {
  	background-color: transparent;
}
.drop-namespace501 .drop-501-1 .background-white {
  	background-color: #fff;
}
.drop-namespace501 .drop-501-1 .nav-caret-container {
  	width: 14px;
  	height: 30px;
  	padding: 0 0 0 2px;     
}
.drop-namespace501 .drop-501-1 .nav-caret {
  	width: 0px;
  	height: 0px;
  	position: relative;
  	border-left: 4px solid transparent;
  	border-right: 4px solid transparent;
  	margin: 16px 0 0 0px;
}
.drop-namespace501 .drop-501-1 .nav-caret-down {
  	border-top: 5px solid #999;
  	border-bottom: 0;     
}
.drop-namespace501 .drop-501-1 .nav-caret-up {
  	border-bottom: 5px solid #999;
  	border-top: 0;
}
.drop-namespace501 .drop-501-1 .nav-drop-1:hover {
  	cursor: pointer;
}
.drop-namespace501 .drop-501-1 .nav-drop-1:hover .nav-avatar img {
  	border: 2px solid #A9D996;
}
.drop-namespace501 .drop-501-1 .nav-drop-1:hover .nav-caret-down {
  	border-top: 5px solid #A9D996;
}
.drop-namespace501 .drop-501-1 .nav-drop-1:hover .nav-caret-up {
  	border-bottom: 5px solid #A9D996;
}
.drop-namespace501 .drop-501-1 .cursor-pointer:hover {
	cursor: pointer;
}
.drop-namespace501 .drop-501-1-target-icon {
	display: inline-block;
}	
.drop-namespace501 .drop-501-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
}	
	
</style>

<style>

.container-figure-image-border-load {
	border: 2px solid #fff;
}	
.container-figure-image-border {
	border: 2px solid #ccc;
}
.container-figure-image-border-edit {
	border: 2px solid #fbb040;
}	
	
</style>



							<!-- <div style="height: 20px;"></div> -->


	
							<% if @publisher_product_pdfs.any? %>								
								<% i = 0 %>

								<% if (i == 0) %>						
									<div class="list-divide-line-pdf"><div></div></div>		
								<% end %>
								
								<% @publisher_product_pdfs.each do |publisher_product_pdf| %>
							   		<div class="table" style="height: 278px; table-layout: fixed;">
							   			<div class="row">
							   				<div class="cell-10" style="height: 10px;"></div>
							   				<div class="cell-230" id="list_num_<%= i %>">
							   					<div class="drop-namespace501" data-i="<%= i %>">
													<% img = publisher_product_pdf_image_for(publisher_product_pdf) %>
													<% if !img.nil? %>
														<!-- <div class="container-figure-image container-figure-image-border-load container-figure-image-5 drop-5-container-target"> -->
														<div class="container-figure-image container-figure-image-border-load container-figure-image-5 drop-501" style="position: relative;">
															<!-- <figure class="figure-image-5 dialog-53-figure cursor-pointer drop-5-target"> -->
															<figure data-id="<%= publisher_product_pdf.id %>" class="figure-image-5 cursor-pointer">
																<a href="<%= publisher_product_pdf.name_file %>">
																	<img alt="" class="img-image-5" src="<%= img + '?' + (rand(10..90) * rand(100..900)).to_s %>" width="" height="" />
																</a>
																<!-- <figcaption id="figcaption_image_2" class="edit-image hidden">												
																</figcaption> -->
																<figcaption class="figcaption-image-5 edit-image drop-501-target hidden" data-i="<%= i %>">
																	<!-- <div class="tip-top-center"><#%= button_to "", destroy_pdf_image_publisher_product_manifests_path(:publisher_product_pdf_id => publisher_product_pdf.id), data: { confirm: 'Delete this PDF image?' }, :remote => true, class: 'x-container' %#></div> -->
																	<!-- <div name="<%= publisher_product_pdf.id %>" class="tip-top-center x-container x-pdf-image-delete-change"></div>
													                <div class="tip-content">
													                    <div class="tooltiptext">Delete</div>
													                </div> -->	
													            	<div class="img-1-text">Edit photo</div>																							
																</figcaption>
															</figure>															
													    	<div class="drop-501-container drop-hidden">
																<div class="drop-501-box background-transparent margin-top-hide-1">
																	<div class="drop-501-triangle"></div>
																	<div style="clear: both;"></div>
																	<div class="drop-501-container-links background-white drop-501-border drop-501-shadow">
																		<div class="drop-501-divider-2"></div>
																		<div class="drop-501-link-1 cursor-pointer" data-id="1" data-id-pdf="<%= publisher_product_pdf.id %>">
																			<div class="drop-501-1">
																		    	<div class="drop-501-1-target">
																		    		<div class="drop-501-1-target-text">
																		    			<span class="drop-501-1-span-1">New/Change</span>
																		    		</div>						    		
																		    	</div>
																	    	</div>
																		</div>
																		<div class="drop-501-divider-1"></div>
																		<div class="drop-501-link-1 cursor-pointer" data-id="3" data-id-pdf="<%= publisher_product_pdf.id %>">
																			<div class="drop-501-1">
																		    	<div class="drop-501-1-target">
																		    		<div class="drop-501-1-target-text">
																		    			<span class="drop-501-1-span-1">Delete</span>
																		    		</div>						    		
																		    	</div>
																	    	</div>
																		</div>
																		<div class="drop-501-divider-2"></div>
																	</div>
																</div>
													        </div>
														</div>
														<div class="float-clear"></div>
													<% else %>
														<!-- <div class="container-figure-image container-figure-image-border-load container-figure-image-5 drop-5-container-target"> -->
														<div class="container-figure-image container-figure-image-border-load container-figure-image-5 drop-501" style="position: relative;">
															<!-- <figure class="figure-image-5-generic dialog-51-figure-generic drop-5-target"> -->
															<!-- <figure class="figure-image-5-generic dialog-51-figure-generic"> -->
															<figure class="dialog-501-1-figure-generic figure-image-5-generic dialog-51-figure-generic" data-width="200" data-src-600="">
																<a href="<%= publisher_product_pdf.name_file %>">
																	<img class="img-image-5-generic" alt="" src="<%= image_path('avatars/avatar_gen_pdf_image_w200_h270.png') %>" width="" height="" />
																</a>
																<!-- <figcaption data-id="<%= publisher_product_pdf.id %>" class="figcaption-image-5-generic edit-image cursor-pointer hidden"> -->
																<figcaption data-id="<%= publisher_product_pdf.id %>" data-i="<%= i %>" class="edit-image cursor-pointer hidden drop-501-target">
																	<!-- <div class="img-2-container"> -->
																		<!-- <div class="img-2"></div> -->
																		<!-- <div class="img-5-text">Add a PDF image</div> -->
																	<!-- </div> -->
																	<div class="img-1-text">Add a PDF image</div>
																</figcaption>
															</figure>
													    	<div class="drop-501-container drop-hidden">
																<div class="drop-501-box background-transparent margin-top-hide-1">
																	<div class="drop-501-triangle"></div>
																	<div style="clear: both;"></div>
																	<div class="drop-501-container-links background-white drop-501-border drop-501-shadow">
																		<div class="drop-501-divider-2"></div>
																		<div class="drop-501-link-1 cursor-pointer" data-id-pdf="<%= publisher_product_pdf.id %>" data-id="4">
																			<div class="drop-501-1">
																		    	<div class="drop-501-1-target">
																		    		<div class="drop-501-1-target-text">
																		    			<span class="drop-501-1-span-1">New PDF image</span>
																		    		</div>						    		
																		    	</div>
																	    	</div>
																		</div>
																		<div class="drop-501-divider-2"></div>
																	</div>
																</div>
													        </div>
														</div>
													<% end %>
												</div>
							   				</div>
							   				<div class="cell-10"></div>
							   				<div class="cell-440">
												<!-- <div><a href="<#%= publisher_product_pdf.name_file.url %#>"><#%= publisher_product_pdf.name_pdf %#></a></div> -->
												<div class="listing-space"></div>
												<div class="table pad-marg-null">
													<div class="row">
														<div class="cell-370">															
															<div id="edit_name_pdf_<%= i %>" class="hidden">

																<div style="width: 332px;">
																	<input id="publisher_product_pdf_name_pdf_<%= i %>" name="<%= i %>" data-i="<%= i %>" style="width: 332px;" class="publisher-product-pdf-name-pdf input-product height-24" tabindex="5100" type="text" value="<%= publisher_product_pdf.name_pdf %>" placeholder="" />
																</div>
																<div class="width-200 box-detail-padding">
																	<div style="display: inline-block;">
																		<div id="submit_name_pdf_<%= i %>" name="<%= i %>" data-i="<%= i %>" class="submit-name-pdf btn-submit-product" tabindex="5130">
																			Save
																			<div data-id-pdf="<%= publisher_product_pdf.id %>" data-id-product="<%= publisher_product_pdf.publisher_product.id %>" class="hidden-pdf-id hidden"></div>
																		</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_name_pdf_<%= i %>" name="<%= i %>" data-i="<%= i %>" class="cancel-name-pdf btn-submit-product" tabindex="5140">Cancel</div>
																	</div>
																</div>
																
															</div>
															<div id="show_name_pdf_<%= i %>">
																<span id="span_name_pdf_<%= i %>" class="form-text-16"><%= publisher_product_pdf.name_pdf %></span>
															</div>
															<div style="height: 40px;"></div>
															<div class="edit-options hidden">
																
																<!-- <span name="<#%= i %#>" class="label-pdf-delete">&laquo; Delete PDF &raquo;</span> -->
																<span data-id-pdf="<%= publisher_product_pdf.id %>" data-i="<%= i %>" class="label-pdf-delete btn-pdf-delete tip-top-center">&laquo; Delete PDF &raquo;</span>
																<!-- <div class="tip-top-center"><#%= button_to "", destroy_pdf_publisher_product_manifests_path(:publisher_product_pdf_id => publisher_product_pdf.id), data: { confirm: 'Delete this PDF?' }, :remote => true, class: 'hidden', id: 'pdf_delete_' + i.to_s %#></div> -->

																<!-- <div class="tip-top-center"></div> -->
												                <div class="tip-content">
												                    <div class="tooltiptext">Delete</div>
												                </div>			
												                																					
															</div>
														</div>
														<div class="cell-60 edit-options hidden">
															<div class="cell-20 min-h-20 min-w-20">
																<!-- <div id="open_info_name_pdf_<#%= i %#>" name="<#%= i %#>" class="open-info-name-pdf question-icon info-show-20 required-1 pop-info tip-top-center" tabindex="5110"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">What is this?</div>
												                </div> -->																								
															</div>																		
															<div class="cell-20 min-h-20 min-w-20">
																<!-- <div id="required_name_pdf_<#%= i %#>" name="<#%= i %#>" class="required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Required</div>
												                </div> -->																								
															</div>
															<div class="cell-20 min-h-20 min-w-20 ks-tip-container">
																<div id="open_edit_name_pdf_<%= i %>" data-i="<%= i %>" class="open-edit-name-pdf edit-icon-right form-edit-open-20 ks-tip-target" tabindex="5120"></div>
												                <div class="ks-tip ks-tip-3">
															    	<div class="ks-tip-indicator-3"></div>
																	Edit
												                </div>																								
															</div>
														</div>
													</div>		
												</div>
												<div style="height: 10px;"></div>
							   				</div>
							   				<div class="cell-10"></div>
							   			</div>
									</div>								
									<% i += 1 %>

									<div class="list-divide-line-pdf"><div></div></div>
									
								<% end %>
					
							<% else %>
					
								<!-- <div>
									<span class="normal-red pad-left-20">No pdfs</span>
								</div> -->
		
							<% end %>



	<script>
		
		
		// function closeAddPdfImage() {
			// $("#close_form51").trigger('click');
		// };	  
		
		function set_pdf(a_name_pdf) {
			// var s_id = "";
			var s_name_pdf = "";
			var b_name_pdf = false;
			for( var i = 0; i < a_name_pdf.length; i++ ) {
				// s_id = "#span_name_pdf_" + i;
				s_name_pdf = a_name_pdf[i];
				if(s_name_pdf.length > 0) {
					b_name_pdf = true;
				}
				else {
					b_name_pdf = false;
					s_name_pdf = "PDF Name";
				}
				set_pdf_id(i, s_name_pdf, b_name_pdf);
				// $(s_id).html(s_name_pdf);
			}
		}

		
		function show_pdf(n) {
			var n_name = n

			// var list_num = "div#list_num_" + n_name.toString() + " ";
			// var l1 = list_num + ".edit-image";
			// var l2 = list_num + ".container-figure-image-5 figure";
			// var l3 = list_num + ".drop-5-container";
			// var l4 = list_num + ".container-figure-image-5";
			var s_name_pdf = "name_pdf_" + n_name.toString();

			show_control_pdf(s_name_pdf);
			
			// $(l1).removeAttr("style");				
			// $(l1).fadeIn(200).addClass("hidden");
			// $(l2).addClass("cursor-pointer");
			// $(l3).addClass("hidden");			
			// $(l4).removeClass("container-figure-image-border-edit").addClass("container-figure-image-border");					
		}

		
		function show_control_pdf(cntrl) {
			// alert(cntrl);
			var s_edit = "#edit_" + cntrl;
			var s_show_open = "#show_" + cntrl + ", #open_edit_" + cntrl;		
    		$(s_edit).fadeOut(300, function(){
    			$(s_edit).addClass("hidden");
    			$(s_show_open).fadeIn(1300).removeClass("hidden");
    			$(s_show_open).fadeIn(1300).removeClass("hidden").removeClass("visibility-hidden");
    		});
		}

		function set_pdf_id(n_name, name_pdf, b_name_pdf) {
			var s_id = "#span_name_pdf_" + n_name;
			if (b_name_pdf) {
				$(s_id).removeClass("color-no-record").addClass("color-record");
			}
			else {
				$(s_id).removeClass("color-record").addClass("color-no-record");				
			}
			$(s_id).html(name_pdf);
		}


		
		
		
		
		// var drop_visible_namespace501 = false;
		var drop_visible_namespace501_i = -1;
		function drop_show_namespace501(i) {
			if (drop_visible_namespace501_i > -1) {
				drop_hide_namespace501(drop_visible_namespace501_i);
			}
			var s_container = ".drop-namespace501[data-i=" + i.toString() + "] .drop-501-container";
			// $(".drop-namespace501 .drop-501-container[data-i=i]").removeClass('drop-hidden');
			$(s_container).removeClass('drop-hidden');
			var s_box = ".drop-namespace501[data-i=" + i.toString() + "] .drop-501-box";
			// $(".drop-namespace501 .drop-501-box").fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
			$(s_box).fadeIn(500).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
			// drop_visible_namespace501 = true;
			drop_visible_namespace501_i = i;			
		}	
		function drop_hide_namespace501(i) {
			var s_box = ".drop-namespace501[data-i=" + i.toString() + "] .drop-501-box";
			// $(".drop-namespace501 .drop-501-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);
			$(s_box).addClass("margin-top-hide-1").fadeOut(50);		
			// drop_visible_namespace501 = false;
			drop_visible_namespace501_i = -1;			
		}	
		function drop_hide_namespace501() {
			$(".drop-namespace501 .drop-501-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);
			$(".drop-namespace501 .drop-501-box").addClass("margin-top-hide-1").fadeOut(50);		
			// drop_visible_namespace501 = false;
			drop_visible_namespace501_i = -1;			
		}	
		function drop_toggle_namespace501(i) {
			if (drop_visible_namespace501_i == i) {
				drop_hide_namespace501(i);
			}
			else {
				// drop_close_all_called_namespace501 = false;
				drop_show_namespace501(i);
			}
		}	
		// function drop_toggle_namespace501() {
			// if (drop_visible_namespace501) {
				// drop_hide_namespace501();
			// }
			// else {
				// drop_close_all_called_namespace501 = false;
				// drop_show_namespace501();
			// }
		// }	
		
		function dropCloseAll_namespace501() {
			// drop_close_all_called_namespace501 = true;
			drop_hide_namespace501();
			// drop_visible_namespace501_i = -1;
		}
		
		
		// var drop_close_all_called_namespace501 = false;
		
		
		
		$(document).ready( function () {				
		
		
			$(document).on('click', function(e) {
				var target_namespace501 = $(e.target).parents('.drop-namespace501').attr("class");
				if (target_namespace501 == null) {
					// drop_hide_namespace501();
					dropCloseAll_namespace501();
				}
			});
		
			$(".drop-namespace501 .drop-501-target").on('click', function() {
				var i = $(this).data('i');
				drop_toggle_namespace501(i);
			});
			$(".drop-namespace501 .drop-501-link-1[data-id='1']").on("click", function() {
				dropCloseAll_namespace501();
				var id_pdf = $(this).data('id-pdf');
				$(document).trigger("btn_pdf_image_change_click", id_pdf);
			});
			// $(".drop-namespace501 .drop-501-link-1[data-id='2']").on("click", function() {
				// dropCloseAll_namespace501();
				// $(document).trigger("btn_image_1_crop_click");
			// });
			$(".drop-namespace501 .drop-501-link-1[data-id='3']").on("click", function() {
				dropCloseAll_namespace501();
				var id_pdf = $(this).data('id-pdf');
				$(document).trigger("btn_pdf_image_delete_click", id_pdf);
			});		
			$(".drop-namespace501 .drop-501-link-1[data-id='4']").on("click", function() {
				dropCloseAll_namespace501();
				var id_pdf = $(this).data('id-pdf');
				// alert($(this).data('id_pdf'));
				$(document).trigger("btn_pdf_image_new_click", id_pdf);
			});
		
		
			$("img").one("load", function() {
				if( ($(this).hasClass("img-image-5")) || ($(this).hasClass("img-image-5-generic")) ) {
					var img_w = this.width;
					var img_h = this.height;

					$("div.drop-5-container-target .drop-5-target").on('mouseenter', function() {
						var i = $(this).attr("data-drop-target");	
						var container = "div.drop-5-container-target div[data-drop-container='" + i.toString() + "']";	
						$(container).css({ 
							top : img_h - 14
						});
					});
					$("div.drop-5-container-target .drop-5-target").on('mouseleave', function() {
						var i = $(this).attr("data-drop-target");
						var container = "div.drop-5-container-target div[data-drop-container='" + i.toString() + "']";
						$(container).css({ 
							top : -2000
						});
					});
					$("div.drop-5-container-target .drop-5-container").on('mouseenter', function() {
						var i = $(this).attr("data-drop-container");
						var container = "div.drop-5-container-target div[data-drop-container='" + i.toString() + "']";
						$(container).css({ 
							top : img_h - 14
						});
					});
					$("div.drop-5-container-target .drop-5-container").on('mouseleave', function() {
						var i = $(this).attr("data-drop-container");
						var container = "div.drop-5-container-target div[data-drop-container='" + i.toString() + "']";
						$(container).css({ 
							top : -2000
						});
					});

					// $("div.drop-5-container-target .drop-5-target").on('mouseenter', function() {
						// $(".drop-5-container").css({ 
							// top : img_h - 14
						// });
					// });
					// $("div.drop-5-container-target .drop-5-target").on('mouseleave', function() {
						// $(".drop-5-container").css({ 
							// top : -2000
						// });
					// });
					// $("div.drop-5-container-target .drop-5-container").on('mouseenter', function() {
						// $(".drop-5-container").css({ 
							// top : img_h - 14
						// });
					// });
					// $("div.drop-5-container-target .drop-5-container").on('mouseleave', function() {
						// $(".drop-5-container").css({ 
							// top : -2000
						// });
					// });

					// $(".container-figure-image-5").css({
						// width : img_w + 4,
						// height : img_h + 4
					// }).addClass("container-figure-image-border-load").addClass("container-figure-image-border");													
				}
				// if( ($(this).hasClass("img-image-5")) || ($(this).hasClass("img-image-5-generic")) ) {
					
					// var img_w_border = img_w + 4;
					// var img_h_border = img_h + 4;
					var container = $(this).closest("div.container-figure-image-5");
					// container.attr("width") = img_w_border;
					// container.attr("height") = img_h_border;
					// container.addClass("container-figure-image-border-load").addClass("container-figure-image-border");
																		
					container.css({
						width : img_w + 4,
						height : img_h + 4
					}).addClass("container-figure-image-border-load").addClass("container-figure-image-border");													
				// }				
				// if(this.hasClass("img-image-5-generic")) {
					// var img_w = this.width;
					// var img_h = this.height;
					// $("div#container_image_5 .container-figure-image").css({
						// width : img_w + 4,
						// height : img_h + 4
					// }).addClass("container-figure-image-border-load").addClass("container-figure-image-border");				
				// }				
			}).each(function() {
			  	if(this.complete) $(this).load();
			});
		
		
		
		
		
		
			var img = $(".figure-pdf-image img");
			$("<img/>")
	    		.attr("src", $(img).attr("src"))
	    		.load(function() {
	        		var img_width = this.width; 
	        		$(".figure-pdf-image").css({
	        			width : this.width
	        	});	        		
	    	});		

			var img = $(".figure-pdf-image-generic img");
			$("<img/>")
	    		.attr("src", $(img).attr("src"))
	    		.load(function() {
	        		var img_width = this.width; 
	        		$(".figure-pdf-image-generic").css({
	        			width : this.width
	        	});	        		
	    	});		
		
			
			
			// $(".figure-pdf-image-generic").on('click', function() {
				// $(".dialog-51").trigger('click');
			// });			
			// $(".dialog-51").on('click', function() {
				// var s_id = $(this).attr("name");
				// // alert("insert s_id = " + s_id.toString());
				// // $("#publisher_product_pdf_image_publisher_product_pdf_id").val(s_id);
				// $("#publisher_product_pdf_id").val(s_id);
				// $("#dialog_51").jqmShow();
			// });
			// $('#dialog_51').jqm({
				// onShow: function(hash) {
					// hash.o.prependTo('body');
					// hash.w.css('top', '-740px');
					// hash.w.css('opacity', 1.0).fadeIn(200);
					// // hash.w.show();
					// $('#dialog_51').animate(
						// {bottom:'-=800', top:'+=800'}, 
						// 500, 
						// 'easeInOutCirc', 
						// function() {
							// $('#dialog_51').animate(
								// {bottom:'+=4', top:'-=4'}, 
								// 100, 
								// 'easeInBounce', 
								// function() {
								// }
							// );
							// // $('#dl_email').focus();
						// }
					// );
				// }
			// }); 		
			
			
			$(".drop-namespace501 .label-pdf-delete").on('click', function() {
				// var n_name = $(this).attr("name");
				var i = $(this).data('i');
				// var id_pdf = $(this).data(id-pdf);
				// alert(id_pdf);
				// var id = "#pdf_delete_" + n_name.toString();
				var id = "#pdf_delete_" + i.toString();
				$(id).trigger('click');
			});
			
			// gon_name_pdf = gon.name_pdf;
			// set_pdf(gon_name_pdf);
		
		    $(".submit-name-pdf").keypress(function(e){
		    	// var n_name = $(this).attr("name");
		    	var i = $(this).data('i');
		    	var s_id = "#submit_name_pdf_" + i.toString();
      			if(e.keyCode==13)
      			$(s_id).click();
    		});
    		$(".cancel-name-pdf").keypress(function(e){
		    	// var n_name = $(this).attr("name");
		    	var i = $(this).data('i');
		    	var s_id = "#cancel_name_pdf_" + i.toString();
      			if(e.keyCode==13)
      			$(s_id).click();
    		});
			$(".open-edit-name-pdf").click(function(){
				var i = $(this).data('i');

				// var list_num = "div#list_num_" + n_name.toString() + " ";
				// var l1 = list_num + ".edit-image";
				// var l2 = list_num + ".container-figure-image-5 figure";
				// var l3 = list_num + ".drop-5-container";
				// var l4 = list_num + ".container-figure-image-5";
				
		  		// var s_show_name_pdf = "#show_name_pdf_" + n_name.toString();
		  		// var s_open_edit_name_pdf = "#open_edit_name_pdf_" + n_name.toString();
		  		// var s_edit_name_pdf = "#edit_name_pdf_" + n_name.toString();
		  		// var s_dbl = s_show_name_pdf + "," + s_open_edit_name_pdf; 
				// var s_publisher_product_pdf_name_pdf = "#publisher_product_pdf_name_pdf_" + n_name.toString();

		  		var s_show_name_pdf = "#show_name_pdf_" + i.toString();
		  		var s_open_edit_name_pdf = "#open_edit_name_pdf_" + i.toString();
		  		var s_edit_name_pdf = "#edit_name_pdf_" + i.toString();
		  		var s_dbl = s_show_name_pdf + "," + s_open_edit_name_pdf; 
				var s_publisher_product_pdf_name_pdf = "#publisher_product_pdf_name_pdf_" + i.toString();

	    		$(s_dbl).fadeOut(300, function(){
	    			$(s_show_name_pdf).addClass("hidden");
	    			$(s_open_edit_name_pdf).addClass("visibility-hidden");
	    			$(s_edit_name_pdf).fadeIn(1300).removeClass("hidden");
	    			$(s_publisher_product_pdf_name_pdf).focus();
	    			
					// $(l1).fadeIn(200).removeClass("hidden");
					// $(l2).removeClass("cursor-pointer");
					// $(l3).removeClass("hidden");
					// $(l4).removeClass("container-figure-image-border").addClass("container-figure-image-border-edit");
	    			
					// $(".edit-image").fadeIn(200).removeClass("hidden");
					// $(".container-figure-image-5 figure").removeClass("cursor-pointer");
					// $(".drop-5-container").removeClass("hidden");
					// $(".container-figure-image-5").removeClass("container-figure-image-border").addClass("container-figure-image-border-edit");
	    		});
		  	});
			$(".cancel-name-pdf").on('click', function() {
				// var n_name = $(this).attr("name");
				var i = $(this).data('i');
				// var list_num = "div#list_num_" + n_name.toString() + " ";
				// var l1 = list_num + ".edit-image";
				// var l2 = list_num + ".container-figure-image-5 figure";
				// var l3 = list_num + ".drop-5-container";
				// var l4 = list_num + ".container-figure-image-5";

				// var s_name_pdf = "name_pdf_" + n_name.toString();
				var s_name_pdf = "name_pdf_" + i.toString();
				show_control_pdf(s_name_pdf);
				
				// $(".edit-image").removeAttr("style");				
				// $(".edit-image").fadeIn(200).addClass("hidden");
				// $(".container-figure-image-5 figure").addClass("cursor-pointer");
				// $(".drop-5-container").addClass("hidden");			
				// $(".container-figure-image-5").removeClass("container-figure-image-border-edit").addClass("container-figure-image-border");					

				// $(l1).removeAttr("style");				
				// $(l1).fadeIn(200).addClass("hidden");
				// $(l2).addClass("cursor-pointer");
				// $(l3).addClass("hidden");			
				// $(l4).removeClass("container-figure-image-border-edit").addClass("container-figure-image-border");					
			});
			// $(".close-info-name-pdf").click(function(){
				// var n_name = $(this).attr("name");
		  		// var s_id = "#form_info_name_pdf_" + n_name.toString();
				// var s_id_a = "#form_info_name_pdf_a_" + n_name.toString();
		    	// $(s_id_a).fadeOut(700, function(){ $(s_id).slideUp(400) });
		  	// });
		  	// $(".open-info-name-pdf").click(function(){
		  		// var n_name = $(this).attr("name");
		  		// var s_id = "#form_info_name_pdf_" + n_name.toString();
		  		// var s_id_a = "#form_info_name_pdf_a_" + n_name.toString(); 
		    	// $(s_id).slideDown(400, function(){ $(s_id_a).fadeIn( 2000 ) });
		  	// });	    					
			$(".submit-name-pdf").on('click', function() {
				// var n_name = $(this).attr("name");
				var i = $(this).data('i');
				var s_pdf_id = $(this).find(".hidden-pdf-id").attr("data-id-pdf");
				var s_product_id = $(this).find(".hidden-pdf-id").attr("data-id-product");
				// alert(s_pdf_id);
				var s_id = "#publisher_product_pdf_name_pdf_" + i.toString();
				var input_publisher_product_pdf_name_pdf = $(s_id).val();
				// var obj_list = '{"publisher_product_manifest_id":' + <#%= @publisher_product_manifest_id %#> + 
							   // ', "publisher_product_id":' + <#%= @publisher_product_id %#> + 
							   // ', "publisher_id":' + <#%= @publisher_id %#> + 
							   // ', "publisher_product_pdf_id":' + s_pdf_id + 
							   // ', "n_name":' + n_name + 
							   // ', "name_pdf":"' + input_publisher_product_pdf_name_pdf + 
							   // '"}';      
				var obj_list = '{ "publisher_product_pdf_id":' + s_pdf_id + 
							   ', "publisher_product_id":' + s_product_id +
							   ', "n_name":' + i + 
							   ', "name_pdf":"' + input_publisher_product_pdf_name_pdf + 
							   '"}';      
			  	var obj = '{ "publisher_product_manifest": [' +  obj_list + '] }';              
			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	url: '/publisher_product_manifests/update_name_pdf',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
	            		if (!data.b_error) {
		            		set_pdf_id(data.n_name, data.name_pdf, data.b_name_pdf);
							// var s_name_pdf = "name_pdf_" + data.n_name.toString();
							// set_control_span(s_name_pdf, s, b)
							// show_control_pdf(s_name_pdf);
							show_pdf(data.n_name);
							// show_control_pdf("name_pdf_0");
	            		}
	            		else {
							show_pdf(data.n_name);
							alert('An error occured while updating this field.');
						}	            			
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});

		
		});		
		

	</script>

