

															<% i = 0 %>
															<div id="render_category_subject_<%= i %>" class="list-tip-container"></div>
														    <script id="category_subject_Template_<%= i %>" type="text/x-jQuery-tmpl">
																<div id="category_subject_container_<%= i %>" class="table pad-marg-null list-tip-target">
																	<div class="row">
																		<div class="list-field-cell-1">
																			<div id="category_subject_<%= i %>" class="list-field-cell-1a"></div>
																		</div>
																		<div class="list-field-cell-2">
																			<div class="list-field-ellipsi hidden"><span class="list-field-text">...</span></div>
																		</div>
																		<div class="list-field-cell-3"></div>																		
																	</div>
																</div>
															    <div class="list-tip-1 list-tip-pos-1 hidden">
															    	<div class="list-tip-1-indicator"></div>
																	<span></span>
															    </div>
													    	</script>
													    	
															<script type="text/javascript">
																var container = "#render_category_subject_<%= i %>";
																var ref		  = "#category_subject_Template_<%= i %>";
															    $(ref).tmpl().appendTo(container);

																<% h_category_subject = category_subject_for(@publisher_product) %>
																var category_subject_text = <%=raw h_category_subject[:category_subject_text] %>;
																var has_category_subject_other = <%=raw h_category_subject[:has_category_subject_other] %>;
																var category_subject_other = "<%=raw h_category_subject[:category_subject_other] %>";
																var list_number = "<%= i %>";
																set_field("Subject: ", "category_subject", category_subject_text, "Subject", has_category_subject_other, category_subject_other, list_number);
															</script>
