<% provide(:title, 'My Registration and Personal') %>

<style type="text/css">
	/*Do not place in the assets pipeline*/
	.nav-publisher-product-summary .drop-17 .drop-17-target {
		background-color: #e8e8e8;
	}
</style>

<style type="text/css">
	.title-container {
		min-height: 100px;
		border: 2px solid #999;
	}
	.title-bar {
		padding: 3px;
		background: -moz-linear-gradient(top,  #CCC 35%, #ffffff 95%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#CCC), color-stop(95%,#ffffff));
		background: -webkit-linear-gradient(top,  #CCC 35%,#ffffff 95%);
		background: -o-linear-gradient(top,  #CCC 35%,#ffffff 95%);
		background: -ms-linear-gradient(top,  #CCC 35%,#ffffff 95%);
		background: linear-gradient(to bottom,  #CCC 35%,#ffffff 95%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCC', endColorstr='#ffffff',GradientType=0 );
	}
	.title-bar span {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: #000;
	}
	.row label {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 700;
		font-size: 14px;
		color: #888;
	}
	.edit-icon {
		height: 20px;
		width: 20px;
		background-image: url(/assets/global/edit_btn_yellow_right_w20_h20.png);
		background-repeat: no-repeat;
		background-position: 0px 0px 0px 0px;
	}
	.settings-input {
		height: 20px;
		width: 160px;
		border: 1px solid #49853F;
		margin: 0;
		background-color: #fff;
	}
	p.error {
		  font-family: Arial, Helvetica, sans-serif;
		  font-weight: 700;
		  font-size: 14px;
		  color: #f00;
	}
	.success-message {
		  font-family: Arial, Helvetica, sans-serif;
		  font-weight: 700;
		  font-size: 14px;
		  color: #376340;
		  text-align: right;
	}
	.btn-opt-edit {
		padding: 0;
	}
</style>

<div style="height: 12px;"></div>
	<div class="title-container">
		<div class="title-bar" style="position: relative;">
			<div style="float: left; width: 100px;">
				<span>My Settings</span>
			</div>
			<div style="float: right; width: 200px;"></div>
			<div style="clear: both;"></div>
		</div>
		<div style="height: 20px;"></div>
		<%= form_tag({action: 'update_user_email'}, remote: true, :'data-type' => 'json', id: 'change_email_form', class: 'table') do %>
		<!-- <#%= form_tag({action: 'update_user_email'}, format: 'json', id: 'change_email_form', class: 'table', remote: true) do %#> -->
			<div class="row">
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px; border-bottom: 1px solid grey;">
					<label>Change Email:</label>
				</div>
				<div style="display: table-cell; width: 240px; border-bottom: 1px solid grey;">
					<p id="message_user_email" class="success-message"></p>
				</div>
				<div style="display: table-cell; width: 260px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">				
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;">
					<label>Email:</label>
				</div>
				<div style="display: table-cell; width: 240px;">
					<%= text_field_tag :user_old_email, nil, class: "settings-input", disabled: true, value: @user_personal.email.to_s %>
				</div>
				<div id="message_user_old_email" style="display: table-cell; width: 260px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">				
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;">
					<label>New Email:</label>
				</div>
				<div style="display: table-cell; width: 240px;">
					<%= text_field_tag :user_new_email, nil, class: "settings-input" %>
				</div>
				<div id="message_user_new_email" style="display: table-cell; width: 260px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;"></div>
				<div style="display: table; width: 160px;">
					<div class="btn-opt-edit-container-outer">
						<div class="btn-opt-edit-container">
							<%= submit_tag("Save", class: "btn-opt-edit", id: "save_user_email", :style => " background: none;  border: none;") %>
						</div>
					</div>
				</div>
				<div style="display: table-cell; width: 80px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">
				<div id="answer"></div>
			</div>
		<% end %>
		<%= form_tag({action: 'update_user_password'}, :'data-type' => 'json', id: 'change_password_form', class: 'table', remote: true) do %>
			<div class="row">
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px; border-bottom: 1px solid grey;">
					<label>Change Password:</label>
				</div>
				<div style="display: table-cell; width: 240px; border-bottom: 1px solid grey;">
					<p id="message_user_password" class="success-message"></p>
				</div>
				<div style="display: table-cell; width: 260px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">				
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;">
					<label>Old Password:</label>
				</div>
				<div style="display: table-cell; width: 240px;">
					<%= password_field_tag :user_old_password, nil, :class => "settings-input" %>
				</div>
				<div id="message_user_old_password" style="display: table-cell; width: 260px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">				
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;">
					<label>New Password:</label>
				</div>
				<div style="display: table-cell; width: 240px;">
					<%= password_field_tag :user_new_password, nil, :class => "settings-input" %>
				</div>
				<div id="message_user_new_password" style="display: table-cell; width: 260px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">				
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;">
					<label>Confirm Password:</label>
				</div>
				<div style="display: table-cell; width: 160px;">
					<%= password_field_tag :user_confirm_password, nil, :class => "settings-input" %>
				</div>
				<div id="message_user_confirm_password" style="display: table-cell; width: 260px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;"></div>
				<div style="display: table; width: 160px;">
					<div class="btn-opt-edit-container-outer">
						<div class="btn-opt-edit-container">
							<%= submit_tag("Save", class: "btn-opt-edit", id: "save_user_password", :style => " background: none;  border: none;") %> 
						</div>
					</div>
				</div>
				<div style="display: table-cell; width: 80px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">
				<div id="answer"></div>
			</div>
		<% end %>
		<div id="change_personal_form" class="table">
			<div class="row">
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px; border-bottom: 1px solid grey;">
					<label>Change Personal:</label>
				</div>
				<div style="display: table-cell; width: 240px; border-bottom: 1px solid grey;">
					<p id="message_user_personal" class="success-message"></p>
				</div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;">
					<label>Birthday:</label>
				</div>
				<div style="display: table-cell; width: 240px;">
					<div id="bd_day" style="width: 70px; height: 20px; color: grey; display: inline-block;">
						<select id="user_bd_day" name="user[bd_day]" class="chosen-select" style="width: 70px;">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
					</div>
					<div id="bd_month" style="width: 70px; height: 20px; color: grey; display: inline-block;">
						<select id="user_bd_month" name="user[bd_month]" class="chosen-select" style="width: 70px;">
							<option value="1">Jan</option>
							<option value="2">Feb</option>
							<option value="3">Mar</option>
							<option value="4">Apr</option>
							<option value="5">May</option>
							<option value="6">Jun</option>
							<option value="7">Jul</option>
							<option value="8">Aug</option>
							<option value="9">Sep</option>
							<option value="10">Oct</option>
							<option value="11">Nov</option>
							<option value="12">Dec</option>
						</select>
					</div>
					<div id="bd_year" style="width: 70px; height: 20px; color: grey; display: inline-block;">
						<select id="user_bd_year" name="user[bd_year]" class="chosen-select" style="width: 70px;">
							<% @bd_years.each do|bd_year| %>
								<option value="<%= bd_year.year %>"><%= bd_year.year %></option>
							<% end %>
						</select>
					</div>
				</div>
				<div style="display: table-cell; width: 260px;"></div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;">
					<label>Gender:</label>
				</div>
				<div style="display: table-cell; width: 240px;">
					<div style="width: 75px; height: 20px; color: grey; display: inline-block;">Male</div>
					<div style="width: 35px; text-align: left; padding-right: 0px; display: inline-block;">
						<div id="gender_male" class="rd-button"></div>
						<!-- <input name="user[gender]" type="radio" value="0"> -->
					</div>
					<div style="width: 75px; height: 20px; color: grey; display: inline-block;">Female</div>
					<div style="width: 35px; text-align: left; padding-right: 0px; display: inline-block;">
						<div id="gender_female"  class="rd-button"></div>
						<!-- <input name="user[gender]" type="radio" value="1"> -->
					</div>
				</div>
			</div>
			<div class="row" style="height: 12px"></div>
			<div class="row">
				<div style="display: table-cell; width: 30px;"></div>
				<div style="display: table-cell; width: 160px;"></div>
				<div style="display: table; width: 240px;">
					<div style="display: table-cell; width: 220px;">
						<div class="btn-opt-edit-container-outer">
							<div class="btn-opt-edit-container">
								<%= submit_tag("Save", class: "btn-opt-edit", id: "save_user_personal", :style => " background: none;  border: none;") %>
								<!-- <div id="save_user_personal" class="btn-opt-edit" tabindex="">Save</div> -->
							</div>
						</div>
					</div>
					<div style="display: table-cell; width: 20px;"></div>
				</div>
			</div>
			<div class="row" style="height: 12px"></div>			
		</div>
		<div style="height: 20px"></div>
	</div>
	<div style="height: 4px;"></div>
</div>

<script type="text/javascript">
	function set_user_birthday(bd_day, bd_month, bd_year) {
		// Setting loaded birthday
		$("#user_bd_day").val(bd_day);
		$("#user_bd_month").val(bd_month);
		$("#user_bd_year").val(bd_year);
		// Updating user_bd_day dropdown due to chosen bd_month
		update_bd_day_select(bd_month);
		// Updating user_bd_month and user_bd_year dropdowns
		$("#user_bd_month").trigger('chosen:updated');
		$("#user_bd_year").trigger('chosen:updated');
	}
	function set_user_gender(user_gender) {
		// Setting user gender
		if(user_gender == 0) {
			$('#gender_male').addClass("rd-background");
			$('#gender_female').removeClass("rd-background");
		} else {
			$('#gender_female').addClass("rd-background");
			$('#gender_male').removeClass("rd-background");
		}
	}
	function update_bd_day_select(selected_month_value) {
		if (selected_month_value == 2) {
        	$("#user_bd_day option[value=30]").css("display", "none");
        	$("#user_bd_day option[value=31]").css("display", "none");
		} else if ( selected_month_value == 4 || 
					selected_month_value == 6 || 
					selected_month_value == 9 || 
					selected_month_value == 11 ) 
		{
			$("#user_bd_day option[value=30]").css("display", "block");
        	$("#user_bd_day option[value=31]").css("display", "none");
		} else {
			$("#user_bd_day option[value=30]").css("display", "block");
        	$("#user_bd_day option[value=31]").css("display", "block");
		}
		// Updating dropdown
		$("#user_bd_day").trigger('chosen:updated');
	}
	$(document).ready(function () {
		//Forms validation
		passwordFormValidate();
		emailFormValidate();
		// Loading birthday
		var user_birthday = gon.user_birthday;
		//Initialize dropdowns
		$(".chosen-select").chosen({
			disable_search_threshold: 100
		});
		// Setting user personal
		set_user_birthday(user_birthday.day,
						  user_birthday.month,
						  user_birthday.year);		
		set_user_gender(gon.user_gender);
	});
	// Dynamic update of birthday dropdown due to selected month
	$( "#user_bd_month" ).change(function() {
		update_bd_day_select($("#user_bd_month").val());
	});
	// Radio button click (Should be changed if more rd-buttons will be added)
	$(".rd-button").click(function() {
		$(".rd-button").each ( function () {
			$(this).removeClass("rd-background");
		});
		$(this).addClass("rd-background");
	});
	$("#save_user_personal").click(function() {
		var newGender = 0;
		if( $(".rd-background").attr('id') == "gender_female" ) {
			newGender = 1;
		}
		var order = '{ "bd_day": ' + $("#user_bd_day").val() +
					', "bd_month": ' + $("#user_bd_month").val() +
					', "bd_year": ' + $("#user_bd_year").val() +
					', "gender": ' + newGender +
					'}';
		$.ajax({
			type: 'POST',
			data: order,
			url: '/publisher_user_registers/update_user_personal',
			dataType: 'json',
			contentType: "application/json",
	    	processData: false,
	    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        	statusCode: {
        	},
	    	success: function(data) {
	    		if(data.status != "Update!") {
	    			// alert(data.status);
	    			$("#message_user_personal").fadeTo( "slow", 0 , function () {
	    				$("#message_user_personal").text(data.status).fadeTo( "slow", 1 );
	    			});
	    			
	    		}
	    		else
	    			location.href=("/Signin");
        	},
        	error: function(xhr){
    			alert("AJAX error: " + xhr.statusText);
    			$("#message_user_personal").fadeTo( "slow", 0 );
        	} 
		});
	});
	function stopFormValidation (formID) {
		$('#' + formID + ' :input').not(':button,:hidden').each( function() {
			$(this).rules('remove');
		});
	}
	function startPasswordFormValidation () {
		$("#user_old_password").rules('add', {
			required: true,
			minlength: 6
		});
		$("#user_new_password").rules('add', {
			required: true,
			
		});
		$("#user_confirm_password").rules('add', {
			required: true,
			minlength: 6,
			equalTo: "#user_new_password"
		});
	}
	function startEmailFormValidation () {
		$("#user_new_email").rules('add', {
			required: true,
			email: true,
			maxlength: 50
		});
	}
	// Password form validation starts after first click on submit button
	$("#save_user_password").one('click', function() {        
        startPasswordFormValidation();
    });
    // Email form validation starts after first click on submit button
	$("#save_user_email").one('click', function() {
        startEmailFormValidation();
    });
	$("#change_password_form").on("ajax:success",function(event, data, status, xhr) {
		if(data.status == "Update!") {
			location.href=("/Signin");
		} else if (data.status != "Saved!") {
			$("#message_user_password").text("");
			$("#message_user_old_password p").text(data.status);
		} else {
			// alert(data.status);
			$("#user_old_password").val("");
			$("#user_new_password").val("");
			$("#user_confirm_password").val("");
			$("#message_user_password").text(data.status).fadeTo( "slow", 1 );
			// Password validation stops after password was changed	correctly
			stopFormValidation($(this).attr("id"));
			
			$("#save_user_password").one('click', function() {
				$("#message_user_password").fadeTo( "slow", 0 );
				startPasswordFormValidation();
		    });
		}	
	});
	$("#change_email_form").on("ajax:success",function(event, data, status, xhr) {
		if(data.status == "Update!") {
			location.href=("/Signin");
		} else if (data.status != "Saved!") {
			$("#message_user_email").text("");
			$("#message_user_new_email p").text(data.status);
		} else {
			// alert(data.status);
			$("#user_old_email").val(data.new_email);
			$("#user_new_email").val("");
			$("#message_user_email").text(data.status).fadeTo( "slow", 1 );
			// Password validation stops after password was changed	correctly
			stopFormValidation($(this).attr("id"));
			
			$("#save_user_email").one('click', function() {
				$("#message_user_email").fadeTo( "slow", 0 );
				startEmailFormValidation();
		    });
		}	
	});
	function passwordFormValidate() {
		$("#change_password_form").validate({
			debug: true,
			onkeyup: false,
			focusCleanup: true,
			focusInvalid: false,
			errorElement: "p",
			success: "valid",
			submitHandler: function(form) {
				$.rails.handleRemote($("#change_password_form"));
				// form.submit();
			},
			errorPlacement: function(error, element) {
	    		error.appendTo('#message_' + element.attr('id'));
	    	}
		});
	}
	function emailFormValidate() {
		$("#change_email_form").validate({
			debug: true,
			onkeyup: false,
			focusCleanup: true,
			focusInvalid: false,
			errorElement: "p",
			success: "valid",
			submitHandler: function(form) {
				$.rails.handleRemote($("#change_email_form"));
				// form.submit();
			},
			errorPlacement: function(error, element) {
	    		error.appendTo('#message_' + element.attr('id'));
	    	}
		});
	}
	$("#user_old_password").keypress(function(e){
        if(e.keyCode==13) {
        	e.preventDefault();
      		$("#user_new_password").focus();
        }
    });
    $("#user_new_password").keypress(function(e){
        if(e.keyCode==13) {
        	e.preventDefault();
      		$("#user_confirm_password").focus();
        }
    });
</script>