 <%= provide(:title, 'Crop and Center') %>


	<script src="../jcrop/js/jquery.Jcrop.js"></script>
	<!-- <script src="/assets/jquery.Jcrop.js"></script> -->

	<script type="text/javascript">
	  jQuery(function($){
	
	    // How easy is this??
	    $('#target').Jcrop();
	
	  });
	</script>
	<link rel="stylesheet" href="../jcrop/css/jquery.Jcrop.css" type="text/css" />
	<!-- <link rel="stylesheet" href="/assets/jquery.Jcrop.css" type="text/css" /> -->

 
 	<style>
 		
		*, *:after, *:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.clearfix:before, .clearfix:after { content: " "; display: table; }
		.clearfix:after { clear: both; }
		a {
			color: #888;
			text-decoration: none;
		}
		a:hover,
		a:active {
			color: #333;
		}
		.profile-grid {
			padding: 0px 0px 0px 0px;
			/*max-width: 1300px;*/
			margin: 0 auto;
			list-style: none;
			/*text-align: center;*/
		}
		.profile-grid li {
			display: inline-block;
			width: 250px;
			/*height: 300px;*/
			margin: 0;
			padding: 0px 0px 0px 0px;
			position: relative;
			text-align: center;
		}
		.profile-grid figure {
			margin: 0;
			position: relative;
			/*height: 300px;*/
			/*padding-left: 6px;*/
			padding-top: 0px;	
			background-color: #fff;
		}
		.profile-grid figure img {
			max-width: 100%;
			display: block;
			position: relative;
		}
		.profile-grid figcaption {
			position: absolute;
			top: 0;
			left: 0;
			padding: 10px;
			/*background: #2c3f52;*/
			background: #000;
			color: #ed4e6e;
		}
		/*.profile-grid figcaption h3 {
			margin: 0;
			padding: 0;
			color: #fff;
		}*/
		/*.profile-grid figcaption span:before {
			content: '';
		}*/
		.profile-grid figcaption {
			text-align: right;
		}
		.profile-grid figcaption span a {
			text-align: right;
			/*padding: 5px 10px;*/
			/*border-radius: 2px;*/
			/*display: inline-block;*/
			/*background: #ed4e6e;*/
			color: #fff;
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 14px;
			font-weight: 400;					  	
		}
		.profile-cs-style-3 figure {
			/*border: solid 1px #000;*/
			overflow: hidden;
		}
		.profile-cs-style-3 figure img {
			-webkit-transition: -webkit-transform 0.2s;
			-moz-transition: -moz-transform 0.2s;
			transition: transform 0.2s;
		}
		.no-touch .profile-cs-style-3 figure:hover img,
		.profile-cs-style-3 figure.cs-hover img {
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			/*-webkit-transform: translateY(-6px);
			-moz-transform: translateY(-6px);
			-ms-transform: translateY(-6px);
			transform: translateY(-6px);*/
		}
		.profile-cs-style-3 figcaption {
			height: 50px;
			width: 100%;
			top: auto;
			bottom: 0;
			opacity: 0;
			-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			transform: translateY(100%);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
		}
		.no-touch .profile-cs-style-3 figure:hover figcaption,
		.profile-cs-style-3 figure.cs-hover figcaption {
			opacity: .8;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s;
			transition: transform 0.4s, opacity 0.1s;
		}
		/*.profile-cs-style-3 figcaption a {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}*/
		@media screen and (max-width: 31.5em) {
			.profile-grid {
				padding: 0px 0px 0px 0px;
			}
			.profile-grid li {
				width: 100%;
				min-width: 30px;
			}
		}
 		
 	</style>
 
 
	<header>
		<%= render 'share/backtotop' %>
	</header>

	<!-- <div class="container"> -->
		<div class="table-profile">
			<div class="row-profile">
				<div class="col-left">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>
						<div class="row-profile">
							<div class="col-left">
								<%= render 'share/dir_publishers_left'%>
							</div>
						</div>
					</div>
				</div>
				<div class="col-midd">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-midd-600">
			
								<div style="text-align: left;">
									<span class="normal pad-left-20">My Photos</span>
								</div>
								
								<div style="height: 30px;"></div>
							   				
								<div id="profile_image" class="pad-left-20">
								
									<!-- <#% if @user_profile_images.any? %#>   				
										<#% for user_profile_image in @user_profile_images %#> -->
								
											<%= image_tag @user_profile_image.image_url(:profile_600_600), id: "cropbox" %>
								
											<h4>Preview</h4>
											<div style="width:100px; height:100px; overflow:hidden">
											  <%= image_tag @user_profile_image.image_url(:profile_600_600), :id => "preview" %>
											</div>

											<!-- form_for :user, @user, :url => { :action => :prompt_user } do |f| -->
											<!-- <#%= form_for @profile_image, :url => { :action => :crop_commit } do |f| %#> -->
											<!-- <#%= form_for @profile_image, :url => { :controller => 'user_profile_images', :action => 'crop_commit' } do |f| %#> -->
											<%= form_tag( crop_commit_user_profile_images_path ) do %>
											<!-- <#%= form_for @user_profile_image, :url => '/Crop-Center-Commit' do |f| %#> -->
											<!-- <#%= form_for @user_profile_image do |f| %#> -->
											  	<!-- <#% %w[x y w h].each do |attribute| %#> -->
											  	<!-- text_field_tag(name, value = nil, options = {}) -->
											  	<!-- <#%= text_field_tag( "crop_#{attribute}", nil, options = {}) %#> -->  
											  	<%= text_field_tag :crop_x, params["crop_x"], id: "id_crop_x" %>
											  	<%= text_field_tag :crop_y, params["crop_y"], id: "id_crop_y" %>
											  	<%= text_field_tag :crop_w, params["crop_w"], id: "id_crop_w" %>
											  	<%= text_field_tag :crop_h, params["crop_h"], id: "id_crop_h" %>
												<%= hidden_field_tag "image_id", @user_profile_image.id %>
											    <!-- <#%= f.text_field "crop_#{attribute}" %#> -->
											  	<!-- <#% end %#> -->
											  <!-- <div class="actions"> -->
											    <%= submit_tag "Save" %>
											  <!-- </div> -->
											<% end %>


										<!-- <#% end %#>
									<#% end %#> -->
	
	
								
								
								</div>
								
								<div style="height: 300px;"></div>
								
							</div>
						</div>
					</div>					
				</div>
				<div class="col-right">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-right">
								<%= render 'share/dir_publishers_right' %>
							</div>
						</div>
					</div>										
				</div>								
			</div>
		</div>
		
		
	<!-- </div> -->
					

	<script>
	  
		// $(window).load( function() {
		$(document).ready(function () {
			
			alert('ready');
			
			// var h = $("#id_image").height();
			// $(".profile-grid figure").css({
				// height : h
			// })
						
		});
	  
	</script>		

