    
<style>
	
	/*testing only - not for assets pipline*/

	.boxtemp-red {
		border-style: solid;
		border-width: 1px;
		border-color:red;	
	}
	.boxtemp-black {
		border-style: solid;
		border-width: 1px;
		border-color:black;	
	}
	.boxtemp-green {
		border-style: solid;
		border-width: 1px;
		border-color:green;	
	}
	.boxtemp-blue {
		border-style: solid;
		border-width: 1px;
		border-color:blue;	
	}
	.boxtemp-red-d {
		border-style: solid;
		border-width: 2px;
		border-color:red;	
	}
	.boxtemp-black-d {
		border-style: solid;
		border-width: 2px;
		border-color:black;	
	}
	.boxtemp-green-d {
		border-style: solid;
		border-width: 2px;
		border-color:green;	
	}
	.boxtemp-blue-d {
		border-style: solid;
		border-width: 2px;
		border-color:blue;	
	}

</style>

<style>	

	.cell-1200 {
		display: table-cell;
		width: 1200px;
		vertical-align: top;	
	}
	
</style>

	
<div style="height: 2px;"></div>

<div style="width: 1200px;">
	<div class="title-bar" style="position: relative;">
		<div style="display: table; width: 1192px;">
			<div style="display: table-row;">
				<div style="display: table-cell; vertical-align: top; width: 300px; text-align: left;">
					<span class="title-bar-text-1">Publisher User</span>
				</div>
				<div style="display: table-cell; vertical-align: top; width: 594px; text-align: center;">
					<!-- <span class="title-bar-text-1">id: <#%= @publisher_product_gen_id %#></span> -->
				</div>
				<div style="display: table-cell; vertical-align: top; width: 300px;">
					<div class="btn-edit-options-container-outer">
						<div id="open_edit_mode_story_1" class="">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 300px;">
										<div class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Show Photo Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="close_edit_mode_story_1" class="hidden">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 300px;">
										<div class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Hide Photo Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- <#%= render 'publisher_users/index' %#> -->
<div style="width: 1200px;">		
	<div style="display: table;">
		<div style="display: table-row;">
			<div id="render_background_image_1">
				<%= render 'publisher/publisher_users/background_1_image' %>
			</div>
		</div>			
	</div>					
</div>
		
<% if false %>		
<div style="height: 100px;">
	<div style="display: table; height: 100px;">
		<div style="display: table-row;">
			<div style="display: table-cell; width: 400px; height: 100px; vertical-align: top;"></div>
			<div style="display: table-cell; width: 400px; height: 100px; vertical-align: top;">
				<div style="display: table-cell; vertical-align: top; width: 300px;">
					<div class="btn-edit-options-container-outer">
						<div class="">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 300px;">
										<div id="primary_1_image_add" class="btn-edit-options-container cursor-pointer" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Add Photo
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- <div id="close_edit_mode_story_2" class="hidden">
							<div class="" style="display: table; float: right;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 74px;">
										<div id="cancel_edit_story_2" class="btn-edit-options-container-2 cursor-pointer" style="float: right;">
											<div class="btn-edit-options-2" tabindex="">
												Cancel
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
									<div style="display: table-cell; width: 74px;">
										<div id="submit_edit_story_2" class="btn-edit-options-container-2 cursor-pointer" style="float: right;">
											<div class="btn-edit-options-2" tabindex="">
												Save
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
							<div style="clear: all;"></div>
						</div> -->
						
					</div>
				</div>
			</div>
			<div style="display: table-cell; width: 400px; height: 100px; vertical-align: top;"></div>
		</div>
	</div>
</div>
<% end %>

<div style="height: 70px;"></div>

<div style="width: 1200px;">		
	<div class="follow-stats-container" style="margin: 0 0 0 10px;">
		<%= render 'publisher/publisher_users/stats' %>
	</div>
</div>

<div style="height: 50px;"></div>

<div style="width: 1200px;">
	<div class="title-bar" style="position: relative;">
		<div style="display: table; width: 1192px;">
			<div style="display: table-row;">
				<div style="display: table-cell; vertical-align: top; width: 300px; text-align: left;">
					<span class="title-bar-text-1">Photos</span>
				</div>
				<div style="display: table-cell; vertical-align: top; width: 564px; text-align: center;">
					<!-- <span class="title-bar-text-1">id: <#%= @publisher_product_gen_id %#></span> -->
				</div>
				<div style="display: table-cell; vertical-align: top; width: 330px;">
					<div class="btn-edit-options-container-outer">
						<div id="open_edit_mode_story_3" class="">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 330px;">
										<div class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Show Photo Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="close_edit_mode_story_3" class="hidden">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 160px;">
										<div id="list_1_image_add" class="btn-edit-options-container cursor-pointer" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Add Photo
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
									<div style="display: table-cell; width: 10px;"></div>
									<div style="display: table-cell; width: 160px;">
										<div id="cancel_edit_mode_story_3" class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Hide Photo Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="width: 1200px;">		
	<div style="border: 2px solid #999; min-height: 100px; padding: 3px 2px 2px 2px;">
		<div id="render_list_1_image">
			<%= render 'publisher/publisher_users/list_1_image' %>
		</div>
	</div>
</div>




<div style="height: 10px;"></div>

<div style="width: 1200px;">
	<div class="title-bar" style="position: relative;">
		<div style="display: table; width: 1192px;">
			<div style="display: table-row;">
				<div style="display: table-cell; vertical-align: top; width: 300px; text-align: left;">
					<span class="title-bar-text-1">Friends</span>
				</div>
				<div style="display: table-cell; vertical-align: top; width: 564px; text-align: center;">
					<!-- <span class="title-bar-text-1">id: <#%= @publisher_product_gen_id %#></span> -->
				</div>
				<div style="display: table-cell; vertical-align: top; width: 330px;">
					<div class="btn-edit-options-container-outer">
						<div id="open_edit_mode_story_6" class="">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 330px;">
										<div class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Show Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="close_edit_mode_story_6" class="hidden">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 160px;">
										<div class="btn-edit-options-container cursor-pointer" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
									<div style="display: table-cell; width: 10px;"></div>
									<div style="display: table-cell; width: 160px;">
										<div id="cancel_edit_mode_story_6" class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Hide Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="width: 1200px;">		
	<div style="border: 2px solid #999; min-height: 100px; padding: 3px 2px 2px 2px;">
		<!-- <div>Friends count: <#%= @user_friends_invited.count %#></div> -->
		<div id="render_list_user_friends">
			<%= render 'publisher/publisher_users/list_user_friends' %>
		</div>
	</div>
</div>






<div style="height: 10px;"></div>

<div style="width: 1200px;">
	<div class="title-bar" style="position: relative;">
		<div style="display: table; width: 1192px;">
			<div style="display: table-row;">
				<div style="display: table-cell; vertical-align: top; width: 300px; text-align: left;">
					<span class="title-bar-text-1">Friend invitations received</span>
				</div>
				<div style="display: table-cell; vertical-align: top; width: 564px; text-align: center;">
					<!-- <span class="title-bar-text-1">id: <#%= @publisher_product_gen_id %#></span> -->
				</div>
				<div style="display: table-cell; vertical-align: top; width: 330px;">
					<div class="btn-edit-options-container-outer">
						<div id="open_edit_mode_story_7" class="">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 330px;">
										<div class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Show Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="close_edit_mode_story_7" class="hidden">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 160px;">
										<div class="btn-edit-options-container cursor-pointer" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
									<div style="display: table-cell; width: 10px;"></div>
									<div style="display: table-cell; width: 160px;">
										<div id="cancel_edit_mode_story_7" class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Hide Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="width: 1200px;">		
	<div style="border: 2px solid #999; min-height: 100px; padding: 3px 2px 2px 2px;">
		<!-- <div>Friends count: <#%= @user_friends_invited.count %#></div> -->
		<div id="render_list_user_friend_invitations_received">
			<%= render 'publisher/publisher_users/list_user_friend_invitations_received' %>
		</div>
	</div>
</div>











<div style="height: 10px;"></div>

<div style="width: 1200px;">
	<div class="title-bar" style="position: relative;">
		<div style="display: table; width: 1192px;">
			<div style="display: table-row;">
				<div style="display: table-cell; vertical-align: top; width: 300px; text-align: left;">
					<span class="title-bar-text-1">Friend invitations sent</span>
				</div>
				<div style="display: table-cell; vertical-align: top; width: 564px; text-align: center;">
					<!-- <span class="title-bar-text-1">id: <#%= @publisher_product_gen_id %#></span> -->
				</div>
				<div style="display: table-cell; vertical-align: top; width: 330px;">
					<div class="btn-edit-options-container-outer">
						<div id="open_edit_mode_story_8" class="">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 330px;">
										<div class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Show Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="close_edit_mode_story_8" class="hidden">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 160px;">
										<div class="btn-edit-options-container cursor-pointer" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
									<div style="display: table-cell; width: 10px;"></div>
									<div style="display: table-cell; width: 160px;">
										<div id="cancel_edit_mode_story_8" class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Hide Options
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="width: 1200px;">		
	<div style="border: 2px solid #999; min-height: 100px; padding: 3px 2px 2px 2px;">
		<!-- <div>Friends count: <#%= @user_friends_invited.count %#></div> -->
		<div id="render_list_user_friend_invitations_sent">
			<%= render 'publisher/publisher_users/list_user_friend_invitations_sent' %>
		</div>
	</div>
</div>































<div style="height: 10px;"></div>

<div style="width: 1200px;">
	<div class="title-bar" style="position: relative;">
		<div style="display: table; width: 1192px;">
			<div style="display: table-row;">
				<div style="display: table-cell; vertical-align: top; width: 300px; text-align: left;">
					<span class="title-bar-text-1">Bio</span>
				</div>
				<div style="display: table-cell; vertical-align: top; width: 594px; text-align: center;">
					<!-- <span class="title-bar-text-1">id: <#%= @publisher_product_gen_id %#></span> -->
				</div>
				<div style="display: table-cell; vertical-align: top; width: 300px;">
					<div class="btn-edit-options-container-outer">
						<div id="open_edit_mode_story_4" class="">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 300px;">
										<div class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Edit
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="close_edit_mode_story_4" class="hidden">
							<div class="" style="display: table; float: right;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 74px;">
										<div id="cancel_edit_story_4" class="btn-edit-options-container-2 cursor-pointer" style="float: right;">
											<div class="btn-edit-options-2" tabindex="">
												Cancel
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
									<div style="display: table-cell; width: 74px;">
										<div id="submit_edit_story_4" class="btn-edit-options-container-2 cursor-pointer" style="float: right;">
											<div class="btn-edit-options-2" tabindex="">
												Save
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
							<div style="clear: all;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="height: 0px;"></div>

<div style="width: 1200px;">		
	<div class="title-container">
		<div class="table pad-marg-edit-1" style="height: 130px;">
			<div class="row">
				<div class="cell-edit-2">
					<div class="table pad-marg-null">
						<div class="row" style="height: 12px;"></div>
						<div class="row pad-marg-null">
							<div class="cell-edit-3 text-align-left">
								<span class="profile-label-1">Name:</span>
							</div>
							<div class="cell-edit-4 edit-story-4 hidden">
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-5 position-relative">
											<div class="position-absolute top-minus-edit-1">
												<input class="input-profile-1 input-profile-color-1 width-edit-1 height-edit-1" id="publisher_user_name_first" name="publisher_user[name_first]" tabindex="10" type="text" value="<%= @user.name_first %>" placeholder="First Name" />
											</div>
										</div>
										<div class="cell-edit-5 position-relative">
											<div class="position-absolute top-minus-edit-1">
												<input class="input-profile-1 input-profile-color-1 width-edit-1 height-edit-1" id="publisher_user_name_last" name="publisher_user[name_last]" tabindex="11" type="text" value="<%= @user.name_last %>" placeholder="Last Name" />
											</div>
										</div>
										<div class="cell-25"></div>
									</div>
								</div>
							</div>
							<div class="cell-edit-4 show-story-4">
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-4 position-relative text-align-left">
											<div class="position-absolute top-minus-edit-2">
												<span id="span_publisher_user_name_first" class="profile-text-1"></span>
												&nbsp;&nbsp;
												<span id="span_publisher_user_name_last" class="profile-text-1"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="row" style="height: 12px;"></div>
	
						<div class="row pad-marg-null">
							<div class="cell-edit-3 text-align-left">
								<span class="profile-label-1">Email:</span>
							</div>
							<div class="cell-edit-4 edit-story-4 hidden">
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-4 position-relative">
											<div class="position-absolute top-minus-edit-1">
												<input class="input-profile-1 input-profile-color-1 width-edit-1 height-edit-1" id="publisher_user_email" name="publisher_user[email]" tabindex="12" type="text" value="<%= @publisher_user.email %>" placeholder="Email" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cell-edit-4 show-story-4">
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-4 position-relative text-align-left">
											<div class="position-absolute top-minus-edit-2">
												<span id="span_publisher_user_email" class="profile-text-1"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="row" style="height: 12px;"></div>
						<div class="row pad-marg-null">
							<div class="cell-edit-3 text-align-left">
								<span class="profile-label-1">Location:</span>
							</div>
							<div class="cell-edit-4 edit-story-4 hidden">
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-4 position-relative">
											<div class="position-absolute top-minus-edit-1">
												<input class="input-profile-1 input-profile-color-1 width-edit-1 height-edit-1" id="publisher_user_location" name="publisher_user[location]" tabindex="13" type="text" value="<%= @publisher_user.location %>" placeholder="Location" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cell-edit-4 show-story-4">
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-4 position-relative text-align-left">
											<div class="position-absolute top-minus-edit-2">
												<span id="span_publisher_user_location" class="profile-text-1"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="row" style="height: 12px;"></div>
						<div class="row pad-marg-null">
							<div class="cell-edit-3 text-align-left">
								<span class="profile-label-1">Alias:</span>
							</div>
							<div class="cell-edit-4 edit-story-4 hidden">
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-4 position-relative">
											<div class="position-absolute top-minus-edit-1">
												<input class="input-profile-1 input-profile-color-1 width-edit-1 height-edit-1" id="publisher_user_name_alias" name="publisher_user[name_alias]" tabindex="14" type="text" value="<%= @publisher_user.name_alias %>" placeholder="User Alias" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cell-edit-4 show-story-4">
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-4 position-relative text-align-left">
											<div class="position-absolute top-minus-edit-2">
												<span id="span_publisher_user_name_alias" class="profile-text-1"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="height: 4px;"></div>
	
		<div class="table pad-marg-edit-1" style="height: 150px;">
			<div class="row">
				<div class="cell-edit-2">
					<div class="table pad-marg-null">
						<div class="row" style="height: 12px;"></div>
						<div class="row pad-marg-null">
							<div class="cell-edit-2">
	
								<div class="table pad-marg-null">
									<div class="row">
										<div class="cell-edit-6 text-align-left pad-left-20">
											<span class="profile-label-1">Job Title:</span>
										</div>
										<div class="cell-edit-7 edit-story-4 hidden">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-edit-7 position-relative">
														<div class="position-absolute top-minus-edit-1 right-0">
															<input class="input-profile-1 input-profile-color-1 width-edit-1 height-edit-1" id="publisher_user_job_title" name="publisher_user[job_title]" tabindex="15" type="text" value="<%= @publisher_user.job_title %>" placeholder="Job Title" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="cell-edit-7 show-story-4">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-edit-7 position-relative text-align-left">
														<div class="position-absolute top-minus-edit-2">
															<span id="span_publisher_user_job_title" class="profile-text-1"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
	
							</div>
						</div>
	
						<div class="row" style="height: 12px;"></div>
						<div class="row pad-marg-null">
							<div class="cell-edit-2">
	
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-6 text-align-left pad-left-20">
											<span class="profile-label-1">Company:</span>
										</div>
										<div class="cell-edit-7 edit-story-4 hidden">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-edit-7 position-relative">
														<div class="position-absolute top-minus-edit-1 right-0">
															<input class="input-profile-1 input-profile-color-1 width-edit-1 height-edit-1" id="publisher_user_name_company" name="publisher_user[name_company]" tabindex="16" type="text" value="<%= @publisher_user.name_company %>" placeholder="Company" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="cell-edit-7 show-story-4">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-edit-7 position-relative text-align-left">
														<div class="position-absolute top-minus-edit-2">
															<span id="span_publisher_user_name_company" class="profile-text-1"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
	
							</div>
						</div>
	
						<div class="row" style="height: 12px;"></div>
						<div class="row pad-marg-null">
							<div class="cell-edit-2">
	
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-6 text-align-left pad-left-20">
											<span class="profile-label-1">Website:</span>
										</div>
										<div class="cell-edit-7 edit-story-4 hidden">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-edit-7 position-relative">
														<div class="position-absolute top-minus-edit-1 right-0">
															<input class="input-profile-1 input-profile-color-1 width-edit-1 height-edit-1" id="publisher_user_website" name="publisher_user[website]" tabindex="18" type="text" value="<%= @publisher_user.website %>" placeholder="MyCompany@here.com" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="cell-edit-7 show-story-4">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-edit-7 position-relative text-align-left">
														<div class="position-absolute top-minus-edit-2">
															<span id="span_publisher_user_website" class="profile-text-1"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
	
								</div>
							</div>
						</div>
	
						<div class="row" style="height: 12px;"></div>
						<div class="row pad-marg-null">
							<div class="cell-edit-2">
	
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-edit-6 text-align-left pad-left-20">
											<span class="profile-label-1">Phone:</span>
										</div>
										<div class="cell-edit-7 edit-story-4 hidden">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-edit-7 position-relative">
														<div class="position-absolute top-minus-edit-1 right-0">
															<input class="input-profile-1 input-profile-color-1 width-edit-1 height-edit-1" id="publisher_user_phone_company" name="publisher_user[phone_company]" tabindex="19" type="text" value="<%= @publisher_user.phone_company %>" placeholder="555-555-5555" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="cell-edit-7 show-story-4">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-edit-7 position-relative text-align-left">
														<div class="position-absolute top-minus-edit-2">
															<span id="span_publisher_user_phone_company" class="profile-text-1"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
	
								</div>
							</div>
						</div>
					</div>
	
				</div>
				
				<!-- <div class="cell-edit-1" id="container_logo_image">
					<div class="float-right">
						<div id="render_publisher_user_logo_image" style="margin: 0 1px 0 0;">
							<#%= render 'publisher_users/publisher_user_logo_image' %#>
						</div>
					</div>
					<div class="float-clear"></div>
				</div> -->
	
			</div>
		</div>
		
		<!-- <div style="height: 10px;"></div>
		<div style="width: 550px; height: 60px; text-align: center;">
			<div class="table">
				<div class="row">
					<div id="btns_edit_story_2" class="cell-700 edit-story-2 hidden">
						<div style="display: inline-block;">
							<div id="cancel_edit_story_2" class="btn-submit-story-1" tabindex="51">
								Cancel
							</div>
						</div>
						<div style="display: inline-block;">
							<div id="submit_edit_story_2" class="btn-submit-story-1" tabindex="52">
								Save
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->

	</div>
</div>	
	
<div style="height: 10px;"></div>

<div style="width: 1200px;">
	<div class="title-bar" style="position: relative;">
		<div style="display: table; width: 1192px;">
			<div style="display: table-row;">
				<div style="display: table-cell; vertical-align: top; width: 300px; text-align: left;">
					<span class="title-bar-text-1">Interests</span>
				</div>
				<div style="display: table-cell; vertical-align: top; width: 594px; text-align: center;">
					<!-- <span class="title-bar-text-1">id: <#%= @publisher_product_gen_id %#></span> -->
				</div>
				<div style="display: table-cell; vertical-align: top; width: 300px;">
					<div class="btn-edit-options-container-outer">
						<div id="open_edit_mode_story_5" class="">
							<div class="" style="display: table;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 300px;">
										<div class="btn-edit-options-container" style="float: right;">
											<div class="btn-edit-options" tabindex="">
												Edit
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div id="close_edit_mode_story_3" class="hidden"> -->
						<div id="close_edit_mode_story_5" class="hidden">
							<div class="" style="display: table; float: right;">
								<div style="display: table-row;">
									<div style="display: table-cell; width: 74px;">
										<div id="cancel_edit_mode_story_5" class="btn-edit-options-container-2 cursor-pointer" style="float: right;">
											<div class="btn-edit-options-3" tabindex="">
												Cancel
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
									<div style="display: table-cell; width: 74px;">
										<div id="submit_edit_story_5" class="btn-edit-options-container-2 cursor-pointer" style="float: right;">
											<div class="btn-edit-options-3" tabindex="">
												Save
											</div>
										</div>
										<div style="clear: all;"></div>
									</div>
								</div>
							</div>
							<div style="clear: all;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="height: 0px;"></div>

<div style="width: 1200px;">		
	<div class="title-container">
		<!-- <div class="title-bar" style="position: relative;">
			<div style="float: left; width: 100px;">
				<span>My Interests</span>
			</div>		
			<div style="float: right; width: 200px;">
				<div class="btn-opt-edit-container-outer">
					<div class="btn-opt-edit-container">
						<div id="open_edit_story_3" class="btn-opt-edit" tabindex="">
							Edit
						</div>
						<div id="close_edit_story_3" class="btn-opt-edit hidden" tabindex="">
							Cancel
						</div>
					</div>
				</div>
			</div>		
			<div style="clear: both;"></div>
		</div> -->
		
		<div class="table margin-0">
			<div class="row">
				<div class="cell-100percent">
					<div style="height: 10px;"></div>
					<div class="edit-story-5 hidden" style="min-height: 120px;">
	
						<% if false %>
						<!-- <textarea class="textarea-edit width-660 height-300" tabindex="" type="text" value="" placeholder="Corporate Story" disabled="disabled"> -->
						<div class="pad-left-20">
							<%= form_tag url_for(:controller => :publisher_users, :action => :update_story_3), :remote => true do %>
							<%= text_area_tag :story_interest, @publisher_user.story_interest, :class => 'resize-none input-profile-1 input-profile-color-1 profile-text-1 width-660 height-200', :placeholder => 'My KnowStory Plot', :spellcheck => false %>
							<!-- :onkeyup => 'countChar(this)' -->
							<!-- <div id="char_num" class="char_num"></div> -->
							<%= submit_tag 'Save', :id => 'submit_edit_story_3_hidden', :class => 'hidden' %>
							<% end %>
						</div>
						<% end %>

						<% if false %>	
						<%= form_for PublisherUserInterest.new, :url => update_publisher_user_interest_publisher_users_path(@publisher_user_interest_new), :html => {:multipart => true, :class => '', :id => 'new_publisher_user_interest'}, :remote => true do |f| %>
						<%= f.hidden_field :interest_text %>
						<%= f.submit :id => 'submit_story_3_hidden', :class => 'btn-submit hidden', :value => '' %>
						<% end %>
						<% end %>
						
						<!-- <div id="render_story_3_edit"><#%= render 'publisher_users/story_3_edit' %#></div> -->
						<div id="textarea_publisher_user_interest_containter_edit" class="textarea-user-interest-container-edit toggle-user-interest" tabindex="">
							<div id="render_publisher_user_interest_image_edit" class="render-user-interest-image"></div>
							<div id="textarea_publisher_user_interest_edit" class="textarea-user-interest textarea-user-interest-edit toggle-user-interest" contenteditable="true" tabindex=""></div>
						</div>

						<% if false %>	
						<div class="cell-325 box-detail-padding">
							<div id="edit_topic" class="hidden">
							<div id="textarea_topic_containter_edit" class="textarea-topic-container-edit toggle-topic" tabindex="">
								<div id="textarea_topic_edit" class="textarea-topic textarea-topic-edit toggle-topic" contenteditable="true" tabindex=""></div>
							</div>		
							<div style="padding: 4px;">
								<div style="display: inline-block;">
									<div id="submit_topic" class="btn-submit-product" tabindex="">Save</div>
								</div>
								<div style="display: inline-block;">
									<div id="cancel_topic" class="btn-submit-product" tabindex="">Cancel</div>
								</div>	
							</div>					
						</div>
						<div id="show_topic">
							<div class="textarea-topic-container">
								<div id="textarea_topic" class="textarea-topic textarea-topic-show" tabindex=""></div>												
							</div>
						</div>
						<% end %>
	
						<div class="btn-textarea-user-interest-story-5-container hidden" style="width: 515px; margin: 0 0 0 20px;">
							<div style="height: 10px;"></div>
							<div id="drop_container_story_5_attach" class="drop float-left width-200">
								
								<% if false %>
								<%= render 'publisher/publisher_users/publisher_user_interest_attach_menu' %>
								<%= form_for PublisherUserInterestImage.new, :url => upload_publisher_user_interest_image_publisher_users_path(@publisher_user_interest_image_new), :html => {:multipart => true, :class => 'hidden', :id => 'new_publisher_user_interest_image'}, :remote => true do |f| %>
								<p>
									<%= f.file_field :image, :id => 'new_publisher_user_interest_image_image' %>
								</p>
								<p>
									<%= f.submit :id => 'btn_submit_publisher_user_interest_image', :class => 'btn-submit hidden', :value => '' %>
								</p>
								<% end %>
								<% end %>
								
							</div>
							
							<% if false %>
							<div id="submit_story_3" class="btn-submit-story-3 float-right toggle-user-interest" tabindex="">
								<div id="submit_story_3_text" class="submit-edit-story-3-text-2">
									Save
								</div>
								<div id="submit_story_3_loader" class="submit-edit-story-3-loader hidden"></div>
							</div>
							<div class="float-right" style="display: inline-block; width: 6px; height: 1px"></div>
							<div id="cancel_story_3" class="btn-submit-story-1 float-right toggle-user-interest" tabindex="">
								<div id="cancel_story_3_text" class="submit-edit-story-3-text">
									Cancel
								</div>
								<div id="cancel_story_3_loader" class="submit-edit-story-3-loader hidden"></div>
							</div>
							<% end %>
							
						</div>
	
						<!-- <div style="height: 10px;"></div> -->
	
						<!-- <div class="text-align-center" style="width: 700px; height: 60px;">
						<div class="table">
						<div class="row">
						<div id="btns_edit_story_3" class="cell-700">
						<div style="display: inline-block;">
						<div id="cancel_edit_story_3" class="btn-submit-story-1" tabindex="">Cancel</div>
						</div>
						<div style="display: inline-block;">
						<div id="submit_edit_story_3" class="btn-submit-story-1" tabindex="">Save</div>
						</div>
						</div>
						</div>
						</div>
						</div> -->
					</div>
					<div class="show-story-5" style="min-height: 120px;">
						<!-- <div class="text-align-left"> -->
						<!-- <div class="textarea-user-interest-container">
						<#%= render 'publisher_users/story_3_edit' %#>
						</div> -->
						<div class="textarea-user-interest-container">
							<div id="render_publisher_user_interest_image" class="render-user-interest-image"></div>
							<div id="textarea_publisher_user_interest" class="textarea-user-interest textarea-user-interest-show" tabindex=""></div>
						</div>
						<!-- <#%= render 'publisher_users/story_3'%#> -->
						<!-- </div> -->
						<!-- </div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>		
		
<div style="height: 10px;"></div>

<div style="width: 1200px;">		
	<div class="table-profile" style="height: 100%;">
		<div class="row-profile">
			<div class="profile-left-col">
	
				<div style="height: 20px;"></div>
				<div class="publisher-item-border">
	
					<% if false %>
					<div class="table margin-0">
						<div class="row">
							<div class="cell-100percent">
								<div style="height: 10px;"></div>
								<div class="edit-story-3  height-250 hidden">
									<!-- <textarea class="textarea-edit width-660 height-300" tabindex="" type="text" value="" placeholder="Corporate Story" disabled="disabled"> -->
									<div class="pad-left-20">
										<%= form_tag url_for(:controller => :publisher_users, :action => :update_story_3), :remote => true do %>
										<%= text_area_tag :story_interest, @publisher_user.story_interest, :class => 'resize-none input-profile-1 input-profile-color-1 profile-text-1 width-660 height-200', :placeholder => 'What I know / What I can do / Interests' %>
										<!-- :onkeyup => 'countChar(this)' -->
										<!-- <div id="char_num" class="char_num"></div> -->
										<%= submit_tag 'Save', :id => 'submit_edit_story_3_hidden', :class => 'hidden' %>
										<% end %>
									</div>
									<div style="height: 10px;"></div>
									<div class="text-align-center" style="width: 550px; height: 60px;">
										<div class="table">
											<div class="row">
												<!-- <div id="btns_edit_story_3" class="cell-700 visibility-hidden"> -->
												<div id="btns_edit_story_3" class="cell-700">
													<div style="display: inline-block;">
														<div id="cancel_edit_story_3" class="btn-submit-story-1" tabindex="">
															Cancel
														</div>
													</div>
													<div style="display: inline-block;">
														<div id="submit_edit_story_3" class="btn-submit-story-1" tabindex="">
															Save
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="show-story-3 height-250">
									<div class="text-align-left pad-left-20">
										<div id="render_story_3">
											<%= render 'publisher/publisher_users/story_3'%>
										</div>
										<!-- <textarea id="publisher_story_corporate" class="textarea-edit input-profile-1 input-profile-color-1 width-660 height-300" tabindex="" type="text" placeholder="Corporate Story"><#%= @publisher_story_corporate %#></textarea> -->
									</div>
									<!-- <span id="span_story_corporate" class="profile-text-1"></span> -->
								</div>
							</div>
						</div>
					</div>
					<% end %>
	
					<div style="height: 20px;"></div>
				</div><!-- End border div -->
	
				<div style="width: 550px; border-bottom: 2px solid #eee;"></div>
	
				<div id="coming-soon">
					<p class="title-grey">
						My Connections <span>(Coming Soon)</span>
					</p>
				</div>
				<div id="coming-soon">
					<p class="title-grey">
						My Groups <span>(Coming Soon)</span>
					</p>
				</div>
				<div id="coming-soon" style="height:325px;">
					<p class="title-grey">
						My Wishlist <span>(Coming Soon)</span>
					</p>
				</div>
				<div id="coming-soon" style="">
					<p class="title-grey">
						KnowCred <span>(Coming Soon)</span>
					</p>
				</div>
				<div id="coming-soon" style="">
					<p class="title-grey">
						Points &amp; Awards <span>(Coming Soon)</span>
					</p>
				</div>
				<div id="coming-soon" style="height:325px;">
					<p class="title-grey">
						My Apps &amp; Things <span>(Coming Soon)</span>
					</p>
				</div>
	
				<!-- <div style="height: 20px;"></div>
				<div class="table pad-marg-null">
				<div class="row">
				<div class="cell-100percent">
				<div class="pad-left-20">
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #185C61;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #1B666B;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #1F7C82;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #2899A1;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #3DC8D1;"></div>
				</div>
				</div>
				</div>
				</div>
				<div style="height: 20px;"></div>
				<div class="table pad-marg-null">
				<div class="row">
				<div class="cell-100percent">
				<div class="pad-left-20">
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #BD7A26;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #D98D2D;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #FAC582;"></div>
				</div>
				</div>
				</div>
				</div>
				<div style="height: 20px;"></div>
				<div class="table pad-marg-null">
				<div class="row">
				<div class="cell-100percent">
				<div class="pad-left-20">
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #11520B;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #478A3E;"></div>
				</div>
				</div>
				</div>
				</div>
				<div style="height: 20px;"></div>
				<div class="table pad-marg-null">
				<div class="row">
				<div class="cell-100percent">
				<div class="pad-left-20">
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #376340;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #49853f;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #8eb388;"></div>
				&nbsp;
				<div style="display: inline-block; width: 30px; height: 30px; background-color: #c0e7bd;"></div>
				</div>
				</div>
				</div>
				</div>
				<div style="height:200px;"></div> -->
	
				<!-- <div class="delete-record"style="width: 100%; text-align: center;">
				<h5>
				<#% delete_all_msg = "Delete all records and reset index in PublisherUserImages?" %#>
				<#%= button_to "Delete All Records and Reset Index in PublisherUserImages", {:action => 'dbdelete'}, :method => :post, data: { confirm: delete_all_msg }, :class => 'btn-reset' %#>
				</h5>
				</div> -->
			</div>
	
			<div style="display: table-cell; width:25px;"></div>
			<!-- This adds small space in middle of columns-->
	
	
			<% if false %>
			<div style="" id="right-column-home-publisher">
				<div class="" style="height: 50px; position: relative;">
	
					<!-- 24 Mar 15 Activity moved to here renamed share-->
	
					<div class="publisher-item-border" style="margin-bottom:25px;">
	
						<div class="title-bar-profile-1 title-bar-profile-1-top-border add-border-right-section">
							<div class="tbl-title-bar-profile">
								<div class="row-title-bar-profile">
									<div class="cell-title-bar-profile-left-long padding-left-8">
										<div class="position-relative">
											<div class="position-absolute top-minus-24">
												<span>Share</span>
											</div>
										</div>
									</div>
									<!-- <div class="cell-title-bar-profile-center">
									<span></span>
									</div> -->
									<div class="cell-title-bar-profile-right">
										<div class="btn-opt-edit-container-outer">
											<!-- <div class="btn-opt-edit-container">
											<div id="open_edit_story_4" class="btn-opt-edit" tabindex="">
											Edit
											</div>
											<div id="close_edit_story_4" class="btn-opt-edit hidden" tabindex="">
											Cancel
											</div>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="table margin-0" style="width: 550px; height: auto;">
							<div class="row">
								<div class="cell-100percent add-border-right-section">
									<div style="height: 10px;"></div>
									<div class="edit-story-4 textarea-add-post-user-parent" style="float: right; padding: 0 20px 0 0;">
	
										<%= form_for PostUserComment.new, :url => create_post_user_comment_publisher_users_path(@post_user_comment_new), :html => {:multipart => true, :class => '', :id => 'new_post_user_comment'}, :remote => true do |f| %>
										<%= f.hidden_field :comment_text %>
										<%= f.hidden_field :post_user_id %>
										<%= f.submit :id =>'submit_post_user_comment_hidden', :class => 'btn-submit hidden toggle-comment', :value => '' %>
										<% end %>
	
										<%= form_for PostUser.new, :url => create_post_user_publisher_users_path(@post_user_new), :html => {:multipart => true, :class => '', :id => 'new_post_user'}, :remote => true do |f| %>
										<%= f.hidden_field :post_text %>
										<%= f.submit :id => 'submit_story_4_hidden', :class => 'btn-submit hidden', :value => '' %>
										<% end %>
	
										<div class="textarea-add-post-user-container toggle-post-user" tabindex="">
											<div id="render_post_user_image" class="render-post-user-image"></div>
											<div id="textarea_add_post_user" class="textarea-add-post-user toggle-post-user textarea-add-post-user-inactive" contenteditable="true" tabindex="101">
												<br>
											</div>
										</div>
	
										<div class="btn-textarea-add-post-user-story-4-container hidden">
											<div style="height: 10px;"></div>
											<div id="drop_container_story_4_attach" class="drop float-left width-200">
												<%= render 'publisher/publisher_users/post_user_attach_menu' %>
	
												<%= form_for PostUserImage.new, :url => upload_post_user_image_publisher_users_path(@post_user_image_new), :html => {:multipart => true, :class => 'hidden', :id => 'new_post_user_image'}, :remote => true do |f| %>
												<p>
													<%= f.file_field :image, :id => 'new_post_user_image_image' %>
												</p>
												<!-- <#%= f.hidden_field :post_user_id, :val => nil %#> -->
												<p>
													<%= f.submit :id => 'btn_submit_post_user_image', :class => 'btn-submit hidden', :value => '' %>
												</p>
												<% end %>
											</div>
											<div id="submit_story_4" class="btn-submit-story-2 float-right toggle-post-user" tabindex="103">
												<div id="submit_story_4_text" class="submit-edit-story-4-text-2">
													Add
												</div>
												<div id="submit_story_4_loader" class="submit-edit-story-4-loader hidden"></div>
											</div>
											<div class="float-right" style="display: inline-block; width: 6px; height: 1px"></div>
											<div id="cancel_story_4" class="btn-submit-story-1 float-right toggle-post-user" tabindex="102">
												<div id="cancel_story_4_text" class="submit-edit-story-4-text">
													Cancel
												</div>
												<div id="cancel_story_4_loader" class="submit-edit-story-4-loader hidden"></div>
											</div>
										</div>
									</div>
									<div style="clear: both;"></div>
	
									<!-- <div id="btn_test" style="width: 20px; height: 10px; background-color: red;"></div> -->
	
									<div style="height: 30px;"></div>
	
								</div>
							</div>
						</div>
					</div>
					<!-- End activity Section-->
	
					<!-- Mystory section moved here 24 mar 15-->
	
					<div class="publisher-item-border" style="padding-bottom:30px;">
	
						<div class="title-bar-profile-1 title-bar-profile-1-top-border">
							<div class="tbl-title-bar-profile">
								<div class="row-title-bar-profile">
									<div class="cell-title-bar-profile-left-long padding-left-8">
										<div class="position-relative">
											<div class="position-absolute top-minus-24">
												<span>My Story</span>
											</div>
										</div>
									</div>
									<!-- <div class="cell-title-bar-profile-center">
									<span></span>
									</div> -->
									<div class="cell-title-bar-profile-right">
										<div class="btn-opt-edit-container-outer">
											<div class="btn-opt-edit-container">
												<div id="open_edit_story_2" class="btn-opt-edit" tabindex="">
													Edit
												</div>
												<div id="close_edit_story_2" class="btn-opt-edit hidden" tabindex="">
													Cancel
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="table margin-0">
							<div class="row">
								<div class="cell-100percent">
									<div style="height: 10px;"></div>
									<div class="edit-story-2 hidden">
	
										<% if false %>
										<!-- <textarea class="textarea-edit width-660 height-300" tabindex="" type="text" value="" placeholder="Corporate Story" disabled="disabled"> -->
										<div class="pad-left-20">
											<%= form_tag url_for(:controller => :publisher_users, :action => :update_story_2), :remote => true do %>
											<%= text_area_tag :story_plot, @publisher_user.story_plot, :class => 'resize-none input-profile-1 input-profile-color-1 profile-text-1 width-660 height-200', :placeholder => 'My KnowStory Plot', :spellcheck => false %>
											<!-- :onkeyup => 'countChar(this)' -->
											<!-- <div id="char_num" class="char_num"></div> -->
											<%= submit_tag 'Save', :id => 'submit_edit_story_2_hidden', :class => 'hidden' %>
											<% end %>
										</div>
										<% end %>
	
										<%= form_for PublisherUserPlot.new, :url => update_publisher_user_plot_publisher_users_path(@publisher_user_plot_new), :html => {:multipart => true, :class => '', :id => 'new_publisher_user_plot'}, :remote => true do |f| %>
										<%= f.hidden_field :plot_text %>
										<%= f.submit :id => 'submit_story_2_hidden', :class => 'btn-submit hidden', :value => '' %>
										<% end %>
	
										<!-- <div id="render_story_2_edit"><#%= render 'publisher_users/story_2_edit' %#></div> -->
										<div id="textarea_publisher_user_plot_containter_edit" class="textarea-user-plot-container-edit toggle-user-plot" tabindex="">
											<div id="render_publisher_user_plot_image_edit" class="render-user-plot-image"></div>
											<div id="textarea_publisher_user_plot_edit" class="textarea-user-plot textarea-user-plot-edit toggle-user-plot" contenteditable="true" tabindex=""></div>
										</div>
	
										<div class="btn-textarea-user-plot-story-2-container hidden" style="width: 515px; margin: 0 0 0 20px;">
											<div style="height: 10px;"></div>
											<div id="drop_container_story_2_attach" class="drop float-left width-200">
												<% if false %>
												<%= render 'publisher/publisher_users/publisher_user_plot_attach_menu' %>
												<%= form_for PublisherUserPlotImage.new, :url => upload_publisher_user_plot_image_publisher_users_path(@publisher_user_plot_image_new), :html => {:multipart => true, :class => 'hidden', :id => 'new_publisher_user_plot_image'}, :remote => true do |f| %>
												<p>
													<%= f.file_field :image, :id => 'new_publisher_user_plot_image_image' %>
												</p>
												<p>
													<%= f.submit :id => 'btn_submit_publisher_user_plot_image', :class => 'btn-submit hidden', :value => '' %>
												</p>
												<% end %>
												<% end %>
											</div>
											<div id="submit_story_2" class="btn-submit-story-2 float-right toggle-user-plot" tabindex="">
												<div id="submit_story_2_text" class="submit-edit-story-2-text-2">
													Save
												</div>
												<div id="submit_story_2_loader" class="submit-edit-story-2-loader hidden"></div>
											</div>
											<div class="float-right" style="display: inline-block; width: 6px; height: 1px"></div>
											<div id="cancel_story_2" class="btn-submit-story-1 float-right toggle-user-plot" tabindex="">
												<div id="cancel_story_2_text" class="submit-edit-story-2-text">
													Cancel
												</div>
												<div id="cancel_story_2_loader" class="submit-edit-story-2-loader hidden"></div>
											</div>
										</div>
	
										<!-- <div style="height: 10px;"></div> -->
	
										<!-- <div class="text-align-center" style="width: 700px; height: 60px;">
										<div class="table">
										<div class="row">
										<div id="btns_edit_story_2" class="cell-700">
										<div style="display: inline-block;">
										<div id="cancel_edit_story_2" class="btn-submit-story-1" tabindex="">Cancel</div>
										</div>
										<div style="display: inline-block;">
										<div id="submit_edit_story_2" class="btn-submit-story-1" tabindex="">Save</div>
										</div>
										</div>
										</div>
										</div>
										</div> -->
									</div>
									<div class="show-story-2">
										<!-- <div class="text-align-left"> -->
										<!-- <div class="textarea-user-plot-container">
										<#%= render 'publisher_users/story_2_edit' %#>
										</div> -->
										<div class="textarea-user-plot-container">
											<div id="render_publisher_user_plot_image" class="render-user-plot-image"></div>
											<div id="textarea_publisher_user_plot" class="textarea-user-plot textarea-user-plot-show" tabindex=""></div>
										</div>
										<!-- <#%= render 'publisher_users/story_2'%#> -->
										<!-- </div> -->
										<!-- </div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Mystory section-->
	
					<!-- KnowCred Section -->
					<div id="coming-soon" style="">
						<p class="title-grey">
							KnowCred <span>(Coming Soon)</span>
						</p>
					</div><!-- End KnowCred Section -->
	
					<!-- Points & Awards Section -->
					<div id="coming-soon" style="">
						<p class="title-grey">
							Points &amp; Awards <span>(Coming Soon)</span>
						</p>
					</div><!-- End Points & Awards Section -->
	
					<div id="coming-soon" style="height:325px;">
						<p class="title-grey">
							My Apps &amp; Things <span>(Coming Soon)</span>
						</p>
					</div>
	
				</div>
			</div>
			<% end %>
			
		</div>
	</div>
</div>	

<div style="height: 20px;"></div>
