<% provide(:title, 'Digital Curriculum') %>

	<!-- <script src="/assets/jquery.js"></script> -->
	
	<style>
		
		.container-journalposter {
			/*width: 1200px;*/
			min-height: 900px;
		}
		.journalposter-background {
			width: 1000px;
			margin: 0 auto;				
			height: 667px;
			background: #F1F2E1 url(../journal_poster/maps/map-1-digital-curriculum-w1000-h667.png) no-repeat right top;
		}
		span.jp-title {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #D98D2D;
		}
		span.jp-title-sub {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #A9D996;
		}
		.jp-table {
			display: table;
			padding-left: 4px;
			position: relative;
		}
		.jp-row {
			display: table-row;
			height: 100px;
		}
		.jp-cell {
			display: table-cell;
			width: 100px;	
		}
		.boxtemp-red-bottom-right {
			border-bottom: 1px solid red;
			border-right: 1px solid red;			
		}
		.pin-img {
			width: 76px;
			/*margin: 0 auto;*/				
			height: 40px;
			/*background: #F1F2E1 url(../journal_poster/poster-pin-free-w76-h40-2.png) no-repeat right top;*/
			background: url(../journal_poster/poster-pin-free-w76-h40-2.png) no-repeat right top;
			box-shadow: 4px 4px 20px #000;	
		}
		/*.img-pin:hover {
			width: 180px;
			height: 70px;
			background: #ACDDE3;
		}*/

		.jp-header {
			width: 1000px;
			text-align: left;
			margin: 0 auto;
			padding-left: 6px;
		}
		.absolute-position {
			position: absolute;	
		}
		.pin-expand {
			width: 300px;
			height: 100px;
			background-color: #ACDDE3;
			box-shadow: 4px 4px 20px #000;	
			/*position: relative;
			top: -110px;
			left: 40px;*/
		}
		.display-off {
			display: none;
		}
		.pin {
			z-index: 1;
		}
		.pin:hover {
			z-index: 2;
		}		
		.pin a {
			text-decoration: none;
		}
		.hover-info-img {
			display: inline-block;			
		}
		.hover-info-text {
			display: inline-block;
			line-height: 0.7em;				
			vertical-align: top;		
			padding-top: 4px;
			padding-left: 2px;
		}
		.hover-info-text span {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
			color: #333;
		}
		.hover-info-text a {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 11px;
			color: #333;
		}
		.hover-info-text a:hover {
			text-decoration: underline;
		}

		/*
		adlabel										
		adlabel-img									
		adlabel-txtarea								
		adlabel-table-1								
		adlabel-table-1-row-1						
		adlabel-table-1-row-1-col-1					
		adlabel-table-1-row-1-col-2					
		adlabel-table-1-a							
		adlabel-table-1-a-row-1						
		adlabel-table-1-a-row-1-col-1				
		adlabel-table-1-b							
		adlabel-table-1-b-row-1						
		adlabel-table-1-b-row-1-col-1				
		adlabel-table-1-b-row-1-col-1 span			
		adlabel-table-2
		adlabel-table-2-row-1
		adlabel-table-2-row-1-col-1
		adlabel-table-2-row-1-col-1 a 
		*/ 

		.adlabel {
			height: 140px;
			width: 600px;
			padding: 4px;
			vertical-align: top;
	    	/*cursor: pointer;*/
	    	background-color: #fff;
	    	border: solid 4px #aaa;
	    	border-radius: 4px;
	    	position: relative;
		}
		.adlabel-img {
			width: 200px;
			height 100px;
			border: solid 1px #aaa;
		}
		.adlabel-txtarea {
			font-family: Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 14px;
			padding-left: 6px;
			padding-right: 6px;
			padding-top: 2px;
			/*border: solid 1px #478A3E;*/
			border: solid 1px #aaa;
			background-color: #fff;
			resize: none;	
			height: 70px;
			width: 388px;
		}
		.adlabel-table-1 {
			display: table;
			/*border: solid 1px #blue;*/
		}
		.adlabel-table-1-row-1 {
			display: table-row;			
		}
		.adlabel-table-1-row-1-col-1 {
			display: table-cell;			
			width: 204px;
			height: 100px;
			border: solid 1px blue;
		}
		.adlabel-table-1-row-1-col-2 {
			display: table-cell;			
			width: 388px;
			height: 100px;
			vertical-align: top;
			border: solid 1px red;
		}
		.adlabel-table-1-a {
			display: table;
			/*border: solid 1px #green;*/
		}
		.adlabel-table-1-a-row-1 {
			display: table-row;
			/*border: solid 1px #green;*/
		}
		.adlabel-table-1-a-row-1-col-1 {
			display: table-cell;
			/*border: solid 1px #green;*/
		}
		.adlabel-table-1-b {
			display: table;			
			/*border: solid 1px #brown;*/
		}
		.adlabel-table-1-b-row-1 {
			display: table-row;			
		}
		.adlabel-table-1-b-row-1-col-1 {
			display: table-cell;	
			width: 388px;
			height: 20px;
			padding: 6px;
			vertical-align: bottom;
			border: solid 1px orange;		
		}
		.adlabel-table-1-b span {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: blue;			
		}
		.adlabel-table-2 {
			display: table;
			/*border: solid 1px #blue;*/
		}
		.adlabel-table-2-row-1 {
			display: table-row;			
		}
		.adlabel-table-2-row-1-col-1 {
			display: table-cell;			
			width: 592px;
			height: 20px;
			vertical-align: top;
			text-align: right;
			padding-right: 2px;
			border: solid 1px brown;
		}
		.adlabel-table-2-row-1-col-1 a {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: brown;									
		}




		/*
		adblock
		adblock-img-1
		adblock-img-2
		adblock-table-1
		adblock-table-1-row-1
		adblock-table-1-row-1-col-1
		adblock-table-1-row-1-col-1 span
		adblock-table-2
		adblock-table-2-row-1
		adblock-table-2-row-1-col-1
		adblock-table-2-row-1-col-1 span
		adblock-table-1
		adblock-table-1-row-1
		adblock-table-1-row-1-col-1
		adblock-table-1-row-1-col-1 a
		*/ 


		.adblock {
			height: 320px;
			width: 320px;
			vertical-align: top;
	    	/*cursor: pointer;*/
	    	background-color: #fff;
	    	border: solid 4px #aaa;
	    	border-radius: 4px;
	    	position: relative;
			display: inline-block;	    	
		}
		.adblock-table-1 {
			display: table;
		}
		.adblock-table-1-row-1 {
			display: table-row;			
		}
		.adblock-table-1-row-1-col-1 {
			display: table-cell;			
			width: 310px;
			height: 30px;
			padding: 4px;
			text-align: center;
			border: solid 1px blue;
		}
		.adblock-table-1-row-1-col-1 span {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: blue;									
		}
		.adblock-table-2 {
			display: table;
		}
		.adblock-table-2-row-1 {
			display: table-row;			
		}
		.adblock-table-2-row-1-col-1 {
			display: table-cell;			
			width: 310px;
			height: 140px;
			vertical-align: top;
			position: relative;
			border: solid 1px red;
		}
		.adblock-table-2-row-1-col-1 p {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: brown;									
		}
		.adblock-table-3 {
			display: table;
		}
		.adblock-table-3-row-1 {
			display: table-row;
		}
		.adblock-table-3-row-1-col-1 {
			display: table-cell;
			width: 310px;
			height: 70px;
			vertical-align: top;
			position: relative;
			border: solid 1px blue;
		}
		.adblock-table-3-row-1-col-1 span {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: brown;									
		}
		.adblock-table-4 {
			display: table;
		}
		.adblock-table-4-row-1 {
			display: table-row;
		}
		.adblock-table-4-row-1-col-1 {
			display: table-cell;
			width: 310px;
			height: 30px;
			padding: 4px;
			text-align: center;
			border: solid 1px blue;
		}
		.adblock-table-4-row-1-col-1 a {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: blue;									
		}
		.adblock-table-2a {
			display: table;			
		}	
		.adblock-table-2a-row-1 {
			display: table-row;
		}	
		.adblock-table-2a-row-1-col-1 {
			display: table-cell;
			vertical-align: top;
			width: 160px;
			height: 140px;
		}	
		.adblock-table-2a-row-1-col-2 {
			display: table-cell;
			vertical-align: top;
			width: 140px;
			height: 140px;			
			text-align: right;
		}	
		.adblock-table-3a {
			display: table;			
		}	
		.adblock-table-3a-row-1 {
			display: table-row;
		}	
		.adblock-table-3a-row-1-col-1 {
			display: table-cell;
			vertical-align: top;
			width: 140px;
			height: 110px;
		}	
		.adblock-table-3a-row-1-col-2 {
			display: table-cell;
			vertical-align: top;
			width: 160px;
			height: 110px;			
			text-align: left;
			padding-top: 4px;
		}	
		
			
	</style>


	<!-- 
	poster-pin-free-w76-h40.png
	poster-map-w1301-h870.png
	poster-pin-premium-w106-h106.png
	poster-map-unpop-w1000-h710	
	-->


	<!-- <#%= render 'share/backtotop_2' %#> -->

	<%= render 'share/nav_journalposter' %>		



	<div class="container-journalposter">
		
		<div class="jpmap-table">
			<div class="jpmap-row">
				<div class="jpmap-col1">
				</div>
				
				<div class="jpmap-co2">
				
					<div style="height: 70px;"></div>
			
					<!-- <div class="jp-header">
						<span class="jp-title">Poster 1</span>
					</div>
					<div style="height: 20px;"></div> -->
					<div id="journalposter_background" class="journalposter-background">
						
						<div class="jp-table">



							<!-- <#% for i in 0..(@journal1posters_map.count - 1) %#> -->

							<% pin_top = 70 %>
							<% pin_lft = 20 %>
							<% @publisher_ad_pins.each do |publisher_ad_pin| %>
							
							
								<div id="<%= publisher_ad_pin.id %>" class="absolute-position pin" style="top: <%= pin_top %>px; left: <%= pin_lft %>px;">
										
										<!-- <div id="<#%= @journal1posters_map[i][3] %#>a" class="pin-img"></div> -->
										<div id="<%= publisher_ad_pin.id %>a" class="pin-img"></div>
										
										<!-- <div id="<#%= @journal1posters_map[i][3] %#>b" class="pin-expand display-off"> -->
										<div id="<%= publisher_ad_pin.id %>b" class="pin-expand display-off">

											<div class="hover-info-img">
												<!-- <figure>
													<img height="70px" alt="" src="<#%= @journal1posters_map[i][6] %#>" />
													<figcaption>
													</figcaption>
												</figure> -->
												
												<figure>
													<%= publisher_product_logo_for_pin publisher_ad_pin  %>
													<!-- <figcaption>
														<span class="publisher-product-list-span"><#%= link_to "Edit", publisher_product_descriptions_path(:publisher_id => @publisher_id, :publisher_product_id => publisher_product.id), class: "" %#></span>
													</figcaption> -->
												</figure>
												
											</div>
											
											<div class="hover-info-text">
												<span><%= publisher_ad_pin.publisher_id %></span><br>
												<span><%= publisher_ad_pin.name_product %></span><br>
												<a href="#">test line 3</a>
												<!-- <span><#%= @journal1posters_map[i][4] %#></span><br>
												<span><#%= @journal1posters_map[i][1] %#></span><br>
												<a href="http://<#%= @journal1posters_map[i][2] %#>"><#%= @journal1posters_map[i][2] %#></a> -->
												
											</div>
																						
										</div>
									<!-- </a> -->
								</div>
						
								<% pin_top += 60 %>
								<% pin_lft += 0 %>
						
							<% end %>


						</div>
					</div>
			
			
<% if false %>			
					<div id="journalposter_background" class="journalposter-background">
						
						<div class="jp-table">
			
			
							<!-- <#% if (@journal1posters.count > 0) %#>
								<div><#%= @journal1posters.count %#></div>
								<#% for i in 0..(@journal1posters.count - 1) %#>
									<div><#%= @journal1posters[i][0][0] %#></div>
								<#% end %#>
							<#% else %#>
									<div>No positions available</div>
							<#% end %#> -->

<!-- 
[a_jpp_section_3.pop, tag_line, url, id_div, "Math Country", publisher_journalposter_logos_any, publisher_journalposter_logo, word_descr] 
	0[0,1]				1		2		3		   4						5									6				  7
-->

							<% for i in 0..(@journal1posters_map.count - 1) %>

								<div id="<%= @journal1posters_map[i][3] %>" class="absolute_position pin" style="top: <%= @journal1posters_map[i][0][1] %>px; left: <%= @journal1posters_map[i][0][0] %>px;">
									<!-- <a href="#"> -->
										
										<div id="<%= @journal1posters_map[i][3] %>a" class="pin-img"></div>
										
										<div id="<%= @journal1posters_map[i][3] %>b" class="pin-expand display-off">
											
											<% if @journal1posters_map[i][5] %>
											<div class="hover-info-img">
												<figure>
													<img height="70px" alt="" src="<%= @journal1posters_map[i][6] %>" />
													<!-- <figcaption>
													</figcaption> -->
												</figure>
											</div>
											<% end %>
											<div class="hover-info-text">
												<span><%= @journal1posters_map[i][4] %></span><br>
												<span><%= @journal1posters_map[i][1] %></span><br>
												<a href="http://<%= @journal1posters_map[i][2] %>"><%= @journal1posters_map[i][2] %></a>
											</div>
																						
										</div>
									<!-- </a> -->
								</div>
						
							<% end %>

						</div>
					</div>
<% end %>
					<!-- 
				    [0] publisher_journalposter_id
				    [1] tag_line
				    [2] url
				    [3] publisher_journalposter_logos_any
				    [4] publisher_journalposter_logo
				    [5] word_descr
				    [6] publisher_journalposter_prodshots_any
				    [7] publisher_journalposter_prodshot
				    [8] headline 
				    -->
				      
					<div style="height: 30px;"></div>





					<div style="width: 1000px; margin: 0 auto; text-align: left;">

						<% @publisher_ad_squares.each do |publisher_ad_square| %>

							<div class="adblock" style="">
								
								<div class="adblock-table-1">
									<div class="adblock-table-1-row-1">
										<div class="adblock-table-1-row-1-col-1">
											<span>test</span>
										</div>
									</div>
								</div>
								<div class="adblock-table-2">
									<div class="adblock-table-2-row-1">
										<div class="adblock-table-2-row-1-col-1">
											<div class="adblock-table-2a">
												<div class="adblock-table-2a-row-1">
													<div class="adblock-table-2a-row-1-col-1 boxtemp-blue">
														<figure>
															<%= publisher_product_logo_for_square publisher_ad_square  %>
															<!-- <figcaption>
																<span class="publisher-product-list-span"><#%= link_to "Edit", publisher_product_descriptions_path(:publisher_id => @publisher_id, :publisher_product_id => publisher_product.id), class: "" %#></span>
															</figcaption> -->
														</figure>
													</div>
													<div class="adblock-table-2a-row-1-col-2 boxtemp-green">
														<p>test 1</p>	
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>								
								<div class="adblock-table-3">
									<div class="adblock-table-3-row-1">
										<div class="adblock-table-3-row-1-col-1">
											<div class="adblock-table-3a">
												<div class="adblock-table-3a-row-1">
													<div class="adblock-table-3a-row-1-col-1 boxtemp-blue">
													</div>
													<div class="adblock-table-3a-row-1-col-2 boxtemp-green">
														<span>test 2</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>								
								<div class="adblock-table-4">
									<div class="adblock-table-4-row-1">
										<div class="adblock-table-4-row-1-col-1">
											<a href="#">test 3</a>
										</div>
									</div>
								</div>								
								
							</div>
						<% end %>

					</div>




					<% if false %>
					<div style="width: 1000px; margin: 0 auto; text-align: left;">
						<% for i in 0..(@journal1posters_34.count - 1) %>
							<% @cnt_34 += 1 %>
							<% if @cnt_34 == 4 %>
								<div style="height: 20px;"></div>
							<% elsif ((@cnt_34 == 2 ) or (@cnt_34 == 3 )) %>
								<div style="width: 11px; display: inline-block;"></div>
							<% end %>
								<div class="adblock" style="">
									
									<div class="adblock-table-1">
										<div class="adblock-table-1-row-1">
											<div class="adblock-table-1-row-1-col-1">
												<span><%= @journal1posters_34[i][8] %></span>
											</div>
										</div>
									</div>
									<div class="adblock-table-2">
										<div class="adblock-table-2-row-1">
											<div class="adblock-table-2-row-1-col-1">
												<div class="adblock-table-2a">
													<div class="adblock-table-2a-row-1">
														<div class="adblock-table-2a-row-1-col-1 boxtemp-blue">
															<p><%= @journal1posters_34[i][5] %></p>	
														</div>
														<div class="adblock-table-2a-row-1-col-2 boxtemp-green">
															<% if @journal1posters_34[i][6] %>
															<figure>
																<img alt="" src="<%= @journal1posters_34[i][7] %>" />
																<!-- <figcaption>
																</figcaption> -->
															</figure>
															<% end %>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>								
									<div class="adblock-table-3">
										<div class="adblock-table-3-row-1">
											<div class="adblock-table-3-row-1-col-1">
												<div class="adblock-table-3a">
													<div class="adblock-table-3a-row-1">
														<div class="adblock-table-3a-row-1-col-1 boxtemp-blue">
															<% if @journal1posters_34[i][3] %>
															<figure>
																<img alt="" src="<%= @journal1posters_34[i][4] %>" />
																<!-- <figcaption>
																</figcaption> -->
															</figure>
															<% end %>
														</div>
														<div class="adblock-table-3a-row-1-col-2 boxtemp-green">
															<span><%= @journal1posters_34[i][1] %></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>								
									<div class="adblock-table-4">
										<div class="adblock-table-4-row-1">
											<div class="adblock-table-4-row-1-col-1">
												<a href="http://<%= @journal1posters_34[i][2] %>"><%= @journal1posters_34[i][2] %></a>
											</div>
										</div>
									</div>								
									
								</div>
							<% if @cnt_34 == 4 %>
							<%	@cnt_34 = 0 %>
							<% end %>
						<% end %>
					</div>
					<% end %>

					<div style="height: 30px;"></div>

					<% if false %>
					<div style="width: 1000px; margin: 0 auto; text-align: left;">
						<% for i in 0..(@journal1posters_12.count - 1) %>

							<div class="adlabel">
								<div class="adlabel-table-1">
									<div class="adlabel-table-1-row-1">
										<div class="adlabel-table-1-row-1-col-1">
											<% if @journal1posters_12[i][3] %>
											<figure>
												<img alt="logo not appearing" src="<%= @journal1posters_12[i][4] %>" />
												<!-- <figcaption>
												</figcaption> -->
											</figure>
											<% end %>
										</div>
										<div class="adlabel-table-1-row-1-col-2">
											<div class="adlabel-table-1-a">
												<div class="adlabel-table-1-a-row-1">
													<div class="adlabel-table-1-a-row-1-col-1">
														<textarea class="adlabel-txtarea" cols="28" disabled="disabled"><%= @journal1posters_12[i][5] %></textarea>
													</div>
												</div>
											</div>
											<div class="adlabel-table-1-b">
												<div class="adlabel-table-1-b-row-1">
													<div class="adlabel-table-1-b-row-1-col-1">
														<span><%= @journal1posters_12[i][1] %></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="adlabel-table-2">
									<div class="adlabel-table-2-row-1">
										<div class="adlabel-table-2-row-1-col-1">
											<a href="http://<%= @journal1posters_12[i][2] %>"><%= @journal1posters_12[i][2] %></a>
										</div>
									</div>
								</div>								
							</div>
							<div style="height: 20px;"></div>
							
						<% end %>
					</div>
					<% end %>
					
					<div style="height: 100px;"></div>
					
					<div style="width: 200px; margin: 0 auto;">
				    	<h5>
						   	<% delete_all_msg = "Delete all records and reset index in Journal1posterPositions?" %>
							<%= button_to "Delete All Records and Reset Index", {:action => 'dbdelete'}, :method => :post, data: { confirm: delete_all_msg }, :class => 'reset-db-btn-long' %>
						</h5>
					</div>

					<div style="height: 200px;"></div>

				</div>
			</div>
		</div>

	</div>


	<script>

		var id = 0;
		var ida  = "";
		var idb  = "";
		// $(window).load( function() {
		$(document).ready(function(){
			
			
			$(".pin").hover (
				// alert("hover");
		  		function() {
		  			// alert($(this).attr('id'));
		  			id = $(this).attr('id');
		  			ida  = "#" + id + "a";
		  			idb  = "#" + id + "b";
					$(ida).addClass('display-off');
					$(idb).removeClass('display-off');  						
				}, function() {
					$(ida).removeClass('display-off');
					$(idb).addClass('display-off');  						
				}
			);
			$("#tab1").addClass("active");
			
			// alert("ready");
			
		});
		
	</script>












