<% provide(:title, 'Welcome') %>

	
	<script src="/assets/jquery.validate.js"></script>
	<script src="../scripts/dot.js"></script>    
	<script src="../scripts/jquery-dropdown-dot.js"></script>
	<script type="text/javascript" src="../scripts/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="../scripts/slidedeck.jquery.js"></script>
	<script src="/assets/jquery.colorbox.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="../styles/landing_page.css.scss" media="screen,handheld" /> -->	
	<link rel="stylesheet" href="/assets/colorbox.css" />
	<link rel="stylesheet" type="text/css" href="../styles/slidedeck.skin.css" media="screen,handheld" />


	<style>
	
		@font-face {
			font-family: 'msyh';
		    src: url('../fonts/msyh.eot');	  		
			src: url('../fonts/msyh.ttf') format('truetype');
		}
	
		.menu-home {
		}
		.menu-home li.with_sub {
			float:left;
			display:block;
			text-align:center;
			position:relative;
			padding: 12px 10px 8px 10px;
			margin-right:30px;
			margin-top:7px;
			border:none;
		}
		.menu-home li.with_sub:hover {
			border: 1px solid #777777;
			padding: 12px 9px 4px 9px;
			background: #F4F4F4;
			background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
			/*-moz-border-radius: 5px 5px 0px 0px;
			-webkit-border-radius: 5px 5px 0px 0px;
			border-radius: 5px 5px 0px 0px;*/
		}
		.menu-home li.with_sub a {
			font-family: msyh, Arial, Helvetica, sans-serif;			
			font-size: 14px;		
			color: #EEEEEE;
			display:block;
			outline:0;
			text-decoration:none;
			/*text-shadow: 1px 1px 1px #000;*/
		}
		.menu-home li.with_sub:hover a {
			color:#161616;
			text-shadow: 1px 1px 1px #ffffff;
		}
		.menu-home li.icon {
			float:left;
			display:block;
			text-align:center;
			position:relative;
			padding: 6px 4px 0px 0px;
			margin-right:0px;
			margin-top:0px;
			border:none;
			background: #fff;		
		}
		.menu-home li.icon:hover {
			float:left;
			display:block;
			text-align:center;
			position:relative;
			padding: 6px 4px 0px 0px;
			margin-right:0px;
			margin-top:0px;
			border:none;
			background: #fff;		
		}
		.menu-home li.icon a {
			color: #fff;
			text-shadow: 1px 1px 1px #ffffff;		
		}
		.menu-home li.icon:hover a {
			color: red;
			text-shadow: 1px 1px 1px #ffffff;		
		}
		.menu-home li.text {
			display:block;
			text-align:center;
			position:relative;
			padding: 12px 10px 8px 10px;
			margin-right:30px;
			margin-top:7px;
			border:none;
		}
		.menu-home li.text:hover {
			border: none;
			padding: 12px 10px 8px 10px;		
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			border-radius: 0px;
		}
		.menu-home li.text a {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;		
			color: #fff;
			display:block;
			outline:0;
		}
		.menu-home li.text:hover a {
			/*color:#161616;
			text-shadow: 1px 1px 1px #ffffff;*/
		}
		.menu-home li .drop {
			padding-right:21px;
			background:url("img/drop.png") no-repeat right 8px;
		}
		.menu-home li:hover .drop {
			background:url("img/drop.png") no-repeat right 7px;
		}
		.dropdown_1column, 
		.dropdown_2columns, 
		.dropdown_3columns, 
		.dropdown_4columns,
		.dropdown_5columns {
			margin:4px auto;
			float:left;
			position:absolute;
			left:-999em; /* Hides the drop down */
			text-align:left;
			padding:10px 5px 10px 5px;
			border:1px solid #777777;
			border-top:none;
			background:#F4F4F4;
			background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
			-moz-border-radius: 0px 5px 5px 5px;
			-webkit-border-radius: 0px 5px 5px 5px;
			border-radius: 0px 5px 5px 5px;
			z-index: 100;
		}
		.dropdown_1column {width: 140px;}
		.dropdown_2columns {width: 280px;}
		.dropdown_3columns {width: 420px;}
		.dropdown_4columns {width: 560px;}
		.dropdown_5columns {width: 700px;}
		.menu-home li:hover .dropdown_1column, 
		.menu-home li:hover .dropdown_2columns, 
		.menu-home li:hover .dropdown_3columns,
		.menu-home li:hover .dropdown_4columns,
		.menu-home li:hover .dropdown_5columns {
			left:-1px;
			top:auto;
		}
		.col_1,
		.col_2,
		.col_3,
		.col_4,
		.col_5 {
			display:inline;
			float: left;
			position: relative;
			margin-left: 5px;
			margin-right: 5px;
		}
		.col_1 {width:130px;}
		.col_2 {width:270px;}
		.col_3 {width:410px;}
		.col_4 {width:550px;}
		.col_5 {width:690px;}
		.menu-home .menu_right {
			/*float:right;*/
			padding-right: 15px;
			margin-right:0px;
			width: 430px;
		}
		.menu-home li .align_right {
			-moz-border-radius: 5px 0px 5px 5px;
		    -webkit-border-radius: 5px 0px 5px 5px;
		    border-radius: 5px 0px 5px 5px;
		}
		.menu-home li:hover .align_right {
			left:auto;
			right:-1px;
			top:auto;
		}
		.menu-home p, .menu-home h2, .menu-home h3, .menu-home ul li {
			font-family: msyh, Arial, Helvetica, sans-serif;
			line-height:21px;
			font-size:12px;
			text-align:left;
			text-shadow: 1px 1px 1px #FFFFFF;
		}
		.menu-home h2 {
			font-size:21px;
			font-weight:400;
			letter-spacing:-1px;
			margin:7px 0 14px 0;
			padding-bottom:14px;
			border-bottom:1px solid #666666;
		}
		.menu-home h3 {
			font-size:14px;
			margin:7px 0 14px 0;
			padding-bottom:7px;
			border-bottom:1px solid #888888;
		}
		.menu-home p {
			line-height:18px;
			margin:0 0 10px 0;
		}
		.menu-home li:hover div a {
			font-size:12px;
			color:#015b86;
		}
		.menu-home li:hover div a:hover {
			color:#029feb;
		}
		.strong {
			font-weight:bold;
		}
		.italic {
			font-style:italic;
		}
		.imgshadow {
			background:#FFFFFF;
			padding:4px;
			border:1px solid #777777;
			margin-top:5px;
			-moz-box-shadow:0px 0px 5px #666666;
			-webkit-box-shadow:0px 0px 5px #666666;
			box-shadow:0px 0px 5px #666666;
		}
		.img_left {
			width:auto;
			float:left;
			margin:5px 15px 5px 5px;
		}
		.menu-home li .black_box {
			background-color:#333333;
			color: #eeeeee;
			text-shadow: 1px 1px 1px #000;
			padding:4px 6px 4px 6px;
			-moz-border-radius: 5px;
		    -webkit-border-radius: 5px;
		    border-radius: 5px;
			-webkit-box-shadow:inset 0 0 3px #000000;
			-moz-box-shadow:inset 0 0 3px #000000;
			box-shadow:inset 0 0 3px #000000;
		}
		.menu-home li ul {
			list-style:none;
			padding:0;
			margin:0 0 12px 0;
		}
		.menu-home li ul li {
			font-size:12px;
			line-height:24px;
			position:relative;
			text-shadow: 1px 1px 1px #ffffff;
			padding:0;
			margin:0;
			float:none;
			text-align:left;
			width:130px;
		}
		.menu-home li ul li:hover {
			background:none;
			border:none;
			padding:0;
			margin:0;
		}
		.menu-home li .greybox li {
			background:#F4F4F4;
			border:1px solid #bbbbbb;
			margin:0px 0px 4px 0px;
			padding:4px 6px 4px 6px;
			width:116px;
			-moz-border-radius: 5px;
		    -webkit-border-radius: 5px;
		    -khtml-border-radius: 5px;
		    border-radius: 5px;
		}
		.menu-home li .greybox li:hover {
			background:#ffffff;
			border:1px solid #aaaaaa;
			padding:4px 6px 4px 6px;
			margin:0px 0px 4px 0px;
		}
		#session_password {margin-left: 37px;}
		.nav-ks-home {
			width: 100%;
			position: relative;
		}
		.nav-ks-home .signin-text {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: #3d8138;
		}
		.nav-ks-home a.signin-pref {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #37633A; /*#1f7c82;*/
		}
		.nav-ks-home a.signin-pref:hover,
		.nav-ks-home a.signin-pref:focus {
			cursor:pointer;
			text-decoration: underline;
			outline: none;

		}
		.nav-ks-home label.signin-pref {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #37633A; /*#1f7c82;*/
		}
		.nav-ks-home label.signin-pref:hover,
		.nav-ks-home label.signin-pref:focus {
			cursor:pointer;
			text-decoration: underline;
			outline: none;
		}
		
		/*
		#D98D2D	knowstory logo orange
		#96C785 knowstory logo green dark 
		#A9D996 knowstory logo green light
		#214025 footer green
		background-color: rgba( 65, 183, 55, 0.92); nav green
		background-color: #41B737;	nav green		
		*/ 

		/*input[type=checkbox] {
		    display:none;
		}*/			
		.table-ks-home {
			display: table;
		}				
		.row-ks-home {
			display: table-row;
			vertical-align: top;
		}				
		.cell-ks-home-1 {
			display: table-cell;
			vertical-align: top;
			width: 386px;
		}				
		.cell-ks-home-2 {
			display: table-cell;
			vertical-align: top;
			width: 600px;
			/*padding:60px 0 0 0px;*/
		}				
		.nav-ks-home ul.ul-1 {
			/*padding-top: 1px;*/
			list-style:none;			
		  	/*background-color: #41B737;
		  	height: 40px;
		    border-radius: 8px 8px 0 0;
		    box-shadow: 0 4px 4px #CCCCCC;*/
			
		}
		.nav-ks-home ul.ul-2 {
			/*padding-top: 8px;*/
			list-style:none;			
		  	/*background-color: #41B737;
		  	height: 36px;
		  	border-bottom: 1px solid #CDCDCD;
		    box-shadow: 0 4px 4px #CCCCCC;
			padding-right: 170px;*/
		}
		.nav-ks-home ul.ul-3 {
		 	text-align: center; 
		 	padding-top: 10px;	
		}
		/*.cell-ks-home-1-3 {
		    background-color: #F8F8F8;
		    border: 1px solid #41B737;
		    border-radius: 8px 8px 0 0;
		    display: table-cell;
		    padding: 8px;
		    vertical-align: top;
		    width: 200px;
			box-shadow: 0 4px 4px #CCCCCC;
		}*/				
		.cell-ks-home-1-3 {
			display: table-cell;
			vertical-align: top;
			width: 473px;
			height: 500px;
			padding-top: 0px;
			/*box-shadow: 0 4px 4px #CCCCCC;*/
			box-shadow: 4px 4px 4px #CCCCCC;
		}				
		.cell-ks-home-2-3 {
			display: table-cell;
			/*vertical-align: top;*/
			width: 50px;
			/*height: 486px;*/
			/*padding-top: 0px;*/
			/*border: 1px solid #CDCDCD;*/
			/*box-shadow: 0 4px 4px #CCCCCC;*/
			/*background-color: #49853F;*/ 	
		}				
		.cell-ks-home-3-3 {
			display: table-cell;
			vertical-align: top;
			width: 540px;
			background: none repeat scroll 0 0 #F8F8F8;
		    border: 1px solid #41B737;
		    border-radius: 8px 8px 0 0;
			box-shadow: 0 4px 4px #CCCCCC;
		}				
		span.title-home-dark {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 24px;
			color: #11520B;
			font-weight: 700;
			/*color: #D98D2D;*/
		}
		span.title-home-dark-2 {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #49853F;
		}
		p.title-home-dark-2 {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #49853F;
		}
		p.title-home-gray {
			/*font-family: msyh, Arial, Helvetica, sans-serif;*/
			font-family: Arial, Helvetica, sans-serif;
			font-size: 13px;
			color: #666;
		}
		.cell-right-home {
			text-align: right;	
		}
		.cell-ks-home-2-2a, .cell-ks-home-2-2b {
			padding-left: 24px;
			padding-right: 0px;
			padding-top: 16px;
			padding-bottom: 0px;			
		}		
		.cell-ks-home-2-2b {
		  border-top: 4px double #41B737;
		}
		span.title-home-dark-3 {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: #11520B;
			font-weight: 700;
		}
		span.title-home-dark-4 {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: #11520B;
			font-weight: 400;
		}

		.form-types .input-label-home {width:40px;}
		
	</style>

	<style>
		
		.input-home {
			font-family: msyh, Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 700;
			font-size: 13px;
			width: 260px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #f6f6f6;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 4px;
		}
		.input-home:focus {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 700;
			/*-webkit-box-shadow: 0 0 10px #88E87B;
			-moz-box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #88E87B;*/
		}
		
		.input-home:focus,
		.input-home:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			   -moz-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			        box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
		}
		.input-home:focus:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			   -moz-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			        box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
		}
		.input-home:hover {		
			-webkit-box-shadow: inset 0 0 1px 1px #37633A; /*#185C61;*/
			   -moz-box-shadow: inset 0 0 1px 1px #37633A; /*#185C61;*/
			        box-shadow: inset 0 0 1px 1px #37633A; /*#185C61;*/
		}
		.input-home-short {
			font-family: msyh, Arial, Helvetica, sans-serif;
			color: #888;
			font-weight: 700;
			font-size: 13px;
			/*width: 160px;*/
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border: 1px solid #478A3E;
			padding-left: 4px;
		}
		.input-home-short:focus {
			border-color: #478A3E;
			color: #11520B;
			font-weight: 700;
			/*-webkit-box-shadow: 0 0 10px #88E87B;
			-moz-box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #88E87B;*/
		}
		/*Main bright green:  65/183/55		#41B737
		Med dark green: 55/99/58			#37633A*/
		.input-home-short:focus,
		.input-home-short:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			   -moz-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			        box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
		}
		.input-home-short:focus:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			   -moz-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			        box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
		}
		.input-home-short:hover {		
			-webkit-box-shadow: inset 0 0 1px 1px #37633A; /*#185C61;*/
			   -moz-box-shadow: inset 0 0 1px 1px #37633A; /*#185C61;*/
			        box-shadow: inset 0 0 1px 1px #37633A; /*#185C61;*/
		}
		::-webkit-input-placeholder {
		   color: #778899; /*#C0C0C0;*/
		}
		
		:-moz-placeholder {
		   color: #778899; /*#C0C0C0;*/

		}
		
		::-moz-placeholder {
		   color: #778899; /*#C0C0C0;*/

		}
		
		:-ms-input-placeholder {  
		   color: #778899; /*#C0C0C0;*/

		}		
		
		
		
		
		
		.input-home-exp {
			font-family: msyh, Arial, Helvetica, sans-serif;
			color: #404040;			
			font-size: 16px;
			width: 100px;
			height: 24px;
			border-style:solid;
			border-radius: 0px;
			background-color: #fff;
			border-color: #478A3E;
			border-width: 1px;
			padding-left: 6px;
		}
		.input-home-exp:focus {
			border-color: #478A3E;
			color: #000;
			-webkit-box-shadow: 0 0 10px #88E87B;
			-moz-box-shadow: 0 0 10px #88E87B;
			box-shadow: 0 0 10px #88E87B;
		}
		.input-label-home, .input-label-home-dark {
		    color: #49853F;
		}
		.input-label-home {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			/*color: #ccc;*/
			width: 160px;
			height: 18px;
		}
		.input-label-home-a {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #1f7c82;
		}
		.input-label-home-a:hover {
			color: #1f7c82;
		}
		.input-label-home-a:focus {
			color: #1f7c82;
			text-shadow: 1px 1px #34922C;
		}
		.input-label-home-dark {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			/*color: #888;*/
			width: 160px;
			height: 18px;
		}
		.signin-btn-home {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			height: 27px;
			width:76px;
			border: 2px solid #11520B;
			text-align: center;
			color: #49853f;
			background-color: transparent;			
		}
		.signin-btn-home:hover {
			color: #fff;
			cursor: pointer;
			background-color: #49853f;
			text-shadow: 1px 1px #34922C;
		}
		.signin-btn-home:focus {
			outline: none;
			text-shadow: 1px 1px #34922C;			
			box-shadow: 0 0 14px #eee;
		}
		.signin-btn-home:select {
			outline: none;
			text-shadow: 1px 1px #34922C;						
			box-shadow: 0 0 14px #eee;
		}
		
		
		
		.signup-btn-home-div {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			height: 27px;
			width:76px;
			text-align: center;
			padding-top: 2px;			
			border: 2px solid #11520B;
			/*color: #49853f;
			background-color: transparent;*/	
			color: #fff;
			background-color: #49853f;
			/*text-shadow: 1px 1px #34922C;*/
		}
		a.signup-btn-home-a {
			text-decoration: none;
			float: right;
			/*right: -90px;*/
		}
		a.signup-btn-home-a:select {
			color: transparent;
			text-shadow: 1px 1px #49853f;
		}
		.signup-btn-home-div:hover {
			/*color: #fff;*/
			cursor: pointer;
			/*background-color: #49853f;
			text-shadow: 1px 1px #34922C;*/
			color: #49853f;
			background-color: transparent;						
		}
		.signup-btn-home-div:focus {
			outline: none;
			/*text-shadow: 1px 1px #34922C;*/
			color: transparent;
			text-shadow: 1px 1px #49853f;						
			box-shadow: 0 0 14px #eee;
		}
		.signup-btn-home-div:select {
			outline: none;
			/*text-shadow: 1px 1px #34922C;*/
			text-shadow: 1px 1px #49853f;						
			box-shadow: 0 0 14px #eee;
		}
		
		
		
		.sign-btn-home:select {
			background: #CCC; 
			color: #5F7A2A;
		  	box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
		}		
		.space-home {
			height: 6px;
		}
		.form-home-table {
			display: table;
			margin: 0 auto;
		}
		.form-home-row {
			display: table-row;
		}
		.form-home-row {
			display: table-row;
		}		
		.form-home-cell-1 {
			display: table-cell;
			width: 160px;
		}
		.form-home-cell-2 {
			display: table-cell;
			width: 160px;
		}
		.form-home-cell-submit {
			display: table-cell;
			width: 500px;
			text-align: center;
		}
		.form-home-cell-3 {
			display: table-cell;
			width: 60px;
		}
		.form-home-table-bd {
			display: table;
			margin: 0 auto;
		}
		.form-home-row-bd {
			display: table-row;
		}
		.form-home-cell-bd-space {
			display: table-cell;
			width: 30px;
		}
		.form-home-cell-bd {
			display: table-cell;
			width: 70px;
		}
		.form-home-cell-bd-why {
			display: table-cell;
			width: 160px;
			padding-left: 20px;

		}		
		.form-home-cell-month {
			display: table-cell;
			width: 60px;
		}
		.form-home-cell-day {
			display: table-cell;
			width: 60px;
		}
		.form-home-cell-year {
			display: table-cell;
			width: 60px;
		}
		.form-home-cell-account-type {
			display: table-cell;
			width: 60px;
		}		
		.form-home-table-gender {
			display: table;
		}
		.form-home-row-gender {
			display: table-row;
		}
		.form-home-cell-gender-1 {
			display: table-cell;
		}		
		.form-home-cell-gender-2 {
			display: table-cell;
		}
		.form-home-cell-account-type-1 {
			display: table-cell;
			width: 70px;
		}		
		.form-home-row-space {
			height: 4px;
		}
		.signup-btn-home {
		    background-color: #49853F;
		    border: 3px groove #11520B;
		    border-radius: 6px 6px 6px 6px;
		    color: #FFFFFF;
		    font-family: msyh,Arial,Helvetica,sans-serif;
		    font-size: 14px;
		    font-weight: bold;
		    height: 55px;
		    letter-spacing: 1.5px;
		    width: 260px;
		}
		.signup-btn-home:hover {
			color: #49853F;
			background-color: #FFF;
			text-shadow: 0 1px #34922C;
			box-shadow: 0px 0px 2px 2px #CCC inset;
			cursor: pointer;
		}
		.signup-btn-home:focus {
			box-shadow: 0 0 10px #29731F;
			text-shadow: 1px 1px #34922C;
			outline: none;
		}
		.go-btn-home {
		    background-color: #F69010;
		    border-radius: 0 12px 0 12px;
		}
		
		.go-btn-home {
			font-family: msyh, Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #11520B;
			height: 24px;
			width:50px;
			/*background-color: #D98D2D;*/
			border: 2px solid #11520B;
	    	/*border-radius: 12px;*/			
			margin-top: 10px;
			padding-bottom: 1px;
			margin-left: 6px;
		    background-color: #F69010;
		    border-radius: 0 12px 0 12px;
		}
		.go-btn-home:hover {
			color: #fff;
			background-color: #E3AC66;
			text-shadow: 1px 1px #34922C;
			cursor: pointer;
		}
		.go-btn-home:focus {
			box-shadow: 0 0 10px #29731F;
			text-shadow: 1px 1px #34922C;			
			outline: none;
		}
		
	</style>

	<style>
		
	/*input[type=checkbox] {
	    display:none;
	}*/			
	input[type=radio] {
	    display:none;
	}			
	.rd-button {
		width: 18px;
		height: 18px; 
		border-style: solid; 
		border-width: 2px; 
		border-color: #11520B; 
		border-radius: 18px;		
		margin-bottom: -4px;
		display: inline-block;
		margin-right: 0px;
		cursor: pointer;		
	}
	.rd-button:focus {
		box-shadow: 0 0 10px #2899A1; /*#29731F;*/
		outline: none;
	}
	.rd-button:hover {
		box-shadow: 0 0 10px #1F7C82;
		outline: none;
	}
	.rd-button:select {
		/*box-shadow: 0 0 10px #2899A1;*/ /*#29731F;*/		
		outline: none;
	}
	.rd-background {
		background-color: #2899A1; /*#3DC8D1;*/ /*#1F7C82;*/ /*#A5E5B4*/
	}	
	.dropdown-1 {
		width: 106px;
	}
	.dropdown-2 {
		width: 106px;
	}
	.dropdown-3 {
		width: 106px;
	}
	.dropdown {
		font-family: msyh, Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #11520B;
		background-color: #FFF;
		border: 2px solid #11520B;
    	border-radius: 4px;			
		height: 24px;
    	position: relative;
		padding-top: 0px;
		padding-left: 12px;
		margin-right: 2px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		text-decoration: none;
		outline: none;
	}
	/*.dropdown > .selected {
		font-family: msyh, Arial, Helvetica, sans-serif;
		font-size: 14px;
		color: #11520B;
		background-color: #D98D2D;
		border: 2px solid #11520B;
    	border-radius: 4px;			
		height: 24px;
    	position: relative;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		outline: none;	
	}*/
	
	
		.input-home-short:focus,
		.input-home-short:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			   -moz-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			        box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
		}
		.input-home-short:focus:hover {		
			border-color: #478A3E;
			/*color: #000;*/
			-webkit-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			   -moz-box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
			        box-shadow: inset 0 0 1px 1px #41B737; /*#3DC8D1;*/
		}
		.input-home-short:hover {		
			-webkit-box-shadow: inset 0 0 1px 1px #37633A; /*#185C61;*/
			   -moz-box-shadow: inset 0 0 1px 1px #37633A; /*#185C61;*/
			        box-shadow: inset 0 0 1px 1px #37633A; /*#185C61;*/
		}
	
	
	.dropdown:focus {
		color: #1f7c82;
		/*background-color:#072C53;*/
		/*-webkit-box-shadow: 0 0 25px #ccc;
		   -moz-box-shadow: 0 0 25px #ccc;
		        box-shadow: 0 0 25px #ccc;*/
		-webkit-box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		   -moz-box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		        box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
		outline: none;
	}
	.dropdown:focus:hover {
		color: #1f7c82;
		-webkit-box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		   -moz-box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		        box-shadow: 0 0 1px 1px #41B737; /*#3DC8D1;*/
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		-webkit-transform: scale(1.03);
		-moz-transform: scale(1.03);
		-o-transform: scale(1.03);
		-ms-transform: scale(1.03);
		transform: scale(1.03);
		outline: none;
	}
	.dropdown:hover {
		color: #1f7c82;
		-webkit-box-shadow: 0 0 1px 1px #37633A; /*#185C61;*/
		   -moz-box-shadow: 0 0 1px 1px #37633A; /*#185C61;*/
		        box-shadow: 0 0 1px 1px #37633A; /*#185C61;*/
	}
	
	
	
	
	
	.dropdown.focus > .selected,
	.dropdown:focus > .selected {
	    outline: none;
	}
	.dropdown > .selected:hover,
	.dropdown > .selected:focus {
	    /*cursor: pointer;*/
	}
	/*.dropdown1 > .selected i {*/
	.dropdown > .selected .down-caret {
	    position: absolute;
	    top: 0px;
	    right: 4px;
	    bottom: 0;
	    width: 12px;
	    /*height: 20px;*/
	    line-height: 20px;
	    border-left: 2px solid #11520B;
	    text-align: center;
	    /*color: #999;*/
	    color: #11520B;
	}
	.dropdown.open > .selected {
	    -webkit-border-radius: 4px 4px 0px 0px;
	    border-radius: 4px 4px 0px 0px;
	}
	.dropdown ul {
	    display: none;
	    position: absolute;
	    left: 0;
	    top: 100%;
	    width: 100%;
	    background: #FFF;
	    /*z-index: 1;    */
	    border: 1px solid #333;
	    border-top: none;
	    -webkit-border-radius: 0px 0px 4px 4px;
	    border-radius: 0px 0px 4px 4px;
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    line-height: 1;
	    -webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
	    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
	    /*max-height: 300px;*/
	    overflow: auto;
	    height: 100px;
	    margin: 0;
	    padding-left: 6px;
	}
	.dropdown .dropdown-1 ul {
		height: 100px;
	}
	.dropdown .dropdown-2 ul {
		height: 100px;
	}
	.dropdown .dropdown-3 ul {
		height: 100px;
	}
	.dropdown ul li.selected {
	    /*color: #ACDDE3;*/
	    color: #000;
	    /*background: #005C9E;*/
		background: #FFF;
	}
	.dropdown ul li:last-child.selected {
	    -webkit-border-radius: 0px 0px 4px 4px;
	    border-radius: 0px 0px 4px 4px;
	}
	.dropdown ul li {
	    position: relative;
	    display: block;
	    text-decoration: none;    
	    color: #1f7c82;
	    /*padding: 4px 4px;   */    
	    padding-left: 4px;
	}
	.dropdown ul li:first-child {
	    color: #838383;
	}
	.dropdown ul li:first-child.selected {
	    color: #838383;
	}
	.dropdown ul li.hover {
	    background: #fff;
	    color: #49853f;
	    font-weight: bold;
	}
		#wrapper {border-bottom: 1px solid #e5e5e5;
    margin-bottom: 80px;
    padding-bottom: 150px;}
	</style>		
		
		
	<!-- <style>
		
		.main_logo {
		  width: 300px;
		}
		*, *:after, *:before {
		    -moz-box-sizing: padding-box;
		}
		a.title-home-dark-2 {
		  padding: 10px;	  
		}
		a.profile-type:link {text-decoration:none; color:#49853F;}
		a.profile-type:hover {
			text-decoration:none; 
			color:#49853F; 
			background: #CDCDCD;
			border: 1px solid #41B737;
			border-radius: 3px 3px 3px 3px;
			padding: 10px;
		}
		a.profile-type:active {text-decoration:none; color:#49853F; backgound: #ffffff;}
		a.profile-type:visited {text-decoration:none; color:#49853F;}
		.inline-space {
			height: 30px;
		}
		#kfooter {
		    background-color: #49853F;
		}
		
	</style> -->		


	<style>
		#sign-up {
		/*background-color: #F8F8F8;
	    border: 1px solid #41B737;
	    border-radius: 8px 8px 0 0;*/
	    box-shadow: 0 4px 4px #CCCCCC;
	    /*display: table-cell;*/
	    padding: 8px;
		width:660px;
		margin: 10px auto;
		/*height: 200px;*/
		}
		
		.profile-hover {
		text-decoration: none;
		color: #49853f;
		padding:10px;
		}
		
		div.profile-hover:hover {
		background: #CDCDCD;
		border: 1px solid #41b737;
		border-radius: 3px 3px 3px 3px;
		color: #49853f;
		padding: 10px;
		text-decoration: none;
		}
		
		a.profile-type:link, a.profile-type:hover, a.profile-type:active, a.profile-type:visited {
		text-decoration:none; color:#cb7508; float:right; margin-right: 100px; margin-left: 75px;
		}
		span.title { text-transform:uppercase; text-decoration:underline; font-weight:bold;}
		.select { float: right; }


	</style>

    <style type="text/css">
		/*body{
			background: #f2f2f2 url('bg.png') center 40px no-repeat;
			font-family: Arial, Helvetica, sans-serif;
		}*/
        #slidedeck_frame {
            width: 901px;
            /*height: 295px;*/
            height: 324px;
			margin: 0px auto 0;
			font-family: Arial, Helvetica, sans-serif;			
        }
		.hide {display: none !important;}
	
		.top-container {padding-top:20px;}

    </style>

	<style>
	
		.wid-100 {
			width: 100px;
		}
		.wid-140 {
			width: 140px;
		}		
		.wid-160 {
			width: 160px;
		}
		.wid-190 {
			width: 190px;
		}
		.wid-200 {
			width: 200px;
		}
		.wid-240 {
			width: 240px;
		}

	</style>
	
	<style>
	
		.tbl-sign {
			display: table;
			table-layout: fixed;
			border-collapse:collapse;
		}
		.row-sign {
			display: table-row;
		}
		.cell-sign-1 {
			display: table-cell;
			width: 100px;
		}
		.cell-sign-2 {
			display: table-cell;
			width: 200px;
		}
		.cell-sign-3 {
			display: table-cell;
			width: 200px;
		}
		.cell-sign-4 {
			display: table-cell;
			width: 100px;
		}
		.text-align-right {
			text-align: right;
		}
		.text-align-center {
			text-align: center;
		}
		.text-align-left {
			text-align: left;
		}
		.alt-pos {
			position: absolute;
			top: -16px;	
			right: 0px;
		}
		
	</style>
	
	
	<script id="dropdown-data1-selected" type="text/x-dot-template">
		{{=it.label}}<div class="down-caret">&#9660;</div>
	</script>
	
	<script id="dropdown-data1" type="text/x-dot-template">
		<div class="dropdown dropdown-1" id="dropdown1" tabindex="20">
		    <div class="selected">{{=it.selected.label}}<div class="down-caret">&#9660;</div></div>
		    <ul>
		        {{~it.items :item:index}}
		        <li data-index="{{=index}}">{{=item.label}}</li>
		        {{~}}
		    </ul>
		</div>
	</script>		

	<script id="dropdown-data2-selected" type="text/x-dot-template">
		{{=it.label}}<div class="down-caret">&#9660;</div>
	</script>
	
	<script id="dropdown-data2" type="text/x-dot-template">
		<div class="dropdown dropdown-2" id="dropdown2" tabindex="21">
		    <div class="selected">{{=it.selected.label}}<div class="down-caret">&#9660;</div></div>
		    <ul>
		        {{~it.items :item:index}}
		        <li data-index="{{=index}}">{{=item.label}}</li>
		        {{~}}
		    </ul>
		</div>
	</script>		

	<script id="dropdown-data3-selected" type="text/x-dot-template">
		{{=it.label}}<div class="down-caret">&#9660;</div>
	</script>
	
	<script id="dropdown-data3" type="text/x-dot-template">
		<div class="dropdown dropdown-3" id="dropdown3" tabindex="22">
		    <div class="selected">{{=it.selected.label}}<div class="down-caret">&#9660;</div></div>
		    <ul>
		        {{~it.items :item:index}}
		        <li data-index="{{=index}}">{{=item.label}}</li>
		        {{~}}
		    </ul>
		</div>
	</script>		


	<!-- <div id="wrapper"> -->
	
		<header id="home">
			<div id="top-bar">
				<div style="height: 6px;"></div>
					<!-- <div class="cell-ks-home-1"> -->
				<div style="width: 420px; display: inline-block; margin-left: 0px;">
					<a href="#"><img class="logo" src="assets_knowstory/knowstory-icon-2-w634-h212.png"></a>
					<div style="height: 6px;"></div>
					<h2 class="slogan">The Story of What You Know</h2>
				</div>
				<div style="width: 16px; display: inline-block;"></div>
				<!-- <div class="cell-ks-home-2"> -->
				<div style="width: 500px; display: inline-block; margin-right: 0px;">
					<div id="nav_ks_home" class="nav-ks-home">

						<%= form_for(:session, url: sessions_path) do |f| %>	

						<div style="height: 60px;"></div>
						<div class="tbl-sign">
							<div class="row-sign">
								<div class="cell-sign-1"></div>
								<div class="cell-sign-2 text-align-right">
									<%= f.text_field :email, class: 'input-home-short wid-190', :autofocus => true, :tabindex => '1' ,:placeholder => 'Email' %>
								</div>
								<div class="cell-sign-3">
									<input class="input-home-short wid-190" style="margin-left: 10px;" id="session_password" name="session[password]" placeholder="Password" tabindex="2" type="password" />
									<!-- <#%= f.password_field :password, class: 'input-home-short wid-190 margin-left-10', :tabindex => '2', :placeholder => 'Password' %#> -->
								</div>
								<div class="cell-sign-4 text-align-right">
									<div style="position: relative; height: 1px; width: 100px;">
									<%= f.submit "Sign In", class: 'signin-btn-home alt-pos', :tabindex => '3' %>
									</div>
								</div>
							</div>
							<div class="row-sign" style="height: 10px;">
							</div>
							<div class="row-sign">
								<div class="cell-sign-1"></div>
								<div class="cell-sign-2 text-align-center">
									<%= link_to "Forgot password?", new_password_reset_path, class: 'signin-pref', :tabindex => '4' %>
								</div>
								<div class="cell-sign-3 text-align-center">
									<%= f.check_box :remember_me %>
									<%= f.label :remember_me, nil, class: 'signin-pref', :id => 'ch_remember_me', :tabindex => '5' %>
								</div>
								<div class="cell-sign-4">
								</div>										
							</div>
							<div class="row-sign" style="height: 10px;">
							</div>
							<div class="row-sign">
								<div class="cell-sign-1"></div>
								<div class="cell-sign-2">
								</div>
								<div class="cell-sign-3 text-align-right" style="padding-right: 10px;">
									<span class="not-member">Not yet a member?</span>
								</div>
								<div class="cell-sign-4">
								</div>
							</div>
						</div>
						<div style="width: 100%; text-align: right; height: 1px; position: relative;">
							<a href="#sign-up" class="signup-btn-home-a" style="position: absolute; right: 0px; top: -28px;">
								<div class="signup-btn-home-div">Sign up</div>
							</a>
						</div>
						
						<% end %>								
						
						<!-- <p><#%= link_to "forgotten password?", new_password_reset_path %#></p> -->
						
						<!-- <ul class="ul-2"></ul>
						<ul class="menu-home ul-3">
							<li>
								&nbsp;
								<a href="#" class="signin-text" tabindex="4">Forgot your password?</a>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a href="#" class="signin-text" tabindex="5">Stay logged in?</a>
							</li>
						</ul> -->

						<!--<div style="height: 10px;"></div>
						 <div class="cell-left-home">
							<span class="title-home-dark">Get started&#8212;It's free.</span>
							<div>
								<img src="../assets_knowstory/image_coming_soon_8k.png" alt="image_coming_soon_8k.png" width="50px">
								<span style="font-family:Arial, Helvetica, sans-serif; font-size: 16px; color: red;">
									* This site is under construction *
								</span>
							</div>
						</div> -->
						<!-- <div class="cell-right-home"> -->
						<!-- <div style="height: 20px;"></div>
						<div class="cell-right-home"> -->
							<!-- <span class="title-home-dark-2">Connect up with Students, Schools, Teachers, Publishers and the like.</span> -->
								
							<!-- <span class="title-home-dark-2">Join as a student, teacher, school, college</span><br>
							<span class="title-home-dark-2">recruiter or curriculum publisher.</span><br>
							<span class="title-home-dark-2">Free directory searches, profiles and sharing.</span> -->
						<!-- </div> -->				

						<!-- <div style="height: 6px;"></div> -->
					</div>
				</div>
			</div>
			<!-- <div style="clear: both;"></div> -->
		</header>

		
		<%= render 'landing_page/new_nav' %>

		<!-- New Page content: 2nd container-->
		<div class="main">
	        <div class="main-pics">
	          <a href="#student"><img class="first-pic" src="assets_knowstory/profile_pics/student.jpeg" alt="student"></a>
	          <div class="pics">
		          <a href="#publisher"><img src="assets_knowstory/profile_pics/publisher.jpeg" alt="publisher"></a>
		          <a href="#teacher"><img src="assets_knowstory/profile_pics/teacher2.jpeg" alt="teacher"></a>
		          <a href="#school"><img src="assets_knowstory/profile_pics/school.jpeg" alt="schools & districts"></a>
		          <a href="#recruiter"><img src="assets_knowstory/profile_pics/college.jpeg" alt="college recruiters"></a>
	          </div>
	        </div>
	
	        <div class="content">
	          <h1>Latest News</h1>
	          <div id="box1">
	          	<p class="box-content">Hello Students!<br/>  This site is for your knowledge Story. Keep a secure record of your classes, grades, photos, best papers, and what you’ve learned in school or out.  Find new apps, websites, content, video, classes and more.  Create clubs and groups.  Connect and share your Story.  Allow college recruiters full or limited access to your Story after turning 14 years old.  Build your own learning word cloud and annual yearbook from your Story.  (COMING SOON – <a href="#sign-up">Sign Up</a> for Release)</p>
	          </div>
	          <div id="box2">
	          	<h1>Finally, a Social Media Site for Learning you can control yourself!</h1>
	          </div>
	          <div id="box3">
	          	<p class="box-content">Hello Teachers, Schools, Publishers & Recruiters!  Build your Story here, connect and share, and make yourself known professionally.  If you’re a teacher, school or district who has digital learning content to make known or sell, make both your own Story and then enter additionally as a Publisher to make a Product Story.  </p>
	          </div>
	          <div class="clearfix"></div>
	
	        </div>
	
	        <div class="ad-boxes1 clearfix">	        	
	          <%= render 'landing_page/ad_boxes' %>
	        </div>
	        <div style="height: 4px;"></div>
		</div> <!-- End main div -->
		
	<!-- </div> -->
		<!-- End 2nd container -->
	
	<!-- 3rd container with profile types-->			
	<!-- <div class="wrap"> --> 
		<div id="student"><%= render 'landing_page/new_nav' %></div>
		<div class="container3 center odd">
			<img src="assets_knowstory/profile_pics/student.jpeg" alt="Students" class="profile-image">
			<h1>Student Story</h1>
			<h2>The Story of what you Know. You’re more than grades and test scores!</h2>
			
			<p>Have fun and connect up with other Students, your Teachers and your School.  Make private clubs and groups.</p>
			<p>You can share daily comments, photos, classes, and favorite learning content while mapping out your current and future learning.  You’ll be getting personalized recommendations for learning games or content to study based on your interests.</p>
			<p>Your Story will say what you say about yourself, and only to students and others you allow.  Build your own learning word cloud and annual Yearbook from your Story.</p>
			<p>When you are 14 years or older you can show your Story, or parts of it, for College Recruiters. This allows easier access for you to find and connect up with Colleges and future education goals.</p>
			
			<div class="sign-button-2">
				<a class="sign-button-link-2" href="#sign-up">Sign up</a>
		  	</div>
		</div> <!-- End 3rd container, student -->
	
		<div id="teacher"><%= render 'landing_page/new_nav' %></div>
		<div class="container3 center even">
			<img src="assets_knowstory/profile_pics/teacher2.jpeg" alt="Teacher" class="profile-image">
			<h1>Teacher Story</h1>
			<h2>Your professional knowledge Story</h2>

			<p>Keep a personal record of all your professional development adventures, educational accomplishments, favorite learning content, and more.</p>
			<p>Find and connect with digital content and curriculum of all types, and get ongoing recommendations for new pieces based on your Story.  Use the integrated “gap analysis” in the site to see how much lesson time is typically used with your current digital inventory and what else you could add.</p>
			<p>Connect with other teachers and even your students, form groups and advance your career.</p>
			
			<div class="sign-button-2">
			<a class="sign-button-link-2" href="#sign-up">Sign up</a>
		  	</div>
		</div> <!-- End 3rd container, teacher -->
	
		<div id="publisher"><%= render 'landing_page/new_nav' %></div>
		<div class="container3 center odd">
			<img src="assets_knowstory/profile_pics/publisher.jpeg" alt="Publisher" class="profile-image">
			<h1>Publisher Story</h1>
			<h2>Tell your Story of helping others know</h2>
			
			<p>KnowStory is a social media platform combined with a directory just for the world of K-12 Education.</p>
			<p>Create your Company Story and multiple Product Stories.</p>
			<p>Gain a following from teachers, students, schools and districts.</p>
			<p>Get <a class="pub-link" href="/Poster">"Pinned"</a> on our digital “Poster” showing your product logo in your select category.  Create your Pin before the next outgoing printed version of the Poster with our Journal printed on the back mailing to thousands of districts and schools.</p>

			<div class="sign-button-2">
			<a class="sign-button-link-2" href="#sign-up">Sign up</a>
		  	</div>
		</div> <!-- End 3rd container, publisher -->
	
		<div id="school"><%= render 'landing_page/new_nav' %></div>
		<div class="container3 center even">
			<img src="assets_knowstory/profile_pics/school.jpeg" alt="School" class="profile-image">
			<h1>School or District Story</h1>
			<h2>Build the Story of your unique knowledge blend</h2>

			<p>Find digital curriculum and content of all kinds – since this site allows a free listing for any publisher and we do not publish any competing content of our own, you’ll find companies and products you didn’t know about before.</p>
			<p>Manage your digital curriculum inventory online.  Use KnowStory to get a gap analysis based on your goals for digital curriculum by grade, subject, lesson-time-used, platform, file-type, standards, enhancements, volunteered ratings, cost structure and more.</p>
			<p>Post bids and requests-for-solutions.  Post your own products as a Publisher as free or for-sale resources.</p>
			<p>Create groups of interest for sharing and advice.   “See” what other schools are doing with inventory as you link with them.</p>
			<p>Have a Story that is uniquely yours as a District or School.</p>

			<div class="sign-button-2">
			<a class="sign-button-link-2" href="#sign-up">Sign up</a>
		  	</div>
		</div> <!-- End 3rd container, school -->
	
		<div id="recruiter"><%= render 'landing_page/new_nav' %></div>
		<div class="container3 center odd">
			<img src="assets_knowstory/profile_pics/college.jpeg" alt="College" class="profile-image">
			<h1>College Recruiter Story</h1>
			<h2>Your Story for expanded knowledge</h2>
			<p>Promote your institution and seek links with college-interested students. Search student interests and see public student profiles.</p>
			<p>Create groups such as “Class of 2016” of interested students and keep them up to date on your college or university.  Invite links with neighboring districts and schools.</p>
			<p>Bridge the gap year with KnowStory.</p>
		
			<div class="sign-button-2">
			<a class="sign-button-link-2" href="#sign-up">Sign up</a>
		  	</div>
		</div> <!-- End 3rd container, recruiter -->
						
		<!-- </div> --> 
		
		<h1 style="margin:0 auto; color:#11520b; width: 660px;">Sign up. It's fast, easy and free.</h1>
		<div id="sign-up">
			<!-- <p>Sign up box here</p> -->
				
	    	<%= form_for @user, :html => {:id => 'form_user_new' } do |f| %>	
	
			<div class="form-home-table">
				<div class="form-home-row">
					<div class="form-home-cell-1">
						<%= f.label(:name_first, 'First Name', class: 'input-label-home') %>
					</div>
					<div class="form-home-cell-2">
						<%= f.text_field :name_first, class: 'input-home', :tabindex => '12', :autofocus => false %>	
					</div>
				</div>
				<div class="form-home-row-space"></div>
				<div class="form-home-row">
					<div class="form-home-cell-1">
						<%= f.label(:name_last, 'Last Name', class: 'input-label-home') %>
					</div>
					<div class="form-home-cell-2">
						<%= f.text_field :name_last, class: 'input-home', :tabindex => '13' %>
					</div>
				</div>
				<div class="form-home-row-space"></div>
				<div class="form-home-row">
					<div class="form-home-cell-1">
						<%= f.label(:email, 'Email', class: 'input-label-home') %>
					</div>
					<div class="form-home-cell-2">
						<%= f.text_field :email, class: 'input-home', :tabindex => '14' %>
					</div>
				</div>
				<div class="form-home-row-space"></div>
				<div class="form-home-row">
					<div class="form-home-cell-1">
						<%= f.label(:username, 'Username', class: 'input-label-home') %>
					</div>
					<div class="form-home-cell-2">
						<%= f.text_field :username, class: 'input-home', :tabindex => '15' %>
					</div>
				</div>
				<div class="form-home-row-space"></div>
				<div class="form-home-row">
					<div class="form-home-cell-1">
						<%= f.label(:password, 'Password', class: 'input-label-home') %>
					</div>
					<div class="form-home-cell-2">
						<%= f.password_field :password, class: 'input-home', :tabindex => '16' %>
					</div>
				</div>
				<div class="form-home-row-space"></div>
				<div class="form-home-row">
					<div class="form-home-cell-1">
						<%= f.label(:password_confirmation, 'Confirm Password', class: 'input-label-home') %>
					</div>
					<div class="form-home-cell-2">
						<%= f.password_field :password_confirmation, class: 'input-home', :tabindex => '17' %>
					</div>
				</div>
			</div>
			
			<div style="height: 20px;"></div>
			
			<div style="width: 100%;">
				<div style="width: 200px; margin: 0 auto;">
					<div class="form-home-table" style="text-align: center;">
						<div class="form-home-row">						
							<div class="form-home-cell-gender-1" style="text-align: center; padding-right: 0px; width: 30%;">
								<label id="label_gender_male" class="input-label-home" for="gender_male" onclick="rd_gender('male');" tabindex="">Male</label>
							</div>
							<div class="form-home-cell-gender-2" style="text-align: center; padding-left: 0px; width: 30%;">
								<label id="label_gender_female" class="input-label-home" for="gender_female" onclick="rd_gender('female');" tabindex="">Female</label>
							</div>
						</div>							
						<div class="form-home-row">						
							<div class="form-home-cell-gender-1" style="text-align: center; padding-right: 0px;">
								<!-- <div id="rd_gender_male" class="rd-button"></div> -->
								<div id="rd_gender_male" class="rd-button" tabindex="18"></div>
								<%= f.radio_button(:gender, 0) %>
								<!-- <div style="position: relative; top: 4px;">
									<#%= f.radio_button(:gender, 0) %#>
								</div> -->
							</div>
							<div class="form-home-cell-gender-2" style="text-align: center; padding-left: 0px;">
								<!-- <div id="rd_gender_female" class="rd-button"></div> -->
								<div id="rd_gender_female" class="rd-button" tabindex="19"></div>
								<%= f.radio_button(:gender, 1) %>
								<!-- <div style="position: relative; top: 4px;">
									<#%= f.radio_button(:gender, 1) %#>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div style="height: 20px;"></div>
			
			<div class="form-home-table-bd">
				<div class="form-home-row-bd">
					<div class="form-home-cell-bd">
						<span class="input-label-home">Birthday</span>
					</div>								
					<div class="form-home-cell-month">
						<select id="user_bd_month" name="user[bd_month]" data-template="#dropdown-data1" tabindex="">
							<option value="0">-Month-</option>
							<option value="1">Jan</option>
							<option value="2">Feb</option>
							<option value="3">Mar</option>
							<option value="4">Apr</option>
							<option value="5">May</option>
							<option value="6">Jun</option>
							<option value="7">Jul</option>
							<option value="8">Aug</option>
							<option value="9">Sep</option>
							<option value="10">Oct</option>
							<option value="11">Nov</option>
							<option value="12">Dec</option>
						</select>		
			   		<!-- <#%= f.select("bd_month", options_for_select(
			   				[['-Month-','0'],
			   				['Jan','1'],
			   				['Feb','2'],
			   				['Mar','3'],
			   				['Apr','4'],
			   				['May','5'],
			   				['Jun','6'],
			   				['Jul','7'],
			   				['Aug','8'],
			   				['Sep','9'],
			   				['Oct','10'],
			   				['Nov','11'],
			   				['Dec','12']]), :class => 'btn-bd-month', :html => {:id => 'bd_month'}) %#> -->
					</div>
					<div class="form-home-cell-day">
						<select id="user_bd_day" name="user[bd_day]" data-template="#dropdown-data2" tabindex="">
							<option value="0">-Day-</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>		
					</div>
					<div class="form-home-cell-year">
					<!-- <#%= f.collection_select :bd_year, @bd_years, :id, :year, :html => {}  %#> -->		
						<select id="user_bd_year" name="user[bd_year]" data-template="#dropdown-data3" tabindex="">
							<option value="0">-Year-</option>
							<% @bd_years.each do|bd_year| %>
								<option value="<%= bd_year.year %>"><%= bd_year.year %></option>
							<% end %>
						</select>		
					</div>
					<!-- <div class="form-home-cell-bd-space">
					</div> -->		
					
					<div class="form-home-cell-bd-why">
						<span><a class="inline input-label-home-a" href="#inline_bd_why" tabindex="23">Why your birthday?</a></span>
					</div>								
											
				</div>
			</div>
	
			<div style="height: 24px;"></div>							
			
			<div class="form-home-table form-types" style="width: 400px;">
				<div class="form-home-row">						
					<div class="form-home-cell-account-type" style="text-align: center;">
						<label id="label_account_type_0" class="input-label-home" for="account_type_0" onclick="rd_account_type('0');" tabindex="">Student</label>
					</div>
					<div class="form-home-cell-account-type" style="text-align: center;">
						<label id="label_account_type_1" class="input-label-home" for="account_type_1" onclick="rd_account_type('1');" tabindex="">Teacher</label>
					</div>
					<div class="form-home-cell-account-type" style="text-align: center;">
						<label id="label_account_type_2" class="input-label-home" for="account_type_2" onclick="rd_account_type('2');" tabindex="">Publisher</label>
					</div>
					<div class="form-home-cell-account-type" style="text-align: center;">
						<label id="label_account_type_3" class="input-label-home" for="account_type_3" onclick="rd_account_type('3');" tabindex="">School</label>
					</div>
					<div class="form-home-cell-account-type" style="text-align: center;">
						<label id="label_account_type_4" class="input-label-home" for="account_type_4" onclick="rd_account_type('4');" tabindex="">Recruiter</label>
					</div>
				</div>							
				<div class="form-home-row">
					<div class="form-home-cell-account-type" style="text-align: center;">
						<div id="rd_account_type_0" class="rd-button" tabindex="24"></div>
						<%= f.radio_button(:account_type, 0) %>
					</div>
					<div class="form-home-cell-account-type" style="text-align: center;">
						<div id="rd_account_type_1" class="rd-button" tabindex="25"></div>
						<%= f.radio_button(:account_type, 1) %>
					</div>
					<div class="form-home-cell-account-type" style="text-align: center;">
						<div id="rd_account_type_2" class="rd-button" tabindex="26"></div>
						<%= f.radio_button(:account_type, 2) %>
					</div>
					<div class="form-home-cell-account-type" style="text-align: center;">
						<div id="rd_account_type_3" class="rd-button" tabindex="27"></div>
						<%= f.radio_button(:account_type, 3) %>
					</div>
					<div class="form-home-cell-account-type" style="text-align: center;">
						<div id="rd_account_type_4" class="rd-button" tabindex="28"></div>
						<%= f.radio_button(:account_type, 4) %>
					</div>
				</div>
			</div>
			<div style="height: 30px;"></div>							
			<div class="form-home-table">
				<div class="form-home-row">
					
					<div class="form-home-cell-2">
						<%= f.submit 'Submit', class: 'signup-btn-home', :tabindex => '29' %>
					</div>
				</div>
			</div>
	
			<% end %>
		
			<div style='display:none'>
				<div id='inline_bd_why' style='padding:10px; background:#fff;'>
				<h2 style="color: #49853F;">Why your birthday?</h2>
				<p>
				   Your birthdate helps us provide the right Knowstory experience for your age.
				   Birthdates remain completely private, unless visibility options are selected in the profile settings. 
				   For adults over the age of 18, by default, birthdates are not disclosed publically.
				   That is, they are not shown in the profile pages. Nor, are they used in searches
				   or email. But it is encouraged to enable certain birthdate options, 
				   For example, recruiters may search for students through a specified range of ages.  
				   For minors, ages 15 and below, your birthdate will always remain confidential. 
				   For complete details, please see our <a href="#">Privacy Policy</a>.
				</p>
				</div>
	
	
				<!-- <div id='inline_student' style='padding:10px; background:#fff;'>
				<h2 style="color: #49853F;">Student Profile</h2>
				<p>Share comments, photos, classes, and favorite learning content while charting your current and future learning. Keep up your education history and get personalized recommendations for learning games or content to study. You can open access to college recruiters after 13 years old.</p>
				</div>
				
				<div id='inline_teacher' style='padding:10px; background:#fff;'>
				<h2 style="color: #49853F;">Teacher Profile</h2>
				<p>Get ongoing classroom digital content and professional development recommendations. See analysis of how much lesson time used on digital learning, and connect with students.</p>
				</div>
				
				<div id='inline_publisher' style='padding:10px; background:#fff;'>
				<h2 style="color: #49853F;">Publisher Profile</h2>
				<p>Post a profile of your company and each of your products so they can be found by students, teachers and schools.</p>
				</div>
				
				<div id='inline_school' style='padding:10px; background:#fff;'>
				<h2 style="color: #49853F;">School or District Profile</h2>
				<p>Use the system to get a gap analysis of what you are missing in digital curriculum for any grade or subject, link with other schools, post publisher request for proposals, and keep track of inventory.</p>
				</div>
				
				<div id='inline_recruiter' style='padding:10px; background:#fff;'>
				<h2 style="color: #49853F;">Recruiter Profile</h2>
				<p>Promote your institution and seek links with college-interested students. Search student interests and see public student profiles.</p>
				</div> -->
			</div>
			
		</div>
	<!-- </div> -->

		<%= render 'landing_page/landing_footer' %>
	
	
	
	
	
	
	
	
	
	
	
	
		<!-- <div style="height: 20px;"></div>
		<div style="width: 100%; text-align: center;">
			<iframe src="../iframes/home_slidedeck/index.html" width="1000px" height="350px"></iframe>
		</div>
		<div style="height: 20px;"></div>
		<script type="text/javascript">
			/* Initiate the SlideDeck */
			$('.skin-vertical-embedded dl.slidedeck').slidedeck({
				hideSpines: true
			}).loaded(function(){
			/**
			 * Take advantage of the loaded() method of the SlideDeck library to 
			 * change the vertical slide navigation items based on the "navLabels" array
			 */			
				var navLabels = [
					'What is KnowStory?',
					'Student Profiles',
					'Teacher Profiles',
					'Publisher Profiles',
					'School or District Profiles',
					'College Recruiter Profiles'
				];
				/** Array holds the title for each button in .verticalSlideNav 	*/			
				for( i=0 ; i<navLabels.length ; i++){
					var mynum = i+1;
					$('.verticalSlideNav .nav_' + (mynum) + ' a').html('<span class="hide">'+mynum+'</span>'+navLabels[i]);
					if(mynum == navLabels.length){
						$('.verticalSlideNav .nav_' + (mynum)).addClass('last');
					}
				}			
				/** Loop through navLabels array and replace the innerHTML of each <a> in the vertical slide navigation */		
			}).vertical({
				scroll: true
			});
			/** Enable vertical slides */
			
			$('.skin-vertical-embedded dl.slidedeck a.next').click(function(e){
				e.preventDefault();
				$('.skin-vertical-embedded dl.slidedeck').slidedeck().vertical().next();
			});
			
			// Script for handling goto's and prev and next
			var SlideDeckAssistant = {
				innerSlideCount: 0,
				/** prevSlide, nextSlide and goToSlide are all custom functions to control progress of the SlideDeck */
				prevSlide: function(theIndex){
					SlideDeckAssistant.goToSlide(theIndex - 1);
				},
				nextSlide: function(theIndex){
					SlideDeckAssistant.goToSlide(theIndex + 1);
				},
				goToSlide: function(theIndex){        
					$('ul.galleryNav li').removeClass('active');
					$('ul.galleryNav li:eq('+ theIndex +')').addClass('active');
					myDeck2.goTo(theIndex+1);
					if((theIndex + 1) == SlideDeckAssistant.innerSlideCount){
						// disable the next button
						$('ul.galleryArrows .next').addClass('disabled');
						$('ul.galleryArrows .prev').removeClass('disabled');
					}else if((theIndex + 1) == 1){
						// disable the previous button
						$('ul.galleryArrows .next').removeClass('disabled');
						$('ul.galleryArrows .prev').addClass('disabled');
					}else{
						// enable both next/previous buttons
						$('ul.galleryArrows .next, ul.galleryArrows .prev').removeClass('disabled');
					}
				},
				init: function(){
					SlideDeckAssistant.innerSlideCount = $('#slidedeck-gallery_frame dl.slidedeck2 dd').length;
					/** Store number of slides in SlideDeck */
					$('#slidedeck-gallery_frame').append('<ul class="galleryArrows"><li class="prev"><a href="#prev">&larr;<\/a><\/li><li class="next"><a href="#next">&rarr;<\/a><\/li><\/ul>');
					// create navigation element with next and previous buttons
					$('.colRight').append('<ul class="galleryNav"><\/ul>');
					// create bullet navigation element
					for (i=0 ; i < SlideDeckAssistant.innerSlideCount ; i++ ) {
						$('ul.galleryNav').append('<li><a href="goto#' + (i+1) + '">' + (i+1) + '<\/a><\/li>');
					}
					// create navigation bullets based on number of slides
					var goToDots = $('ul.galleryNav li a');
					$('ul.galleryNav').css({width: (goToDots.outerWidth(true)*goToDots.length) + 'px'});
					// position navigation bullets
					$('ul.galleryNav li:first').addClass('active');
					$('ul.galleryArrows li.prev').addClass('disabled');
					$('ul.galleryNav li a').click(function(e){
						e.preventDefault();
						var theIndex = $('ul.galleryNav li a').index($(this));
						SlideDeckAssistant.goToSlide(theIndex);
						return false;
					});
					// assign click function to navigation bullets
					$('ul.galleryArrows li.prev a').click(function(e){
						e.preventDefault();
						if($(this).parent('li').hasClass('disabled')){
							return false;
						}else{
							var theIndex = $('ul.galleryNav li').index($('ul.galleryNav li.active'));
							SlideDeckAssistant.prevSlide(theIndex);
						}
						return false;
					});
					// assign click function for previous button
					$('ul.galleryArrows li.next a').click(function(e){
						e.preventDefault();
						if($(this).parent('li').hasClass('disabled')){
							return false;
						}
						else{
							var theIndex = $('ul.galleryNav li').index($('ul.galleryNav li.active'));
							SlideDeckAssistant.nextSlide(theIndex);
						}
						return false;
					});
					//assign click function for next button
				}
			};
		
			$(document).ready(function(){
				SlideDeckAssistant.init();
			});
				
			/** Initiate the SlideDeck */
			var myDeck2 = $('#slidedeck-gallery_frame dl.slidedeck2').slidedeck({
				hideSpines: true,
				autoPlay: true,
				cycle: true,
				scroll: false,
				/**
				 * The complete function is executed after each slide animation.
				 * here we are using it to upate the navigation dots.
				 */
				complete: function(deck){
					$('ul.galleryNav li').removeClass('active');
					$('ul.galleryNav li:eq('+ ( deck.current - 1 ) +')').addClass('active');
					/** Update current slide indicator after each slide animation completes */
				}
			});
			
		</script> -->		

		<!-- <div style="height: 50px;"></div>
    	<div style="width: 100%; text-align: center;">
	    	<h5>
			   	<#% delete_all_msg = "Delete all records and reset index in Users?" %#>
				<#%= button_to "Delete All Records and Reset Index", {:action => 'dbdelete'}, :method => :post, data: { confirm: delete_all_msg }, :class => 'reset-db-btn-long', :remote => true %#>
			</h5>
		</div>
		<div style="height: 50px;"></div> -->
	
	
	

	<!-- <script type="text/javascript">	
		$('a[href*=#]:not([href=#])').click(function() {
		    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
		        || location.hostname == this.hostname) {
		
		        var target = $(this.hash);
		        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           if (target.length) {
		             $('html,body').animate({
		                 scrollTop: target.offset().top
		            }, 750);
		            return false;
		        }
		    }
		});
	</script> -->
	
	<script>
		SlideDeckAssistant.init();
	</script>

	<script>


		var rd_gender_clicked = false;
		$("#user_gender_0").on("change", function () {
			// $('#user_address').focus();
			if (rd_gender_clicked == false) {
				validateRadio1();
				rd_gender_clicked = true;
			}
		});
		$("#user_gender_1").on("change", function () {
			// $('#user_address').focus();
			if (rd_gender_clicked == false) {
				validateRadio1();
				rd_gender_clicked = true;
			}
		});



		function validateRadio1() {

			// var isChecked = false;
			// if($("#user_gender_0").is(':checked')) {
				// isChecked = true;
			// }
			// if($("#user_gender_1").is(':checked')) {
				// isChecked = true;
			// }
// 			
			// if ( !isChecked ) {
				// $("#border_gender").css ({
					// 'border-color' : '#851717'
				// });
				// $('#error_user_gender').html("*");
				// $("#state_user_gender").css ({			
					// background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				// });				
			// }
			// else {
				// $("#border_gender").css ({
					// 'border-color' : '#005C9E'
				// });
				// $('#error_user_gender').html("");
				// $("#state_user_gender").css ({			
					// background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
				// });																
			// }
			
			return isChecked;
		}



		function set_rd_1() {
			var rd ="#user_gender_0";
			var sd = "#rd_gender_male";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_1() {
			var sd = "#rd_gender_male";
			$(sd).removeClass("rd-background");			
		}
		function set_rd_2() {
			var rd ="#user_gender_1";
			var sd = "#rd_gender_female";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_2() {
			var sd = "#rd_gender_female";
			$(sd).removeClass("rd-background");			
		}

		function rd_gender(caller) {

			switch (caller)
			{
			  case 'male':
			  		set_rd_1();
			  		unset_rd_2();
			  	break;
			  case 'female':
			  		set_rd_2();
			  		unset_rd_1();
			  	break;

			  default:
			  //
			}
			
			if (rd_gender_clicked == false) {
				validateRadio1();
				rd_gender_clicked = true;
			}
		}


		function set_rd_account_type_0() {
			var rd ="#user_account_type_0";
			var sd = "#rd_account_type_0";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_account_type_0() {
			var sd = "#rd_account_type_0";
			$(sd).removeClass("rd-background");			
		}

		function set_rd_account_type_1() {
			var rd ="#user_account_type_1";
			var sd = "#rd_account_type_1";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_account_type_1() {
			var sd = "#rd_account_type_1";
			$(sd).removeClass("rd-background");			
		}

		function set_rd_account_type_2() {
			var rd ="#user_account_type_2";
			var sd = "#rd_account_type_2";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_account_type_2() {
			var sd = "#rd_account_type_2";
			$(sd).removeClass("rd-background");			
		}

		function set_rd_account_type_3() {
			var rd ="#user_account_type_3";
			var sd = "#rd_account_type_3";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_account_type_3() {
			var sd = "#rd_account_type_3";
			$(sd).removeClass("rd-background");			
		}

		function set_rd_account_type_4() {
			var rd ="#user_account_type_4";
			var sd = "#rd_account_type_4";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_account_type_4() {
			var sd = "#rd_account_type_4";
			$(sd).removeClass("rd-background");			
		}

		function rd_account_type(caller) {

			switch (caller)
			{
			  case '0':
			  		set_rd_account_type_0();
			  		unset_rd_account_type_1();
			  		unset_rd_account_type_2();
			  		unset_rd_account_type_3();
			  		unset_rd_account_type_4();
			  	break;
			  case '1':
			  		unset_rd_account_type_0();
			  		set_rd_account_type_1();
			  		unset_rd_account_type_2();
			  		unset_rd_account_type_3();
			  		unset_rd_account_type_4();

			  	break;
			  case '2':
			  		unset_rd_account_type_0();
			  		unset_rd_account_type_1();
			  		set_rd_account_type_2();
			  		unset_rd_account_type_3();
			  		unset_rd_account_type_4();
			  	break;
			  case '3':
			  		unset_rd_account_type_0();
			  		unset_rd_account_type_1();
			  		unset_rd_account_type_2();
			  		set_rd_account_type_3();			  		
			  		unset_rd_account_type_4();
			  	break;
			  case '4':
			  		unset_rd_account_type_0();
			  		unset_rd_account_type_1();
			  		unset_rd_account_type_2();
			  		unset_rd_account_type_3();
			  		set_rd_account_type_4();			  		
			  	break;

			  default:
			  //
			}
			
			// if (rd_gender_clicked == false) {
				// validateRadio1();
				// rd_gender_clicked = true;
			// }
		}



		var selectValid2 = false;

		function selectStatus2() {
			
			// alert($("#reg_event_type_affiliation option:selected").val());
			
			if ($("#reg_event_type_affiliation option:selected").val() == '0') {
				$('#state_reg_event_type_affiliation').css ({			
					background: 'url("/assets/submit_form_empty.png") no-repeat 0px 5px'
				});
				
				$('.dropdown2').css ({			
					color: '#838383'
				});
				
				selectValid2 = false;						
			}
			else {
				$('#state_reg_event_type_affiliation').css ({			
					background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
				});
				
				$('.dropdown2').css ({			
					color: '#ACDDE3'
				});			
		
				if( !selectValid2 ) {
					$('.dropdown2').css ({			
						'border-color' : '#005C9E'
					});
					
					$('.dropdown2 > .selected i').css ({			
						'color' : '#005C9E',
						'border-left-color' : '#005C9E' 
					});
					
					$('#error_reg_event_type_affiliation').html("");					
				}
				
				selectValid2 = true;		
			}
			
			if(validatorCalled) {
				validateSelect2();
			}
			
			updateErrorCount();			
		}


		function validateSelect2() {
			
			if ($("#reg_event_type_affiliation option:selected").val() == '0') {
				$('.dropdown2').css ({			
					'border-color' : '#851717'
				});
				
				$('.dropdown2 > .selected i').css ({			
					'color' : '#851717',
					'border-left-color' : '#851717' 
				});
		
				$('#error_reg_event_type_affiliation').html("*");
		
				selectValid2 = false;
			}
			else {
				$('.dropdown2').css ({			
					'border-color' : '#005C9E'
				});
				
				$('.dropdown2 > .selected i').css ({			
					'color' : '#005C9E',
					'border-left-color' : '#005C9E' 
				});

				$('#error_reg_event_type_affiliation').html("");
				
				selectValid2 = true;		
			}
			
			return selectValid2;
		}


		function formValidate() {
						
			$("#form_user_new").validate({
			
				submitHandler: function(form) {
					form.submit();
				},
			
				debug: true,
				onkeyup: false,
				focusCleanup: true,
				// invalidClass: "error",
				// validClass: "success",
				
				rules: {
					'user[name_first]': {
						required: true,
						minlength: 1,
						maxlength: 50
					},
					'user[name_last]': {
						required: true,
						minlength: 1,
						maxlength: 50
					},
					'user[email]': {
						required: true,
						maxlength: 100,
						email: true
					},															
					'user[username]': {
						required: true,
						minlength: 1,
						maxlength: 50
					},
					'user[password]': {
						required: true,
						minlength: 4,
						maxlength: 50
					},
					'user[password_confirmation]': {
						equalTo: "#user_password"
					}
				},
				invalidHandler: function(event, validator) {
					var errors = validator.numberOfInvalids();
					if (errors) {
						var message = errors == 1
						? 'You missed 1 field'
						: 'You missed ' + errors + ' fields';
						$("div.errors p").html(message);
						$("div.errors").show();
					} else {
						$("div.errors").hide();
					}
				},				
				messages: {
					'user[name_first]': {
						required: "*",
						minlength: "First Name at least 1 character",
						maxlength: "First Name exceeds 50 characters"
					},
					'user[name_last]': {
						required: "*",
						minlength: "Last Name at least 1 character",
						maxlength: "Last Name exceeds 50 characters"
					},					
					'user[username]': {
						required: "*",
						minlength: "Username at least 4 characters",
						maxlength: "Username exceeds 50 characters"
					},
					'user[password]': {
						required: "*",
						minlength: "Password at least 4 characters long",
						maxlength: "Password exceeds 20 characters"
					},
					'user[password_confirmation]': {
						equalTo: "Passwords must match"
					},
					'user[email]': {
						required: "*",
						maxlength: "Email exceeds 100 characters",
						email: "Please enter a valid email address"
					}										
				},
				errorContainer: $("div .error_label"),				
				errorPlacement: function(error, element) {
					error.insertAfter('#error_' + element.attr('id'));
					$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					//$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				},
				// invalid: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// $('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');					
				// },
				// highlight: function(element) {
					// $('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				// unhighlight: function(element) {
					// //$('#' + element.attr('id')).removeClass('required').removeClass('success').addClass('error');
					// //$('#label_' + element.attr('id')).removeClass('required-label').addClass('error-label');
				// },
				error: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('success').addClass('error');
					$('#label_' + label.attr('for')).removeClass('required-label').addClass('error-label');
				},
				success: function(label) {
					$('#' + label.attr('for')).removeClass('required').removeClass('error').addClass('success');
					$('#label_' + label.attr('for')).removeClass('error-label').addClass('required-label');
					
					$('#state_' + label.attr('for')).css ({			
						background: 'url("/assets/submit_form_tick.png") no-repeat 0px 5px'
					});
 
					$('#error_' + label.attr('for')).html("");
				},				
				focus: function(element) {
				 	$('#' + element.attr('id')).removeClass('required').removeClass('error').removeClass('success').addClass('focus');
				}
			});
			
			// $.validator.setDefaults({
				// 				
				// submitHandler: function() {
					// form.submit();
				// }
				//$('#user_username');
				
				// submitHandler: function() { alert("submitted!"); }
				// debug: true,
				// onkeyup: false,
				// focusCleanup: true,
				// errorClass: "invalid",
				// validClass: "success"
			// });
		}


		$(window).load( function() {
		//$(document).ready(function(){

			// formValidate();
			
						
			$('select').dropdown({
			    'changed': function(data) {
			        // selectStatus1();
			        // selectStatus2();	
			    }
			});	    
			
			
			$('#user_gender_0').prop('checked', false);				
			$('#user_gender_1').prop('checked', false);				

			$('#rd_gender_male').on('click', function() {
				rd_gender('male');
			});
			$('#rd_gender_female').on('click', function() {
				rd_gender('female');
			});
			
    		$('#rd_gender_male').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_gender_male').click();
    		});				
    		$('#rd_gender_female').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_gender_female').click();
    		});				

    		$("#ch_remember_me").keypress(function(e){
      			if(e.keyCode==13)
      			$("#ch_remember_me").click();
    		});				


			$('#user_account_type_0').prop('checked', false);				
			$('#user_account_type_1').prop('checked', false);				
			$('#user_account_type_2').prop('checked', false);				
			$('#user_account_type_3').prop('checked', false);				
			$('#user_account_type_4').prop('checked', false);				
			
			$('#rd_account_type_0').on('click', function() {
				rd_account_type('0');
			});
			$('#rd_account_type_1').on('click', function() {
				rd_account_type('1');
			});
			$('#rd_account_type_2').on('click', function() {
				rd_account_type('2');
			});
			$('#rd_account_type_3').on('click', function() {
				rd_account_type('3');
			});
			$('#rd_account_type_4').on('click', function() {
				rd_account_type('4');
			});
			
    		$('#rd_account_type_0').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_account_type_0').click();
    		});				
    		$('#rd_account_type_1').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_account_type_1').click();
    		});				
    		$('#rd_account_type_2').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_account_type_2').click();
    		});				
    		$('#rd_account_type_3').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_account_type_3').click();
    		});				
    		$('#rd_account_type_4').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_account_type_4').click();
    		});				




			$(".group1").colorbox({rel:'group1'});
			$(".group2").colorbox({rel:'group2', transition:"fade"});
			$(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
			$(".group4").colorbox({rel:'group4', slideshow:true});
			$(".ajax").colorbox();
			$(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
			$(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
			$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
			$(".inline").colorbox({inline:true, width:"50%"});
			$(".callbacks").colorbox({
				onOpen:function(){ alert('onOpen: colorbox is about to open'); },
				onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
				onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
				onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
				onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
			});

			$('.non-retina').colorbox({rel:'group5', transition:'none'})
			$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
			
			$("#click").click(function(){ 
				$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
				return false;
			});



			$("#panel-1").focus( function() {
				$("#panel-1").mouseover();
			});
			$("#panel-1").blur( function() {
				$("#panel-1").mouseleave();
			});

			$("#panel-2").focus( function() {
				$("#panel-2").mouseover();
			});
			$("#panel-2").blur( function() {
				$("#panel-2").mouseleave();
			});

			$("#panel-3").focus( function() {
				$("#panel-3").mouseover();
			});
			$("#panel-3").blur( function() {
				$("#panel-3").mouseleave();
			});

			$("#panel-4").focus( function() {
				$("#panel-4").mouseover();
			});
			$("#panel-4").blur( function() {
				$("#panel-4").mouseleave();
			});

			$("#panel-5").focus( function() {
				$("#panel-5").mouseover();
			});
			$("#panel-5").blur( function() {
				$("#panel-5").mouseleave();
			});
			
			// $('.initiator').on('mouseenter mouseleave', function(e) {
			    // $('.receiver').trigger(e.type);
			// });
						
						
			// $("ul li").on('click', function() {
				// alert('page');
			// });

			// $('a[href*=#]:not([href=#])').click(function() {
			    // event.preventDefault();
			    // var target_offset = $(this.hash).offset() ? $(this.hash).offset().top : 0;
			    // //change this number to create the additional off set        
			    // var customoffset = 0;
			    // $('html, body').animate({scrollTop:target_offset - customoffset}, 500);
			// });

			$('a[href*=#]:not([href=#])').click(function() {
				var target_offset = 1;
			    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
			        || location.hostname == this.hostname) {
			        var target = $(this.hash);
			        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		           	if (target.length) {
		             	$('html,body').animate({
		                	scrollTop: target.offset().top + target_offset
		            	}, 750);
		            	// return false;
		        	}
			    }
			});

						
		});
	
	</script>
