<% provide(:title, 'Members') %>


	<style>
		
		.users-table {
			display:table;
			width: 100%;
			border-top: 0px; 
			border-collapse: collapse;
		}
		.users-row-top {
			display: table-row;
			height: 2px;
		  	border-bottom: 1px solid #ccc;			
		}
		.users-cell-top-image {
			display:table-cell;
			height: 2px;
			/*width: 500px;*/
		  	border-bottom: 1px solid #ccc;
		}
		.users-cell-top {
			display:table-cell;
			height: 2px;
			/*width: 70px;*/
		  	border-bottom: 1px solid #ccc;
		}
		.users-row {
			display: table-row;
			height: 68px;
		  	border-bottom: 1px solid #ccc;			
		}
		.users-cell-image {
			display:table-cell;
		  	overflow: auto;
		  	width: 70px;			
			height: 100%;
		  	padding: 8px 0 0 10px;
		  	border-bottom: 1px solid #ccc;
		}
		.users-cell {
			display:table-cell;
		  	overflow: auto;
		  	width: 500px;			
			height: 100%;
		  	padding: 8px 0;
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 200;
		  	font-color: #888;
			font-size: 13px;
			border-bottom: 1px solid #ccc;
			vertical-align: top;
		}
		.users-cell span.user-name a {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #5628E1;
			font-size: 14px;
		}
		.users-cell-top div {
			height: 100%;
			padding: 0 0 0 10px;
		}
		.users-cell div {
			height: 100%;
		}
		
	</style>

	<header>
		<%= render 'layouts/nav_main' %>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				
				<div class="col-midd">
					<div class="line-space-20"></div>
			
					<div style="text-align: left;">
						<span class="normal" style="padding-left: 10px;">Members</span>
					</div>

					<div class="line-space-20"></div>

					<div>
						<%= will_paginate %>
						
						<div class="users-table">
							<div class="users-row-top">
								<div class="users-cell-top-image"></div>
								<div class="users-cell-top"></div>
							</div>
						  	<%= render @users %>
						</div>
						
						<%= will_paginate %>
					</div>
					
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_publishers_right' %>
				</div>								
			</div>
		</div>
	</div>

	<script>
	  
		//$(window).load( function() {
	
		//});
	  
	</script>		
