

<style>
	
		.jqmWindow-5 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 700px;
			height: 700px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		

		.jqmWindow-2 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 900px;
			height: 660px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		
	
</style>

								<div class="jqmWindow jqmWindow-2" id="dialog_2">
							   		<div class="table-dl-form-2">
							   			<div class="row">
							   				<div class="cell-100percent">
							   					<div id="close_form2" class="form-edit-close jqmClose" tabindex="1">
							   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
							   					</div>
							   					<div style="clear: both;"></div>
							   				</div>
					   					</div>
									</div>				   				
									<div class="pad-left-20">
										<% if @publisher_profile_image_primary %>
											<div style="display: inline-block;">
												<%= image_tag @publisher_profile_image_primary.image_url(:profile_600_600), id: "cropbox_profile" %>
											</div>
											<div style="display: inline-block; vertical-align: top;">
												<h4>Preview</h4>
												<div style="width:200px; height:200px; overflow:hidden">
												  <%= image_tag @publisher_profile_image_primary.image_url(:profile_600_600), :id => "preview_profile_200" %>
												</div>
												<div style="height: 4px"></div>
												<div style="width:100px; height:100px; overflow:hidden">
												  <%= image_tag @publisher_profile_image_primary.image_url(:profile_600_600), :id => "preview_profile_100" %>
												</div>
												<div style="height: 4px"></div>
												<div style="width:50px; height:50px; overflow:hidden">
												  <%= image_tag @publisher_profile_image_primary.image_url(:profile_600_600), :id => "preview_profile_50" %>
												</div>
												<div style="height: 4px"></div>
												<div style="width:34px; height:34px; overflow:hidden">
												  <%= image_tag @publisher_profile_image_primary.image_url(:profile_600_600), :id => "preview_profile_34" %>
												</div>
												<div style="height: 4px"></div>
												<%= form_tag( crop_commit_publisher_profile_images_path ) do %>
												  	<%= text_field_tag :crop_x, params["crop_x"], id: "id_crop_x", class: "input-crop" %><br>
												  	<%= text_field_tag :crop_y, params["crop_y"], id: "id_crop_y", class: "input-crop" %><br>
												  	<%= text_field_tag :crop_w, params["crop_w"], id: "id_crop_w", class: "input-crop" %><br>
												  	<%= text_field_tag :crop_h, params["crop_h"], id: "id_crop_h", class: "input-crop" %><br>
													<%= hidden_field_tag "image_id", @publisher_profile_image_primary.id %>
												    <%= submit_tag "Save", class: '' %>
												<% end %>	
											</div>
										<% else %>
											<div> no @publisher_profile_image_primary</div>
										<% end %>		
									</div>
								</div>

								
								<div class="jqmWindow jqmWindow-5" id="dialog_5">
							   		<div class="table-dl-form">
							   			<div class="row">
							   				<div class="cell-100percent">
							   					<div id="close_form5" class="form-edit-close jqmClose" tabindex="">
							   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
							   					</div>
							   					<div style="clear: both;"></div>
							   				</div>
					   					</div>
									</div>				   				
									<div class="pad-left-20">
										<div style="height: 20px;"></div>
										<div class="profile-grid profile-cs-style-3">
											<figure class="profile-figure" id="profile_figure_dialog">
												<img alt="photo not appearing" src="" />
												<figcaption class="figcaption-2">
													<div class="tip-top-center"></div>
									                <div class="tip-content">
									                    <div class="tooltiptext">Delete</div>
									                </div>																								
												</figcaption>
											</figure>
										</div>
									</div>
								</div>
								
								
	<!-- <style>
		
		div#container_user_image_primary .drop {
			position: relative;
		}
		div#container_user_image_primary .drop .dropdownContain .dropOut .triangle {
			width: 0;
			height: 0;
			position: absolute;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid white;
			top: -8px;
			left: 0px;
		}
		div#container_user_image_primary .drop .dropdownContain {
			width: 140px;
			position: absolute;
			z-index: 2;
			left: 2px;
			top: -1000px;
		}
		div#container_user_image_primary .drop .dropdownContain .dropOut {
			width: 140px;
			background: #fff;
			float: left;
			position: relative;
			margin-top: 0px;
			opacity: 0;
			-webkit-border-top-left-radius: 0px;
			-webkit-border-top-right-radius: 4px;
			-webkit-border-bottom-right-radius: 4px;
			-webkit-border-bottom-left-radius: 4px; 			
			-moz-border-top-left-radius: 0px;
			-moz-border-top-right-radius: 4px;
			-moz-border-bottom-right-radius: 4px;
			-moz-border-bottom-left-radius: 4px; 			
			border-top-left-radius: 0px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px; 			
			-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
			-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
			box-shadow: 0 1px 6px rgba(0,0,0,.15);
			/*display: none !important;
			visibility: hidden !important;*/
			/*display: none;*/
			/*visibility: hidden;*/					
		}
		div#container_user_image_primary .drop .dropdownContain .dropOut ul {
			float: left;
			padding: 10px 0;
		}
		div#container_user_image_primary .drop .dropdownContain .dropOut ul li {
			text-align: left;
			float: left;
			width: 120px;
			height: 24px;
			padding: 4px 0 6px 10px;
			margin: 3px 10px 3px 10px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		div#container_user_image_primary .drop .dropdownContain .dropOut ul li:hover {
			background: #f2f2f2;
		}
		div#container_user_image_primary .drop .dropdownContain .dropOut ul li div {
			color: #376340;	
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 700;
			width: 100%;
			height: 24px;
		}
		div#container_user_image_primary .drop .dropdownContain .dropOut ul li:hover div {
			color: #376340;	
			cursor: pointer;
		}
		/*div#container_user_image_primary:hover .drop .dropdownContain .dropOut { opacity: 1; margin-top: 8px; }*/
		/*div#profile_figure_container:hover div#container_user_image_primary .drop .dropdownContain .dropOut { opacity: 1; margin-top: 8px; }*/
		div#container_user_image_primary .drop .container-image:hover .dropdownContain .dropOut { opacity: 1; margin-top: 8px; }
	
		
	</style> -->


	<style>
		
		div.drop-1-container  {
			position: relative;
		}
		div.drop-1-container .dropOut .triangle {
			width: 0;
			height: 0;
			position: absolute;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid white;
			top: -8px;
			left: 0px;
		}
		div.drop-1-container  {
			width: 140px;
			position: absolute;
			z-index: 2;
			left: 2px;
			top: -1000px;
		}
		div.drop-1-container .dropOut {
			width: 140px;
			background: #fff;
			float: left;
			position: relative;
			margin-top: 0px;
			opacity: 0;
			-webkit-border-top-left-radius: 0px;
			-webkit-border-top-right-radius: 4px;
			-webkit-border-bottom-right-radius: 4px;
			-webkit-border-bottom-left-radius: 4px; 			
			-moz-border-top-left-radius: 0px;
			-moz-border-top-right-radius: 4px;
			-moz-border-bottom-right-radius: 4px;
			-moz-border-bottom-left-radius: 4px; 			
			border-top-left-radius: 0px;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px; 			
			-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
			-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
			box-shadow: 0 1px 6px rgba(0,0,0,.15);
			/*display: none !important;
			visibility: hidden !important;*/
			/*display: none;*/
			/*visibility: hidden;*/					
		}
		div.drop-1-container .dropOut ul {
			float: left;
			padding: 10px 0;
		}
		div.drop-1-container .dropOut ul li {
			text-align: left;
			float: left;
			width: 120px;
			height: 24px;
			padding: 4px 0 6px 10px;
			margin: 3px 10px 3px 10px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		div.drop-1-container .dropOut ul li:hover {
			background: #f2f2f2;
		}
		div.drop-1-container .dropOut ul li div {
			color: #376340;	
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: 700;
			width: 100%;
			height: 24px;
		}
		div.drop-1-container .dropOut ul li:hover div {
			color: #376340;	
			cursor: pointer;
		}
		/*div.container-drop-1:hover .drop .dropdownContain .dropOut { opacity: 1; margin-top: 8px; }*/
		/*div#profile_figure_container:hover div.container-drop-1 .drop .dropdownContain .dropOut { opacity: 1; margin-top: 8px; }*/
		div.drop-1-container .dropOut { opacity: 1; margin-top: 8px; }
	
		
	</style>


								
							<!-- <div class="cell-225 padding-left-4" id="container_user_image_primary" style="height: 260px;">
								<div id="drop_container_user_image_primary" class="drop float-left width-200"> -->
								

								<% if @publisher_profile_image_primary %>   				
								
									<div id="profile_figure_container" class="profile-grid profile-cs-style-3 drop-1-container">
										<!-- id="drop_container_user_image_primary" class="drop float-left width-200" -->
										<figure id="profile_figure" class="profile-figure dialog-5-figure drop-target-1">
										<!-- <figure id="profile_figure" class="drop-container-user-image-primary profile-figure dialog-5-figure drop"> -->
										<!-- <figure id="profile_figure"> -->
											<img id="id_image" alt="photo not appearing" src="<%= @publisher_profile_image_primary.image_url(:profile_300_300) if @publisher_profile_image_primary.image? %>" />
											<input class="x-container-hidden" type="hidden" value="<%= @publisher_profile_image_primary.image_url(:profile_600_600) if @publisher_profile_image_primary.image? %>" />
											<figcaption class="figcaption-2">
												<div class="tip-top-center"><%= button_to "", destroy_publisher_profile_image_publishers_path(:id => @publisher_profile_image_primary.id), :confirm => 'Delete this photo?', :remote => true, class: 'x-container' %></div>
								                <div class="tip-content">
								                    <div class="tooltiptext">Delete</div>
								                </div>																								
											</figcaption>
											<figcaption class="figcaption-1">
												<span class="dialog-2 label-dialog-figcaption">Crop/Center small images</span>
											</figcaption>
										</figure>
										<div class="container-menu">
											<%= render 'publisher_users/publisher_user_image_primary_menu' %>
										</div>										
									</div>

								<% else %>

									<div class="profile-grid profile-cs-style-3">
										<figure id="profile_figure_generic" class="profile-figure-generic">
											<img alt="logo not appearing" src="../images_avatar/avatar_generic_1_w250_h310.png" />
											<figcaption class="figcaption-1">
												<span class="dialog-1 label-dialog-figcaption">Add a photo</span>
											</figcaption>
										</figure>
									</div>
								
								<% end %>


	<script>

        function showPreview(coords)
        {
            if (parseInt(coords.w) > 0)
            {
                // var rx = 200 / coords.w;
                // var ry = 200 / coords.h;
		    	$('#id_crop_x').val(coords.x);
		    	$('#id_crop_y').val(coords.y);
		    	$('#id_crop_w').val(coords.w);
		    	$('#id_crop_h').val(coords.h);

                jQuery('#preview_profile_200').css({
					width: Math.round(200 / coords.w * $('#cropbox_profile').width()) + 'px',
				    height: Math.round(200 / coords.h * $('#cropbox_profile').height()) + 'px',
				    marginLeft: '-' + Math.round(200 / coords.w * coords.x) + 'px',
				    marginTop: '-' + Math.round(200 / coords.h * coords.y) + 'px'
                    // width: Math.round(rx * 200) + 'px',
                    // height: Math.round(ry * 200) + 'px',
                    // marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                    // marginTop: '-' + Math.round(ry * coords.y) + 'px'
                });
                jQuery('#preview_profile_100').css({
					width: Math.round(100 / coords.w * $('#cropbox_profile').width()) + 'px',
				    height: Math.round(100 / coords.h * $('#cropbox_profile').height()) + 'px',
				    marginLeft: '-' + Math.round(100 / coords.w * coords.x) + 'px',
				    marginTop: '-' + Math.round(100 / coords.h * coords.y) + 'px'
                });
                jQuery('#preview_profile_50').css({
					width: Math.round(50 / coords.w * $('#cropbox_profile').width()) + 'px',
				    height: Math.round(50 / coords.h * $('#cropbox_profile').height()) + 'px',
				    marginLeft: '-' + Math.round(50 / coords.w * coords.x) + 'px',
				    marginTop: '-' + Math.round(50 / coords.h * coords.y) + 'px'
                });
                jQuery('#preview_profile_34').css({
					width: Math.round(34 / coords.w * $('#cropbox_profile').width()) + 'px',
				    height: Math.round(34 / coords.h * $('#cropbox_profile').height()) + 'px',
				    marginLeft: '-' + Math.round(34 / coords.w * coords.x) + 'px',
				    marginTop: '-' + Math.round(34 / coords.h * coords.y) + 'px'
                });
                
            }
        }
        
		// jQuery(window).load(function(){
			// jQuery("#cropbox_profile").each(function() {
			  // // image_to_crop = $(this);
			  // image_to_crop = $("#cropbox_profile");
			  // image_to_crop.Jcrop({
	          	// aspectRatio: 1,
	        	// setSelect: [0, 0, 600, 600],
	            // onSelect: function(coords){showPreview(image_to_crop, coords);},
			    // onChange: function(coords){showPreview(image_to_crop, coords);}
			// }
        // });
		
		// jQuery(window).load(function(){
		jQuery(document).ready(function() {
			image_to_crop = $("#cropbox_profile");
			image_to_crop.Jcrop({
            // jQuery('#cropbox_profile').Jcrop({
                aspectRatio: 1,
            	setSelect: [0, 0, 600, 600],
	            onSelect: function(coords){showPreview(coords);},
			    onChange: function(coords){showPreview(coords);}
	            // onSelect: function(coords){showPreview(image_to_crop, coords);},
			    // onChange: function(coords){showPreview(image_to_crop, coords);}
                // onSelect: showPreview,
                // onChange: showPreview                
            });
        });

        		
	</script>


	<script>

		// $(document).on('click','.dialog-2', {} ,function(e){
			// alert('crop');
			// $("#dialog_2").jqmShow();
		// });	


		function closeShowPhotoPrimary() {
			$("#close_form5").trigger('click');
		};	  

		function closeAddImagePrimary() {
			$("#close_form1").trigger('click');
		};	  
	  
		function closeCropImage() {
			$("#close_form2").trigger('click');
		};	  

		// $(window).load( function() {
		$(document).ready( function () {				
		
			// alert($("#profile_figure img").width());

			$("#profile_figure_generic").on('click', function() {
				$(".dialog-1").click();	
			});
		
			var img_generic = $("#profile_figure_generic img");
			$("<img/>")
	    		.attr("src", $(img_generic).attr("src"))
	    		.load(function() {
	        		img_width = this.width; 
	        		$("#profile_figure_generic").css({
	        			width : this.width
	        	});
	    	});		

			var img = $("#profile_figure img");
			$("<img/>")
	    		.attr("src", $(img).attr("src"))
	    		.load(function() {
	        		img_width = this.width; 
	        		$("#profile_figure").css({
	        			width : this.width
	        	});	        		
	    	});		

		
			$(".dialog-2").on('click', function() {
				$("#dialog_2").jqmShow();
			});

			$(".dialog-1").on('click', function() {
				$("#dialog_1").jqmShow();
				$("#primary").val('true');
			});
		
			$('#dialog_1').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-740px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_1').animate(
						{bottom:'-=800', top:'+=800'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_1').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
							// $('#dl_email').focus();
						}
					);
				}
			}); 		
		
			$('#dialog_2').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-740px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_2').animate(
						{bottom:'-=800', top:'+=800'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_2').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
							// $('#dl_email').focus();
						}
					);
				}
			}); 		
			
			
			
			
			$(".dialog-5-figure").on('click', function(e) {
				if ( e.target.nodeName == "IMG" ) {
					var this_src = $(this).find("input.x-container-hidden").attr("value");
					$("#profile_figure_dialog").find("img").attr("src", this_src );
					var this_delete = $(this).find("div.tip-top-center").html();
					$("#profile_figure_dialog").find("div.tip-top-center").html(this_delete);
					$("#dialog_5").jqmShow();	
				}
			});
			
			$('#dialog_5').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '60px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					var img = $("#profile_figure_dialog img");
					$("<img/>")
			    		.attr("src", $(img).attr("src"))
			    		.load(function() {
			        		img_width = this.width; 
			        		$("#profile_figure_dialog").css({
			        			width : this.width
			        	});	        		
			    	});		
				}
			}); 		
			
			
			
            $('.tip').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout'
                })
            });			
			
            $('.tip-bottom-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'top center',
				        at: 'bottom center'
				        // target: $('.tip-bottom-center')
    				}                    
                })
            });			

            $('.tip-top-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'bottom center',
				        at: 'top center'
				        // target: $('.tip-top-center')
    				}                    
                })
            });			
			
		
		});
	  

	</script>		

