<% provide(:title, 'Publishers Home') %>

 	<style>
 		
		*, *:after, *:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.clearfix:before, .clearfix:after { content: " "; display: table; }
		.clearfix:after { clear: both; }
		a {
			color: #888;
			text-decoration: none;
		}
		a:hover,
		a:active {
			color: #333;
		}
		.profile-grid {
			padding: 0px 0px 0px 0px;
			/*max-width: 1300px;*/
			margin: 0 auto;
			list-style: none;
			/*text-align: center;*/
		}
		.profile-grid li {
			display: inline-block;
			width: 250px;
			/*height: 300px;*/
			/*margin: 0;*/
			padding: 0px 0px 0px 0px;
			position: relative;
			text-align: center;
		}
		.profile-grid figure {
			margin: 0;
			position: relative;
			/*height: 300px;*/
			/*padding-left: 6px;*/
			padding-top: 0px;	
			background-color: #fff;
		}
		.profile-grid figure img {
			max-width: 100%;
			display: block;
			position: relative;
		}
		.profile-grid figcaption {
			position: absolute;
			top: 0;
			left: 0;
			padding: 10px;
			/*background: #2c3f52;*/
			background: #000;
			color: #ed4e6e;
		}
		/*.profile-grid figcaption h3 {
			margin: 0;
			padding: 0;
			color: #fff;
		}*/
		/*.profile-grid figcaption span:before {
			content: '';
		}*/
		.profile-grid figcaption {
			text-align: right;
		}
		.profile-grid figcaption span a {
			text-align: right;
			/*padding: 5px 10px;*/
			/*border-radius: 2px;*/
			/*display: inline-block;*/
			/*background: #ed4e6e;*/
			color: #fff;
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 14px;
			font-weight: 400;					  	
		}
		span a {
			text-align: right;
			color: #888;
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 14px;
			font-weight: 400;					  	
		}
		.profile-cs-style-3 figure {
			/*border: solid 1px #000;*/
			overflow: hidden;
		}
		.profile-cs-style-3 figure img {
			-webkit-transition: -webkit-transform 0.2s;
			-moz-transition: -moz-transform 0.2s;
			transition: transform 0.2s;
		}
		.no-touch .profile-cs-style-3 figure:hover img,
		.profile-cs-style-3 figure.cs-hover img {
			/*-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);*/
			
			/*-webkit-transform: translateY(-6px);
			-moz-transform: translateY(-6px);
			-ms-transform: translateY(-6px);
			transform: translateY(-6px);*/
		}
		.profile-cs-style-3 figcaption {
			height: 50px;
			width: 100%;
			top: auto;
			bottom: 0;
			opacity: 0;
			-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			transform: translateY(100%);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
		}
		.no-touch .profile-cs-style-3 figure:hover figcaption,
		.profile-cs-style-3 figure.cs-hover figcaption {
			opacity: .8;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s;
			transition: transform 0.4s, opacity 0.1s;
		}
		/*.profile-cs-style-3 figcaption a {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}*/
		@media screen and (max-width: 31.5em) {
			.profile-grid {
				padding: 0px 0px 0px 0px;
			}
			.profile-grid li {
				width: 100%;
				min-width: 30px;
			}
		}
 		
 	</style>

	<style>
		
	.container {
		width: 1200px;
		/*margin: 0 auto;*/
		/*position: relative;*/
		/*top: -4px;*/
	}
		
	</style>

	<!-- <header>
		<#%= render 'share/backtotop' %#>
	</header> -->


	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>
						<div class="row-profile">
							<div class="col-left">
								<%= render 'share/dir_publishers_left'%>
							</div>
						</div>
					</div>
				</div>
				<div class="col-midd">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-midd-600">
								
								<div style="text-align: left;">
									
								</div>
					
								

								<div id="profile_image" class="pad-left-20">
								
								<% if @publisher_profile_images.any? %>   				
								
									<% for publisher_profile_image in @publisher_profile_images %>
					   				<div class="cell-180">
										<ul class="profile-grid profile-cs-style-3">
											<li>
												<figure>
													<img id="id_image" alt="photo not appearing" src="<%= publisher_profile_image.image_url(:image_500_500) if publisher_profile_image.image? %>"  width="250px" />
				
													<figcaption>
														<!-- <span><#%= link_to "Crop/Center small images", { :action => :crop, :controller => 'publisher_profile_images', :params => { :id => publisher_profile_image.id  } } %#></span> -->
														<span><%= link_to "Crop/Center small images", '/Photo-Crop-Center/' + publisher_profile_image.id.to_s %></span>
														<br>
														<span><%= link_to "Delete", publisher_profile_image, :confirm => 'Delete this photo?', :method => :delete, :params => {:publisher_profile_image_id => publisher_profile_image.id} %></span>
						        						<!-- <span>= link_to "edit", edit_publisher_profile_image_path(publisher_profile_image) </span> -->
													</figcaption>
												</figure>
											</li>
										</ul>
						   			</div>
						   			<div class="cell-400">
						   			</div>
									<% end %>

								<% else %>

					   				<div class="cell-180">
										<!-- <ul class="grid cs-style-3"> -->
										<ul class="profile-grid profile-cs-style-3">
											<li>
												<figure style="border: 1px solid #000;">
													<!-- <img alt="logo not appearing" src="../images_avatar/avatar_generic_1_w250_h310.png" /> -->
													<img alt="logo not appearing" src="../journal_poster/logo_journalposter_generic.jpg" />
													<figcaption>
														<span><%= link_to "Add a photo", new_publisher_profile_image_path(:publisher_id => @publisher_id) %></span>											
													</figcaption>
												</figure>
											</li>
										</ul>
						   			</div>
						   			<!--<div class="cell-400">
						   				<span><%= link_to "Add a photo", new_publisher_profile_image_path(:publisher_id => @publisher_id) %></span>
						   			</div>-->
								
								<% end %>
								
								</div>
								

																
						    	<div class="delete-record"style="width: 100%; text-align: center;">
							    	<h5>
									   	<% delete_all_msg = "Delete all records and reset index in Publishers?" %>
										<%= button_to "Delete All Records and Reset Index", {:action => 'dbdelete'}, :method => :post, data: { confirm: delete_all_msg }, :class => 'reset-db-btn-long', :remote => true %>
									</h5>
								</div>
								
							</div>
						</div>
					</div>					
				</div>
				<div class="col-right">
					<div class="table-profile">
						<div class="col-gen"></div>
					</div>							
					<div class="row-profile">
						<div class="col-right">
							<!-- <#%= render 'share/dir_publishers_right' %#> -->
						</div>
					</div>
				</div>		
												
			</div>								
		</div>
	</div>

	<!-- </div> -->

	<!-- <script>
	  
		// $(window).load( function() {
		// //$(document).ready(function () {				
				// var cnt = 1;
				// var cells = "";
				// // alert(gon.image_name);
				// if (gon.image_name !== '') {								
					// cells += "</td><td style='width: 10px;'></td><td><img src='../images_publisher/" + gon.image_name + "' alt='image'>";
					// var tbl = "<table><tr>" + cells + "</tr></table>";
					// $( "#render" ).html( tbl);
				// }
				// else {
					// var tbl = "<table><tr><td><span class='normal-red pad-left-20'>No photo</span><td></tr></table>";
					// $( "#render" ).html( tbl);				
				// }
		// });
	  
	</script> -->		
