<% provide(:title, 'Corporate Story') %>

	<script src="/assets/jqModal.js"></script>
	<script src="/assets/jquery.easing.1.3.js"></script>
	<link rel="stylesheet" href="/assets/jqModal.css" />
	<script src="../jcrop/js/jquery.Jcrop.js"></script>
	<script type="text/javascript">
	  jQuery(function($){
	    $('#target').Jcrop();
	  });
	</script>
	<link rel="stylesheet" href="../jcrop/css/jquery.Jcrop.css" type="text/css" />
  	<script src="/assets/jquery.qtip.min.js" type="text/javascript"></script>
  	<link rel="stylesheet" href="/assets/jquery.qtip.min.css">


	<script src="/assets/jquery.colorbox.js"></script>
	<link rel="stylesheet" href="/assets/colorbox.css" />
	
	<!-- <link rel="stylesheet" href="../styles/digg-pagination.css" /> -->
	<link rel="stylesheet" href="../styles/ks-profile.css" />
	
	<!-- <script type="text/javascript" src="../scripts/slidedeck.jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/slidedeck.skin.css" media="screen,handheld" /> -->


	<!-- <script src="/assets/jqModal.js"></script> -->
	<!-- <script src="/assets/jquery.easing.1.3.js"></script> -->
	<!-- <link rel="stylesheet" href="/assets/jqModal.css" /> -->
	<!-- <script src="/assets/jquery.validate.js"></script> -->




			<!-- logo image - show 11 -->			
			<div class="jqmWindow jqmWindow-11" id="dialog_11">
		   		<div class="table-dl-form-1">
		   			<div class="row">
		   				<div class="cell-100percent">
		   					<div id="close_form11" class="form-edit-close jqmClose tip-left-center" tabindex="">
		   						<img src="/assets/x_close_white_w20_h20.png" alt="X" height="20px">
		   					</div>
			                <div class="tip-content">
			                    <div class="tooltiptext">Close</div>
			                </div>																															   					
		   					<div style="clear: both;"></div>
		   				</div>
   					</div>
				</div>				   				
				<!-- <div class="pad-left-20"> -->
				<div style="width: 100%; text-align: center;">
					<div style="height: 20px;"></div>
					<!-- <div class="profile-grid profile-cs-style-3"> -->
					<!-- <div class="container-figure container-figure-1"> -->
					<div class="">
						<figure id="profile_figure_dialog_11" class="dialog-user-image">
							<img alt="photo not appearing" src="" />
							<!-- <figcaption class="figcaption-2">
								<div class="tip-top-center"></div>
				                <div class="tip-content">
				                    <div class="tooltiptext">Delete</div>
				                </div>																								
							</figcaption> -->
						</figure>
					</div>
				</div>
			</div>


	
			<!-- 
			jqmWindow-12
			dialog-topbar-1
			form-edit-close
			tip-left-center
			tip-content
			background-table-dialog-1
			table-dialog-1
			dialog-msg-container
			btn-pop-dialog
			dvLoading-12
			dvLoading-display-none 
			-->	

			<!-- logo image - upload 12 -->
			<div class="jqmWindow jqmWindow-12" id="dialog_12">
				<div class="dialog-topbar-1" style="margin-top:0px;">
					<div style="height: 63px; width: 60px; float: left; position: absolute;">
						<img src="../assets_knowstory/knowstory-icon-2-w60-h63.png">
					</div>
					<!-- text goes here -->
   					<div id="close_form12" class="form-edit-close jqmClose tip-left-center" style="height: 20px; width: 20px; float: right;">
   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
   					</div>
	                <div class="tip-content">
	                    <div class="tooltiptext">Close</div>
	                </div>																															   					
   					<div style="clear: both;"></div>
				</div>
				<!-- <div style="height: 20px;"></div> -->
				<div class="background-table-dialog-1">
			   		<div class="table-dialog-1">
			   			<div class="row">
			   				<div class="cell-100percent dialog-msg-container">
								<span>Upload Photo</span>
							</div>
						</div>
	   				</div>
   				</div>
   				<div style="height: 12px;"></div>
   				<div class="table-dialog-1">
		   			<div class="row">
		   				<div class="cell-100percent dialog-msg-container">
							<span><input id="btn_dlg_submit_upload_logo_image_primary" class="btn-pop-dialog" type="button" value="Upload" tabindex=""></span>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<span><input id="btn_dlg_cancel_upload_logo_image_primary" class="btn-pop-dialog" type="button" value="Cancel" tabindex=""></span>
		   				</div>
   					</div>
				</div>														   				
				<!-- D1yHRJtLZof/HKsEdJSSSVpPC6mAzZfe9CqwtTjzGvs -->
				<!-- 
				<form id="new_publisher_user_image" class="new_publisher_user_image" method="post" enctype="multipart/form-data" data-remote="true" action="/publisher_users/upload_publisher_user_image_primary" accept-charset="UTF-8">
					<div style="margin:0;padding:0;display:inline">
						<input type="hidden" value="✓" name="utf8">
						<input type="hidden" value="D1yHRJtLZof/HKsEdJSSSVpPC6mAzZfe9CqwtTjzGvs=" name="authenticity_token">
					</div>
					<p>
						<input id="publisher_user_image_image" type="file" name="publisher_user_image[image]">
					</p>
					<p>
						<input class="btn-submit" type="submit" value="Upload Photo" name="commit">
					</p>
				</form> 
				-->					
				<div style="height: 4px"></div>
		   		<div class="table-dialog-1">
		   			<div class="row">
		   				<div class="cell-100percent" style="text-align: center; background-color: #f6f6f6;">
							<div id="dvLoading_12" class="dvLoading-12 dvLoading-display-none"></div>
						</div>
					</div>
				</div>
				
				<%= form_for PublisherLogoImage.new, :url => upload_publisher_logo_image_primary_publishers_path(@publisher_logo_image_new), :html => {:multipart => true, :class => 'hidden', :id => 'new_publisher_logo_image'}, :remote => true do |f| %>
				  <p><%= f.file_field :image, :id => 'new_publisher_logo_image_image' %></p>
				  <!-- <#%= f.hidden_field 'publisher_id', :value => @publisher_id %#>
				  <#%= f.hidden_field 'primary', :value => true %#> -->
				  <p><%= f.submit :id => 'btn_submit_dialog_12', :class => 'btn-submit hidden', :value => 'Upload Photo' %></p>
				<% end %>
				
			</div>


			<!-- logo image - change 13 -->
			<div class="jqmWindow jqmWindow-13" id="dialog_13">
				<div class="dialog-topbar-1" style="margin-top:0px;">
					<div style="height: 63px; width: 60px; float: left; position: absolute;">
						<img src="../assets_knowstory/knowstory-icon-2-w60-h63.png">
					</div>
					<!-- text goes here -->
   					<div id="close_form13" class="form-edit-close jqmClose tip-left-center" style="height: 20px; width: 20px; float: right;">
   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
   					</div>
	                <div class="tip-content">
	                    <div class="tooltiptext">Close</div>
	                </div>																															   					
   					<div style="clear: both;"></div>
				</div>
				<!-- <div style="height: 20px;"></div> -->
				<div class="background-table-dialog-1">
			   		<div class="table-dialog-1">
			   			<div class="row">
			   				<div class="cell-100percent dialog-msg-container">
								<span>Change Photo</span>
							</div>
						</div>
	   				</div>
   				</div>
   				<div style="height: 12px;"></div>
   				<div class="table-dialog-1">
		   			<div class="row">
		   				<div class="cell-100percent dialog-msg-container">
							<span><input id="btn_dlg_submit_upload_logo_image_primary_change" class="btn-pop-dialog" type="button" value="Upload" tabindex=""></span>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<span><input id="btn_dlg_cancel_upload_logo_image_primary_change" class="btn-pop-dialog" type="button" value="Cancel" tabindex=""></span>
		   				</div>
   					</div>
				</div>														   				
				<div style="height: 4px"></div>
		   		<div class="table-dialog-1">
		   			<div class="row">
		   				<div class="cell-100percent" style="text-align: center; background-color: #f6f6f6;">
							<div id="dvLoading_13" class="dvLoading-13 dvLoading-display-none"></div>
						</div>
					</div>
				</div>
				
				<%= form_for PublisherLogoImage.new, :url => upload_publisher_logo_image_primary_change_publishers_path(@publisher_logo_image_new), :html => {:multipart => true, :class => 'hidden', :id => 'change_publisher_logo_image'}, :remote => true do |f| %>
				  <p><%= f.file_field :image, :id => 'change_publisher_logo_image_image' %></p>
				  <!-- <#%= f.hidden_field 'publisher_id', :value => @publisher_id %#>
				  <#%= f.hidden_field 'primary', :value => true %#> -->
				  <p><%= f.submit :id => 'btn_submit_dialog_13', :class => 'btn-submit hidden', :value => 'Upload Photo' %></p>
				<% end %>
				
			</div>



			<!-- logo image - delete 14 -->
			<div class="jqmWindow jqmWindow-14" id="dialog_14">
				<div class="dialog-topbar-1" style="margin-top:0px;">
					<div style="height: 63px; width: 60px; float: left; position: absolute;">
						<img src="../assets_knowstory/knowstory-icon-2-w60-h63.png">
					</div>
					<!-- text goes here -->
   					<div id="close_form14" class="form-edit-close jqmClose tip-left-center" style="height: 20px; width: 20px; float: right;">
   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
   					</div>
	                <div class="tip-content">
	                    <div class="tooltiptext">Close</div>
	                </div>																															   					   					
   					<div style="clear: both;"></div>
				</div>
				<!-- <div style="height: 20px;"></div> -->
				<div class="background-table-dialog-1">
			   		<div class="table-dialog-1">
						<div class="dialog-msg-container">
							<span>Delete this photo?</span>
						</div>
	   				</div>
   				</div>
   				<div style="height: 16px;"></div>
   				<div class="table-dialog-1">
		   			<div class="row">
		   				<div class="cell-100percent" style="text-align: center;">
							<span><input id="btn_dlg_submit_delete_logo_image_primary" class="btn-pop-dialog" type="button" value="Delete" tabindex=""></span>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<span><input id="btn_dlg_cancel_delete_logo_image_primary" class="btn-pop-dialog" type="button" value="Cancel" tabindex=""></span>
		   				</div>
   					</div>
				</div>														   				
				<div style="height: 20px;"></div>
			</div>


			<!-- logo image - crop 15 -->
			<div class="jqmWindow jqmWindow-15" id="dialog_15">
				<div class="dialog-topbar-1" style="margin-top:0px;">
					<div style="height: 63px; width: 60px; float: left; position: absolute;">
						<img src="../assets_knowstory/knowstory-icon-2-w60-h63.png">
					</div>
					<div class="topbar-title">Photo Crop and Center</div>
   					<div id="close_form15" class="form-edit-close jqmClose tip-left-center" style="height: 20px; width: 20px; float: right;">
   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
   					</div>
	                <div class="tip-content">
	                    <div class="tooltiptext">Close</div>
	                </div>																															   					   					
   					<div style="clear: both;"></div>
				</div>
				<!-- <div style="height: 20px;"></div> -->
				<div class="background-table-dialog-3" style="padding: 10px 0 0 0;">
			   		<div class="table-dialog-1">
						<div class="dialog-msg-container">
							<span>600 X 600 pixels available for maximum size. Below, you may crop and center smaller sizes.</span>
						</div>
	   				</div>
   				</div>
   				<div style="height: 10px;"></div>
				<div style="width: 100%; padding: 0 0 0 10px;">
					<div id="render_publisher_logo_image_primary_crop">
						<%= render 'publishers/publisher_logo_image_primary_crop' %>
					</div>
				</div>
			</div>




			
			
			
		<div class="table-profile" style="height: 100%;">
			<div class="row-profile">
				<div style="display: table-cell; width: 200px; vertical-align: top; margin: 0; padding: 0; height: 100%;">
					<%= render 'share/dir_publishers_left' %>
				</div>
				<div class="profile-mid-col-700">

					<div class="title-bar-profile-1 title">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Corporate Story</span>
										</div>
									</div>		
								</div>
								<div class="cell-title-bar-profile-center">
									<span></span>
								</div>
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<div class="btn-opt-edit-container">
											<div id="open_edit_story_1" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_story_1" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="table" style="height: 440px; margin: 0;">
						<div class="row">
							<div class="cell-475">
								<div class="table pad-marg-null">
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Company:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_name_company" name="publisher[name_company]" tabindex="12" type="text" value="<%= @publisher.name_company %>" placeholder="Company Name" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_name_company" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Address 1:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_address1" name="publisher[address1]" tabindex="12" type="text" value="<%= @publisher.address1 %>" placeholder="Address 1" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_address1" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>													
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Address 2:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_address2" name="publisher[address2]" tabindex="12" type="text" value="<%= @publisher.address2 %>" placeholder="Address 2" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_address2" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>													
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">City:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_city" name="publisher[city]" tabindex="12" type="text" value="<%= @publisher.city %>" placeholder="City" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_city" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">State:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_state" name="publisher[state]" tabindex="12" type="text" value="<%= @publisher.state %>" placeholder="State" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_state" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Country:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_country" name="publisher[country]" tabindex="12" type="text" value="<%= @publisher.country %>" placeholder="Country" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_country" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Zip:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_zip" name="publisher[zip]" tabindex="12" type="text" value="<%= @publisher.zip %>" placeholder="Zip" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_zip" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Company Phone:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_phone_company" name="publisher[phone_company]" tabindex="12" type="text" value="<%= @publisher.phone_company %>" placeholder="555-555-5555" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_phone_company" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Website:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_website" name="publisher[phone_website]" tabindex="12" type="text" value="<%= @publisher.website %>" placeholder="OurCompany@here.com" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_website" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Info Email:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_email_info" name="publisher[email_info]" tabindex="12" type="text" value="<%= @publisher.email_info %>" placeholder="info@here.com" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_email_info" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Admin Email:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_email_admin" name="publisher[email_admin]" tabindex="12" type="text" value="<%= @publisher.email_admin %>" placeholder="admin@here.com" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_email_admin" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Admin Name:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_name_admin" name="publisher[name_admin]" tabindex="12" type="text" value="<%= @publisher.name_admin %>" placeholder="Admin Name" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_name_admin" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	
									<!-- <div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Tagline:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_tagline_logo" name="publisher[tagline_logo]" tabindex="12" type="text" value="<#%= @publisher.tagline_logo %#>" placeholder="Tagline" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_tagline_logo" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div> -->
										
								</div>
							</div>
							<div class="cell-225 padding-right-8" id="container_logo_image">
								<div id="drop_container_logo_image" class="drop width-200 float-right">
									<div id="render_publisher_logo_image_primary" class="padding-0">
										<div class="container-image">
											<%= render 'publishers/publisher_logo_image_primary' %>
										</div>
										<div class="container-menu">
											<%= render 'publishers/publisher_logo_image_primary_menu' %>
										</div>
							        </div>
								</div>
								<div class="float-clear"></div>
								
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-225 text-align-left pad-left-20">
											<span class="profile-label-1">Tagline:</span>
										</div>
									</div>
								</div>
								<div class="table pad-marg-null">
									<div class="row pad-marg-null">
										<div class="cell-225 edit-story-1 hidden">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-225 position-relative">
														<div class="position-absolute top-minus-7 right-0">
															<input class="input-profile-1 input-profile-color-1 width-200 height-24" id="publisher_tagline_logo" name="publisher[tagline_logo]" tabindex="12" type="text" value="<%= @publisher.tagline_logo %>" placeholder="Tagline" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="cell-225 show-story-1">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-225 position-relative text-align-left">
														<div class="position-absolute top-minus-3">
															<span id="span_tagline_logo" class="profile-text-1"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div style="height: 14px;"></div>
								<div class="follow-stats-container float-right">
									<%= render 'publishers/stats' %>
								</div>
								<div class="float-clear"></div>																
							</div>
						</div>
					</div>
					
					<div style="height: 10px;"></div>

					<div style="width: 700px; height: 60px; text-align: center;">
						<div class="table">
							<div class="row">
								<div id="btns_edit_story_1" class="cell-700 visibility-hidden">
									<div style="display: inline-block;">
										<div id="cancel_edit_story_1" class="btn-submit-story-1" tabindex="51">Cancel</div>
									</div>
									<div style="display: inline-block;">
										<div id="submit_edit_story_1" class="btn-submit-story-1" tabindex="52">Save</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div style="height: 20px;"></div>					
								
					<div  class="pad-left-20">
						<span class="label-dialog"><a href="<%= @url_corporate_story_public %>">&laquo; View the public page &raquo;</a></span>
					</div>
					
					<div style="height: 30px;"></div>

					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left-long padding-left-8">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Corporate Story</span>
										</div>
									</div>		
								</div>
								<!-- <div class="cell-title-bar-profile-center">
									<span></span>
								</div> -->
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<div class="btn-opt-edit-container">
											<div id="open_edit_story_2" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_story_2" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="table margin-0">
						<div class="row">
							<div class="cell-100percent">
								<div style="height: 10px;"></div>
								<div class="edit-story-2 height-250 hidden">
									<!-- <textarea class="textarea-edit width-660 height-300" tabindex="" type="text" value="" placeholder="Corporate Story" disabled="disabled"> -->
									<div class="pad-left-20">
			   							<%= form_tag url_for(:controller => 'publishers', :action => :update_story_2), :remote => true do %>
											<!-- <#%= text_area_tag :story_corporate, @publisher.story_corporate, :class => 'textarea-edit input-profile-1 input-profile-color-1 profile-text-1 width-660 height-200', :placeholder => 'Corporate Story' %#> -->
											<%= text_area_tag :story_corporate, @publisher.story_corporate, :class => 'resize-none input-profile-1 input-profile-color-1 profile-text-1 width-660 height-200', :placeholder => 'Corporate Story' %>
											<!-- :onkeyup => 'countChar(this)' -->
											<!-- <div id="char_num" class="char_num"></div> -->	
											<%= submit_tag 'Save', :id => 'submit_edit_story_2_hidden', :class => 'hidden' %>
										<% end %>
									</div>
									<div style="height: 10px;"></div>
									<div class="text-align-center" style="width: 700px; height: 60px;">
										<div class="table">
											<div class="row">
												<!-- <div id="btns_edit_story_2" class="cell-700 visibility-hidden"> -->
												<div id="btns_edit_story_2" class="cell-700">
													<div style="display: inline-block;">
														<div id="cancel_edit_story_2" class="btn-submit-story-1" tabindex="">Cancel</div>
													</div>
													<div style="display: inline-block;">
														<div id="submit_edit_story_2" class="btn-submit-story-1" tabindex="">Save</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="show-story-2 height-250">
									<div class="text-align-left pad-left-20">
										<div id="render_story_2">
											<%= render 'publishers/story_2' %>
										</div>
										<!-- <textarea id="publisher_story_corporate" class="textarea-edit input-profile-1 input-profile-color-1 width-660 height-300" tabindex="" type="text" placeholder="Corporate Story"><#%= @publisher_story_corporate %#></textarea> -->			
									</div>
									<!-- <span id="span_story_corporate" class="profile-text-1"></span> -->
								</div>
								<!-- <div style="height: 20px;"></div> -->
							</div>
						</div>
					</div>

					<% if false %>			
					<div class="table margin-0">
						<div class="row">
							<div class="cell-100percent">
								<div style="height: 10px;"></div>
								<div class="edit-story-2 height-250 hidden">
									<!-- <textarea class="textarea-edit width-660 height-300" tabindex="" type="text" value="" placeholder="Corporate Story" disabled="disabled"> -->
									<div class="pad-left-20">
			   							<%= form_tag url_for(:controller => 'publishers', :action => :update_story_2), :remote => true do %>
											<%= text_area_tag :story_corporate, @publisher.story_corporate, :class => 'textarea-edit input-profile-1 input-profile-color-1 profile-text-1 width-660 height-200', :placeholder => 'Corporate Story' %>
											<!-- :onkeyup => 'countChar(this)' -->
											<!-- <div id="char_num" class="char_num"></div> -->	
											<%= submit_tag 'Save', :id => 'submit_edit_story_2_hidden', :class => 'hidden' %>
										<% end %>
									</div>
									<div style="height: 10px;"></div>
									<div class="text-align-center" style="width: 700px; height: 60px;">
										<div class="table">
											<div class="row">
												<!-- <div id="btns_edit_story_2" class="cell-700 visibility-hidden"> -->
												<div id="btns_edit_story_2" class="cell-700">
													<div style="display: inline-block;">
														<div id="cancel_edit_story_2" class="btn-submit-story-1" tabindex="">Cancel</div>
													</div>
													<div style="display: inline-block;">
														<div id="submit_edit_story_2" class="btn-submit-story-1" tabindex="">Save</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="show-story-2 height-250">
									<div class="text-align-left pad-left-20">
										<div id="render_story_2">
											<%= render 'publishers/story_2' %>
										</div>
										<!-- <textarea id="publisher_story_corporate" class="textarea-edit input-profile-1 input-profile-color-1 width-660 height-300" tabindex="" type="text" placeholder="Corporate Story"><#%= @publisher_story_corporate %#></textarea> -->			
									</div>
									<!-- <span id="span_story_corporate" class="profile-text-1"></span> -->
								</div>
								<!-- <div style="height: 20px;"></div> -->
							</div>
						</div>
					</div>
					<% end %>

					<div style="height: 20px;"></div>

					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Connections</span>
										</div>
									</div>		
								</div>
								<div class="cell-title-bar-profile-center">
									<span></span>
								</div>
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<!-- <div class="btn-opt-edit-container">
											<div id="open_edit_posts" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_posts" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="table margin-0">
						<div class="row">
							<div class="cell-100percent pad-left-20">
								<div style="height: 20px;"></div>
								<img src="/assets_knowstory/fills/fill-publisher-mystory-connections-w670-h130.png" style="width: 670px; margin-bottom: 0px;">
							</div>
						</div>
					</div>

					<div style="height: 20px;"></div>

					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Groups</span>
										</div>
									</div>		
								</div>
								<div class="cell-title-bar-profile-center">
									<span></span>
								</div>
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<!-- <div class="btn-opt-edit-container">
											<div id="open_edit_posts" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_posts" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="table margin-0">
						<div class="row">
							<div class="cell-100percent pad-left-20">
								<div style="height: 20px;"></div>
								<img src="/assets_knowstory/fills/fill-publisher-corporate-groups-w670-h51.png" style="width: 670px; margin-bottom: 0px;">
							</div>
						</div>
					</div>

					<div style="height: 20px;"></div>

					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Following</span>
										</div>
									</div>		
								</div>
								<div class="cell-title-bar-profile-center">
									<span></span>
								</div>
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<!-- <div class="btn-opt-edit-container">
											<div id="open_edit_posts" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_posts" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="table margin-0">
						<div class="row">
							<div class="cell-100percent pad-left-20">
								<div style="height: 20px;"></div>
								<img src="/assets_knowstory/fills/fill-publisher-corporate-following-w670-h103.png" style="width: 670px; margin-bottom: 0px;">
							</div>
						</div>
					</div>

					<div style="height: 20px;"></div>

					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Followed</span>
										</div>
									</div>		
								</div>
								<div class="cell-title-bar-profile-center">
									<span></span>
								</div>
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<!-- <div class="btn-opt-edit-container">
											<div id="open_edit_posts" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_posts" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="table margin-0">
						<div class="row">
							<div class="cell-100percent pad-left-20">
								<div style="height: 20px;"></div>
								<img src="/assets_knowstory/fills/fill-publisher-corporate-following-w670-h103.png" style="width: 670px; margin-bottom: 0px;">
							</div>
						</div>
					</div>

					<div style="height: 20px;"></div>

					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Metrics</span>
										</div>
									</div>		
								</div>
								<div class="cell-title-bar-profile-center">
									<span></span>
								</div>
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<!-- <div class="btn-opt-edit-container">
											<div id="open_edit_posts" class="btn-opt-edit" tabindex="">
												Edit
											</div>
											<div id="close_edit_posts" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="table">
						<div class="row">
							<div class="cell-100percent pad-left-20">
								<div style="height: 20px;"></div>
								<img src="/assets_knowstory/fills/fill-publisher-corporate-metrics-w670-h63.png" style="width: 670px; margin-bottom: 0px;">
							</div>
						</div>
					</div>













































					<div style="height: 20px;"></div>

					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Activities</span>
										</div>
									</div>		
								</div>
								<div class="cell-title-bar-profile-center">
									<span></span>
								</div>
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
										<!-- <div class="btn-opt-edit-container">
											<div id="open_edit_posts" class="btn-opt-edit" tabindex="">
												Add
											</div>
											<div id="close_edit_posts" class="btn-opt-edit hidden" tabindex="">
												Cancel
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="table margin-0" style="height: auto;">
						<div class="row">
							<div class="cell-100percent">
								<div style="height: 10px;"></div>
								<% if false %>
								<div class="edit-story-4 height-250">
									<div class="pad-left-20">
										<%= form_for PostUser.new, :url => create_post_user_publisher_users_path(@post_user_new), :html => {:multipart => true, :class => '', :id => 'new_post_user'}, :remote => true do |f| %>
											<%= f.text_area :post_text, :class => 'textarea-show profile-text-1 width-660 height-200', :placeholder => 'Add status' %>
										  	<%= f.submit :id => 'submit_edit_story_4_hidden', :class => 'btn-submit hidden', :value => '' %>
										<% end %>
									</div>
									<div style="height: 10px;"></div>
									<div class="text-align-center" style="width: 700px; height: 60px;">
										<div class="table">
											<div class="row">
												<div id="btns_edit_story_4" class="cell-700">
													<div style="display: inline-block;">
														<div id="submit_edit_story_4" class="btn-submit-story-1" tabindex="">Add</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="height: 20px;"></div>
								<% end %>
																			
								<div class="show-story-3">
									<div class="text-align-left">
										<div class="post-user-sub-container" id="sub_container" style="display: table-cell; width: 700px;">
											<div>													
												<div class="publisher-product-utility-bar light">
													<div id="render_story_5_log_publishers_count" style="padding-left: 10px; padding-top: 10px;">
													</div>
												</div>
												<div id="im_top_sh" style="display: block;"></div>
											</div>
											<div id="render_story_5" style="height: auto;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					
					
					
					
					
					
					
					
					
					<!-- <div style="width: 700px; border-bottom: 2px solid #eee;"></div> -->
				</div>
				
				
				<div style="display: table-cell; width: 300px; padding: 0; margin: 0; vertical-align: top; height: 100%;">
					<div class="" style="width: 200px; height: 50px; position: relative;">
						<%= render 'share/dir_publishers_right_user_home' %>
					</div>
				</div>
			</div>								
		</div>
			

	

		
	<script>


		function closeShowPhotoPrimary() {
			$("#close_form11").trigger('click');
		};	  
		function closeShowImageLogo() {
			$("#close_form21").trigger('click');
		};	  

		function closeAddLogoImagePrimary() {
			// alert('closeAddImagePrimary()');
			$("#dvLoading_12").addClass("dvLoading-display-none");
			$(".edit-image").fadeIn(200).removeClass("hidden");
			// $(".dropdownContain").removeClass("hidden");
			// $(".container-figure figure").removeClass("cursor-pointer");
			$("#drop_container_photo_primary").addClass("drop");
			$(".dropdownContain").removeClass("hidden");
			$("#close_form12").trigger('click');
			$("form#new_publisher_logo_image input#new_publisher_logo_image_image").val('');
		};	  
		// function closeAddLogoImage() {
			// // alert('closeAddLogoImage()');
			// $("#dvLoading_22").addClass("dvLoading-display-none");
			// $(".edit-image").fadeIn(200).removeClass("hidden");
			// $("#drop_container_logo_image").addClass("drop");
			// $(".dropdownContain").removeClass("hidden");
			// $("#close_form22").trigger('click');
			// $("form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image").val('');
		// };	  

		function closeChangeLogoImagePrimary() {
			$("#dvLoading_13").addClass("dvLoading-display-none");
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_photo_primary").addClass("drop");
			$(".dropdownContain").removeClass("hidden");
			$("#close_form13").trigger('click');
			$("form#change_publisher_logo_image input#change_publisher_logo_image_image").val('');
		};	  
		// function closeChangeLogoImage() {
			// $("#dvLoading_23").addClass("dvLoading-display-none");
			// $(".edit-image").fadeIn(200).removeClass("hidden");
			// $("#drop_container_logo_image").addClass("drop");
			// $(".dropdownContain").removeClass("hidden");
			// $("#close_form23").trigger('click');
			// $("form#change_publisher_user_logo_image input#change_publisher_user_logo_image_image").val('');
		// };	  
		
		function closeDeleteLogoImagePrimary() {			
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_photo_primary").addClass("drop");
			$(".dropdownContain").removeClass("hidden");
			$("#close_form14").trigger('click');
		};	  
		// function closeDeleteLogoImage() {			
			// $(".edit-image").fadeIn(200).removeClass("hidden");
			// $("#drop_container_logo_image").addClass("drop");
			// $(".dropdownContain").removeClass("hidden");
			// $("#close_form24").trigger('click');
		// };	  
		
		function closeCropLogoImagePrimary() {
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_photo_primary").addClass("drop");
			$(".dropdownContain").removeClass("hidden");
			$("#close_form15").trigger('click');
		};	  
		// function closeCropLogoImage() {
			// $(".edit-image").fadeIn(200).removeClass("hidden");
			// $("#drop_container_logo_image").addClass("drop");
			// $(".dropdownContain").removeClass("hidden");
			// $("#close_form25").trigger('click');
		// };	  
		
		
		
		// function set_control_required(cntrl, b) {
			// // alert('set_control_required');
			// var s_cntrl = "#required_" + cntrl;
			// if(b) {
				// $(s_cntrl).addClass("check-required").removeClass("display-none");	
			// }
			// else {
				// $(s_cntrl).removeClass("check-required").addClass("display-none");
			// }
		// }

		function set_control_span(cntrl, s, b) {
			var s_cntrl = "#span_" + cntrl;
			$(s_cntrl).html(s);
			if (b) {
				$(s_cntrl).removeClass("color-no-record").addClass("color-record");
			}
			else {
				$(s_cntrl).removeClass("color-record").addClass("color-no-record");				
			}
		}
	  
		function show_control(cntrl) {
			var s_edit = "#edit_" + cntrl;
			var s_show_open = "#show_" + cntrl + ", #open_edit_" + cntrl;		
    		$(s_edit).fadeOut(300, function(){
    			$(s_edit).addClass("hidden");
    			$(s_show_open).fadeIn(200).removeClass("hidden");
    			$(s_show_open).fadeIn(200).removeClass("hidden").removeClass("visibility-hidden");
    		});
		}

	  	function show_edit_story_1() {
			$("#open_edit_story_1, .show-story-1").fadeOut(200, function(){    			
				$("#open_edit_story_1").addClass("hidden");
				$("#close_edit_story_1").fadeIn(200).removeClass("hidden");
				
    			$(".show-story-1").addClass("hidden");
    			$(".edit-story-1").fadeIn(300).removeClass("hidden");
    			
				// $("#btns_edit_story_1").fadeIn(200).removeClass("hidden");
				$("#btns_edit_story_1").fadeIn(200).removeClass("visibility-hidden");
    			
				$(".edit-image").fadeIn(200).removeClass("hidden");
				$(".container-figure figure").removeClass("cursor-pointer");
				
				
				$("#drop_container_photo_primary").addClass("drop");
				$("#drop_container_logo_image").addClass("drop");

				$(".container-menu .dropdownContain").removeClass("hidden");
				
    			// $("#user_name_first").focus();
				
    		});
	  	}
	  
	  	function cancel_edit_story_1() {
	  		$(".edit-story-1").fadeOut(200, function(){
    			$(".edit-story-1").addClass("hidden");
    			$(".show-story-1").removeClass("hidden").fadeIn(300);

				$("#open_edit_story_1").removeClass("hidden").fadeIn(200);
				$("#close_edit_story_1").addClass("hidden");

				// $("#btns_edit_story_1").removeAttr("style");
				// $("#btns_edit_story_1").addClass("hidden");
				$("#btns_edit_story_1").addClass("visibility-hidden");

				$(".edit-image").removeAttr("style");				
				$(".edit-image").fadeIn(200).addClass("hidden");
				$(".dialog-11-figure").addClass("cursor-pointer");
				$(".dialog-21-figure").addClass("cursor-pointer");
				
				// jQuery(document).trigger( click_cancel_edit_story_1 );
				
				$(".container-menu .dropdownContain").addClass("hidden");
				
				$("#drop_container_photo_primary").removeClass("drop");
				$("#drop_container_logo_image").removeClass("drop");
			});
	  	}

	  	function show_edit_story_2() {
			$("#open_edit_story_2, .show-story-2").fadeOut(200, function(){    			
				$("#open_edit_story_2").addClass("hidden");
				$("#close_edit_story_2").fadeIn(200).removeClass("hidden");
    			$(".show-story-2").addClass("hidden");
    			$(".edit-story-2").fadeIn(300).removeClass("hidden");
				// $("#btns_edit_story_2").fadeIn(200).removeClass("visibility-hidden");
    		});
	  	}
	  
	  	function cancel_edit_story_2() {
	  		$(".edit-story-2").fadeOut(200, function(){
    			$(".edit-story-2").addClass("hidden");
    			$(".show-story-2").removeClass("hidden").fadeIn(300);
				$("#open_edit_story_2").removeClass("hidden").fadeIn(200);
				$("#close_edit_story_2").addClass("hidden");
				// $("#btns_edit_story_1").removeAttr("style");
				// $("#btns_edit_story_1").addClass("hidden");
				// $("#btns_edit_story_2").addClass("visibility-hidden");
			});
	  	}
		
		function delete_logo_image_primary(id_image) {
			// var input_user_name_first = $("#user_name_first").val();
			// var obj_list = '{"publisher_product_description_id":' + <#%= @publisher_product_description_id %#> + 
						   // ', "publisher_product_id":' + <#%= @publisher_product_id %#> + 
						   // ', "publisher_id":' + <#%= @publisher_id %#> + 
						   // ', "name_first":"' + input_publisher_product_description_name_first + 
						   // '"}';      
			
			var formData = {id:id_image};
			 
			// $.ajax({
			    // url : "AJAX_POST_URL",
			    // type: "POST",
			    // data : formData,
			    // success: function(data, textStatus, jqXHR)
			    // {
			        // //data - response from server
			    // },
			    // error: function (jqXHR, textStatus, errorThrown)
			    // {
			    // }
			// });			
			
			// var input_user_name_first = "Clyde";
			// var input_id_image = id_image;
			// var obj_list = '{"name_first":"' + input_user_name_first + 
						   // '"}';      
			// var obj_list = '{"id_image":' + input_id_image + 
						   // '}';      
		  	// var obj = '{ "publisher_user": [' +  obj_list + '] }';                  
		  	$.ajax({
		    	type: 'POST',
		    	// data : JSON.stringify(obj),
		    	// data : obj,
		    	data : formData,
		    	url: '/publishers/destroy_publisher_logo_image',			    	
		    	// dataType: "json",
		    	// contentType: "application/json",
		    	dataType: "script",
		    	// contentType: "application/js",
		    	// processData: false,
		    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	statusCode: {
                	// 200:function() { alert("200"); },
                	// 202:function() { alert("202"); }
            	},
            	success: function(data) {
					// alert("successful");
            	},
            	error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	});
	  		// return false;
		}
		// function delete_logo_image(id_image) {
			// var formData = {id:id_image};
		  	// $.ajax({
		    	// type: 'POST',
		    	// data : formData,
		    	// url: '/publisher_users/destroy_publisher_user_logo_image',			    	
		    	// dataType: "script",
		    	// beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	// statusCode: {
                	// // 200:function() { alert("200"); },
                	// // 202:function() { alert("202"); }
            	// },
            	// success: function(data) {
					// // alert("successful");
            	// },
            	// error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	// });
		// }


		function crop_logo_image_primary() {
			var input_image_id = $("#image_id").val();
			var input_crop_x = $("#id_crop_x").val();
			var input_crop_y = $("#id_crop_y").val();
			var input_crop_w = $("#id_crop_w").val();
			var input_crop_h = $("#id_crop_h").val();
			var formData = { image_id: input_image_id, 
							 crop_x: input_crop_x, 
							 crop_y: input_crop_y,
							 crop_w: input_crop_w, 
							 crop_h: input_crop_h 
						   };
		  	$.ajax({
		    	type: 'POST',
		    	data : formData,
		    	url: '/publishers/crop_commit_logo',	
		    	// cache: false,		    	
		    	dataType: "script",
		    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	statusCode: {
                	// 200:function() { alert("200"); },
                	// 202:function() { alert("202"); }
            	},
            	success: function(data) {
					// alert("successful crop");
            	},
            	error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	});
	  		// return false;
		}
		// function crop_image_logo() {
			// var input_image_id = $("#image_id_logo").val();
			// var input_crop_x = $("#id_crop_x_logo").val();
			// var input_crop_y = $("#id_crop_y_logo").val();
			// var input_crop_w = $("#id_crop_w_logo").val();
			// var input_crop_h = $("#id_crop_h_logo").val();
			// var formData = { image_id: input_image_id, 
							 // crop_x: input_crop_x, 
							 // crop_y: input_crop_y,
							 // crop_w: input_crop_w, 
							 // crop_h: input_crop_h 
						   // };
		  	// $.ajax({
		    	// type: 'POST',
		    	// data : formData,
		    	// url: '/publisher_users/crop_commit_logo',	
		    	// // cache: false,		    	
		    	// dataType: "script",
		    	// beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	// statusCode: {
                	// // 200:function() { alert("200"); },
                	// // 202:function() { alert("202"); }
            	// },
            	// success: function(data) {
					// // alert("successful crop");
            	// },
            	// error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	// });
	  		// // return false;
		// }


		var id_logo_image = null;
		// var id_image_logo = null;
		// var gon_crop_x = gon.crop_x;
		// var gon_crop_y = gon.crop_y;
		// var gon_crop_w = gon.crop_w;
		// var gon_crop_h = gon.crop_h; 
		
			  	
		// $(window).load( function() {
		$(document).ready(function () {				

			// $.ajaxSetup({cache: false});
			
			id_logo_image = gon.id_logo_image;
			// id_image_logo = gon.id_image_logo;
			
			$("#render_story_5").html("<%= j render("publishers/story_5") %>");
			$("#render_story_5_log_publishers_count").html("<%= j render("publishers/story_5_log_publishers_count") %>");
			// $("#render_story_5_will_paginate").html("<#%= j render("publishers/story_5_will_paginate") %#>");			
			
			
			
			
		  	$("#open_edit_story_1").click(function(){
				show_edit_story_1();
		  	});	
		  	$("#close_edit_story_1").click(function(){
				cancel_edit_story_1();
		  	});	
		
			// var click_cancel_edit_story_1 = jQuery.Event( "click_cancel_edit_story_1" );
    		$("#cancel_edit_story_1").keypress(function(e){
      			if(e.keyCode==13)
      			$("#cancel_edit_story_1").click();
    		});
			$("#cancel_edit_story_1").on('click', function() {
				cancel_edit_story_1();
			});
		

		  	$("#open_edit_story_2").click(function(){
				show_edit_story_2();
		  	});	
		  	$("#close_edit_story_2").click(function(){
				cancel_edit_story_2();
		  	});			
    		$("#cancel_edit_story_2").keypress(function(e){
      			if(e.keyCode==13)
      			$("#cancel_edit_story_2").click();
    		});
			$("#cancel_edit_story_2").on('click', function() {
				cancel_edit_story_2();
			});
    		$("#submit_edit_story_2").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_edit_story_2").click();
    		});
			$("#submit_edit_story_2").on('click', function() {
				$("#submit_edit_story_2_hidden").click();
			});


	
			$(document).on("click", "#btn_dlg_submit_upload_logo_image_primary", function(e) {
				$("form#new_publisher_logo_image input#new_publisher_logo_image_image").click();
			});	
			$(document).on("change", "form#new_publisher_logo_image input#new_publisher_logo_image_image", function(e) {
				$("#dvLoading_12").removeClass("dvLoading-display-none");
				$("form#new_publisher_logo_image input#btn_submit_dialog_12").click();
			});
			$(document).on("click", "#figcaption_logo_image_primary_generic", function() {
				$("form#new_publisher_logo_image input#new_publisher_logo_image_image").val('');
				$("#dialog_12").jqmShow();
			});		
			$(document).on("click", "#btn_logo_image_primary_new", function() {				
				$("form#new_publisher_logo_image input#new_publisher_logo_image_image").val('');
				$("#dialog_12").jqmShow();
			});		
			$(document).on("click", "#btn_dlg_cancel_upload_logo_image_primary", function() {
				$("#close_form12").trigger('click');
			});

			
			$(document).on("click", "#btn_dlg_submit_upload_logo_image_primary_change", function(e) {
				$("form#change_publisher_logo_image input#change_publisher_logo_image_image").click();
			});	
			$(document).on("change", "form#change_publisher_logo_image input#change_publisher_logo_image_image", function() {
				$("#dvLoading_13").removeClass("dvLoading-display-none");
				$("form#change_publisher_logo_image input#btn_submit_dialog_13").click();
			});
			$(document).on("click", "#btn_logo_image_primary_change", function() {				
				$("form#change_publisher_logo_image input#change_publisher_logo_image_image").val('');
				$("#dialog_13").jqmShow();
			});		
			$(document).on("click", "#btn_dlg_cancel_upload_logo_image_primary_change", function() {
				$("#close_form13").trigger('click');
			});


			$(document).on("click", "#btn_dlg_submit_delete_logo_image_primary", function() {
				delete_logo_image_primary(id_logo_image);
			});
			$(document).on("click", "#btn_dlg_cancel_delete_logo_image_primary", function() {
				$("#close_form14").trigger('click');
			});
			$(document).on("click", "#btn_logo_image_primary_delete", function() {
				$("#dialog_14").jqmShow();
				$("#btn_dlg_submit_delete_logo_image_primary").focus();
			});			


			$(document).on("click", "#btn_logo_image_primary_crop", function() {
				$("#dialog_15").jqmShow();
			});
			$(document).on("click", "#btn_dlg_submit_crop_logo_image_primary", function() {
				crop_logo_image_primary();
			});
			$(document).on("click", "#btn_dlg_cancel_crop_logo_image_primary", function() {
				$("#close_form15").trigger('click');
			});


			

			// $(document).on("click", "#btn_dlg_submit_upload_image_logo", function(e) {
				// $("form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image").click();
			// });	
			// $(document).on("change", "form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image", function(e) {
				// $("#dvLoading_22").removeClass("dvLoading-display-none");
				// $("form#new_publisher_user_logo_image input#btn_submit_dialog_22").click();
			// });
			// $(document).on("click", "#figcaption_logo_image_generic", function() {
				// $("form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image").val('');
				// $("#dialog_22").jqmShow();
			// });		
			// $(document).on("click", "#btn_photo_logo_new", function() {				
				// $("form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image").val('');
				// $("#dialog_22").jqmShow();
			// });		
			// $(document).on("click", "#btn_dlg_cancel_upload_image_logo", function() {
				// $("#close_form22").trigger('click');
			// });

			// $(document).on("click", "#btn_dlg_submit_upload_logo_image_change", function(e) {
				// $("form#change_publisher_user_logo_image input#change_publisher_user_logo_image_image").click();
			// });	
			// $(document).on("change", "form#change_publisher_user_logo_image input#change_publisher_user_logo_image_image", function() {
				// $("#dvLoading_23").removeClass("dvLoading-display-none");
				// $("form#change_publisher_user_logo_image input#btn_submit_dialog_23").click();
			// });
			// $(document).on("click", "#btn_photo_logo_change", function() {				
				// $("form#change_publisher_user_logo_image input#change_publisher_user_logo_image_image").val('');
				// $("#dialog_23").jqmShow();
			// });		
			// $(document).on("click", "#btn_dlg_cancel_upload_logo_image_change", function() {
				// $("#close_form23").trigger('click');
			// });


			// $(document).on("click", "#btn_dlg_submit_delete_logo_image", function() {
				// delete_logo_image(id_image_logo);
			// });
			// $(document).on("click", "#btn_dlg_cancel_delete_logo_image", function() {
				// $("#close_form24").trigger('click');
			// });
			// $(document).on("click", "#btn_photo_logo_delete", function() {
				// $("#dialog_24").jqmShow();
				// $("#btn_dlg_submit_delete_logo_image").focus();
			// });			


			// $(document).on("click", "#btn_photo_logo_crop", function() {
				// $("#dialog_25").jqmShow();
			// });
			// $(document).on("click", "#btn_dlg_submit_crop_logo_image", function() {
				// crop_image_logo();
				// // $("#btn_submit_crop_image_primary").click();
			// });
			// $(document).on("click", "#btn_dlg_cancel_crop_logo_image", function() {
				// $("#close_form25").trigger('click');
			// });



			$('#dialog_12').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-220px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_12').animate(
						{bottom:'-=230', top:'+=230'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_12').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		

			// $('#dialog_22').jqm({
				// onShow: function(hash) {
					// hash.o.prependTo('body');
					// hash.w.css('top', '-220px');
					// hash.w.css('opacity', 1.0).fadeIn(200);
					// // hash.w.show();
					// $('#dialog_22').animate(
						// {bottom:'-=230', top:'+=230'}, 
						// 500, 
						// 'easeInOutCirc', 
						// function() {
							// $('#dialog_22').animate(
								// {bottom:'+=4', top:'-=4'}, 
								// 100, 
								// 'easeInBounce', 
								// function() {
								// }
							// );
						// }
					// );
				// }
			// }); 		

			$('#dialog_13').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-220px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_13').animate(
						{bottom:'-=230', top:'+=230'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_13').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		

			// $('#dialog_23').jqm({
				// onShow: function(hash) {
					// hash.o.prependTo('body');
					// hash.w.css('top', '-220px');
					// hash.w.css('opacity', 1.0).fadeIn(200);
					// // hash.w.show();
					// $('#dialog_23').animate(
						// {bottom:'-=230', top:'+=230'}, 
						// 500, 
						// 'easeInOutCirc', 
						// function() {
							// $('#dialog_23').animate(
								// {bottom:'+=4', top:'-=4'}, 
								// 100, 
								// 'easeInBounce', 
								// function() {
								// }
							// );
						// }
					// );
				// }
			// }); 		
		
			$('#dialog_14').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-200px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_14').animate(
						{bottom:'-=210', top:'+=210'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_14').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		

			// $('#dialog_24').jqm({
				// onShow: function(hash) {
					// hash.o.prependTo('body');
					// hash.w.css('top', '-200px');
					// hash.w.css('opacity', 1.0).fadeIn(200);
					// // hash.w.show();
					// $('#dialog_24').animate(
						// {bottom:'-=210', top:'+=210'}, 
						// 500, 
						// 'easeInOutCirc', 
						// function() {
							// $('#dialog_24').animate(
								// {bottom:'+=4', top:'-=4'}, 
								// 100, 
								// 'easeInBounce', 
								// function() {
								// }
							// );
						// }
					// );
				// }
			// }); 		

		

		    // <!-- 
		    // # name_company                    
		    // # address1        
		    // # address2       
		    // # city            
		    // # state          
		    // # country                             
		    // # zip    
		    // # phone_company      
		    // # website       
		    // # email_info      
		    // # email_admin     
		    // # name_admin     
		    // # tagline_logo  
		    // # story_corporate 
		    // -->

			
			// set_control_required("name_first", gon.b_required_name_first);
    		$("#submit_edit_story_1").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_edit_story_1").click();
    		});

			set_control_span("name_company", gon.name_company, gon.b_name_company);
			set_control_span("address1", gon.address1, gon.b_address1);
			set_control_span("address2", gon.address2, gon.b_address2);
			set_control_span("city", gon.city, gon.b_city);
			set_control_span("state", gon.state, gon.b_state);
			set_control_span("country", gon.country, gon.b_country);
			set_control_span("zip", gon.zip, gon.b_zip);
			set_control_span("phone_company", gon.phone_company, gon.b_phone_company);
			set_control_span("website", gon.website, gon.b_website);
			set_control_span("email_info", gon.email_info, gon.b_email_info);
			set_control_span("email_admin", gon.email_admin, gon.b_email_admin);
			set_control_span("name_admin", gon.name_admin, gon.b_name_admin);
			set_control_span("tagline_logo", gon.tagline_logo, gon.b_tagline_logo);

			$("#submit_edit_story_1").on('click', function() {
				var input_publisher_name_company = $("#publisher_name_company").val();
				var input_publisher_address1 = $("#publisher_address1").val();
				var input_publisher_address2 = $("#publisher_address2").val();
				var input_publisher_city = $("#publisher_city").val();
				var input_publisher_state = $("#publisher_state").val();
				var input_publisher_country = $("#publisher_country").val();
				var input_publisher_zip = $("#publisher_zip").val();
				var input_publisher_phone_company = $("#publisher_phone_company").val();
				var input_publisher_website = $("#publisher_website").val();
				var input_publisher_email_info = $("#publisher_email_info").val();
				var input_publisher_email_admin = $("#publisher_email_admin").val();
				var input_publisher_name_admin = $("#publisher_name_admin").val();
				var input_publisher_tagline_logo = $("#publisher_tagline_logo").val();

				// var obj_list = '{"publisher_product_description_id":' + <#%= @publisher_product_description_id %#> + 
							   // ', "publisher_product_id":' + <#%= @publisher_product_id %#> + 
							   // ', "publisher_id":' + <#%= @publisher_id %#> + 
							   // ', "name_first":"' + input_publisher_product_description_name_first + 
							   // '"}';      
				var obj_list = '{  "name_company":"' + input_publisher_name_company +
							   '", "address1":"' + input_publisher_address1 +
							   '", "address2":"' + input_publisher_address2 +
							   '", "city":"' + input_publisher_city +
							   '", "state":"' + input_publisher_state +
							   '", "country":"' + input_publisher_country +
							   '", "zip":"' + input_publisher_zip +
							   '", "phone_company":"' + input_publisher_phone_company +
							   '", "website":"' + input_publisher_website +
							   '", "email_info":"' + input_publisher_email_info +
							   '", "email_admin":"' + input_publisher_email_admin +
							   '", "name_admin":"' + input_publisher_name_admin +
							   '", "tagline_logo":"' + input_publisher_tagline_logo +
							   '"}';      
			  	var obj = '{ "publisher": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	url: '/publishers/update_story_1',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						// alert(data.name_first);
						set_control_span("name_company", data.name_company, data.b_name_company);
						set_control_span("address1", data.address1, data.b_address1);
						set_control_span("address2", data.address2, data.b_address2);
						set_control_span("city", data.city, data.b_city);
						set_control_span("state", data.state, data.b_state);
						set_control_span("country", data.country, data.b_country);
						set_control_span("zip", data.zip, data.b_zip);
						set_control_span("phone_company", data.phone_company, data.b_phone_company);
						set_control_span("website", data.website, data.b_website);
						set_control_span("email_info", data.email_info, data.b_email_info);
						set_control_span("email_admin", data.email_admin, data.b_email_admin);
						set_control_span("name_admin", data.name_admin, data.b_name_admin);
						set_control_span("tagline_logo", data.tagline_logo, data.b_tagline_logo);
						cancel_edit_story_1();
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});



			// // set_control_required("name_first", gon.b_required_name_first);
    		// $("#submit_edit_story_2").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#submit_edit_story_2").click();
    		// });
			// set_control_span("story_corporate", gon.story_corporate, gon.b_story_corporate);
			// $("#submit_edit_story_2").on('click', function() {
				// var input_publisher_story_corporate = $("#publisher_story_corporate").val();
				// alert(input_publisher_story_corporate);
// 
				// var obj_list = '{  "story_corporate":"' + input_publisher_story_corporate +
							   // '"}';      
			  	// var obj = '{ "publisher": [' +  obj_list + '] }';                  
			  	// $.ajax({
			    	// type: 'POST',
			    	// // data : JSON.stringify(obj),
			    	// data : obj,
			    	// url: '/publishers/update_story_2',			    	
			    	// dataType: "json",
			    	// contentType: "application/json",
			    	// processData: false,
			    	// beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	// statusCode: {
	                	// // 200:function() { alert("200"); },
	                	// // 202:function() { alert("202"); }
	            	// },
	            	// success: function(data) {
						// // alert(data.name_first);
						// set_control_span("story_corporate", data.story_corporate, data.b_story_corporate);
						// cancel_edit_story_2();
	            	// },
	            	// error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	// });
		  		// return false;
			// });



            $('.tip').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout'
                })
            });			
			
            $('.tip-bottom-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'top center',
				        at: 'bottom center'
				        // target: $('.tip-bottom-center')
    				}                    
                })
            });			

            $('.tip-top-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'bottom center',
				        at: 'top center'
				        // target: $('.tip-top-center')
    				}                    
                })
            });			
		
		
			// $("#div_pop_dialog_test").on('click', function() {
				// $("#a_pop_dialog_test").click();
			// });	
		
			// // $(".group1").colorbox({rel:'group1'});
			// // $(".group2").colorbox({rel:'group2', transition:"fade"});
			// // $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
			// // $(".group4").colorbox({rel:'group4', slideshow:true});
			// // $(".ajax").colorbox();
			// // $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
			// // $(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
			// // $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
			// $(".inline").colorbox({inline:true, width:"400px"});
			// // $(".callbacks").colorbox({
				// // onOpen:function(){ alert('onOpen: colorbox is about to open'); },
				// // onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
				// // onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
				// // onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
				// // onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
			// // });
			// // $('.non-retina').colorbox({rel:'group5', transition:'none'})
			// // $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
			// // $("#click").click(function(){ 
				// // $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
				// // return false;
			// // });
		
		
			// $("#btn_pop_dialog_2_test").on('click', function() {
				// $("#dialog_14").jqmShow();
				// // $("#primary").val('true');
			// });			
		});
	  
	</script>

