<% provide(:title, 'Products List') %>

<style type="text/css">

	.product-list-main {
	    border-top: 2px solid #337633;
	    padding-top: 2px 0px;
	}
	.product-list-divider {
		height: 2px;
		background-color: #337633;
	    margin: 2px 2px 2px 0px;
	    width: 734px;
	}
	.product-list-text-1 {
	    font-size: 14px;
	    font-family: Arial, Helvetica, sans-serif;
	    /*color: #376340;*/
 		font-weight: 700; 
 		color: #333;	    
	}
	.product-list-text-2 {
	    font-size: 16px;
	    font-family: Arial, Helvetica, sans-serif;
 		font-weight: 700; 
 		color: #47a447;	    
	}
	/*.list-items-1 {*/
	.product-list-text-3 {
		color: #376340;
    	font-family: Arial,Helvetica,sans-serif;
    	font-size: 14px;		
	}
	/*.list-items-2 {*/
	.product-list-text-4 {
		color: #0f0f0f;
    	font-family: Arial,Helvetica,sans-serif;
    	font-size: 14px;		
	}
	
	.product-list-table-1 {
		display: table;
		vertical-align: top;
		/*margin-left: 3px;*/
		table-layout: fixed;
		line-height: 0;
		/*border-spacing: 0;*/
		/*border-collapse: collapse;*/
	}
	.product-list-row-1 {
		display: table-row;
		vertical-align: top;
		margin: 0;
	}	
	.product-list-cell-1 {
		display: table-cell;
		vertical-align: top;
		margin: 0;
	}
	/*.product-table {
	    display: table;
	    width: 100%;
	    font-size: 14px;
	    font-family: Arial, Helvetica, sans-serif;
	    color: #376340;
	    border-top: 2px solid #337633;
	    padding: 2px 0px;
	}
	.product-row {
	    display: table-row;
	}*/
	.btn-opt-edit-container {
	    background: linear-gradient(#FBB040, #CA8E33);
	    border-radius: 10px;
	    width: 80px;
	    height: 24px;
	}
	.btn-opt-edit {
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 14px;
	    font-weight: 700;
	    color: #eee;
	    text-align: center;
	    width: 80px;
	    height: 24px;
	    padding-top: 12px;
	    text-decoration: none;
	    outline: none;
	}
	.btn-opt-edit-1 {
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 14px;
	    font-weight: 700;
	    color: #eee;
	    text-align: center;
	    width: 80px;
	    height: 24px;
	    padding-top: 4px;
	    text-decoration: none;
	    outline: none;
	}
	.btn-clear-search-field {
		position: absolute;
		top: 11px;
		right: 100px;
		display: block;
		width: 12px;
		height: 11px;
		background: url(/assets/chosen-sprite.png);
		background-repeat: no-repeat;
    	background-position: -42px 1px;
		font-size: 1px;
		cursor: pointer;
	}
	.btn-clear-search-field:hover {
		background: url(/assets/chosen-sprite.png);
		background-repeat: no-repeat;
    	background-position: -42px -10px;
	}
	.search-image-search-field {
		position: absolute;
		top: 10px;
		left: 7px;
		display: block;
		width: 12px;
		height: 12px;
		background: url(/assets/chosen-sprite.png);
		background-repeat: no-repeat;
    	background-position: -34px -24px;
		font-size: 1px;
		cursor: text;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
	}
	.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
		color: #999;
	}
</style>

<style>
	
	.search-field-tag {
		height: 20px; 
		width: 400px; 
		padding: 5px 5px 5px 22px; 
		border-radius:5px; 
		border: 1px solid #49853f; 
		font-size: 14px; 
		font-family: Arial, Helvetica, sans-serif; 
		color: #376340; 
		outline: none;
	}
	
	.jqmWindow-101-4 {
	  	display: none;
	  	position: absolute;
	  	/*position: fixed;*/
	  	top:40%;
		left: 50%;
		margin-left: -200px;		    
	  	width: 400px;
	  	height: 160px;		    
	  	background-color: #f6f6f6;
	  	color: #333;
	  	border: 4px solid #376340;
	  	padding: 0px;
	}
	
	a.a-no-underline {
		text-decoration: none;
	}
	a:focus {
		outline: 0;
	}
	
</style>

<style>
	
	.btn-opt-add-spacer {
		display: inline-block; 
		width: 430px;
	}
	.btn-opt-add-container-outer {
		position: relative;
	  	height: 24px;
		display: inline-block; 
		width: 122px; 
		height: 26px; 
		margin: 2px 0 0 0;		  	
	}
	.btn-opt-add-container {
	  	background: linear-gradient(#FBB040, #CA8E33);
	  	border-radius: 10px;
	  	width: 120px;
	  	height: 24px;
	}
	.btn-opt-add {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight: 700;		
	  	color: #eee;
		text-align: center;	
	  	width: 120px;
	  	height: 24px;
	  	padding-top: 4px;
	  	text-decoration:none;
	  	outline: none;
	}
	.btn-opt-add:focus {
	}
	.btn-opt-add-container:hover { 
	  box-shadow: inset 0 1px 1px rgba(255,255,255,0.1),
	  inset 0 1.5em 1em rgba(255,255,255,0.2);
	  cursor: pointer;
	}
	.btn-opt-add-container:active .btn-opt-edit { 
		color: transparent;
		text-shadow: 1px 1px #fff;
	}
	
	.test-background {
		background-color: #eee;	
	}
	
	span.new-product-text-1 {
    	color: #fff;
    	font-family: Arial,Helvetica,sans-serif;
    	font-size: 14px;
    	font-weight: 700;		
	}
	span.new-product-text-2 {
    	color: #fff;
    	font-family: Arial,Helvetica,sans-serif;
    	font-size: 20px;
    	font-weight: 700;		
	}
	div.new-product-text-1-container {
		position: relative;
	}
	div.new-product-text-2-container {
		position: relative;
	}
	
</style>											


<div class="jqmWindow jqmWindow-101-4" id="dialog_101_4">
	<div class="dialog-topbar-1" style="margin-top:0px;">
		<div style="height: 63px; width: 60px; float: left; position: absolute;">
			<img src="<%= image_path('global/knowstory-icon-2-w60-h63.png') %>" alt="">
		</div>
		<div id="close_form101_4" class="form-edit-close jqmClose tip-left-center" style="height: 20px; width: 20px; float: right;">
			<img src="<%= image_path('global/x_close_w20_h20.png') %>" alt="X" height="20px">
		</div>
        <div class="tip-content">
            <div class="tooltiptext">Close</div>
        </div>																															   					   					
		<div style="clear: both;"></div>
	</div>
	<div class="background-table-dialog-1">
   		<div class="table-dialog-1">
			<div class="dialog-msg-container">
				<span>Delete this product?</span>
			</div>
		</div>
	</div>
	<div style="height: 16px;"></div>
	<div class="table-dialog-1">
		<div class="row">
			<div class="cell-100percent" style="text-align: center;">
				<span><input id="btn_dlg_101_4_submit" class="btn-pop-dialog" type="button" value="Delete" tabindex=""></span>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span><input id="btn_dlg_101_4_cancel" class="btn-pop-dialog" type="button" value="Cancel" tabindex=""></span>
			</div>
		</div>
	</div>														   				
	<div style="height: 20px;"></div>
</div>


<div style="position: fixed; top: 110px;">
	<div style="position: relative;">
		<div style="display: table; height: 100%; width: 100%;">
			<%= form_tag({action: 'search_publisher_product'}, id: "search_form", remote: true) do %>
			<div style="display: table-cell; width: 156px; vertical-align: top;">
				<!-- <div style="width: 156px; position: fixed; top: 110px;"> -->
				<div style="width: 156px;">
					<div style="width: 156px; background-color: #f7f7f7;">
					<!-- <div style="width: 153px; background-color: #f7f7f7;"> -->
						<div style="height: 4px;"></div>
						<div class="btn-opt-add-container-outer">
							<div class="btn-opt-add-container">
								<!-- <div id="btn_add_prod" id="open_edit_story_1" class="btn-opt-add" tabindex=""> -->
								<div id="btn_add_prod" class="btn-opt-add" tabindex="">
									Add Product
								</div>
							</div>
						</div>
						<div style="height: 10px;"></div>
						
						<% if false %>
						<h2 style="text-decoration: underline; text-align: center;">Instructions:</h2>
						<ul class="jp-edit-instr" style="margin-bottom: 30px;">
							<li>1. Click Add Product to add a product to your listing</li>
							<li>2. Then Click on that listing to be taken to its page. From there you can add all the details about this product</li>
							<li>&bull; Each product is added individually. If you need to upload products in bulk, this is a premium service we offer</li>
							<li>&bull; If you need help or have questions, please <a target="_blank" href="http://thelearningcounsel.com/ContactUs" style="color:#49853f;">Contact Us</a></li>						
						</ul>
						<div style="height: 10px;"></div>
						<% end %>
										
					</div>
				</div>
			</div>
			<div style="display: table-cell; width: 2px; vertical-align: top;">
				<div id="table_cell_1" style="width: 2px; background-color: #e3e3e3; position: fixed; top: 110px;"></div>
			</div>
			<div id="main_container" style="display: table-cell; width: 740px; vertical-align: top; z-index: 0; height: auto; position: relative;">
				<!-- <div style="height: 120px;"></div> -->
	
				<% if false %>			
				<div class="show-story-3">
					<div class="text-align-left">
						<div class="post-user-sub-container" id="sub_container" style="width: 700px;">
							<div style="margin: 0;">													
								<div class="publisher-product-utility-bar light">
									<!-- <div id="render_story_4_post_users_count" style="padding-left: 10px; padding-top: 10px;"></div> -->
									<!-- <div style="padding-left: 10px; padding-top: 10px;"> -->
									<div style="padding-left: 130px; padding-top: 10px;">
										<!-- <div style="display: inline-block;">
											<span>Products Count: </span>
										</div>
										<div id="render_record_count" style="display: inline-block;">
											<span></span>
										</div> -->
										<div class="btn-opt-add-spacer"></div>
									</div>
								</div>
								<div id="im_top_sh" style="display: block;"></div>
							</div>
						</div>
					</div>
				</div>
				<% end %>
				
				<% if false %>
				<div style="margin: 20px auto; width: 100%;" >
					<div style="margin: auto 20px; float: left; position: relative;">
						<div class="search-image-search-field"></div>
						<%=text_field_tag :search_query, value = nil, style: "", class: 'search-field-tag', placeholder: "Start typing a product name...", tabindex: '101', :onkeyup => 'onSearchClick()', :autofocus => true %>
						<div class="btn-clear-search-field" onclick="onClearSearchField()"></div>
						<%= submit_tag("Search", :style => "display: none") %> 
						<div id="id_search_1" style="float: right; margin: 5px" class="btn-opt-edit-container" tabindex="102">
							<div class="btn-opt-edit-1">Search</div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
				<% end %>
				
				<!-- <div id="result_container_outer" style="margin-top: 0px; width: 740px; height: auto;"> -->
				<!-- <div id="result_container_outer" style="position: fixed; margin-top: 0px; width: 740px; height: auto;">
					<div id="result_container" style="padding-left: 3px; padding-right: 3px;"></div>
				</div> -->
				
				<!-- <div id="result_container" style="margin: 0 auto; width: 740px; padding-left: 3px; padding-right: 3px; border-left: 2px solid #ccc; border-right: 2px solid #ccc; height: auto;"></div> -->
			</div>
			<div style="display: table-cell; width: 2px; vertical-align: top;">
				<div id="table_cell_3" style="width: 2px; background-color: #e3e3e3; position: fixed; top: 110px;"></div>
			</div>
			<div style="display: table-cell; width: 300px; vertical-align: top;">
				<!-- <div style="width: 255px; position: fixed; top: 110px;" > -->
				<div style="width: 255px;" >
					<div style="width: 255px; margin-left: 0px; padding: 20px 22.5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #376340; background: #F7F7F7;">
					<!-- <div style="width: 249px; margin-left: 0px; padding: 20px 22.5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #376340; background: #F7F7F7;" > -->
						<div>
							<label style="font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 14px; color: #555;">Subjects:</label>
							<div style="height: 4px"></div>
							<!-- <#%= collection_select :subject, :id, Dtab4let.all, :id, :col_1,  {:include_blank => false}, {"data-placeholder" => "Choose a subject", :class => "chosen-select", :style => "width: 180px;" ,:multiple => true} %> -->
							<%= select_tag "search_subjects", options_from_collection_for_select(Dtab4let.all, "id", "col_1"), multiple: true, class: 'chosen-select', :style => "width: 180px;", "data-placeholder" => "Choose any subjects" %>
						</div>
						<div style="height: 20px"></div>
						<div>
							<label style="font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 14px; color: #555;">Platforms:</label>
							<div style="height: 4px"></div>
							<!-- <#%= collection_select :subject, :id, Dtab4let.all, :id, :col_1,  {:include_blank => false}, {"data-placeholder" => "Choose a subject", :class => "chosen-select", :style => "width: 180px;" ,:multiple => true} %> -->
							<%= select_tag "search_platforms", options_from_collection_for_select(Dtab3let.all, "id", "col_1"), multiple: true, class: 'chosen-select', :style => "width: 180px;", "data-placeholder" => "Choose any platforms" %>
						</div>
						<div style="height: 20px"></div>
						<div>
							<label style="font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 14px; color: #555;">Age:</label>
							<div style="height: 4px"></div>
							<div>
		
								<div style="display: inline-block; padding: 0px;">
									<!-- <div style="width: 40px;"><span>From:</span></div> -->
									<%= hidden_field_tag :search_from_age, value = nil %>
					          		<select id="publisher_product_from_age" name="publisher_product[from_age]" data-placeholder="From" class="chosen-select" style="width:110px;" tabindex="">
										<option value=""></option>
										<% @from_ages.each do|from_age| %>
											<option value="<%= from_age.id %>"><%= from_age.col_1 %></option>
										<% end %>
					          		</select>
								</div>
								<div style="display: inline-block; width: 4px; text-align: center;"> - </div>
								<div style="display: inline-block; padding: 0px;">
									<!-- <div style="width: 40px;"><span>To:</span></div> -->
									<%= hidden_field_tag :search_to_age, value = nil %>
					          		<select id="publisher_product_to_age" name="publisher_product[to_age]" data-placeholder="To" class="chosen-select" style="width:110px;" tabindex="">
										<option value=""></option>
										<% @to_ages.each do|to_age| %>
											<option value="<%= to_age.id %>"><%= to_age.col_1 %></option>
										<% end %>
					          		</select>
								</div>
		
								<% if false %>
								<!-- <div style="display: inline-block">From</div> -->
								<%= hidden_field_tag :search_from_age, value = nil %>
								<select data-placeholder="From" id="publisher_product_from_age" name="publisher_product[from_age]" class="chosen-select" style="width: 82.5px; display: inline-block">
									<option value=""></option>
									<% (10..99).each do |age| %>
										<option value="<%= age %>"><%= age %></option>
									<% end %>
								</select>
								<div style="display: inline-block"> - </div>
								<%= hidden_field_tag :search_to_age, value = nil %>
								<select data-placeholder="To" id="publisher_product_to_age" name="publisher_product[to_age]" class="chosen-select" style="width: 82.5px; display: inline-block">
									<option value=""></option>
									<% (10..99).each do |age| %>
										<option value="<%= age %>"><%= age %></option>
									<% end %>
								</select>
								<% end %>
										
							</div>
						</div>
						<div style="height: 20px"></div>
						<div id="id_search_2" class="btn-opt-edit-container" tabindex="102" style="float: right; margin: 5px">
							<div class="btn-opt-edit">Search</div>
						</div>		
						<div style="height: 20px"></div>
		
					</div>
				</div>
				
				
			</div>
			<% end %>
		</div>
	</div>
</div>



<div id="result_container_outer" style="width: 740px; padding: 0px 300px 0px 158px;">
	<div id="result_container" style="padding-left: 3px; padding-right: 3px; padding-top: 110px;"></div>
</div>








<% if false %>
	<div style="height: 60px; width: 100%; position: fixed; bottom: 0px;">
		<div style="display: table;">
			<div style="display: table-row;">
				<div style="display: table-cell; width: 156px; vertical-align: top;"></div>
				<div style="display: table-cell; width: 2px; vertical-align: top;"></div>
				<div style="display: table-cell; width: 740px; vertical-align: top;">
					<div style="height: 50px; width: 740px;">
						<div style="position: relative;">
							<div style="height: 50px; width: 740px; background-color: #e3e3e3; position: absolute; left: 0px;">
								<%= will_paginate @publisher_products, :inner_window=> 2, :params => {:controller => 'publisher_product_lists'} %>
							</div>
						</div>
					</div>		
				</div>
				<div style="display: table-cell; width: 2px; vertical-align: top;"></div>
				<div style="display: table-cell; width: 300px; vertical-align: top;"></div>
			</div>
			<div style="display: table-row;">
				<div style="display: table-cell; width: 156px; vertical-align: top;"></div>
				<div style="display: table-cell; width: 2px; vertical-align: top;"></div>
				<div style="display: table-cell; width: 740px; vertical-align: top;">
					<div style="height: 50px; width: 740px;">
						<div style="position: relative;">
							<div style="height: 10px; width: 740px; background-color: #fff; position: absolute; left: 0px;"></div>
						</div>
					</div>		
				</div>
				<div style="display: table-cell; width: 2px; vertical-align: top;"></div>
				<div style="display: table-cell; width: 300px; vertical-align: top;"></div>
			</div>
		</div>
	</div>
<% end %>

<script type="text/javascript">

	function setClearSearchFieldButton () {
		if ($("#search_query").val()) {
			$("form .btn-clear-search-field").css("display", "block");
		} else{
			$("form .btn-clear-search-field").css("display", "none");
		}
	}

	function onSearchClick () {		
		
		// if ($("#publisher_product_from_age").val()) {
			// $("#search_from_age").val($("#publisher_product_from_age").val());
		// } else {
			// $("#search_from_age").val(null);
		// }	
		// if ($("#publisher_product_to_age").val()) {
			// $("#search_to_age").val($("#publisher_product_to_age").val());
		// } else {
			// $("#search_to_age").val(null);
		// }		
		
		$("#search_form").submit();
	}
	
	function onClearSearchField() {
		$("#search_query").val("");
		setClearSearchFieldButton();
		onSearchClick();
	}

	function update_to_age_select (min_value) {
		// // alert("'" + min_value + "'");
		// if(min_value == '') {
			// // alert("'" + min_value + "'");
			// // <abbr class="search-choice-close"></abbr>
			// // $("#publisher_product_to_age_chosen abbr.search-choice-close").click();
			// min_value = 20;
			// // $("#publisher_product_to_age_chosen [abbr]").click();
		// }
		$("#publisher_product_to_age option").css("display", "block");
		for (var i = 1; i < min_value; i++) {
			var selector = "#publisher_product_to_age option[value=" + i + "]";
			$(selector).css("display", "none");
		};
		$("#publisher_product_to_age").trigger('chosen:updated');
	}
	function update_from_age_select (max_value) {
		$("#publisher_product_from_age option").css("display", "block");
		for (var i = parseInt(max_value) + 1; i < 21; i++) {
			var selector = "#publisher_product_from_age option[value=" + i + "]";
			$(selector).css("display", "none");
		};
		$("#publisher_product_from_age").trigger('chosen:updated');
	}

	function deletePublisherProduct(publisher_product_id) {
		var obj_list = '{ "publisher_product_id":' + publisher_product_id + 
					   '}';      
	  	var obj = '{ "publisher_product": [' +  obj_list + '] }';                  
	  	$.ajax({
	    	type: 'POST',
	    	data : obj,
	    	url: '/publisher_products/destroy_publisher_product',	
	    	// cache: false,		    	
	    	// dataType: "script",
	    	dataType: "json",
			contentType: "application/json",	    	
			processData: false,	    	
	    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        	statusCode: {
        	},
        	success: function(data) {
        		if (!data.b_error) {
        			// alert('delete successful');
        		}
        		else {
					alert('An error occured while deleting this product.');	            			
        		}
        	},
        	error: function(xhr){  alert("error: " + xhr.statusText); }        
	  	});
  		// return false;
	}

	function resizeContainer() {
        var body_height = $(window).height();
        // var result_container_height = bodyheight - 262;
        var cell_height = body_height - 120;
        // $("#result_container_outer").height(cell_height + 0);
        $("#table_cell_1").height(cell_height);
        $("#table_cell_3").height(cell_height);
	}


	var id_publisher_product = null;

	
	$(document).ready(function () {


	    $(window).resize(function() {
			resizeContainer();
	    });
		
		// Initialize dropdowns
		$(".chosen-select").chosen({
			disable_search_threshold: 100,
			allow_single_deselect: true
		});

		setClearSearchFieldButton();
		onSearchClick();

		$('#btn_add_prod').on('click', function() {
			// alert('btn_add_prod');
		   	$.post("publisher_products/create", null, null, "script");
		});

		$('#search_query').on('input', function() {
			setClearSearchFieldButton();
			// onSearchClick();
		});

	    $('#id_search_1').click( function() {
	        onSearchClick ();
	    });
	    $('#id_search_1').keypress(function(e) {
	        if(e.keyCode==13) {
	        	onSearchClick ();
	        }            
	    });

	    $('#id_search_2').click( function() {
	        onSearchClick ();
	    });
	    $('#id_search_2').keypress(function(e) {
	        if(e.keyCode==13) {
	        	onSearchClick ();
	        }            
	    });
	
		// // Updating search results
		// $( "#search_subjects" ).change(function() {
			// onSearchClick ();
		// });	
		// $( "#search_platforms" ).change(function() {
			// onSearchClick ();
		// });	

		$("#publisher_product_from_age").change(function() {
			var v = $("#publisher_product_from_age").val();
			if(v != '') {
				update_to_age_select($("#publisher_product_from_age").val());
				// onSearchClick ();
			}
		});
		$("#publisher_product_to_age").change(function() {
			var v = $("#publisher_product_to_age").val();
			if(v != '') {
				update_from_age_select($("#publisher_product_to_age").val());
				// onSearchClick ();
			}
		});

		// $("#publisher_product_to_age").change(function() {
			// update_from_age_select($("#publisher_product_to_age").val());
			// // onSearchClick ();
		// });

		
		// this code depends on the modification of the function Chosen.prototype.container_mouseup in chosen.jquery.js 
		$(document).on('publisher_product_from_age_chosen_abbr', function(e, evt) {
			$('#publisher_product_to_age').val('').trigger('chosen:updated');
			// var classList = $('#publisher_product_to_age_chosen abbr').attr('class').split(/\s+/);
			// $.each(classList, function(index, item) {
				// alert(index);
				// alert(item);
			// });			
		});

		// $(document).on('click', '.btn-delete-product', function() {
			// var publisher_product_id = $(this).data('delete');
			// // alert(publisher_product_id);
			// deletePublisherProduct(publisher_product_id);
			// onSearchClick();
		// });


		$('#dialog_101_4').jqm({
			onShow: function(hash) {
				hash.o.prependTo('body');
				hash.w.css('top', ($(window).scrollTop() + 10).toString() + 'px');
				hash.w.css('opacity', 1.0).fadeIn(100);
			}
		}); 		
		
		$(document).on("click", "#btn_dlg_101_4_submit", function() {
			$("#close_form101_4").trigger('click');
			deletePublisherProduct(id_publisher_product);
			// alert(id_publisher_product);			
			onSearchClick();
		});
		$(document).on("click", "#btn_dlg_101_4_cancel", function() {
			$("#close_form101_4").trigger('click');
		});
		// $(document).on("btn_image_1_delete_click", function() {
		$(document).on('click', '.btn-delete-product', function() {
			id_publisher_product = $(this).data('delete');
			$("#dialog_101_4").jqmShow();
			$("#btn_dlg_101_4_cancel").focus();
		});			


	});

	$(window).load( function() {
		resizeContainer();
	});
	
</script>
