<% provide(:title, 'New Publisher Product Image') %>


	<!-- <script type="text/javascript" src="../scripts/jquery-1.9.1.js"></script> -->
	<!-- <script src="/assets/jquery.validate.js"></script> -->
	<!-- <link href="/assets/custom_sign_form.css" rel="stylesheet"> -->

	<style>

		*, *:after, *:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		input[type=file] {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #888;
			background-color: #fff;
			border: 1px solid #ccc;			
			width: 550px;
			height: 30px;
		}
		.btn-submit {
		  	color: #0FEAFF;
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 308px;
		  	height: 30px;
		  	background: linear-gradient(#000, #000);
		  	text-shadow: 1px 1px 1px #0E86B2; 
		  	border-radius: 6px;
		}
		.btn-submit:focus {
		  background: #CCC; 
		  color: #5F7A2A;
		  box-shadow: inset 0 1px 0 rgba(200,200,200,0.2);
		}
		.btn-submit:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(255,255,255,0.3);
		}
		.btn-submit:active { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.2), 
		  inset 0 1.5em 1em rgba(0,0,0,0.3); 
		}
		
	</style>	


	<header>				
		<%= render 'share/backtotop' %>
	</header>		


	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				<div class="col-left">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>
						<div class="row-profile">
							<div class="col-left">
								<%= render 'share/dir_publishers_left'%>
							</div>
						</div>
					</div>
				</div>
				<div class="col-midd">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-midd-600">
								
								<div style="text-align: left;">
									<span class="normal pad-left-20">New Publisher Product Image</span>
								</div>
					
								<div style="height: 30px;"></div>

								<div class="pad-left-20">
									<%= form_for @publisher_product_image, :html => {:multipart => true} do |f| %>
									   <!-- f.error_messages  -->
									   <!-- f.hidden_field :publisher_id  -->
									   <!-- f.hidden_field :publisher_journalposter_id  -->
									  <!-- <p>
									     f.label :name 
									     <br />
									     f.text_field :name 
									  </p> -->
									  <p>
									    <%= f.file_field :image %>
									  </p>
									  <!-- <input id="publisher_profile_image_publisher_id" name="publisher_profile_image[publisher_id]" type="hidden" value="<#%= @publisher_id %#>" /> -->
									  <br>
									  <!-- <p>
									     f.label :remote_image_url, "or image URL" 
									     <br />
									     f.text_field :remote_image_url 
									  </p> -->
									  <%= f.hidden_field 'descr', :value => @descr %>
									  <%= f.hidden_field 'publisher_id', :value => @publisher_id %>
									  <%= f.hidden_field 'publisher_product_id', :value => @publisher_product_id %>
									  <p><%= f.submit :class => 'btn-submit', :value => 'Upload Image' %></p>
									<% end %>
								</div>

							</div>
						</div>
					</div>					
				</div>
				<div class="col-right">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-right">
								<%= render 'share/dir_publishers_right' %>
							</div>
						</div>
					</div>										
				</div>								
			</div>
		</div>
	</div>

	<!-- <script>
		
		//$(window).load( function() {
		$(document).ready(function(){
				
			// $('#btn_multipart_browse').on('click', function() {
				// // $('.upload').click(function(){
				    // $('input[type=file]').click();
				    // return false;
				// // });
			// });
			// $('#btn_multipart_browse').on('click', function() {
				// // $('.upload').click(function(){
				    // $('input[type=submit]').click();
				    // return false;
				// // });
			// });
			
			// $('#publisher_journalposter_logo_image').on('load', function() {
				// alert('load input');
			// });
			
		});
		
	</script> -->









