


			<% if @publisher_ad_pins.any? %>
		
			<!-- <#%= hidden_field_tag :direction, params[:direction] %#>
			<#%= hidden_field_tag :sort, params[:sort] %#>	
			<#%= hidden_field_tag :pos, params[:pos] %#> -->	

				<div class="publisher-journalposter-utility-bar light">
					<div style="padding-left: 10px; padding-top: 10px;">
						<span>Record Count: <%= @publisher_ad_pins.count %></span>
					</div>
				</div>
				<!-- <div class="publisher-journalposter-list-top-border"></div> -->

				<% @publisher_ad_pins.each do |publisher_ad_pin| %>

  				  <!-- 
  				  :user_id,
                  :publisher_id,
                  :publisher_product_id,
                  :ad_amount,
                  :name_product,
                  :term_pin,
                  :term_positioning,
                  :term_keyword,
                  :keyword,
                  :cost_pin,
                  :cost_positioning,
                  :cost_keyword,
                  :ad_date_exp,
                  :ad_date_init 
                  -->

					<div>Product ID: <%= publisher_ad_pin.publisher_product_id %></div>
					<br>
					<div>Product Name: <%= publisher_ad_pin.name_product %></div>
					<br>
					<div>Amount $: <%= publisher_ad_pin.ad_amount %></div>
					<div style="height: 20px;"></div>

					
					
					
				<% end %>
					
				<%= will_paginate @publisher_ad_pins %>
		
			<% else %>
				<div class="" style="color: red; padding-left: 20px;">
					<h3>No record for Publisher Pins</h3>
				</div>
			<% end %>



	


