<% provide(:title, 'Publisher') %>

	<script src="/assets/jqModal.js"></script>
	<script src="/assets/jquery.easing.1.3.js"></script>
	<link rel="stylesheet" href="/assets/jqModal.css" />
	<script src="../jcrop/js/jquery.Jcrop.js"></script>
	<script type="text/javascript">
	  jQuery(function($){
	    $('#target').Jcrop();
	  });
	</script>
	<link rel="stylesheet" href="../jcrop/css/jquery.Jcrop.css" type="text/css" />
  	<script src="/assets/jquery.qtip.min.js" type="text/javascript"></script>
  	<link rel="stylesheet" href="/assets/jquery.qtip.min.css">


	<script src="/assets/jquery.colorbox.js"></script>
	<link rel="stylesheet" href="/assets/colorbox.css" />
	
	<!-- <link rel="stylesheet" href="../styles/digg-pagination.css" /> -->
	<link rel="stylesheet" href="../styles/ks-profile.css" />
		
	<!-- <script type="text/javascript" src="../scripts/slidedeck.jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="../styles/slidedeck.skin.css" media="screen,handheld" /> -->


	<!-- <script src="/assets/jqModal.js"></script> -->
	<!-- <script src="/assets/jquery.easing.1.3.js"></script> -->
	<!-- <link rel="stylesheet" href="/assets/jqModal.css" /> -->
	<!-- <script src="/assets/jquery.validate.js"></script> -->



			<!-- user image - show 11 -->			
			<div class="jqmWindow jqmWindow-11" id="dialog_11">
		   		<div class="table-dl-form-1">
		   			<div class="row">
		   				<div class="cell-100percent">
		   					<div id="close_form11" class="form-edit-close jqmClose tip-left-center" tabindex="">
		   						<img src="/assets/x_close_white_w20_h20.png" alt="X" height="20px">
		   					</div>
			                <div class="tip-content">
			                    <div class="tooltiptext">Close</div>
			                </div>																															   					
		   					<div style="clear: both;"></div>
		   				</div>
   					</div>
				</div>				   				
				<div style="width: 100%; text-align: center;">
					<div style="height: 20px;"></div>
					<div class="">
						<figure id="profile_figure_dialog_11" class="dialog-user-image">
							<img alt="photo not appearing" src="" />
						</figure>
					</div>
				</div>
			</div>


		<div class="table-profile" style="height: 100%;">
			<div class="row-profile">
				<div style="display: table-cell; width: 200px; vertical-align: top; margin: 0; padding: 0; height: 100%;">
					<%= render 'share/dir_publishers_left' %>
				</div>
				<div class="profile-mid-col-700">

					<div class="title-bar-profile-1 title">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left">
									<div style="position: relative;">
										<div style="position: absolute; top: -24px;">												
											<span>Corporate Story Home</span>
										</div>
									</div>		
								</div>
								<div class="cell-title-bar-profile-center">
									<span></span>
								</div>
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
									</div>
								</div>
							</div>
						</div>
					</div>





					<% if false %>
					<div class="table margin-0" style="height: 270px;">
						<div class="row" style="height: 260px;">
							<div class="cell-225 padding-left-4" id="container_user_image_primary" style="height: 260px;">
								<div id="drop_container_user_image_primary" class="drop float-left width-200">
									<div id="render_publisher_user_image_primary" class="padding-0">
										<div class="container-image">
											<%= render 'publisher_users/publisher_user_image_primary' %>
										</div>
										<div class="container-menu">
											<%= render 'publisher_users/publisher_user_image_primary_menu' %>
										</div>
							        </div>
								</div>
								<div class="float-clear"></div>
								<div class="follow-stats-container">
									<%= render 'users/stats' %>
								</div>
							</div>
							<div class="cell-475">
								<div class="table pad-marg-null">
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-100 text-align-left">
											<span class="profile-label-1">Name:</span>
										</div>
										<div class="cell-375 show-story-1">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-375 position-relative text-align-left">
														<div class="position-absolute top-minus-3">
															<span id="span_name_first" class="profile-text-1"></span>
															&nbsp;&nbsp;
															<span id="span_name_last" class="profile-text-1"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>		
									
								</div>
							</div>	
						</div>
					</div>
					<% end %>

					<div class="table" style="height: 440px; margin: 0;">
						<div class="row">
							<div class="cell-475">
								<div class="table pad-marg-null">
									<div class="row" style="height: 12px;"></div>
									<div class="row pad-marg-null">
										<div class="cell-475">
											<div class="table pad-marg-null">
												<div class="row pad-marg-null">
													<div class="cell-195 text-align-left pad-left-20">
														<span class="profile-label-1">Company:</span>
													</div>
													<div class="cell-280 edit-story-1 hidden">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative">
																	<div class="position-absolute top-minus-7 right-0">
																		<input class="input-profile-1 input-profile-color-1 width-280 height-24" id="publisher_name_company" name="publisher[name_company]" tabindex="12" type="text" value="<%= @publisher.name_company %>" placeholder="Company Name" />
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="cell-280 show-story-1">
														<div class="table pad-marg-null">
															<div class="row pad-marg-null">
																<div class="cell-280 position-relative text-align-left">
																	<div class="position-absolute top-minus-3">
																		<span id="span_name_company" class="profile-text-1"></span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>	

								</div>
								
							</div>
							<div class="cell-225 padding-right-8" id="container_logo_image">
								<div id="drop_container_logo_image" class="drop width-200 float-right">
									<div id="render_publisher_logo_image_primary" class="padding-0">
										<div class="container-image">
											<%= render 'publishers/publisher_logo_image_primary' %>
										</div>
										<div class="container-menu">
											<%= render 'publishers/publisher_logo_image_primary_menu' %>
										</div>
							        </div>
								</div>
								<div class="float-clear"></div>
								<div class="follow-stats-container">
									<%= render 'publishers/stats' %>
								</div>																
							</div>
							
						</div>
					</div>





























					<div style="height: 4px;"></div>

					<div class="title-bar-profile-1 title-bar-profile-1-top-border">
						<div class="tbl-title-bar-profile">
							<div class="row-title-bar-profile">
								<div class="cell-title-bar-profile-left-long padding-left-8">
									<div class="position-relative">
										<div class="position-absolute top-minus-24">												
											<span>Status</span>
										</div>
									</div>		
								</div>
								<div class="cell-title-bar-profile-right">
									<div class="btn-opt-edit-container-outer">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="table margin-0" style="height: auto;">
						<div class="row">
							<div class="cell-100percent">
								<div style="height: 10px;"></div>
								<div class="edit-story-4 height-250">
									<div class="pad-left-20">
										<%= form_for PostPublisher.new, :url => create_post_publisher_publishers_path(@post_publisher_new), :html => {:multipart => true, :class => '', :id => 'new_post_publisher'}, :remote => true do |f| %>
											<%= f.text_area :post_text, :class => 'textarea-show profile-text-1 width-660 height-200', :placeholder => 'Add status' %>
										  	<%= f.submit :id => 'submit_edit_story_4_hidden', :class => 'btn-submit hidden', :value => '' %>
										<% end %>
									</div>
									<div style="height: 10px;"></div>
									<div class="text-align-center" style="width: 700px; height: 60px;">
										<div class="table">
											<div class="row">
												<div id="btns_edit_story_4" class="cell-700">
													<div style="display: inline-block;">
														<div id="submit_edit_story_4" class="btn-submit-story-1" tabindex="">Add</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="height: 20px;"></div>											
								<div class="show-story-3">
									<div class="text-align-left">
										<div class="post-user-sub-container" id="sub_container" style="display: table-cell; width: 700px;">
											<div>													
												<div class="publisher-product-utility-bar light">
													<div id="render_story_4_post_publishers_count" style="padding-left: 10px; padding-top: 10px;">
													</div>
												</div>
												<div id="im_top_sh" style="display: block;"></div>
											</div>
											<div id="render_story_4" style="height: auto;"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div style="height: 20px;"></div> -->
				</div>
				<div style="display: table-cell; width: 300px; padding: 0; margin: 0; vertical-align: top; height: 100%;">
					<div class="" style="width: 200px; height: 50px; position: relative;">
						<%= render 'share/dir_publishers_right_user_home' %>
					</div>
				</div>
			</div>								
		</div>

		
	<script>


		function closeShowPhotoPrimary() {
			$("#close_form11").trigger('click');
		};	  
		function closeShowImageLogo() {
			$("#close_form21").trigger('click');
		};	  

		function closeAddImagePrimary() {
			// alert('closeAddImagePrimary()');
			$("#dvLoading_12").addClass("dvLoading-display-none");
			$(".edit-image").fadeIn(200).removeClass("hidden");
			// $(".dropdownContain").removeClass("hidden");
			// $(".container-figure figure").removeClass("cursor-pointer");
			$("#drop_container_user_image_primary").addClass("drop");
			$(".container-menu .dropdownContain").removeClass("hidden");
			$("#close_form12").trigger('click');
			$("form#new_publisher_user_image input#new_publisher_user_image_image").val('');
		};	  
		function closeAddLogoImage() {
			// alert('closeAddLogoImage()');
			$("#dvLoading_22").addClass("dvLoading-display-none");
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_logo_image").addClass("drop");
			$(".container-menu .dropdownContain").removeClass("hidden");
			$("#close_form22").trigger('click');
			$("form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image").val('');
		};	  

		function closeChangeImagePrimary() {
			$("#dvLoading_13").addClass("dvLoading-display-none");
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_user_image_primary").addClass("drop");
			$(".container-menu .dropdownContain").removeClass("hidden");
			$("#close_form13").trigger('click');
			$("form#change_publisher_user_image input#change_publisher_user_image_image").val('');
		};	  
		function closeChangeLogoImage() {
			$("#dvLoading_23").addClass("dvLoading-display-none");
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_logo_image").addClass("drop");
			$(".container-menu .dropdownContain").removeClass("hidden");
			$("#close_form23").trigger('click');
			$("form#change_publisher_user_logo_image input#change_publisher_user_logo_image_image").val('');
		};	  
		
		function closeDeleteImagePrimary() {			
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_user_image_primary").addClass("drop");
			// $("#figcaption_image_primary_generic").removeClass("hidden");
			$(".container-menu .dropdownContain").removeClass("hidden");
			$("#close_form14").trigger('click');
			// jQuery(document).trigger( click_delete_image_primary );						
		};	  
		function closeDeleteLogoImage() {			
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_logo_image").addClass("drop");
			$(".container-menu .dropdownContain").removeClass("hidden");
			$("#close_form24").trigger('click');
		};	  
		
		function closeCropImagePrimary() {
			// alert('closeCropImagePrimary()');
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_user_image_primary").addClass("drop");
			$(".container-menu .dropdownContain").removeClass("hidden");
			$("#close_form15").trigger('click');
		};	  
		function closeCropLogoImage() {
			$(".edit-image").fadeIn(200).removeClass("hidden");
			$("#drop_container_logo_image").addClass("drop");
			$(".container-menu .dropdownContain").removeClass("hidden");
			$("#close_form25").trigger('click');
		};	  
		
		
		
		// function set_control_required(cntrl, b) {
			// // alert('set_control_required');
			// var s_cntrl = "#required_" + cntrl;
			// if(b) {
				// $(s_cntrl).addClass("check-required").removeClass("display-none");	
			// }
			// else {
				// $(s_cntrl).removeClass("check-required").addClass("display-none");
			// }
		// }

		function set_control_span(cntrl, s, b) {
			var s_cntrl = "#span_" + cntrl;
			$(s_cntrl).html(s);
			if (b) {
				$(s_cntrl).removeClass("color-no-record").addClass("color-record");
			}
			else {
				$(s_cntrl).removeClass("color-record").addClass("color-no-record");				
			}
		}
	  
		function show_control(cntrl) {
			var s_edit = "#edit_" + cntrl;
			var s_show_open = "#show_" + cntrl + ", #open_edit_" + cntrl;		
    		$(s_edit).fadeOut(300, function(){
    			$(s_edit).addClass("hidden");
    			$(s_show_open).fadeIn(200).removeClass("hidden");
    			$(s_show_open).fadeIn(200).removeClass("hidden").removeClass("visibility-hidden");
    		});
		}

	  	function show_edit_story_1() {
			$("#open_edit_story_1, .show-story-1").fadeOut(200, function(){    			
				$("#open_edit_story_1").addClass("hidden");
				$("#close_edit_story_1").fadeIn(200).removeClass("hidden");
				
    			$(".show-story-1").addClass("hidden");
    			$(".edit-story-1").fadeIn(300).removeClass("hidden");
    			
				// $("#btns_edit_story_1").fadeIn(200).removeClass("hidden");
				$("#btns_edit_story_1").fadeIn(200).removeClass("visibility-hidden");
    			
				$(".edit-image").fadeIn(200).removeClass("hidden");
				$(".container-figure figure").removeClass("cursor-pointer");
				$(".container-figure-logo figure").removeClass("cursor-pointer");
				
				$("#drop_container_user_image_primary").addClass("drop");
				$("#drop_container_logo_image").addClass("drop");

				$(".container-menu .dropdownContain").removeClass("hidden");
				
    			$("#user_name_first").focus();
				
    		});
	  	}
	  
	  	function cancel_edit_story_1() {
	  		$(".edit-story-1").fadeOut(200, function(){
    			$(".edit-story-1").addClass("hidden");
    			$(".show-story-1").removeClass("hidden").fadeIn(300);

				$("#open_edit_story_1").removeClass("hidden").fadeIn(200);
				$("#close_edit_story_1").addClass("hidden");

				// $("#btns_edit_story_1").removeAttr("style");
				// $("#btns_edit_story_1").addClass("hidden");
				$("#btns_edit_story_1").addClass("visibility-hidden");

				$(".edit-image").removeAttr("style");				
				$(".edit-image").fadeIn(200).addClass("hidden");
				$(".dialog-11-figure").addClass("cursor-pointer");
				$(".dialog-21-figure").addClass("cursor-pointer");
				
				$(".container-menu .dropdownContain").addClass("hidden");
				
				$("#drop_container_user_image_primary").removeClass("drop");
				$("#drop_container_logo_image").removeClass("drop");
			});
	  	}
		
		function delete_image_primary(id_image) {
			// var input_user_name_first = $("#user_name_first").val();
			// var obj_list = '{"publisher_product_description_id":' + <#%= @publisher_product_description_id %#> + 
						   // ', "publisher_product_id":' + <#%= @publisher_product_id %#> + 
						   // ', "publisher_id":' + <#%= @publisher_id %#> + 
						   // ', "name_first":"' + input_publisher_product_description_name_first + 
						   // '"}';      
			
			var formData = {id:id_image};
			 
			// $.ajax({
			    // url : "AJAX_POST_URL",
			    // type: "POST",
			    // data : formData,
			    // success: function(data, textStatus, jqXHR)
			    // {
			        // //data - response from server
			    // },
			    // error: function (jqXHR, textStatus, errorThrown)
			    // {
			    // }
			// });			
			
			// var input_user_name_first = "Clyde";
			// var input_id_image = id_image;
			// var obj_list = '{"name_first":"' + input_user_name_first + 
						   // '"}';      
			// var obj_list = '{"id_image":' + input_id_image + 
						   // '}';      
		  	// var obj = '{ "publisher_user": [' +  obj_list + '] }';                  
		  	$.ajax({
		    	type: 'POST',
		    	// data : JSON.stringify(obj),
		    	// data : obj,
		    	data : formData,
		    	url: '/publisher_users/destroy_publisher_user_image',			    	
		    	// dataType: "json",
		    	// contentType: "application/json",
		    	dataType: "script",
		    	// contentType: "application/js",
		    	// processData: false,
		    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	statusCode: {
                	// 200:function() { alert("200"); },
                	// 202:function() { alert("202"); }
            	},
            	success: function(data) {
					// alert("successful");
            	},
            	error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	});
	  		// return false;
		}
		function delete_logo_image(id_image) {
			var formData = {id:id_image};
		  	$.ajax({
		    	type: 'POST',
		    	data : formData,
		    	url: '/publisher_users/destroy_publisher_user_logo_image',			    	
		    	dataType: "script",
		    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	statusCode: {
                	// 200:function() { alert("200"); },
                	// 202:function() { alert("202"); }
            	},
            	success: function(data) {
					// alert("successful");
            	},
            	error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	});
		}


		function crop_image_primary() {
			var input_image_id = $("#image_id").val();
			var input_crop_x = $("#id_crop_x").val();
			var input_crop_y = $("#id_crop_y").val();
			var input_crop_w = $("#id_crop_w").val();
			var input_crop_h = $("#id_crop_h").val();
			var formData = { image_id: input_image_id, 
							 crop_x: input_crop_x, 
							 crop_y: input_crop_y,
							 crop_w: input_crop_w, 
							 crop_h: input_crop_h 
						   };
		  	$.ajax({
		    	type: 'POST',
		    	data : formData,
		    	url: '/publisher_users/crop_commit_user',	
		    	// cache: false,		    	
		    	dataType: "script",
		    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	statusCode: {
                	// 200:function() { alert("200"); },
                	// 202:function() { alert("202"); }
            	},
            	success: function(data) {
					// alert("successful crop");
            	},
            	error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	});
	  		// return false;
		}
		function crop_image_logo() {
			var input_image_id = $("#image_id_logo").val();
			var input_crop_x = $("#id_crop_x_logo").val();
			var input_crop_y = $("#id_crop_y_logo").val();
			var input_crop_w = $("#id_crop_w_logo").val();
			var input_crop_h = $("#id_crop_h_logo").val();
			var formData = { image_id: input_image_id, 
							 crop_x: input_crop_x, 
							 crop_y: input_crop_y,
							 crop_w: input_crop_w, 
							 crop_h: input_crop_h 
						   };
		  	$.ajax({
		    	type: 'POST',
		    	data : formData,
		    	url: '/publisher_users/crop_commit_logo',	
		    	// cache: false,		    	
		    	dataType: "script",
		    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            	statusCode: {
                	// 200:function() { alert("200"); },
                	// 202:function() { alert("202"); }
            	},
            	success: function(data) {
					// alert("successful crop");
            	},
            	error: function(xhr){  alert("error: " + xhr.statusText); }        
		  	});
	  		// return false;
		}


	  	function show_edit_story_2() {
			$("#open_edit_story_2, .show-story-2").fadeOut(200, function(){    			
				$("#open_edit_story_2").addClass("hidden");
				$("#close_edit_story_2").fadeIn(200).removeClass("hidden");
    			$(".show-story-2").addClass("hidden");
    			$(".edit-story-2").fadeIn(300).removeClass("hidden");
				// $("#btns_edit_story_2").fadeIn(200).removeClass("visibility-hidden");
    		});
	  	}
	  
	  	function cancel_edit_story_2() {
	  		$(".edit-story-2").fadeOut(200, function(){
    			$(".edit-story-2").addClass("hidden");
    			$(".show-story-2").removeClass("hidden").fadeIn(300);
				$("#open_edit_story_2").removeClass("hidden").fadeIn(200);
				$("#close_edit_story_2").addClass("hidden");
				// $("#btns_edit_story_1").removeAttr("style");
				// $("#btns_edit_story_1").addClass("hidden");
				// $("#btns_edit_story_2").addClass("visibility-hidden");
			});
	  	}

	  	function show_edit_story_3() {
			$("#open_edit_story_3, .show-story-3").fadeOut(200, function(){    			
				$("#open_edit_story_3").addClass("hidden");
				$("#close_edit_story_3").fadeIn(200).removeClass("hidden");
    			$(".show-story-3").addClass("hidden");
    			$(".edit-story-3").fadeIn(300).removeClass("hidden");
				// $("#btns_edit_story_3").fadeIn(200).removeClass("visibility-hidden");
    		});
	  	}
	  
	  	function cancel_edit_story_3() {
	  		$(".edit-story-3").fadeOut(200, function(){
    			$(".edit-story-3").addClass("hidden");
    			$(".show-story-3").removeClass("hidden").fadeIn(300);
				$("#open_edit_story_3").removeClass("hidden").fadeIn(200);
				$("#close_edit_story_3").addClass("hidden");
				// $("#btns_edit_story_1").removeAttr("style");
				// $("#btns_edit_story_1").addClass("hidden");
				// $("#btns_edit_story_3").addClass("visibility-hidden");
			});
	  	}



		var id_image = null;
		var id_image_logo = null;
		// var gon_crop_x = gon.crop_x;
		// var gon_crop_y = gon.crop_y;
		// var gon_crop_w = gon.crop_w;
		// var gon_crop_h = gon.crop_h; 

		// var user_slug = <#%= @user.slug %#>;

			  	
		// $(window).load( function() {
		$(document).ready(function () {				

			// $.ajaxSetup({cache: false});
			
			$("#render_story_4").html("<%= j render("publishers/story_4") %>");
			$("#render_story_4_post_publishers_count").html("<%= j render("publishers/story_4_post_publishers_count") %>");
			// $("#render_story_4_will_paginate").html("<#%= j render("publisher_users/story_4_will_paginate") %#>");			
			
			$(document).on("click", ".digg_pagination a", function() {
				$("#paginate_loading").removeClass("hidden");
				var s_href = this.href;
				var n = s_href.indexOf("page=");
				var s_page = s_href.substr(n, s_href.length-1);
			    s_url = '/publisher_users/get_post_feed?' + s_page 
			    $.getScript(s_url);
			    var push_url = '/' + user_slug + '?' + s_page
      			// history.pushState(null, document.title, this.href);
      			history.pushState(null, null, push_url);
			    return false;
			});			

			
			id_image = gon.id_image;
			id_image_logo = gon.id_image_logo;
			
		  	$("#open_edit_story_1").click(function(){
				show_edit_story_1();
		  	});	
		  	$("#close_edit_story_1").click(function(){
				cancel_edit_story_1();
		  	});	
		
			// var click_cancel_edit_story_1 = jQuery.Event( "click_cancel_edit_story_1" );
    		$("#cancel_edit_story_1").keypress(function(e){
      			if(e.keyCode==13)
      			$("#cancel_edit_story_1").click();
    		});
			$("#cancel_edit_story_1").on('click', function() {
				cancel_edit_story_1();
			});

		
		  	$("#open_edit_story_2").click(function(){
				show_edit_story_2();
		  	});	
		  	$("#close_edit_story_2").click(function(){
				cancel_edit_story_2();
		  	});			
    		$("#cancel_edit_story_2").keypress(function(e){
      			if(e.keyCode==13)
      			$("#cancel_edit_story_2").click();
    		});
			$("#cancel_edit_story_2").on('click', function() {
				cancel_edit_story_2();
			});
    		$("#submit_edit_story_2").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_edit_story_2").click();
    		});
			$("#submit_edit_story_2").on('click', function() {
				$("#submit_edit_story_2_hidden").click();
			});


		  	$("#open_edit_story_3").click(function(){
				show_edit_story_3();
		  	});	
		  	$("#close_edit_story_3").click(function(){
				cancel_edit_story_3();
		  	});			
    		$("#cancel_edit_story_3").keypress(function(e){
      			if(e.keyCode==13)
      			$("#cancel_edit_story_3").click();
    		});
			$("#cancel_edit_story_3").on('click', function() {
				cancel_edit_story_3();
			});
    		$("#submit_edit_story_3").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_edit_story_3").click();
    		});
			$("#submit_edit_story_3").on('click', function() {
				$("#submit_edit_story_3_hidden").click();
			});

    		$("#submit_edit_story_4").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_edit_story_4").click();
    		});
			$("#submit_edit_story_4").on('click', function() {
				$("#submit_edit_story_4_hidden").click();
			});
	
			// $("form#new_publisher_user_image input#publisher_user_image_image").addClass("hidden");
			// $("form#new_publisher_user_image input#btn_submit_dialog_12").addClass("hidden");		
			// $("#btn_dlg_submit_upload_image_primary").on('click', function() {
			$(document).on("click", "#btn_dlg_submit_upload_image_primary", function() {
				// alert('btn_dlg_submit_upload_image_primary');
				// jQuery('body').trigger( click_publisher_user_image );
				$("form#new_publisher_user_image input#new_publisher_user_image_image").click();
			});	
			// $("form#new_publisher_user_image input#publisher_user_image_image").off().on('change', function() {
			$(document).on("change", "form#new_publisher_user_image input#new_publisher_user_image_image", function() {
				// alert(e.type);				
				$("#dvLoading_12").removeClass("dvLoading-display-none");
				$("form#new_publisher_user_image input#btn_submit_dialog_12").click();
				// var image = $("#publisher_user_image_image").val();
				// upload_image_primary(image);
			});
			// $(document).on("click_open_dialog_12a", function() {
			$(document).on("click", "#figcaption_image_primary_generic", function() {
				// alert('index figcaption_image_primary_generic');
				$("form#new_publisher_user_image input#new_publisher_user_image_image").val('');
				$("#dialog_12").jqmShow();
			});		
			// $(document).on("click_open_dialog_12b", function() {
			$(document).on("click", "#btn_photo_primary_new", function() {				
				// alert('index btn_photo_primary_new');
				$("form#new_publisher_user_image input#new_publisher_user_image_image").val('');
				$("#dialog_12").jqmShow();
			});		
			// $("#btn_dlg_cancel_upload_image_primary").on('click', function() {
			$(document).on("click", "#btn_dlg_cancel_upload_image_primary", function() {
				// alert('cancel delete');
				$("#close_form12").trigger('click');
			});

			
			$(document).on("click", "#btn_dlg_submit_upload_image_primary_change", function() {
				// alert('btn_dlg_submit_upload_image_primary');
				// jQuery('body').trigger( click_publisher_user_image );
				$("form#change_publisher_user_image input#change_publisher_user_image_image").click();
			});	
			// $("form#new_publisher_user_image input#publisher_user_image_image").off().on('change', function() {
			$(document).on("change", "form#change_publisher_user_image input#change_publisher_user_image_image", function() {
				// alert(e.type);				
				$("#dvLoading_13").removeClass("dvLoading-display-none");
				$("form#change_publisher_user_image input#btn_submit_dialog_13").click();
				// var image = $("#publisher_user_image_image").val();
				// upload_image_primary(image);
			});
			$(document).on("click", "#btn_photo_primary_change", function() {				
				// alert('index btn_photo_primary_change');
				$("form#change_publisher_user_image input#change_publisher_user_image_image").val('');
				$("#dialog_13").jqmShow();
			});		
			$(document).on("click", "#btn_dlg_cancel_upload_image_primary_change", function() {
				// alert('cancel delete');
				$("#close_form13").trigger('click');
			});

			
			// var click_delete_image_primary = jQuery.Event( "click_delete_image_primary" );
			// $("#btn_photo_primary_delete").on("click", function() {
				// $("#dialog_14").jqmShow();
				// $("#btn_dlg_submit_delete_image_primary").focus();
			// });
			// $("#btn_dlg_submit_delete_image_primary").on('click', function() {
			$(document).on("click", "#btn_dlg_submit_delete_image_primary", function() {
				// alert('index submit delete');
				// id_image = gon.id_image;
				delete_image_primary(id_image);
				// closeDeleteImagePrimary();		
				
				// $(".edit-image").fadeIn(200).removeClass("hidden");
				// $("#drop_container_user_image_primary").addClass("drop");
				// // // $("#figcaption_image_primary_generic").removeClass("hidden");
				// $(".dropdownContain").removeClass("hidden");
				// // jQuery(document).trigger( click_delete_image_primary );
				// $("#close_form14").trigger('click');
			});
			// $("#btn_dlg_cancel_delete_image_primary").on('click', function() {
			$(document).on("click", "#btn_dlg_cancel_delete_image_primary", function() {
				// alert('cancel delete');
				$("#close_form14").trigger('click');
			});
			// $(document).on("click_open_dialog_14", function() {
			$(document).on("click", "#btn_photo_primary_delete", function() {
			// $("#btn_photo_primary_delete").live('click', function() {				
				// alert('index click_open_dialog_14');
				// alert('index btn_photo_primary_delete');
				$("#dialog_14").jqmShow();
				$("#btn_dlg_submit_delete_image_primary").focus();
			});			

			// $("#btn_photo_primary_crop").on('click', function() {
			$(document).on("click", "#btn_photo_primary_crop", function() {
				$("#dialog_15").jqmShow();
			});
			$(document).on("click", "#btn_dlg_submit_crop_image_primary", function() {
				crop_image_primary();
				// $("#btn_submit_crop_image_primary").click();
			});
			$(document).on("click", "#btn_dlg_cancel_crop_image_primary", function() {
				$("#close_form15").trigger('click');
			});


			

			$(document).on("click", "#btn_dlg_submit_upload_image_logo", function() {
				$("form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image").click();
			});	
			$(document).on("change", "form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image", function() {
				$("#dvLoading_22").removeClass("dvLoading-display-none");
				$("form#new_publisher_user_logo_image input#btn_submit_dialog_22").click();
			});
			$(document).on("click", "#figcaption_logo_image_generic", function() {
				$("form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image").val('');
				$("#dialog_22").jqmShow();
			});		
			$(document).on("click", "#btn_photo_logo_new", function() {				
				$("form#new_publisher_user_logo_image input#new_publisher_user_logo_image_image").val('');
				$("#dialog_22").jqmShow();
			});		
			$(document).on("click", "#btn_dlg_cancel_upload_image_logo", function() {
				$("#close_form22").trigger('click');
			});

			$(document).on("click", "#btn_dlg_submit_upload_logo_image_change", function() {
				$("form#change_publisher_user_logo_image input#change_publisher_user_logo_image_image").click();
			});	
			$(document).on("change", "form#change_publisher_user_logo_image input#change_publisher_user_logo_image_image", function() {
				$("#dvLoading_23").removeClass("dvLoading-display-none");
				$("form#change_publisher_user_logo_image input#btn_submit_dialog_23").click();
			});
			$(document).on("click", "#btn_photo_logo_change", function() {				
				$("form#change_publisher_user_logo_image input#change_publisher_user_logo_image_image").val('');
				$("#dialog_23").jqmShow();
			});		
			$(document).on("click", "#btn_dlg_cancel_upload_logo_image_change", function() {
				$("#close_form23").trigger('click');
			});


			$(document).on("click", "#btn_dlg_submit_delete_logo_image", function() {
				delete_logo_image(id_image_logo);
			});
			$(document).on("click", "#btn_dlg_cancel_delete_logo_image", function() {
				$("#close_form24").trigger('click');
			});
			$(document).on("click", "#btn_photo_logo_delete", function() {
				$("#dialog_24").jqmShow();
				$("#btn_dlg_submit_delete_logo_image").focus();
			});			


			$(document).on("click", "#btn_photo_logo_crop", function() {
				$("#dialog_25").jqmShow();
			});
			$(document).on("click", "#btn_dlg_submit_crop_logo_image", function() {
				crop_image_logo();
				// $("#btn_submit_crop_image_primary").click();
			});
			$(document).on("click", "#btn_dlg_cancel_crop_logo_image", function() {
				$("#close_form25").trigger('click');
			});



			$('#dialog_12').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-220px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_12').animate(
						{bottom:'-=230', top:'+=230'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_12').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		

			$('#dialog_22').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-220px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_22').animate(
						{bottom:'-=230', top:'+=230'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_22').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		

			$('#dialog_13').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-220px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_13').animate(
						{bottom:'-=230', top:'+=230'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_13').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		

			$('#dialog_23').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-220px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_23').animate(
						{bottom:'-=230', top:'+=230'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_23').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		
		
			$('#dialog_14').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-200px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_14').animate(
						{bottom:'-=210', top:'+=210'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_14').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		

			$('#dialog_24').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-200px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_24').animate(
						{bottom:'-=210', top:'+=210'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_24').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
						}
					);
				}
			}); 		

		

			
			// set_control_required("name_first", gon.b_required_name_first);
    		$("#submit_edit_story_1").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_edit_story_1").click();
    		});

			set_control_span("name_first", gon.name_first, gon.b_name_first);
			set_control_span("name_last", gon.name_last, gon.b_name_last);
			set_control_span("email", gon.email, gon.b_email);
			set_control_span("location", gon.location, gon.b_location);
			set_control_span("name_alias", gon.name_alias, gon.b_name_alias);
			set_control_span("job_title", gon.job_title, gon.b_job_title);
			set_control_span("name_company", gon.name_company, gon.b_name_company);
			set_control_span("time_at_company", gon.time_at_company, gon.b_time_at_company);
			set_control_span("website", gon.website, gon.b_website);
			set_control_span("phone_company", gon.phone_company, gon.b_phone_company);

			$("#submit_edit_story_1").on('click', function() {
				var input_user_name_first = $("#user_name_first").val();
				var input_user_name_last = $("#user_name_last").val();
				var input_publisher_user_email = $("#publisher_user_email").val();
				var input_publisher_user_location = $("#publisher_user_location").val();
				var input_publisher_user_name_alias = $("#publisher_user_name_alias").val();
				var input_publisher_user_job_title = $("#publisher_user_job_title").val();
				var input_publisher_user_name_company = $("#publisher_user_name_company").val();
				var input_publisher_user_time_at_company = $("#publisher_user_time_at_company").val();
				var input_publisher_user_website = $("#publisher_user_website").val();
				var input_publisher_user_phone_company = $("#publisher_user_phone_company").val();

				// var obj_list = '{"publisher_product_description_id":' + <#%= @publisher_product_description_id %#> + 
							   // ', "publisher_product_id":' + <#%= @publisher_product_id %#> + 
							   // ', "publisher_id":' + <#%= @publisher_id %#> + 
							   // ', "name_first":"' + input_publisher_product_description_name_first + 
							   // '"}';      
				var obj_list = '{ "name_first":"' + input_user_name_first +
							   '", "name_last":"' + input_user_name_last +
							   '", "email":"' + input_publisher_user_email +
							   '", "location":"' + input_publisher_user_location +
							   '", "name_alias":"' + input_publisher_user_name_alias +
							   '", "job_title":"' + input_publisher_user_job_title +
							   '", "name_company":"' + input_publisher_user_name_company +
							   '", "time_at_company":"' + input_publisher_user_time_at_company +
							   '", "website":"' + input_publisher_user_website +
							   '", "phone_company":"' + input_publisher_user_phone_company +
							   '"}';      
			  	var obj = '{ "publisher_user": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	url: '/publisher_users/update_story_1',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						// alert(data.name_first);
						set_control_span("name_first", data.name_first, data.b_name_first);
						set_control_span("name_last", data.name_last, data.b_name_last);
						set_control_span("email", data.email, data.b_email);
						set_control_span("location", data.location, data.b_location);
						set_control_span("name_alias", data.name_alias, data.b_name_alias);
						set_control_span("job_title", data.job_title, data.b_job_title);
						set_control_span("name_company", data.name_company, data.b_name_company);
						set_control_span("time_at_company", data.time_at_company, data.b_time_at_company);
						set_control_span("website", data.website, data.b_website);
						set_control_span("phone_company", data.phone_company, data.b_phone_company);
						cancel_edit_story_1();
						// // set_control_required("name_first", data.b_required);
						// show_control("name_first");	
						// $("#btns_edit_story_1").addClass("hidden");
						// $("#open_edit_story_1").removeClass("hidden");										
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});




            $('.tip').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout'
                })
            });			
			
            $('.tip-bottom-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'top center',
				        at: 'bottom center'
				        // target: $('.tip-bottom-center')
    				}                    
                })
            });			

            $('.tip-top-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'bottom center',
				        at: 'top center'
				        // target: $('.tip-top-center')
    				}                    
                })
            });			
		
		
			// $("#div_pop_dialog_test").on('click', function() {
				// $("#a_pop_dialog_test").click();
			// });	
		
			// // $(".group1").colorbox({rel:'group1'});
			// // $(".group2").colorbox({rel:'group2', transition:"fade"});
			// // $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
			// // $(".group4").colorbox({rel:'group4', slideshow:true});
			// // $(".ajax").colorbox();
			// // $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
			// // $(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
			// // $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
			// $(".inline").colorbox({inline:true, width:"400px"});
			// // $(".callbacks").colorbox({
				// // onOpen:function(){ alert('onOpen: colorbox is about to open'); },
				// // onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
				// // onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
				// // onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
				// // onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
			// // });
			// // $('.non-retina').colorbox({rel:'group5', transition:'none'})
			// // $('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
			// // $("#click").click(function(){ 
				// // $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
				// // return false;
			// // });
		
		
			// $("#btn_pop_dialog_2_test").on('click', function() {
				// $("#dialog_14").jqmShow();
				// // $("#primary").val('true');
			// });			
		});
	  
	</script>
