

							<% if @publisher_product_pdfs.any? %>								
								<% for i in 0..(@publisher_product_pdfs.count - 1) %>
					   				<div class="table" style="margin-left: 20px;">
							   			<div class="row">
							   				<div class="cell-20"></div>
							   				<div class="cell-300">
			
												<% if !@publisher_product_pdfs[i].publisher_product_pdf_image.nil? %>
												<% publisher_product_pdf_image = @publisher_product_pdfs[i].publisher_product_pdf_image %>
									   				<div class="">
														<ul class="image-grid image-grid-caption image-grid-caption-height-50">
															<li>
																<figure class="figure-box-200-270">
																	<img alt="image not appearing" src="<%= publisher_product_pdf_image.image_url(:image_200_250) if publisher_product_pdf_image.image? %>" />
																	<figcaption class="figcaption-1">
																		<span><%= link_to "Edit", publisher_product_pdf_images_path(:publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id) %></span>
																		<br>
																		<span><%= link_to "Delete", destroy_image_publisher_product_pdf_images_path( :publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id, :publisher_product_pdf_image_id => publisher_product_pdf_image.id, :descr => 1 ), :confirm => 'Delete this image?', :method => :post %></span>
																	</figcaption>
																</figure>
															</li>
														</ul>
										   			</div>
										   			<div class="image-grid-text-1-container">
														<span><%= link_to "Edit", publisher_product_pdf_images_path(:publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id) %></span>
														&nbsp;&nbsp;&nbsp;			   				
										   				<span><%= link_to "Delete", destroy_image_publisher_product_pdf_images_path( :publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id, :publisher_product_pdf_image_id => publisher_product_pdf_image.id, :descr => 1 ), :confirm => 'Delete this image?', :method => :post %></span>
										   			</div>
												<% else %>
									   				<div class="">
														<ul class="image-grid image-grid-caption image-grid-caption-height-50">
															<li>
																<figure class="figure-box-200-270">
																	<img alt="logo not appearing" src="../images_publisher_product_pdf_image/add_generic_publisher_product_pdf_image_w200_h250.png" width="200px"/>
																	<figcaption class="figcaption-1">
																		<span><%= link_to "Add a PDF image", new_publisher_product_pdf_image_path(:publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id, :publisher_product_pdf_id => @publisher_product_pdfs[i].id, :descr => 1) %></span>	
																	</figcaption>
																</figure>
															</li>
														</ul>
										   			</div>
										   			<div class="image-grid-text-1-container">
										   				<span><%= link_to "&laquo; Add a PDF image &raquo;".html_safe, new_publisher_product_pdf_image_path(:publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id, :publisher_product_pdf_id => @publisher_product_pdfs[i].id, :descr => 1) %></span>
										   				<%= button_to "Delete", { :action => 'destroy', :id => dtab1let.id }, :method => :delete, data: { confirm: delete_msg }, :class => 'delete-btn', :remote => true %>
										   			</div>
												<% end %>
							   					
							   				</div>
							   				<div class="cell-275" style="vertical-align: top; padding-top: 16px;">
											
												<div><a href="<%= @publisher_product_pdfs[i].name_file.url %>"><%= @publisher_product_pdfs[i].name_pdf %></a></div>
														
												<% if false %>
												<div id="image_container"></div>
											    <script id="imageTemplate_<%= i %>" type="text/x-jQuery-tmpl">
											    	<img src="../images_publisher_product_logo/<%= @publisher_product_logos[i].name_file %>" alt="<%= @publisher_product_logos[i].name_file %>">
													<% delete_msg = "Delete Logo Image ID: " + @publisher_product_logos[i].id.to_s + " ?" %>
													<%= button_to "Delete", {:action => 'destroy', :id => @publisher_product_logos[i].id}, :method => :delete, :confirm => delete_msg, :class => 'delete-btn' %>
										    	</script>
												<% end %>
														
							   				</div>
							   				
										</div>
									</div>
							
								<% end %>
					
							<% else %>
					
								<div>
									<span class="normal-red pad-left-20">No pdfs</span>
								</div>
		
							<% end %>
