			

			
			<div class="pad-left-20">
				
				<!-- <#%= form_for(:image_form, :url => {:controller => :blog_posts, :action => :create_asset}, :remote => true, :html => {:method => :post, :id => 'upload_form', :multipart => true}) do |f| %#>
				Upload a file: <#%= f.file_field :uploaded_data %#> -->
				
				<!-- <#%= form_for @publisher_product_pdf_new, :html => {:multipart => true}, :authenticity_token => true, :remote => true do |f| %#> -->
				<%= form_for(:form_pdf, :url => {:controller => :publisher_product_pdfs, :action => :create}, :remote => true, :html => {:method => :post, :id => 'upload_form_pdf', :multipart => true}) do |f| %>
				   <!-- f.error_messages  -->
				   <!-- f.hidden_field :publisher_id  -->
				   <!-- f.hidden_field :publisher_journalposter_id  -->
				  <p>
				     <%= f.label :name_pdf, 'PDF Title', :class => 'box-detail-title' %> 
				     <br />
				     <%= f.text_field :name_pdf, :class => 'input-pdf' %>
				  </p>
				  <p>
				    <%= f.file_field :name_file, :class => 'input-pdf' %>
				  </p>
				  <!-- <input id="publisher_profile_image_publisher_id" name="publisher_profile_image[publisher_id]" type="hidden" value="<#%= @publisher_id %#>" /> -->
				  <br>
				  <!-- <p>
				     f.label :remote_image_url, "or image URL" 
				     <br />
				     f.text_field :remote_image_url 
				  </p> -->
				  <!-- <#%= f.hidden_field 'descr', :value => @descr %#> -->
				  <%= f.hidden_field 'publisher_id', :value => @publisher_id %>
				  <%= f.hidden_field 'publisher_product_id', :value => @publisher_product_id %>
				  <!-- <#%= f.hidden_field 'authenticity_token', :value => form_authenticity_token %#> -->
				  <!-- <p><#%= f.submit :class => 'btn-submit', :value => 'Upload PDF' %#></p> -->
				  <p><%= f.submit 'Upload PDF', :class => 'btn-submit-pdf' %></p>
				<% end %>
			</div>
