 	<style>
 		
		*, *:after, *:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.clearfix:before, .clearfix:after { content: " "; display: table; }
		.clearfix:after { clear: both; }
		a {
			color: #888;
			text-decoration: none;
		}
		a:hover,
		a:active {
			color: #333;
		}
		.profile-grid {
			padding: 0px 0px 0px 0px;
			/*max-width: 1300px;*/
			margin: 0 auto;
			list-style: none;
			/*text-align: center;*/
		}
		.profile-grid li {
			display: inline-block;
			width: 250px;
			/*height: 300px;*/
			margin: 0;
			padding: 0px 0px 0px 0px;
			position: relative;
			text-align: center;
		}
		.profile-grid figure {
			margin: 0;
			position: relative;
			/*height: 300px;*/
			/*padding-left: 6px;*/
			padding-top: 0px;	
			background-color: #fff;
		}
		.profile-grid figure img {
			max-width: 100%;
			display: block;
			position: relative;
		}
		.profile-grid figcaption {
			position: absolute;
			top: 0;
			left: 0;
			padding: 10px;
			/*background: #2c3f52;*/
			background: #000;
			color: #ed4e6e;
		}
		/*.profile-grid figcaption h3 {
			margin: 0;
			padding: 0;
			color: #fff;
		}*/
		/*.profile-grid figcaption span:before {
			content: '';
		}*/
		.profile-grid figcaption {
			text-align: right;
		}
		.profile-grid figcaption span a {
			text-align: right;
			/*padding: 5px 10px;*/
			/*border-radius: 2px;*/
			/*display: inline-block;*/
			/*background: #ed4e6e;*/
			color: #fff;
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 14px;
			font-weight: 400;					  	
		}
		.profile-cs-style-3 figure {
			/*border: solid 1px #000;*/
			overflow: hidden;
		}
		.profile-cs-style-3 figure img {
			-webkit-transition: -webkit-transform 0.2s;
			-moz-transition: -moz-transform 0.2s;
			transition: transform 0.2s;
		}
		.no-touch .profile-cs-style-3 figure:hover img,
		.profile-cs-style-3 figure.cs-hover img {
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			/*-webkit-transform: translateY(-6px);
			-moz-transform: translateY(-6px);
			-ms-transform: translateY(-6px);
			transform: translateY(-6px);*/
		}
		.profile-cs-style-3 figcaption {
			height: 50px;
			width: 100%;
			top: auto;
			bottom: 0;
			opacity: 0;
			-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			transform: translateY(100%);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
		}
		.no-touch .profile-cs-style-3 figure:hover figcaption,
		.profile-cs-style-3 figure.cs-hover figcaption {
			opacity: .8;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s;
			transition: transform 0.4s, opacity 0.1s;
		}
		/*.profile-cs-style-3 figcaption a {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}*/
		@media screen and (max-width: 31.5em) {
			.profile-grid {
				padding: 0px 0px 0px 0px;
			}
			.profile-grid li {
				width: 100%;
				min-width: 30px;
			}
		}
 		
 	</style>


					<div style="height: 30px;"></div>

					<div class="pad-left-20">
						<span class="jp-title"><%= @user.name_first %> <%= @user.name_last %></span>
					</div>
					<div style="height: 10px;"></div>
					<div class="pad-left-20">
						<span class="jp-title-sub">title-sub</span>
					</div>
					
					<div style="height: 30px;"></div>
			
				   	<div class="pad-left-20">
				   		<div class="table">
				   			<div class="row">
								<div id="profile_image">
								
								
								<% if @user_profile_images.any? %>   				
								
									<% for user_profile_image in @user_profile_images %>
					   				<div class="cell-180">
										<ul class="profile-grid profile-cs-style-3">
											<li>
												<figure>
													<img id="id_image" alt="photo not appearing" src="<%= user_profile_image.image_url(:profile_600_600) if user_profile_image.image? %>"  width="250px" />
													<figcaption>
														<span><%= link_to "Options", "#" %></span>
														<br>
													</figcaption>
												</figure>
											</li>
										</ul>
						   			</div>
						   			<div class="cell-400">
						   			</div>
									<% end %>

								<% else %>

					   				<div class="cell-180">
										<!-- <ul class="grid cs-style-3"> -->
										<ul class="profile-grid profile-cs-style-3">
											<li>
												<figure>
													<img alt="logo not appearing" src="../images_avatar/avatar_generic_1_w250_h310.png" />
													<figcaption>
														<span><%= link_to "Options", "#" %></span>											
													</figcaption>
												</figure>
											</li>
										</ul>
						   			</div>
						   			<div class="cell-400">
						   				<!-- <span><#%= link_to "Add a photo", new_user_profile_image_path(:user_id => current_user.id) %#></span> -->
						   			</div>
								
								<% end %>
								
								
<% if false %>								
								<% if @publisher_profile_images.any? %>   				
								
									<% for publisher_profile_image in @publisher_profile_images %>
					   				<div class="cell-180">
											<ul class="profile-grid profile-cs-style-3">
												<li>
													<figure>
														<img id="id_image" alt="photo not appearing" src="<%= publisher_profile_image.image_url(:profile) if publisher_profile_image.image? %>" width="250px" />
					
														<figcaption>
															<span><%= link_to "Delete", publisher_profile_image, :confirm => 'Delete this logo?', :method => :delete, :params => {:publisher_profile_image_id => publisher_profile_image.id} %></span>
							        						<!-- <span>= link_to "edit", edit_publisher_profile_image_path(publisher_profile_image) </span> -->
														</figcaption>
													</figure>
												</li>
											</ul>
									        <!-- image_tag publisher_profile_image.image_url(:logo) if publisher_profile_image.image?  -->
						   			</div>
						   			<div class="cell-400">
										<!-- <span><#%= link_to '&laquo; Delete image &raquo;'.html_safe, publisher_profile_image, :confirm => 'Delete this photo?', :method => :delete, :params => {:publisher_profile_image_id => publisher_profile_image.id}, :class => 'links' %#></span> -->						   				
										<br>
										
						   			</div>
									<% end %>

								<% else %>

					   				<div class="cell-180">
										<ul class="grid cs-style-3">
											<li>
												<figure>
													<img alt="logo not appearing" src="../journal_poster/logo_journalposter_generic.jpg" />
													<figcaption>
														<span><%= link_to "Add a photo", new_publisher_profile_image_path(:publisher_id => @publisher_id) %></span>											
													</figcaption>
												</figure>
											</li>
										</ul>
						   			</div>
						   			<div class="cell-400">
										<span><%= link_to '&laquo; Add a photo &raquo;'.html_safe, new_publisher_profile_image_path(:publisher_id => @publisher_id), :class => 'links' %></span>
						   			</div>
								
								<% end %>
<% end %>								
								</div>
					   		</div>
					   	</div> 
					</div>
			
			
			
    				<!-- 
    				:id, 
                    :user_id,    
                    :name, 
                    :address, 
                    :city, 
                    :state, 
                    :country, 
                    :zip,
                    :phone, 
                    :url, 
                    :description, 
                    :company_contact_name_first, 
                    :company_contact_name_last,
                    :company_contact_phone, 
                    :company_contact_email, 
                    :created_at, 
                    :updated_at 
                    -->
			
  				  	<!-- 
  				  	:id, 
                  	:name_first,
                  	:name_last,
                  	:email, 
                  	:username, 
                  	:account_type, 
                  	:has_account, 
                  	:password, 
                  	:password_confirmation, 
                  	:bd_month,
                  	:bd_day,
                  	:bd_year,
                  	:gender,
                  	:created_at, 
                  	:updated_at 
                  	-->
			
					<div class="line-space-20"></div>

					<% if !@user.nil? %>

						<div class="pad-left-20">
							<div class="jp-table-descr">
								<div class="row">
									<div class="jp-col-left">
										<span class="form-text-index">User ID:</span>
									</div>
									<div class="jp-col-right">
										<span class="form-text-index"><%= @user.id %></span>							
									</div>
								</div>
								<div class="input-form-spacer-jp"></div>        
								<div class="row">
									<div class="jp-col-left">
										<span class="form-text-index">First Name:</span>
									</div>
									<div class="jp-col-right">
										<span class="form-text-index"><%= @user.name_first %></span>							
									</div>
								</div>
								<div class="input-form-spacer-jp"></div>        
								<div class="row">
									<div class="jp-col-left">
										<span class="form-text-index">Last Name:</span>
									</div>
									<div class="jp-col-right">
										<span class="form-text-index"><%= @user.name_last %></span>							
									</div>
								</div>
								
							</div>
						</div>

					<% end %>

