
																<!-- <#%= @a_publisher_product_category_subjects[0] 								%#> -->																	
																<!-- <#% 	if !@a_publisher_product_category_subjects.nil?   				%#> -->
																<% 	if gon_category_subject_text.count > 0 					%>
																<% 		s = "" 																%>
																<% 		span_id = "" 														%>
																<% 		i = 0 																%>
																<% 		@a_publisher_product_category_subjects.each do |category_subject| 	%>
																<% 			s = category_subject 											%>
																<% 			if s.count(' ') > 0 											%>
																<% 				s = s.gsub! ' ', '_' 										%>
																<% 			end 															%>
																<% 			if s.count(' ') > 0 											%>
																<% 				s = s.gsub! '/', '=' 										%>
																<% 			end 															%>
																<% 			i += 1	 														%>
																<% 			span_id = "id_span_box_2_" + i.to_s 							%>
																<% 			if (i%2 == 0 ? true : false) 									%>
																				<span id="<%= span_id %>" class="box-odd"></span>
																<% 			else 															%>
																				<span id="<%= span_id %>" class="box-even"></span>
																<% 			end 															%>
																<%= 		javascript_tag  do 												%>
																				var t = "<%= s %>";
																				t = t.replace(/_/g, "&nbsp;");
																				t = t.replace(/=/g, "&#47;");
																    			$("#<%= span_id %>").html(t);
																<% 			end 															%>
																<% 		end 																%>
																<% 	end 																	%>
																<!-- <#% 	end 															%#> -->










																	
																<% s = "" %>
																<% span_id = "" %>
																<% i = 0 %>
																<% i_s = "" %>
																<% @content_type_text.each do |content_type| %>
																	<% s = content_type %>
																	<% if s.count(' ') > 0 %>
																	<% 	s = s.gsub! ' ', '_' %>
																	<% end %>
																	<% if s.count(' ') > 0 %>
																	<% 	s = s.gsub! '/', '=' %>
																	<% end %>
																	<% i += 1 %>
																	<% i_s = i.to_s %>
																	<% span_id = "id_span_" + i_s %>
																	<% if (i%2 == 0 ? true : false) %>
																		<span id="<%= span_id %>" class="box-odd"></span>
																	<% else %>
																		<span id="<%= span_id %>" class="box-even"></span>
																	<% end %>
																	<%= javascript_tag  do %>
																		var t = "<%= s %>";
																		t = t.replace(/_/g, "&nbsp;");
																		t = t.replace(/=/g, "&#47;");
																	    $("#<%= span_id %>").html(t);
																	<% end %>
																<% end %>
																														
			<% if false %>													
																	<!-- <#% s = content_type.gsub! ' ', '_' %#> -->
																	<% s = content_type %>
																	<% i += 1 %>
																	<% span_id = "id_span_" + i.to_s %>
																	<% if (i%2 == 0 ? true : false) %>
																		<span id="<%= span_id %>" class="box-odd"></span>
																	<% else %>
																		<span id="<%= span_id %>" class="box-even"></span>
																	<% end %>
																	<%= javascript_tag  do %>
																		alert(<%= s %>);
																		var t = "<%= s %>";
																	    t = t.replace(/_/g, "&nbsp;");
																	    $("#<%= span_id %>").html(t);
																	<% end %>
			<% end %>
																														
			
			
			<% if false %>
																<% @word_test.each do |wt| %>
																	<% s = wt.gsub! ' ', '_' %>
																	<% i += 1 %>
																	<% span_id = "id_span_" + i.to_s %>
																	<% if (i%2 == 0 ? true : false) %>
																		<span id="<%= span_id %>" style="color: red;"></span>
																	<% else %>
																		<span id="<%= span_id %>" style="color: blue;"></span>
																	<% end %>
																	<%= javascript_tag  do %>
																		var t = "<%= s %>";
																	    t = t.replace(/_/g, "&nbsp;");
																	    $("#<%= span_id %>").html(t);
																	<% end %>													
																<% end %>
			<% end %>
			
																
			<% if false %>													
																<% @content_types.each do|content_type| %>
																	<span value="<%= content_type.id %>"><%= content_type.col_1 %></span>
																	&nbsp;&nbsp;
																<% end %>
			<% end %>												
