
																<!-- <#%= @a_publisher_product_category_subjects[0] 								%#> -->																	
																<!-- <#% 	if !@a_publisher_product_category_subjects.nil?   				%#> -->
																<% 	if @a_publisher_product_category_subjects.count > 0 					%>
																<% 		s = "" 																%>
																<% 		span_id = "" 														%>
																<% 		i = 0 																%>
																<% 		@a_publisher_product_category_subjects.each do |category_subject| 	%>
																<% 			s = category_subject 											%>
																<% 			if s.count(' ') > 0 											%>
																<% 				s = s.gsub! ' ', '_' 										%>
																<% 			end 															%>
																<% 			if s.count(' ') > 0 											%>
																<% 				s = s.gsub! '/', '=' 										%>
																<% 			end 															%>
																<% 			i += 1	 														%>
																<% 			span_id = "id_span_box_2_" + i.to_s 							%>
																<% 			if (i%2 == 0 ? true : false) 									%>
																				<span id="<%= span_id %>" class="box-odd"></span>
																<% 			else 															%>
																				<span id="<%= span_id %>" class="box-even"></span>
																<% 			end 															%>
																<%= 		javascript_tag  do 												%>
																				var t = "<%= s %>";
																				t = t.replace(/_/g, "&nbsp;");
																				t = t.replace(/=/g, "&#47;");
																    			$("#<%= span_id %>").html(t);
																<% 			end 															%>
																<% 		end 																%>
																<% 	end 																	%>
																<!-- <#% 	end 															%#> -->
