


	<style>
		
		.figure-pdf-image-generic:hover {
			cursor: pointer;
		}
		
	</style>

	<style>

		span.label-pdf-delete {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			color: #888;
		}
		span.label-pdf-delete:hover {
			text-decoration: underline;
			cursor: pointer;			
		}
		
	</style>

	<style>
	
		.form-info-outer-pdf {
			height: 110px;
		}
		.form-info-inner-pdf {
			height: 90px;
			padding-top: 10px;
			padding-right: 10px;
			padding-left: 20px;

		}
		
	</style>										

							<div style="height: 20px;"></div>

							<% if @publisher_product_pdfs.any? %>								
								<% i = 0 %>
								<% @publisher_product_pdfs.each do |publisher_product_pdf| %>
							   		<div class="table">
							   			<div class="row">
							   				<div class="cell-10" style="height: 10px;"></div>
							   				<div class="cell-230">
												<div class="profile-grid profile-cs-style-3">
													<% img = publisher_product_pdf_image_for(publisher_product_pdf) %>
													<% if !img.nil? %>
														<figure class="figure-pdf-image">
															<a href="<%= publisher_product_pdf.name_file %>"><img alt="logo not appearing" src="<%= img %>" width="200px" /></a>
															<figcaption class="figcaption-2">
																<div class="tip-top-center"><%= button_to "", destroy_pdf_image_publisher_product_descriptions_path(:publisher_product_pdf_id => publisher_product_pdf.id), data: { confirm: 'Delete this PDF image?' }, :remote => true, class: 'x-container' %></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Delete</div>
												                </div>																								
															</figcaption>
															<!-- <figcaption class="figcaption-1">
																<span>Test</span>
															</figcaption> -->
														</figure>
													<% else %>
														<figure class="figure-pdf-image-generic">
															<img alt="logo not appearing" src="../images_publisher_product_pdf_image/add_generic_publisher_product_pdf_image_w200_h270.png" width="200px"/>
															<figcaption class="figcaption-1">
																<span class="dialog-51 label-dialog-figcaption" name="<%= publisher_product_pdf.id %>">Add a PDF image</span>
																<!-- <span><#%= link_to "Add a PDF image", new_publisher_product_pdf_image_path(:publisher_id => @publisher_id, :publisher_product_id => @publisher_product_id, :publisher_product_pdf_id => publisher_product_pdf.id) %#></span> -->	
															</figcaption>
														</figure>
													<% end %>
												</div>
							   				</div>
							   				<div class="cell-10"></div>
							   				<div class="cell-440">
												<!-- <div><a href="<#%= publisher_product_pdf.name_file.url %#>"><#%= publisher_product_pdf.name_pdf %#></a></div> -->
												<div class="listing-space"></div>
												<div class="table pad-marg-null">
													<div class="row">
														<div class="cell-370">
															<div id="edit_name_pdf_<%= i %>" class="hidden">
																<div class="width-350">
																	<input id="publisher_product_pdf_name_pdf_<%= i %>" name="<%= i %>" class="publisher-product-pdf-name-pdf input-product width-350 height-24" tabindex="5100" type="text" value="<%= publisher_product_pdf.name_pdf %>" placeholder="" />
																</div>
																<div class="width-200 box-detail-padding">
																	<div style="display: inline-block;">
																		<div id="submit_name_pdf_<%= i %>" name="<%= i %>" class="submit-name-pdf btn-submit-product" tabindex="5130">
																			Save
																			<div name="<%= publisher_product_pdf.id %>" class="hidden-pdf-id" style="display: none;"></div>
																		</div>
																	</div>
																	<div style="display: inline-block;">
																		<div id="cancel_name_pdf_<%= i %>" name="<%= i %>" class="cancel-name-pdf btn-submit-product" tabindex="5140">Cancel</div>
																	</div>
																</div>													
															</div>
															<div id="show_name_pdf_<%= i %>">
																<span id="span_name_pdf_<%= i %>" class="form-text-16"><%= publisher_product_pdf.name_pdf %></span>
															</div>
															<div style="height: 40px;"></div>
															<div>
																<span name="<%= i %>" class="label-pdf-delete">&laquo; Delete PDF &raquo;</span>
																<div class="tip-top-center"><%= button_to "", destroy_pdf_publisher_product_descriptions_path(:publisher_product_pdf_id => publisher_product_pdf.id), data: { confirm: 'Delete this PDF?' }, :remote => true, class: 'hidden', id: 'pdf_delete_' + i.to_s %></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Delete</div>
												                </div>																								
															</div>
															
															
														</div>
														<div class="cell-60">
			
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_info_name_pdf_<%= i %>" name="<%= i %>" class="open-info-name-pdf question-icon info-show-20 required-1 pop-info tip-top-center" tabindex="5110"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">What is this?</div>
												                </div>																								
															</div>																		
															<div class="cell-20 min-h-20 min-w-20">
																<!-- <div id="required_name_pdf_<#%= i %#>" name="<#%= i %#>" class="required-1 pop-info tip-top-center"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Required</div>
												                </div> -->																								
															</div>
															<div class="cell-20 min-h-20 min-w-20">
																<div id="open_edit_name_pdf_<%= i %>" name="<%= i %>" class="open-edit-name-pdf edit-icon-right form-edit-open-20 pop-info tip-top-center" tabindex="5120"></div>
												                <div class="tip-content">
												                    <div class="tooltiptext">Edit</div>
												                </div>																								
															</div>
														</div>
													</div>		
												</div>
												<div style="height: 10px;"></div>
											   	<div id="form_info_name_pdf_<%= i %>" class="form-info-name-pdf form-info-outer-pdf pad-marg-null" style="width: 440px;">
											   		<div class="form-info-inner form-info-inner-pdf">
											   			<div id="form_info_name_pdf_a_<%= i %>">
													   		<div class="table">
													   			<div class="row">
													   				<div class="cell-100percent form-edit-background">
													   					<div id="close_info_name_pdf_<%= i %>" name="<%= i %>" class="close-info-name-pdf form-edit-close pop-info tip-left-center">
													   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
													   					</div>
														                <div class="tip-content">
														                    <div class="tooltiptext">Close</div>
														                </div>													   																		   					
													   					<div style="clear: both;"></div>
													   				</div>
											   					</div>
															</div>				   				
													   		<div class="table">
													   			<div class="row">
													   				<div class="cell-100percent form-edit-background">
																		<span class="info-text-2">
																			Research based studies validating the publisher's approach or validating student achievement through use.															
																		</span>
																		<!-- <div>
																			<div><span class="info-text-1">Core</span></div>
																			<div style="padding: 0 0 0 6px;">
																				<span class="info-text-2">
																					Provides content or curriculum that address core subjects.																		
																				</span>
																			</div>
																		</div> -->										   					
													   				</div>
											   					</div>
															</div>				   				
														</div>
													</div>
												</div>
												
												
												
												
												
												
												
												
												
							   				</div>
							   				<div class="cell-10"></div>
							   			</div>
									</div>								
									<% i += 1 %>

								<% end %>
					
							<% else %>
					
								<!-- <div>
									<span class="normal-red pad-left-20">No pdfs</span>
								</div> -->
		
							<% end %>












												<% if false %>
												<div id="image_container"></div>
											    <script id="imageTemplate_<%= i %>" type="text/x-jQuery-tmpl">
											    	<img src="../images_publisher_product_logo/<%= @publisher_product_logos[i].name_file %>" alt="<%= @publisher_product_logos[i].name_file %>">
													<% delete_msg = "Delete Logo Image ID: " + @publisher_product_logos[i].id.to_s + " ?" %>
													<%= button_to "Delete", {:action => 'destroy', :id => @publisher_product_logos[i].id}, :method => :delete, :confirm => delete_msg, :class => 'delete-btn' %>
										    	</script>
												<% end %>


	<script>
		
		
		function closeAddPdfImage() {
			$("#close_form51").trigger('click');
		};	  
		
		function set_pdf(a_name_pdf) {
			// var s_id = "";
			var s_name_pdf = "";
			var b_name_pdf = false;
			for( var i = 0; i < a_name_pdf.length; i++ ) {
				// s_id = "#span_name_pdf_" + i;
				s_name_pdf = a_name_pdf[i];
				if(s_name_pdf.length > 0) {
					b_name_pdf = true;
				}
				else {
					b_name_pdf = false;
					s_name_pdf = "PDF Name";
				}
				set_pdf_id(i, s_name_pdf, b_name_pdf);
				// $(s_id).html(s_name_pdf);
			}
		}
		
		function show_control_pdf(cntrl) {
			// alert(cntrl);
			var s_edit = "#edit_" + cntrl;
			var s_show_open = "#show_" + cntrl + ", #open_edit_" + cntrl;		
    		$(s_edit).fadeOut(300, function(){
    			$(s_edit).addClass("hidden");
    			$(s_show_open).fadeIn(1300).removeClass("hidden");
    			$(s_show_open).fadeIn(1300).removeClass("hidden").removeClass("visibility-hidden");
    		});
		}

		function set_pdf_id(n_name, name_pdf, b_name_pdf) {
			var s_id = "#span_name_pdf_" + n_name;
			if (b_name_pdf) {
				$(s_id).removeClass("color-no-record").addClass("color-record");
			}
			else {
				$(s_id).removeClass("color-record").addClass("color-no-record");				
			}
			$(s_id).html(name_pdf);
		}


		
		$(document).ready( function () {				
		
			// $('#dvLoading').fadeOut(10000);
		
			// $("#new_publisher_product_logo").on('submit', function() {
				// $("#dvLoading").removeClass("dvLoading-display-none");
				// // $('#dvLoading').fadeOut(2000);				
			// });	
		
			var img = $(".figure-pdf-image img");
			$("<img/>")
	    		.attr("src", $(img).attr("src"))
	    		.load(function() {
	        		var img_width = this.width; 
	        		$(".figure-pdf-image").css({
	        			width : this.width
	        	});	        		
	    	});		

			var img = $(".figure-pdf-image-generic img");
			$("<img/>")
	    		.attr("src", $(img).attr("src"))
	    		.load(function() {
	        		var img_width = this.width; 
	        		$(".figure-pdf-image-generic").css({
	        			width : this.width
	        	});	        		
	    	});		
		
			
			
			$(".figure-pdf-image-generic").on('click', function() {
				$(".dialog-51").trigger('click');
			});			
			$(".dialog-51").on('click', function() {
				var s_id = $(this).attr("name");
				// alert("insert s_id = " + s_id.toString());
				// $("#publisher_product_pdf_image_publisher_product_pdf_id").val(s_id);
				$("#publisher_product_pdf_id").val(s_id);
				$("#dialog_51").jqmShow();
			});
			$('#dialog_51').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-740px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog_51').animate(
						{bottom:'-=800', top:'+=800'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog_51').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
							// $('#dl_email').focus();
						}
					);
				}
			}); 		
			
			
			$(".label-pdf-delete").on('click', function() {
				var n_name = $(this).attr("name");
				var id = "#pdf_delete_" + n_name.toString();
				$(id).trigger('click');
			});
			
			
			
			
			
			
			
			
			
			
			
			
			
			// gon_name_pdf = gon.name_pdf;
			// set_pdf(gon_name_pdf);
			
					
		
		    $(".submit-name-pdf").keypress(function(e){
		    	var n_name = $(this).attr("name");
		    	var s_id = "#submit_name_pdf_" + n_name.toString();
      			if(e.keyCode==13)
      			$(s_id).click();
    		});
    		$(".cancel-name-pdf").keypress(function(e){
		    	var n_name = $(this).attr("name");
		    	var s_id = "#cancel_name_pdf_" + n_name.toString();
      			if(e.keyCode==13)
      			$(s_id).click();
    		});
			$(".open-edit-name-pdf").click(function(){
				var n_name = $(this).attr("name");
		  		var s_show_name_pdf = "#show_name_pdf_" + n_name.toString();
		  		var s_open_edit_name_pdf = "#open_edit_name_pdf_" + n_name.toString();
		  		var s_edit_name_pdf = "#edit_name_pdf_" + n_name.toString();
		  		var s_dbl = s_show_name_pdf + "," + s_open_edit_name_pdf; 
				var s_publisher_product_pdf_name_pdf = "#publisher_product_pdf_name_pdf_" + n_name.toString();
	    		$(s_dbl).fadeOut(300, function(){
	    			$(s_show_name_pdf).addClass("hidden");
	    			$(s_open_edit_name_pdf).addClass("visibility-hidden");
	    			$(s_edit_name_pdf).fadeIn(1300).removeClass("hidden");
	    			$(s_publisher_product_pdf_name_pdf).focus();
	    		});
		  	});
			$(".cancel-name-pdf").on('click', function() {
				var n_name = $(this).attr("name");
				var s_name_pdf = "name_pdf_" + n_name.toString();
				show_control_pdf(s_name_pdf);
			});
			$(".close-info-name-pdf").click(function(){
				var n_name = $(this).attr("name");
		  		var s_id = "#form_info_name_pdf_" + n_name.toString();
				var s_id_a = "#form_info_name_pdf_a_" + n_name.toString();
		    	$(s_id_a).fadeOut(700, function(){ $(s_id).slideUp(400) });
		  	});
		  	$(".open-info-name-pdf").click(function(){
		  		var n_name = $(this).attr("name");
		  		var s_id = "#form_info_name_pdf_" + n_name.toString();
		  		var s_id_a = "#form_info_name_pdf_a_" + n_name.toString(); 
		    	$(s_id).slideDown(400, function(){ $(s_id_a).fadeIn( 2000 ) });
		  	});	    					
			$(".submit-name-pdf").on('click', function() {
				var n_name = $(this).attr("name");
				var s_pdf_id = $(this).find(".hidden-pdf-id").attr("name");
				// alert(s_pdf_id);
				var s_id = "#publisher_product_pdf_name_pdf_" + n_name.toString();
				var input_publisher_product_pdf_name_pdf = $(s_id).val();
				// var obj_list = '{"publisher_product_description_id":' + <#%= @publisher_product_description_id %#> + 
							   // ', "publisher_product_id":' + <#%= @publisher_product_id %#> + 
							   // ', "publisher_id":' + <#%= @publisher_id %#> + 
							   // ', "publisher_product_pdf_id":' + s_pdf_id + 
							   // ', "n_name":' + n_name + 
							   // ', "name_pdf":"' + input_publisher_product_pdf_name_pdf + 
							   // '"}';      
				var obj_list = '{"publisher_product_pdf_id":' + s_pdf_id + 
							   ', "n_name":' + n_name + 
							   ', "name_pdf":"' + input_publisher_product_pdf_name_pdf + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';              
			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_name_pdf',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
	            		set_pdf_id(data.n_name, data.name_pdf, data.b_name_pdf);
						var s_name_pdf = "name_pdf_" + data.n_name.toString();
						// set_control_span(s_name_pdf, s, b)
						show_control_pdf(s_name_pdf);
						// show_control_pdf("name_pdf_0");
						// $("#focus_12").focus();
						// set_updated(data.updated);	
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});

		
		
            $('.tip').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout'
                })
            });			
			
            $('.tip-bottom-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'top center',
				        at: 'bottom center'
				        // target: $('.tip-top-center')
    				}                    
                })
            });			

            $('.tip-top-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'bottom center',
				        at: 'top center'
				        // target: $('.tip-top-center')
    				}                    
                })
            });			
		
		
		
		
		
		
		
		
		
		
		
		
		});		
		
		// function set_publisher_product_pdf_id(pdf_id) {
    		// var id1 = document.getElementById("id_publisher_product_pdf").value
    		// alert(id1);
    		// document.getElementById("id_publisher_product_pdf").value = pdf_id
    		// var id2 = document.getElementById("id_publisher_product_pdf").value
    		// alert(id2);
		// }

	</script>

