<% provide(:title, 'Members') %>


  	<link rel="stylesheet" href="../styles/chosen/chosen.css">
  	<script src="/assets/chosen.jquery.js" type="text/javascript"></script>
  	<script src="/assets/toucheffects.js" type="text/javascript"></script>
  	
  	<script src="/assets/jquery.qtip.min.js" type="text/javascript"></script>
  	<link rel="stylesheet" href="/assets/jquery.qtip.min.css">

	<script src="/assets/jqModal.js"></script>
	<script src="/assets/jquery.easing.1.3.js"></script>
	<link rel="stylesheet" href="/assets/jqModal.css" />
	<script src="../jcrop/js/jquery.Jcrop.js"></script>
	<script type="text/javascript">
	  jQuery(function($){
	    $('#target').Jcrop();
	  });
	</script>
	<link rel="stylesheet" href="../jcrop/css/jquery.Jcrop.css" type="text/css" />






	

	<style>
		
		.search { 
			padding:6px 15px 6px 30px;
			margin:3px; 
			background: url('/assets/search.png') no-repeat 8px 6px; 
			width: 300px;
		}
		.rounded { 
			border-radius:15px; 
			-moz-border-radius:15px; 
			-webkit-border-radius:15px; 
		}		
		input[type=text]{
			color:#bcbcbc;
		}
		input[type=button], input[type=button]:hover {
			position:relative; 
			left:-6px;
			height: 29px;
			border:1px solid #adc5cf;
			background: #e4f1f9; /* Old browsers */
			background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
			background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
			color:#7da2aa;
			cursor: pointer;
		}				
		.lighter, .light, .dark {
			width:100%;
			height:50px;
			padding:10px 0px 0px 0px;
		}
		.lighter{
			background: url('/assets/lighter_grey.jpg');
		}
		.lighter input[type=text]{
			border:1px solid #d0d0d0;
			background-color:#fcfcfc;
		}
		.light{
			background: url('/assets/light_grey.jpg');
		}
		.light input[type=text]{
			border:1px solid #acb1b7;
			background-color:#fcfcfc;
		}
		.dark{
			background: url('/assets/dark_grey.jpg');
		}
		.dark input[type=text]{
			border:1px solid #2a2e31;
			background-color:#2d3035;
			color:#505358;
		}

	</style>

 	<style>
 		
		*, *:after, *:before {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		.clearfix:before, .clearfix:after { content: " "; display: table; }
		.clearfix:after { clear: both; }
		a {
			color: #888;
			text-decoration: none;
		}
		a:hover,
		a:active {
			color: #333;
		}
		.publisher-product-list-grid {
			padding: 0px 0px 0px 0px;
			/*max-width: 1300px;*/
			margin: 0 auto;
			list-style: none;
			/*text-align: center;*/
		}
		.publisher-product-list-grid li {
			display: inline-block;
			width: 100px;
			/*height: 300px;*/
			margin: 0;
			padding: 0px 0px 0px 0px;
			position: relative;
			text-align: center;
		}
		.publisher-product-list-grid-small li {
			display: inline-block;
			/*height: 300px;*/
			margin: 0;
			padding: 0px 0px 0px 0px;
			position: relative;
			text-align: center;
		}
		.publisher-product-list-grid figure {
			margin: 0;
			position: relative;
			/*height: 300px;*/
			/*padding-left: 6px;*/
			padding-top: 0px;	
			background-color: #fff;
			/*border: 1px solid #ccc;*/
		}
		.publisher-product-list-grid figure img {
			max-width: 100%;
			display: block;
			position: relative;
		}
		.publisher-product-list-grid figcaption {
			position: absolute;
			text-align: right;
			font-family: 'Quattrocento Sans', sans-serif;
		    font-size: 14px;
			font-weight: 200;					  				
			top: 0;
			/*left: 0;*/
			padding: 10px;
			background: #000;
		}
		.publisher-product-list-grid figcaption a {
			color: #fff;
		}
		.publisher-product-list-grid figcaption a:hover{
			color: #fff;
		}
		.publisher-product-list-caption figure {
			overflow: hidden;
		}
		.publisher-product-list-caption figure img {
			-webkit-transition: -webkit-transform 0.2s;
			-moz-transition: -moz-transform 0.2s;
			transition: transform 0.2s;
		}
		.no-touch .publisher-product-list-caption figure:hover img,
		.publisher-product-list-caption figure.cs-hover img {
			/*-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);*/
			
			/*-webkit-transform: translateY(-6px);
			-moz-transform: translateY(-6px);
			-ms-transform: translateY(-6px);
			transform: translateY(-6px);*/
		}
		.publisher-product-list-caption figcaption {
			height: 34px;
			width: 100%;
			top: auto;
			bottom: 0;
			opacity: 0;
			-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			transform: translateY(100%);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
		}
		.no-touch .publisher-product-list-caption figure:hover figcaption,
		.publisher-product-list-caption figure.cs-hover figcaption {
			opacity: .8;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s;
			transition: transform 0.4s, opacity 0.1s;
		}
		/*.publisher-product-list-caption figcaption a {
			position: absolute;
			bottom: 20px;
			right: 20px;
		}*/
		@media screen and (max-width: 31.5em) {
			.publisher-product-list-grid {
				padding: 0px 0px 0px 0px;
			}
			.publisher-product-list-grid li {
				width: 100%;
				min-width: 30px;
			}
		}
 		
 	</style>

	<style>
		
		.publisher-products-list-1 {
			width: 100%; 
			height: 109px; 
			padding: 4px;
			position: relative;
			background-color: #fff;
			border-bottom: 1px solid #ccc;
		}
		.publisher-products-list-1:hover {
			background-color: #F8F8F8;
		}
		.publisher-products-list-2-left {
 			display: inline-block;		
 			position: absolute;
 			top: 0px;
 			left: 0px;
 			height: 100%;
 			padding-left: 2px;
    		/*white-space: nowrap;
    		text-align: center; 
    		margin: 1em 0;*/
		}
		.publisher-products-list-2-right {
 			display: inline-block;		
 			position: absolute;
 			top: 0px;
 			right: 0px;
 			height: 100%;
 			padding-right: 2px; 		
		}
		.publisher-products-list-3 {
 			display: inline-block; 
 			position: absolute;
 			top: 0px;
 			left: 108px;
 			width: 378px;
 			height: 100%;
 			padding-left: 8px;
		}
		.publisher-products-list-4 {
 			display: inline-block; 
 			width: 360px;
 			
		}
		/*.publisher-products-list-5 {
 			display: inline-block;
 			width: 50px; 
		}*/
		/*.publisher-product-list-top-border {
			height: 2px;
			width: 100%;
			border-bottom: 2px solid #ccc;
			position: absolute;
			top: -1px;
		}*/
		.helper {
		    display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		}		
		.div-img {
			display: inline-block;
		    /*background: #3A6F9A;*/
		    background: transparent;
		    vertical-align: middle;
		    height: 100px;
		    max-width: 100px;
		}

	</style>

	<style>
		
		.product-listbox {
	 		/*height:436px;*/
	 		/*height: auto;*/
	 		position: relative;
	 		width:600px;
	 		/*border-top: 3px solid green;
	 		border-bottom: 3px solid green;*/
	 		/*overflow-y: scroll;*/	
	 		/*border: none;*/
		}
		#scroll1 {
	 		overflow: hidden;			
		}
		
	</style>

	<style>
		
		.publisher-product-utility-bar-footer {
			width: 100%;
			height: 100px;
			/*position: relative;*/
	 		position: absolute;
	 		/*left: 0px;*/
	 		bottom: 0px;			
			background: url('/assets/light_grey.jpg');
			/*border-bottom: 2px #DCE3DF solid;*/
			text-align: left;
			z-index: 9;
		}
		.publisher-product-utility-bar-footer span {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 200;
		  	color: #888;
			font-size: 13px;
		}
		.container-2 {
			width: 1000px;
			margin-left: auto;
			margin-right: auto;
			/*min-height: 900px;*/
			position: relative;
			top: -4px;
		}
		
	</style>
	
	<style>
		
		.btn-prod-list {
			font-family:Arial, Helvetica, sans-serif;
			font-size: 14px;		
			text-align: center;	
			padding-top: 3px;
		  	color: #fff;
		  	display: inline-block;
		  	text-decoration: none; 
		  	width: 80px;
		  	height: 20px;
		  	background: linear-gradient(#2899A1, #1F7C82);

		  	/*text-shadow: 1px 1px 1px #0E86B2;*/ 
		  	border-radius: 2px;
		}
		.btn-prod-list:focus {
			-webkit-box-shadow: 0 0 1px 1px #3DC8D1;
			   -moz-box-shadow: 0 0 1px 1px #3DC8D1;
			        box-shadow: 0 0 1px 1px #3DC8D1;
		  	background: linear-gradient(#2899A1, #1F7C82);
		}
		.btn-prod-list:hover { 
		  box-shadow: inset 0 1px 1px rgba(255,255,255,0.1),
		  inset 0 1.5em 1em rgba(255,255,255,0.2);
		  cursor: pointer;
		}
		.btn-prod-list:active { 
		  	box-shadow: inset 0 1px 1px rgba(255,255,255,0.0), 
		  	inset 0 1.5em 1em rgba(0,0,0,0.0);
		 	color: #fff;
		  	background: linear-gradient(#1F7C82, #2899A1);
		  	outline:none;
		}
		
		.publisher-products-span-1 {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #666;
			font-size: 14px;
		}
		
		.unbutton-prod-list {
		    background: none;
		    border: none;
		    padding: 0;
		    margin: 0;
		    overflow: visible;   /* IE hack to avoid extra button width */
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #666;
			font-size: 14px;		   
		}		
		.unbutton-prod-list:hover {
		  	cursor:pointer;
		  	text-decoration: underline;
		}		
		.publisher-products-add {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #666;
			font-size: 14px;		   			
		}
		.publisher-products-add:hover {
		  	cursor:pointer;
		  	text-decoration: underline;
		}
		
	</style>
	

	<style>
		
		#im_top_sh, #im_bottom_sh {
		    background: none repeat scroll 0 0 #555555;
		    display: none;
		    height: 3px;
		    margin-top: -1px;
		    opacity: 0.10;
		    position: absolute;
		    width: 600px;
		    z-index: 2;
		}
		
	</style>

	<style>
		
	.container {
		width: 1200px;
		/*margin: 0 auto;*/
		/*position: relative;*/
		/*top: -4px;*/
	}
		
	</style>

	<style>
	
		.utility-bar {
			width: 100%;
			height: 50px;
			background: url('/assets/lighter_grey.jpg');
			border-bottom: 2px #DCE3DF solid;
		}
		.utility-bar span {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 200;
		  	font-color: #888;
			font-size: 13px;
		}
		
	</style>

	<style>
		
		.form-edit-close {
			width:20px;
			height:20px;
			/*background-color: #ddd;*/
			float: right;
			margin-right: 8px;
			margin-top: 4px;
		}		
		.form-edit-close:hover {
			cursor: pointer;
			/*background-color: #FFD1D1;*/
		}		
		.table-dl-form {
			display: table;
			vertical-align: top;
			width: 580px;	
		}
		
	</style>



	<!-- <header>
		<#%= render 'share/backtotop' %#>
	</header> -->

			<div class="jqmWindow" id="dialog"  style="width: 600px; height: 350px">
		   		<div class="table-dl-form">
		   			<div class="row">
		   				<div class="cell-100percent">
		   					<div id="close_form1" class="form-edit-close jqmClose" tabindex="1">
		   						<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
		   					</div>
		   					<div style="clear: both;"></div>
		   				</div>
   					</div>
				</div>				   				

				<div class="pad-left-20">
					
					<div>New User Form</div>
					
					
					<%= form_for User.new, :url => add_member_publisher_members_path(@publisher_member_new), :html => {:multipart => true}, :remote => true do |f| %>			
					<div class="form-home-table">
						<div class="form-home-row">
							<div class="form-home-cell-1">
								<%= f.label(:name_first, 'First Name', class: 'input-label-home') %>
							</div>
							<div class="form-home-cell-2">
								<%= f.text_field :name_first, class: 'input-home', :tabindex => '12', :autofocus => false %>	
							</div>
						</div>
						<div class="form-home-row-space"></div>
						<div class="form-home-row">
							<div class="form-home-cell-1">
								<%= f.label(:name_last, 'Last Name', class: 'input-label-home') %>
							</div>
							<div class="form-home-cell-2">
								<%= f.text_field :name_last, class: 'input-home', :tabindex => '13' %>
							</div>
						</div>
						<div class="form-home-row-space"></div>
						<div class="form-home-row">
							<div class="form-home-cell-1">
								<%= f.label(:email, 'Email', class: 'input-label-home') %>
							</div>
							<div class="form-home-cell-2">
								<%= f.text_field :email, class: 'input-home', :tabindex => '14' %>
							</div>
						</div>
						<div class="form-home-row-space"></div>
						<div class="form-home-row">
							<div class="form-home-cell-1">
								<%= f.label(:password, 'Password', class: 'input-label-home') %>
							</div>
							<div class="form-home-cell-2">
								<%= f.password_field :password, class: 'input-home', :tabindex => '16' %>
							</div>
						</div>
						<div class="form-home-row-space"></div>
						<div class="form-home-row">
							<div class="form-home-cell-1">
								<%= f.label(:password_confirmation, 'Confirm Password', class: 'input-label-home') %>
							</div>
							<div class="form-home-cell-2">
								<%= f.password_field :password_confirmation, class: 'input-home', :tabindex => '17' %>
							</div>
						</div>
					</div>
					<%= f.hidden_field 'publisher_id', :value => @publisher_id %>
					<div style="height: 30px;"></div>							
					<div class="form-home-table">
						<div class="form-home-row">
							<div class="form-home-cell-2">
								<%= f.submit 'Submit', class: 'signup-btn-home', :tabindex => '29' %>
							</div>
						</div>
					</div>
			
					<% end %>
					
					
					
					
					<% if false %>						
					<%= form_for PublisherUserImage.new, :url => upload_publisher_user_image_publisher_users_path(@publisher_user_image_new), :html => {:multipart => true}, :remote => true do |f| %>
					  <p><%= f.file_field :image %></p>
					  <%= f.hidden_field 'publisher_id', :value => @publisher_id %>
					  <%= f.hidden_field 'publisher_user_id', :value => @publisher_user_id %>
					  <p><%= f.submit :class => 'btn-submit', :value => 'Upload User Image' %></p>
					<% end %>
					<% end %>
					
				</div>
				
			</div>


	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				<div class="col-left">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>
						<div class="row-profile">
							<div class="col-left">
								<%= render 'share/dir_publishers_left'%>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-midd" style="height: 600px;"> -->
				<div class="col-midd" id="col_midd">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<!-- <div id="col_midd" class="col-midd-600" style="height: 600px;"> -->
							<div class="col-midd-600" id="sub_container" style="position: relative;">
								<div id="col_midd_header">
									
									<!-- <div class="line-space-20"></div> -->							
									<div class="pad-left-20">
										<span class="jp-title">Corporate Members - All the people in your company</span>
									</div>

									<!-- <div class="line-space-20"></div>							
									<div class="pad-left-20">
										<span class="jp-title">publisher_id: <#%= @publisher_id %#></span>
									</div> -->
									
									<div class="line-space-20"></div>							
									<div class="pad-left-20">
										<span><a href="#" class="jqModal">&laquo; Add a member &raquo;</a></span>
									</div>
																		
									
									<!-- <div class="line-space-20"></div>									
									<ul class="jp-edit-instr">
										<li>Instructions 1.</li>
										<li>Instructions 2.</li>						
									</ul> -->
									<!-- <div class="line-space-20"></div>
									<div class="pad-left-20" style="text-align: left;">
										<span class="jp-cell-list-text-1">Record Count: <#%= @publisher_journalposters.count %#></span>
									</div> -->
				
									<!-- <div style="height: 10px;"></div> -->	
	
							    	<!-- <div style="width: 100%; text-align: center;">
								    	<h5>
										   	<#% delete_all_msg = "Delete all records and reset index in Members?" %#>
											<#%= button_to "Delete All Records and Reset Index", {:action => 'dbdelete'}, :method => :post, data: { confirm: delete_all_msg }, :class => 'reset-db-btn-long' %#>
										</h5>
									</div> -->
											
									<!-- <div style="height: 10px;"></div> -->	
				
									<!-- <span class="pad-left-20"><#%= link_to '&laquo; Add a product &raquo;'.html_safe, '/Publisher-Add-Product', :class => 'links', :remote => true %#></span> -->
									<!-- <div id="btn_add_member" class="pad-left-20"><span class="publisher-products-add">&laquo; Add a member &raquo;</span></div> -->
									
									<!-- <span class="pad-left-20"><#%= link_to '&laquo; Add a product &raquo;'.html_safe, :action => :create, :class => 'links', :remote => true %#></span> -->
				
									<div class="line-space-20"></div>

									<div class="publisher-product-utility-bar light">
										<div style="padding-left: 10px; padding-top: 10px;">
											<div style="display: inline-block;">
												<span>Record Count: </span>
											</div>
											<div id="render_record_count" style="display: inline-block;">
												<span></span>
											</div>
											<div id="render_test" style="display: inline-block;">
												<span></span>
											</div>

											<!-- <#%= @publisher_products.count %#> -->
											<!-- <span id="container_height"></span> -->
										</div>
									</div>
									<div id="im_top_sh" style="display: block;"></div>
								</div>
			
								<!-- <div id="publisher_journalposters" style="width: 100%; text-align: center;"> -->
								<div id="render_list" style="position: relative;">
									
									<!-- <#%= render 'publisher_products/list' %#> -->
									<div id="scroll1" class="product-listbox" style="height: 100%;">									
										<div class="publisher-products-list-1">
											<div class="publisher-products-list-2-left">
												<div class="div-img">
													<ul class="publisher-product-list-grid publisher-product-list-caption">
														<li>
															<figure>
															</figure>
														</li>
													<ul>
												</div>
												<div class="helper"></div>								
											</div>
											<div class="publisher-products-list-3">
												<div>
													<div class="publisher-products-list-4">
														<span class="publisher-products-span-1"></span>
													</div>
												</div>
											</div>
											<div class="publisher-products-list-2-right">
												test
											</div>
										</div>
									</div>
								</div>
								
								<div id="publisher_product_utility_bar_footer" class="publisher-product-utility-bar-footer">
									<div style="height: 4px;"></div>
									<div style="width: 100%; text-align: center;">
										<span id="will_paginate">
											<!-- <#%= will_paginate @publisher_products %#> -->
										</span>
									</div>
								</div>
								
								
							</div>
						</div>

						<!-- <div class="row-profile">
							<div class="col-midd-600">
								<div class="publisher-product-utility-bar-footer">
									<div style="height: 4px;"></div>
									<div style="width: 100%; text-align: center;">
										<span><#%= will_paginate @publisher_products %#></span>
									</div>
								</div>
							</div>
						</div> -->
												
					</div>					
				</div>
				<div class="col-right">
					<div class="table-profile">
						<div class="row-profile" style="height: 20px;">
							<div class="col-gen"></div>
						</div>							
						<div class="row-profile">
							<div class="col-right">
								
				          		<select id="select_profile" name="select_profile_name" data-placeholder="-Select-" class="chosen-select" style="width:314px;" tabindex="">
										<option value="0">-Select-</option>
										<option value="1">All Users</option>
										<option value="2">Publishers</option>
										<option value="3">Students</option>
										<option value="4">Teachers</option>
										<option value="5">Schools</option>
										<option value="6">Recruiters</option>										
				          		</select>
								
								<div style="height: 30px;"></div>

								<div id="submit_search" class="submit-search">
									Search
								</div>
								
								<!-- <#%= render 'share/dir_publishers_right' %#> -->
							</div>
						</div>
					</div>										
				</div>								
			</div>
		</div>
	</div>
	
	
<!-- </div> -->

	<script>
	
		$(document).ready(function() {

			$(".chosen-select").chosen({disable_search_threshold: 40});


			$("#submit_search").on('click', function() {
				$("#user_profile_type").val($("#select_profile").val());
				$("#submit_all_users").click();
			});


			$("#render_list").html("<%= escape_javascript(render("publisher_members/list")) %>");				


			$('#publisher_product_utility_bar_footer .pagination a').attr('data-remote', 'true');




			$(".jqModal").on('click', function() {
				//
			});
			$('#dialog').jqm({
				onShow: function(hash) {
					hash.o.prependTo('body');
					hash.w.css('top', '-740px');
					hash.w.css('opacity', 1.0).fadeIn(200);
					// hash.w.show();
					$('#dialog').animate(
						{bottom:'-=800', top:'+=800'}, 
						500, 
						'easeInOutCirc', 
						function() {
							$('#dialog').animate(
								{bottom:'+=4', top:'-=4'}, 
								100, 
								'easeInBounce', 
								function() {
								}
							);
							// $('#dl_email').focus();
						}
					);
				}
			}); 		



			// $("#publisher_product_utility_bar_footer .pagination a").on("click", function() {
				// // alert( $.getScript(this.href) );
				// // $.getScript(this.href);
				// $.get(this.href, null, null, "script");
				// // $.get("/publisher_products/index", null, null, "script");
				// return false;
			// });



			// $("#testbtn").on('click', function() {
			  	// var obj = '';                  
			  	// $.ajax({
			    	// type: 'POST',
			    	// data : obj,
			    	// url: '/publisher_products/create',			    	
			    	// dataType: "json",
			    	// contentType: "application/json",
			    	// processData: false,
			    	// beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	// statusCode: {
	            	// },
	            	// success: function(data) {
						// alert('success');
						// $("#render_list").html("<#%= escape_javascript(render("publisher_products/list")) %#>");
	            	// },
	            	// error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	// });
		  		// return false;
			// });

			
			// alert($(document).height());
			// var dh = $(document).height();
			// $("#col-midd").height(dh-74);
			
			
			
		});	
	</script>
	
	
