

		<style>
			
		        /*.prod-select ul.lc-inline {
		        	width: 1280px;
		        }*/
				/*.prod-select ul.lc-inline, 
				.prod-select ul.lc-inline li {
					margin: 0 auto;
					padding-right: 0px;
		        	vertical-align: top;			
				}
				.prod-select ul.lc-inline li {
					display: inline-block;
				}*/
				/*#tab-container  {
				  	margin-left: auto;
				  	margin-right: auto;
				  	width: 1200px;
				}*/
				/*.fixed-back-to {
				  	display: none;
				}*/
				/*.tabs {
					position: relative;
					top: 70px;
				  	width: 1000px;
				  	height: 70px;
					border-radius: 4px;
				   	border: 3px solid #41B737 !important;
				}*/
		        /*.tabs, .tabs ul, .tabs ul li, .tabs ul li span, .tabs ul li a, .tabs ul li a div {
		          	margin: 0;
		          	padding: 0;
		          	line-height: 1;
		        }*/
				/*.tabs ul.short {
					height: 20px;
					background-color: #3D3D3D;			
				}
				.tabs ul.tall {
					height: 34px;
				}*/		
				select.prod-select {
					width: 380px;
				}
		        select.prod-select ul {
			  		font-family: 'Quattrocento Sans', sans-serif;
			        font-size: 1.2em;
			        list-style-type: none;
			        /*background-color: #3D3D3D;*/
			        background-color: #1F7C82;
			    	color: #222222;
			    	font-weight: bold;
		        }
				select.prod-select ul li a:hover {
				    /*color: #214025;*/
				    color: red;
				    text-shadow: 1px 1px #34922C;		    
				}
				.prod-select ul li.active {
				    background-color: #34922C;
				}
				.prod-select ul li.active:hover a {
				    color: #214025;
				    text-shadow: 1px 1px #34922C;
				}
				select.prod-select ul li:hover {
				    background-color: #ccc;
				}
				.prod-select ul li:hover a {
				    color: #214025;		    
				}
				.prod-select ul li a:hover {
				    text-decoration: none;
				}
				.prod-select ul li.active a {
					color: #fff;
				}
		        .prod-select li.disabled, .prod-select li.disabled a, .prod-select li.disabled a:visited, .prod-select li.disabled a:hover {
		          	color: #888;
		        }
		        .prod-select ul li a {
		        	color: #34922C;
		        }
				.prod-select ul li {
					padding-top: 12px;
				    background-color: #FFFFFF;			
					width: 230px;
					height: 34px;
				}
			
		</style>


					<div style="text-align: left;">
						<span class="normal pad-left-20">Publisher Product Core Literacy Standards</span>
					</div>
					
					<div class="line-space-20"></div>
					<!-- <div id="test" style="width:20px; height: 20px; background-color: red;"></div> -->
					

					<% if !@publisher_product_description.nil? %>

						<div class="pad-left-20">
							<div id="box_profile_general" class="box-profile-general" tabindex="100">
								
								<!-- <div class="box-profile-space"></div> -->								
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1b">
											<span class="input-label-category">Publisher Product ID:</span>
										</div>
										<div class="form-home-profile-cell-2b">
											<span class="input-label-category"><%= @publisher_product_id %></span>
										</div>
										<div class="form-home-profile-cell-3b">
										</div>								
									</div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1b">
											<span class="input-label-category">Publisher Product Description ID:</span>
										</div>
										<div class="form-home-profile-cell-2b">
											<span class="input-label-category"><%= @publisher_product_description_id %></span>
										</div>
										<div class="form-home-profile-cell-3b">
										</div>								
									</div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1b">
											<span class="input-label-category">Created:</span>
										</div>
										<div class="form-home-profile-cell-2b">
											<span class="input-label-category"><%= @publisher_product_description.created_at.to_s(:long) %></span>
										</div>
										<div class="form-home-profile-cell-3b">
										</div>								
									</div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1b">
											<span class="input-label-category">Updated:</span>
										</div>
										<div class="form-home-profile-cell-2b">
											<span class="input-label-category" id="render_name_product_update"></span>
										</div>
										<div class="form-home-profile-cell-3b">
										</div>								
									</div>
								</div>

								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<span class="input-label-category" tabindex="9" autofocus>Product Name</span>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for=""></label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_name_product %>
											<input class="input-home-profile" id="publisher_product_description_name_product" name="publisher_product_description[name_product]" tabindex="10" type="text" value="<%= @publisher_product_description.name_product %>" placeholder="" />
											<% else %>
											<input class="input-home-profile" id="publisher_product_description_name_product" name="publisher_product_description[name_product]" tabindex="10" type="text" value="" placeholder="Product Name" />
											<% end %>
										</div>
										<div id="render_name_product" class="form-home-profile-cell-3 render-1"></div>
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<div style="height:4px;"></div>
											<div id="submit_name_product" class="btn-submit-home-profile" tabindex="11">Submit</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>
								</div>
								
								
								
								
								
								
								
								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<span id="focus_15" tabindex="15" class="input-label-category">Core Literacy Standards</span>
								<div class="box-profile-space"></div>

								<div class="form-home-profile-table">			
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_state"></label>
										</div>		
										<div class="form-home-profile-cell-2a">

											<select id="publisher_product_description_core_literacy_standard" name="publisher_product_description_core_literacy_standard" multiple="multiple" class="prod-select" size="">
												<option value="0">-Select-</option>
												<% @core_literacy_standards.each do|core_literacy_standard| %>
													<option value="<%= core_literacy_standard.id %>"><%= core_literacy_standard.dot_not %></option>
												<% end %>
											</select>

										</div>
										<div id="render_type_content_index" class="form-home-profile-cell-3 render-1"></div>
									</div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2a">
											<div style="height:4px;"></div>
											<div id="submit_core_literacy_standard" class="btn-submit-home-profile" tabindex="17">Submit</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>
								
							</div>
						</div>			
					<% end %>
			
			
			
			
			



	<script>

		// $(function(){
		    // $('.sparkbox-custom').sbCustomSelect();
		// });
	  
		$(function(){
			$(".prod-select").multiselect();
		});

		
		function countChar_1(val) {
	    	var len = val.value.length;
	        if (len > 150) {
	        	val.value = val.value.substring(0, 150);
	        } else {
	        	$('#char_num_1').text(150 - len);
	      	}
		}

		function countChar_2(val) {
	    	var len = val.value.length;
	        if (len > 150) {
	        	val.value = val.value.substring(0, 150);
	        } else {
	        	$('#char_num_2').text(150 - len);
	      	}
		}

		function set_updated(s_updated) {
			// alert(s_updated);
			$("#render_name_product_update").html(s_updated);
		}
		
		function set_age_appropriate(age_appropriate) {
			var e = document.getElementById("publisher_product_description_age_appropriate_index");
			for(var i = 1; i < 19; i++) {
				if( age_appropriate[i] ) {
					e.options[i].setAttribute('selected','selected');
				}
			}
			$("#publisher_product_description_age_appropriate_index").trigger("chosen:updated");
		}
		

		$('#publisher_product_description_type_content_index option[value=<%= @publisher_product_description.type_content_index %>]').attr('selected', 'selected');
		$('#publisher_product_description_core_supplemental_index option[value=<%= @publisher_product_description.core_supplemental_index %>]').attr('selected', 'selected');
		$('#publisher_product_description_subject_category_index option[value=<%= @publisher_product_description.subject_category_index %>]').attr('selected', 'selected');
		$('#publisher_product_description_grade_index option[value=<%= @publisher_product_description.grade_index %>]').attr('selected', 'selected');
		$('#publisher_product_description_platform_index option[value=<%= @publisher_product_description.platform_index %>]').attr('selected', 'selected');
		$('#publisher_product_description_pricing_model_index option[value=<%= @publisher_product_description.pricing_model_index %>]').attr('selected', 'selected');


		// // function set_core_literacy_standard(core_literacy_standard, n_standards) {
		// function set_core_literacy_standard() {
// 
			// alert('set_core_literacy_standard');
			// // var e = document.getElementById("publisher_product_description_core_literacy_standard");
			// // n_standards += 1;
			// // for(var i = 0; i < n_standards; i++) {
				// // if( core_literacy_standard[i] ) {
					// // e.options[i].setAttribute('selected','selected');
				// // }
			// // }			
		// }	
		
		
		$(window).load( function() {
		// $(document).ready(function(){

			// $(function(){
				// $(".prod-select").multiselect();
			// });

			// set_core_literacy_standard();


			// $('select').dropdown();	
			$('select').dropdown({
			    'changed': function(data) {
			        // selectStatus1();
			        // selectStatus2();	
			    }
			});	    

			$(".chosen-select").chosen({no_results_text: "no results found"}); 
			
			gon_age_appropriate = gon.age_appropriate;
			set_age_appropriate(gon_age_appropriate);
			
			
			// var ar_core_literacy_standard = [1, 2, 3]; 
			// set_core_literacy_standard(ar_core_literacy_standard, 10);
			// set_core_literacy_standard();


			// gon_core_literacy_standard = gon.core_literacy_standard;
			// set_core_literacy_standard(core_literacy_standard, n_standards)

			// $("#test").on("click", function() {
				// set_age();
			// });


			if(<%= @b_name_product %>) {
				$("#render_name_product").html("");
			}
			else {
				$("#render_name_product").addClass("check-required");
			}
			if(<%= @b_description %>) {
				$("#render_description_1").html("");
			}
			else {
				$("#render_description_1").addClass("check-required");
			}
			if(<%= @b_type_content_index %>) {
				$("#render_type_content_index").html("");
			}
			else {
				$("#render_type_content_index").addClass("check-required");
			}
			if(<%= @b_core_supplemental_index %>) {
				$("#render_core_supplemental_index").html("");
			}
			else {
				$("#render_core_supplemental_index").addClass("check-required");
			}
			if(<%= @b_source_url %>) {
				$("#render_source_url").html("");
			}
			else {
				$("#render_source_url").addClass("check-required");
			}
			if(<%= @b_subject_category_index %>) {
				$("#render_subject_category_index").html("");
			}
			else {
				$("#render_subject_category_index").addClass("check-required");
			}	
			if(<%= @b_age_appropriate_index %>) {
				$("#render_age_appropriate_index").html("");
			}
			else {
				$("#render_age_appropriate_index").addClass("check-required");
			}
			if(<%= @b_grade_index %>) {
				$("#render_grade_index").html("");
			}
			else {
				$("#render_grade_index").addClass("check-required");
			}
			if(<%= @b_platform_index %>) {
				$("#render_platform_index").html("");
			}
			else {
				$("#render_platform_index").addClass("check-required");
			}
			if(<%= @b_pricing_model_index %>) {
				$("#render_pricing_model_index").html("");
			}
			else {
				$("#render_pricing_model_index").addClass("check-required");
			}
			if(<%= @b_price %>) {
				$("#render_price").html("");
			}
			else {
				$("#render_price").addClass("check-required");
			}
			if(<%= @b_versions %>) {
				$("#render_versions").html("");
			}
			else {
				$("#render_versions").addClass("check-required");
			}
			if(<%= @b_topic %>) {
				$("#render_topic").html("");
			}
			else {
				$("#render_topic").addClass("check-required");
			}
			if(<%= @b_lesson_plan_subject %>) {
				$("#render_lesson_plan_subject").html("");
			}
			else {
				$("#render_lesson_plan_subject").addClass("check-required");
			}
			if(<%= @b_word_description %>) {
				$("#render_word_description_1").html("");
			}
			else {
				$("#render_word_description_1").addClass("check-required");
			}



    		$("#submit_name_product").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_name_product").click();
    		});
    		$("#submit_description").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_description").click();
    		});				
    		$("#submit_type_content_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_type_content_index").click();
    		});				
    		$("#submit_core_supplemental_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_core_supplemental_index").click();
    		});				
    		$("#submit_source_url").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_source_url").click();
    		});				
    		$("#submit_subject_category_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_subject_category_index").click();
    		});				
    		$("#submit_age_appropriate_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_age_appropriate_index").click();
    		});				
    		$("#submit_grade_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_grade_index").click();
    		});				
    		$("#submit_platform_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_platform_index").click();
    		});				
    		$("#submit_pricing_model_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_pricing_model_index").click();
    		});				
    		$("#submit_price").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_price").click();
    		});				
    		$("#submit_versions").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_versions").click();
    		});				
    		$("#submit_topic").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_topic").click();
    		});				
    		$("#submit_lesson_plan_subject").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_lesson_plan_subject").click();
    		});				
    		$("#submit_word_description").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_word_description").click();
    		});				



    		// $("#publisher_product_description_name_product").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#publisher_product_description_name_product").click();
    		// });
    		// $("#publisher_product_description_description").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#publisher_product_description_description").click();
    		// });				
    		$("#publisher_product_description_type_content_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#publisher_product_description_type_content_index").click();
    		});				
    		$("#publisher_product_description_core_supplemental_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#publisher_product_description_core_supplemental_index").click();
    		});				
    		// $("#publisher_product_description_source_url").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#publisher_product_description_source_url").click();
    		// });	
    		$("#publisher_product_description_subject_category_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#publisher_product_description_subject_category_index").click();
    		});				
    		$("#publisher_product_description_age_appropriate_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#publisher_product_description_age_appropriate_index").click();
    		});				
    		$("#publisher_product_description_grade_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#publisher_product_description_grade_index").click();
    		});				
    		$("#publisher_product_description_platform_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#publisher_product_description_platform_index").click();
    		});				
    		$("#publisher_product_description_pricing_model_index").keypress(function(e){
      			if(e.keyCode==13)
      			$("#publisher_product_description_pricing_model_index").click();
    		});				
    		// $("#publisher_product_description_price").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#publisher_product_description_price").click();
    		// });				
    		// $("#publisher_product_description_versions").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#publisher_product_description_versions").click();
    		// });				
    		// $("#publisher_product_description_topic").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#publisher_product_description_topic").click();
    		// });				
    		// $("#publisher_product_description_lesson_plan_subject").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#publisher_product_description_lesson_plan_subject").click();
    		// });				
    		// $("#publisher_product_description_word_description").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#publisher_product_description_word_description").click();
    		// });				



			$("#submit_name_product").on('click', function() {
				var input_publisher_product_description_name_product = $("#publisher_product_description_name_product").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "name_product":"' + input_publisher_product_description_name_product + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_name_product',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						// $("#render0").html("<#%= escape_javascript(render("publisher_profiles/test")) %#>");	            		
						if (data.name_product.length > 0) {      		
							$("#publisher_product_description_name_product").attr("value", data.name_product);
							$("#render_name_product").removeClass("check-required");
							$("#render_name_product").addClass("check-affirm");							
						}
						else {
							$("#publisher_product_description_name_product").attr("value", "");
							$("#render_name_product").addClass("check-required");
							$("#render_name_product").removeClass("check-affirm");														
						}							
						$("#focus_12").focus();
						set_updated(data.updated);	
						//$("#box_profile_general").focus();												
	            		// if (data.url) { window.location.href = data.url; }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});
			

			$("#submit_description").on('click', function() {
				var input_publisher_product_description_description = $("#publisher_product_description_description").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "description":"' + input_publisher_product_description_description + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_description',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.description.length > 0) {      		
							$("#publisher_product_description_description").attr("value", data.description);
							$("#render_description").removeClass("check-required");
							$("#render_description").addClass("check-affirm");
						}
						else {
							$("#publisher_product_description_description").attr("value", "");
							$("#render_description").addClass("check-required");
							$("#render_description").removeClass("check-affirm");
						}							
						$("#focus_15").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});

			$("#submit_type_content_index").on('click', function() {
				var input_publisher_product_description_type_content_index = $("#publisher_product_description_type_content_index").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "type_content_index":"' + input_publisher_product_description_type_content_index + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_type_content_index',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.type_content_index == '0') {						
							$("#render_type_content_index").removeClass("check-affirm");
							$("#render_type_content_index").addClass("check-required");
						}
						else {
							$("#render_type_content_index").removeClass("check-required");
							$("#render_type_content_index").addClass("check-affirm");
						}
						$("#focus_18").focus();
						set_updated(data.updated);												
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_core_supplemental_index").on('click', function() {
				var input_publisher_product_description_core_supplemental_index = $("#publisher_product_description_core_supplemental_index").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "core_supplemental_index":"' + input_publisher_product_description_core_supplemental_index + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_core_supplemental_index',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.core_supplemental_index == '0') {						
							$("#render_core_supplemental_index").removeClass("check-affirm");
							$("#render_core_supplemental_index").addClass("check-required");
						}
						else {
							$("#render_core_supplemental_index").removeClass("check-required");
							$("#render_core_supplemental_index").addClass("check-affirm");
						}
						$("#focus_21").focus();
						set_updated(data.updated);												
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});

			$("#submit_source_url").on('click', function() {
				var input_publisher_product_description_source_url = $("#publisher_product_description_source_url").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "source_url":"' + input_publisher_product_description_source_url + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_source_url',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.source_url.length > 0) {      		
							$("#publisher_product_description_source_url").attr("value", data.source_url);
							$("#render_source_url").removeClass("check-required");
							$("#render_source_url").addClass("check-affirm");
						}
						else {
							$("#publisher_product_description_source_url").attr("value", "");
							$("#render_source_url").removeClass("check-affirm");
							$("#render_source_url").addClass("check-required");
						}							
						$("#focus_24").focus();	
						set_updated(data.updated);												
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_subject_category_index").on('click', function() {
				var input_publisher_product_description_subject_category_index = $("#publisher_product_description_subject_category_index").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "subject_category_index":"' + input_publisher_product_description_subject_category_index + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_subject_category_index',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
	            		// alert(data.subject_category_index);
						if (data.subject_category_index == '0') {						
							$("#render_subject_category_index").removeClass("check-affirm");
							$("#render_subject_category_index").addClass("check-required");
						}
						else {
							$("#render_subject_category_index").removeClass("check-required");
							$("#render_subject_category_index").addClass("check-affirm");
						}
						$("#focus_27").focus();	
						set_updated(data.updated);												
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_age_appropriate_index").on('click', function() {
				var input_publisher_product_description_age_appropriate_index = $("#publisher_product_description_age_appropriate_index").val();
				// alert(input_publisher_product_description_age_appropriate_index);
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "age_appropriate_index":"' + input_publisher_product_description_age_appropriate_index + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_age_appropriate_index',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
	            		
	            		// alert("success");
	            		// alert("len = " + data.len)
						if (data.b_has_age_appropriate) {
							$("#render_age_appropriate_index").removeClass("check-required");
							$("#render_age_appropriate_index").addClass("check-affirm");
						}
						else {
							$("#render_age_appropriate_index").removeClass("check-affirm");
							$("#render_age_appropriate_index").addClass("check-required");
						}
						set_age_appropriate(data.g_updated);
						$("#focus_30").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_grade_index").on('click', function() {
				var input_publisher_product_description_grade_index = $("#publisher_product_description_grade_index").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "grade_index":"' + input_publisher_product_description_grade_index + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_grade_index',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.grade_index == '0') {						
							$("#render_grade_index").removeClass("check-affirm");
							$("#render_grade_index").addClass("check-required");
						}
						else {
							$("#render_grade_index").removeClass("check-required");
							$("#render_grade_index").addClass("check-affirm");
						}
						$("#focus_33").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_platform_index").on('click', function() {
				var input_publisher_product_description_platform_index = $("#publisher_product_description_platform_index").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "platform_index":"' + input_publisher_product_description_platform_index + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_platform_index',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.platform_index == '0') {						
							$("#render_platform_index").removeClass("check-affirm");
							$("#render_platform_index").addClass("check-required");
						}
						else {
							$("#render_platform_index").removeClass("check-required");
							$("#render_platform_index").addClass("check-affirm");
						}
						$("#focus_36").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_pricing_model_index").on('click', function() {
				var input_publisher_product_description_pricing_model_index = $("#publisher_product_description_pricing_model_index").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "pricing_model_index":"' + input_publisher_product_description_pricing_model_index + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_pricing_model_index',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.pricing_model_index == '0') {						
							$("#render_pricing_model_index").removeClass("check-affirm");
							$("#render_pricing_model_index").addClass("check-required");
						}
						else {
							$("#render_pricing_model_index").removeClass("check-required");
							$("#render_pricing_model_index").addClass("check-affirm");
						}
						$("#focus_39").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_price").on('click', function() {
				var input_publisher_product_description_price = $("#publisher_product_description_price").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "price":"' + input_publisher_product_description_price + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_price',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						// var data_price = parceFloat(data.price);
						if (data.price.toString().length > 0) {      	
							$("#publisher_product_description_price").attr("value", data.price);
							$("#render_price").removeClass("check-required");		
							$("#render_price").addClass("check-affirm");
						}
						else {
							$("#publisher_product_description_price").attr("value", "");
							$("#render_price").removeClass("check-affirm");
							$("#render_price").addClass("check-required");																												
						}							
						$("#focus_42").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_versions").on('click', function() {
				var input_publisher_product_description_versions = $("#publisher_product_description_versions").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "versions":"' + input_publisher_product_description_versions + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_versions',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.versions.length > 0) {      		
							$("#publisher_product_description_versions").attr("value", data.versions);
							$("#render_versions").removeClass("check-required");						
							$("#render_versions").addClass("check-affirm");
						}
						else {
							$("#publisher_product_description_versions").attr("value", "");
							$("#render_versions").removeClass("check-affirm");
							$("#render_versions").addClass("check-required");														
						}							
						$("#focus_45").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_topic").on('click', function() {
				var input_publisher_product_description_topic = $("#publisher_product_description_topic").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "topic":"' + input_publisher_product_description_topic + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_topic',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.topic.length > 0) {      		
							$("#publisher_product_description_topic").attr("value", data.topic);
							$("#render_topic").removeClass("check-required");
							$("#render_topic").addClass("check-affirm");
						}
						else {
							$("#publisher_product_description_topic").attr("value", "");
							$("#render_topic").removeClass("check-affirm");
							$("#render_topic").addClass("check-required");
						}							
						$("#focus_48").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});
	

			$("#submit_lesson_plan_subject").on('click', function() {
				var input_publisher_product_description_lesson_plan_subject = $("#publisher_product_description_lesson_plan_subject").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "lesson_plan_subject":"' + input_publisher_product_description_lesson_plan_subject + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_lesson_plan_subject',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.lesson_plan_subject.length > 0) {      		
							$("#publisher_product_description_lesson_plan_subject").attr("value", data.lesson_plan_subject);
							$("#render_lesson_plan_subject").removeClass("check-required");
							$("#render_lesson_plan_subject").addClass("check-affirm");
						}
						else {
							$("#publisher_product_description_lesson_plan_subject").attr("value", "");
							$("#render_lesson_plan_subject").removeClass("check-affirm");
							$("#render_lesson_plan_subject").addClass("check-required");
						}							
						$("#focus_51").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});
	
			$("#submit_word_description").on('click', function() {
				var input_publisher_product_description_word_description = $("#publisher_product_description_word_description").val();
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "word_description":"' + input_publisher_product_description_word_description + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_word_description',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
						if (data.word_description.length > 0) {      		
							$("#publisher_product_description_word_description").attr("value", data.word_description);
							$("#render_word_description_1").removeClass("check-required");
							$("#render_word_description_2").addClass("check-affirm");
						}
						else {
							$("#publisher_product_description_word_description").attr("value", "");
							$("#render_word_description_1").addClass("check-required");
							$("#render_word_description_2").removeClass("check-affirm");
						}							
						$("#box_profile_general").focus();	
						set_updated(data.updated);												
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});
	
	
			$("#submit_core_literacy_standard").on('click', function() {
				var input_publisher_product_description_core_literacy_standard = $("#publisher_product_description_core_literacy_standard").val();
				alert(input_publisher_product_description_core_literacy_standard);
				var obj_list = '{"publisher_product_description_id":' + <%= @publisher_product_description_id %> + 
							   ', "publisher_product_id":' + <%= @publisher_product_id %> + 
							   ', "publisher_id":' + <%= @publisher_id %> + 
							   ', "core_literacy_standard":"' + input_publisher_product_description_core_literacy_standard + 
							   '"}';      
			  	var obj = '{ "publisher_product_description": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_product_descriptions/update_core_literacy_standard',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	            	},
	            	success: function(data) {
	            		// alert("success");
	            		// alert("len = " + data.len)
						if (data.b_has_core_literacy_standard) {
							$("#render_core_literacy_standard").removeClass("check-required");
							$("#render_core_literacy_standard").addClass("check-affirm");
						}
						else {
							$("#render_core_literacy_standard").removeClass("check-affirm");
							$("#render_core_literacy_standard").addClass("check-required");
						}
						// set_core_literacy_standard(data.g_updated, g_len);
						// $("#focus_30").focus();
						set_updated(data.updated);													
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});

	
	
	
		});
	  
	</script>		




