<% provide(:title, 'Available Poster Pins') %>


	<header>
		<%= render 'share/backtotop' %>
	</header>

	<div class="container">
		<div class="table-profile">
			<div class="row-profile">
				
				<div class="col-left">
					<%= render 'share/dir_publishers_left'%>
				</div>
				
				<div class="col-midd">
			
					<div class="line-space-80"></div>
			
					<div style="text-align: left;">
						<span class="normal pad-left-20">Available Poster Pins</span>
					</div>

					<div style="height: 100px;"></div>

					<div>
						<span class="normal pad-left-20">publisher_journalposters_count: <%= @publisher_journalposters_count %></span>
					</div>					
					<div style="height: 10px;"></div>
					<div>
						<span class="normal pad-left-20">journal1poster_positions_count: <%= @journal1poster_positions_count %></span>
					</div>					
					
					<div style="height: 10px;"></div>
					
					<table>
						<tr>
							<td>
								<span class="normal pad-left-20">count_section_1:</span>
							</td>	
							<td>
								<span class="normal pad-left-20"><%= @count_section_1 %></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="normal pad-left-20">jp_count_section_1:</span>
							</td>
							<td>
								<span class="normal pad-left-20"><%= @jp_count_section_1 %></span>
							</td>
						</tr>
						<tr><td style="height:10px;"></td></tr>
						<tr>
							<td>
								<span class="normal pad-left-20">count_section_2:</span>
							</td>	
							<td>
								<span class="normal pad-left-20"><%= @count_section_2 %></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="normal pad-left-20">jp_count_section_2:</span>
							</td>
							<td>
								<span class="normal pad-left-20"><%= @jp_count_section_2 %></span>
							</td>
						</tr>
						<tr><td style="height:10px;"></td></tr>
						<tr>
							<td>
								<span class="normal pad-left-20">count_section_3:</span>
							</td>	
							<td>
								<span class="normal pad-left-20"><%= @count_section_3 %></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="normal pad-left-20">jp_count_section_3:</span>
							</td>
							<td>
								<span class="normal pad-left-20"><%= @jp_count_section_3 %></span>
							</td>
						</tr>
						<tr><td style="height:10px;"></td></tr>
						<tr>
							<td>
								<span class="normal pad-left-20">count_section_4:</span>
							</td>	
							<td>
								<span class="normal pad-left-20"><%= @count_section_4 %></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="normal pad-left-20">jp_count_section_4:</span>
							</td>
							<td>
								<span class="normal pad-left-20"><%= @jp_count_section_4 %></span>
							</td>
						</tr>
						<tr><td style="height:10px;"></td></tr>
						<tr>
							<td>
								<span class="normal pad-left-20">count_section_5:</span>
							</td>	
							<td>
								<span class="normal pad-left-20"><%= @count_section_5 %></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="normal pad-left-20">jp_count_section_5:</span>
							</td>
							<td>
								<span class="normal pad-left-20"><%= @jp_count_section_5 %></span>
							</td>
						</tr>
						<tr><td style="height:10px;"></td></tr>
						<tr>
							<td>
								<span class="normal pad-left-20">count_section_6:</span>
							</td>	
							<td>
								<span class="normal pad-left-20"><%= @count_section_6 %></span>
							</td>
						</tr>
						<tr>
							<td>
								<span class="normal pad-left-20">jp_count_section_6:</span>
							</td>
							<td>
								<span class="normal pad-left-20"><%= @jp_count_section_6 %></span>
							</td>
						</tr>
						<tr><td style="height:10px;"></td></tr>
					</table>
								
				</div>
				
				<div class="col-right">
					<%= render 'share/dir_publishers_right' %>
				</div>								
			</div>
		</div>
	</div>

	<!-- <script>
		$(window).load( function() {
		//$(document).ready(function () {				
		});
	</script> -->		
