<!--<script type="text/javascript">
	function createConversation (obj) {
		var recipient_user_id = $(obj).children(".user_id").attr("data-user-id");
		client.send( "/queue/demo", { recipient: recipient_user_id}, recipient_user_id );
	}
	function onClick () {
		//$("#dialog_container").html("<#%= j render('publisher_user_messages/messages') %>");
		//alert("hi!");
	}
</script>-->

<style type="text/css">
	.user-row {
	    display: table;
	    height: 100%;
	    width: 100%;
	    cursor: pointer;
	    font-size: 14px;
	    font-family: Arial, Helvetica, sans-serif;
	    color: #376340;
	}
	.user-row:hover {
		background: white;
	}
</style>

<div class="container" style="padding: 5px; width: 225px; background: aliceblue ">
	<% User.all.order(:id).each do |user| %>
		<div class="user-row">
			<div style="display: table-cell; width: 50px; vertical-align: middle;">				
				<% user_image = user.user_images.where( :primary => true ).first.image_url(:image_50_50) rescue "/images_avatar/avatar-gen-person-w50-h50.png" %>
				<%= image_tag(user_image.to_s) %>
			</div>
			<div style="display: table-cell; width: 175px; vertical-align: middle; padding: 5px;">
				<a href=<%= user.slug %> style="display: inline; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= user.name_first.to_s + " " + user.name_last.to_s %></a>
				<div style="font-size: 12px">
					<div><%= user.username %></div>
					<div style="display: inline">User ID:</div>
					<div class="user_id" data-user-id=<%= user.id %> style="display: inline"><%= user.id %></div>
				</div>				
				<!-- <div id="conversation_time" style="color: grey"><#%= I18n.l last_message.created_at, :format => :long %></div> -->
			</div>
			<!--<#%= form_tag({action: 'open_conversation'}, remote: true, :'data-type' => 'json', :style => "display: inline; float: right") do %>-->
			<%= form_tag({action: 'open_conversation'}, remote: true, :style => "display: none; float: right;") do %>
				<%= hidden_field_tag :sender_user_id, current_user.id %>
				<%= hidden_field_tag :recipient_user_id, user.id %>
				<%= submit_tag("Open dialog", :style => " background: none; ", :onclick => "onClick()") %>
			<% end %>
		</div>
		<hr>		
	<% end %>
</div>

<script type="text/javascript">
	// function onOpenDialog (argument) {
	// 	if ( !$(argument).is( "a" ) )
	// 		$(argument).find("form").submit();
	// }

	$( ".user-row" ).click(function( event ) {
	  var target = $( event.target );
	  if ( !target.is( "a" ) ) {
	    $(event.currentTarget).find("form").submit();
	  }
	});
</script>