

	<style>
		
		.product-list-1 {
			width: 100%; 
			/*height: 109px;*/
			height: auto; 
			padding: 1px;
			vertical-align: top;
			margin: 0;
			position: relative;
			/*background-color:transparent;*/
			/*opacity: 1;*/
			border-bottom: 1px solid #ccc;
			/*background: rgba (255, 255, 255, 0.2);*/		
			/*background: red;*/	
		}
		.product-list-1:hover {
			background-color: #F8F8F8;
		}		
		.product-list-1a {
			height: auto;
			padding-left: 2px;
		}
		.product-list-1a-1 {
			background-color: inherit;   
		    vertical-align: top;
		    margin: 0;
		    height: 100px;
		    width: 100px;
		}
		.product-list-1b-1 {
			position: relative;
			width: 100%;
			height: 24px;
			margin: 0;
			padding: 4px 0 0 0;
		}
		.product-list-1b-2 {
			position: relative;
			width: 100%;
			height: 52px;
			margin: 0;
			padding: 0 10px 0 0;
		}
		.product-list-1b-3 {
			position: relative;
			width: 100%;
			height: 24px;
			padding: 0 10px 0 0;
		}	
		.product-span-1 {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	/*color: #666;*/
		  	color: #333;
			font-size: 13px;
			width: 579px;
		    white-space: pre-wrap;
		    word-wrap: break-word;
		    overflow-wrap: break-word;		
		    border: 1px solid transparent;
			padding: 6px 5px 5px 5px;	    
		}		
		.product-span-2 {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #37633a;
			font-size: 10px;
		}
		.product-span-2-a {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #37633a;
			font-size: 13px;
		}
		/*.product-span-2-a:hover {
			text-decoration: underline;
			cursor: pointer;
		}*/		
		/*.product-span-3 {
		  	font-family: Arial, Helvetica, sans-serif;
		  	font-weight: 400;
		  	color: #37633a;
			font-size: 10px;
		}*/

		
	</style>
	
	<style>
		
		/*:focus {
			text-decoration: none;
		}*/
		.product-list-link-a a {
		    color: transparent;
		    text-decoration: none;
		}
		.product-list-link-a a:hover {
		    color: transparent;
		    text-decoration: none;
		}
		.product-list-link-a a:active {
		    color: transparent;
		    text-decoration: none;
		}
		.product-list-link-a a:focus {
		    color: transparent;
		    text-decoration: none;
		}
		a {
		    color: transparent;
		    text-decoration: none;
		}
		a:hover {
		    color: transparent;
		    text-decoration: none;
		}
		a:active {
		    color: transparent;
		    text-decoration: none;
		}
		a:focus {
		    color: transparent;
		    text-decoration: none;
		}

		/*img {
		    border: 0 none;
		}*/
		/*a:hover {
		    text-decoration: none;
		}		
		a:active {
		    text-decoration: none;
		}		
		a:focus {
		    text-decoration: none;
		}*/		

	</style>

	<style>
		
		.prod-list-box {
			background: none repeat scroll 0 0 #8eb388;
    		position: relative;
    		width: 700px;
		}
		.prod-list-table-container {
			display: table;
			border: 2px solid #8EB388;
		}
		.prod-list-table {
			display: table;
		}
		.prod-list-row {
			display: table-row;
			align: top;
		}
		.prod-list-background {
			background-color: #fff;
		}
		.prod-list-col-1 {
			display: table-cell; 
			width: 204px;
			height: 204px; 
			vertical-align: top;
			padding: 0;
			margin: 0;
		}
		.prod-list-col-2 {
			display: table-cell; 
			width: 494px;
			height: 204px; 
			vertical-align: top;
			padding: 0 0 0 20px; 
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}
		
		.prod-list-grid {
		    list-style: none outside none;
		    margin: 0 auto;
		    padding: 0;
		}
		.profile-cs-style-3 figure {
		    overflow: hidden;
		}
		.profile-grid figure {
		    margin: 0;
		    padding-top: 0;
		    position: relative;
		}
		.figure-product-logo-listing {
		}
		.prod-list-grid figure img {
		    border: 2px solid #fff;
		    margin: 0;
		    display: block;
		}
		.prod-list-transform figure img {
		    transition: transform 0.2s ease 0s;
		}
		/*.prod-list-grid figure img {
		    display: block;
		    max-width: 100%;
		    position: relative;
		}*/

		
	</style>

			<div class="prod-list-box">	

			<% if @products.any? %>
				<% s_rand = '?' + (rand(10..90) * rand(100..900)).to_s %>
				<% @products.each do |product| %>

			   		<div class="prod-list-table-container">
			   			<a href="/pid<%= product.id %>">
				   			<div class="prod-list-row">
								<div class="prod-list-col-1 prod-list-grid prod-list-background">
									<!-- <div class="prod-list-grid prod-list-transform"> -->
										<figure>
											<%= avatar_200_product_for(product, s_rand) %>
										</figure>
									<!-- </div> -->
								</div>
								<div class="prod-list-col-2 prod-list-background">
									<div style="height: 4px;"></div>
									<div class="prod-list-table">
										<div class="prod-list-row">
											<div style="display: table-cell; width: 400px;">
												<span class="form-text-12-title">Product Name: </span>
												<span class="form-text-12"><%= product.publisher_product_manifest.name_product %></span>
											</div>
										</div>
									</div>	
													
									<div class="prod-list-table">
										<div class="prod-list-row">
											<div class="cell-230">
												<div class="prod-list-table">
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															<div>
																<span class="form-text-12-title">Version: </span>
																<span id="listing_versions" class="form-text-12"></span>
															</div>
														</div>
													</div>		
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															<div>
																<span class="form-text-12-title">Subject: </span>
																<span id="box_category_subject_listing" class="form-text-12"></span>
															</div>
														</div>
													</div>		
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															<div>
																<span class="form-text-12-title">Age: </span>
																<span id="box_appropriate_age_listing" class="form-text-12"></span>
															</div>
														</div>
													</div>		
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															<div>
																<span class="form-text-12-title">Grade: </span>
																<span id="box_appropriate_grade_listing" class="form-text-12"></span>
															</div>
														</div>
													</div>		
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															<div>
																<span class="form-text-12-title">Market: </span>
																<span id="box_market_target_listing" class="form-text-12"></span>
															</div>
														</div>
													</div>		
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															
															<% if false %>
															<div>
																<span class="form-text-12-title">Pricing: </span>
															</div>
															<div id="show_price_listing">
																<div class="table-product-price">	
																	<div id="row_price_1_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price (subscription -1)</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_1_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_2_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price (subscription -enterprise 1-999 seats)</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_2_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_3_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price (subscription - enterprise 1000-4999 seats)</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_3_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_4_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price (subscription - enterprise 5000-9999 seats)</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_4_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_5_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price (subscription - enterprise 10,000+ seats)</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_5_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_6_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price - Single User</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_6_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_7_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price (server - enterprise 1-999 seats)</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_7_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_8_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price (server - enterprise 1000-4999 seats)</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_8_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_9_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price (server - enterprise 5000-9999 seats)</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_9_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_10_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Price (server - enterprise 10,000+ seats)</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign">$</div></div>
																		<div class="cell-product-price-4">
																			<div id="price_10_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																	<div id="row_price_11_listing" class="row-product-price-listing">
																		<div class="cell-product-price-1">
																			<span class="price-list-listing">Call for Pricing</span>
																		</div>
																		<div class="cell-product-price-3"><div class="container-dollar-sign"></div></div>
																		<div class="cell-product-price-4">
																			<div id="price_11_dec_listing" class="form-text-12"></div>
																		</div>
																	</div>	
																</div>
															</div>
															<% end %>
															
														</div>
													</div>		
												</div>
											</div>
							   				<div class="cell-10"></div>
											<div class="cell-230">
												<div style="4px;"></div>
												<div class="prod-list-table">
													<div class="prod-list-row">
														<div class="cell-230">
															<div>
																<span class="form-text-12-title">Platform: </span>
																<span id="box_platform_listing" class="form-text-12"></span>
															</div>
														</div>
													</div>	
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															<div>
																<span class="form-text-12-title">File Type: </span>
																<span id="box_file_type_listing" class="form-text-12"></span>
															</div>
														</div>
													</div>	
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															<div>
																<span class="form-text-12-title">Reviewed: </span>
																<span id="box_by_review_listing" class="form-text-12"></span>
															</div>
														</div>
													</div>	
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															<div>
																<span class="form-text-12-title">Enhancements: </span>
																<span id="box_enhancement_listing" class="form-text-12"></span>
															</div>
														</div>
													</div>	
													<div class="prod-list-row" style="height: 4px;"></div>
													<div class="prod-list-row">
														<div class="cell-230">
															<div style="position: relative;">
																<div style="display: inline-block">
																	<span class="form-text-12-title">Student Rating </span>
																</div>
																<div style="display: inline-block" class="like-icon"></div>
																<div style="display: inline-block">
																	<span class="form-text-12-title"> : </span>
																</div>
																<div style="display: inline-block">
																	<span id="box_student_rating_listing" class="form-text-12"></span>
																</div>
															</div>
														</div>
													</div>	
												</div>
											</div>
											<div class="cell-10"></div>			
										</div>
									</div>
									<!-- <div class="prod-list-table">
										<div class="prod-list-row">
											<div class="cell-480" style="padding: 0px 0px 0px 30px;">
												<span class="form-text-12-title">Teacher Rating Total: </span>
												<span class="form-text-12-title"> # </span>
												<span class="form-text-12-title">&nbsp;&nbsp;&nbsp;</span>
												<span class="form-text-12-title">Easy: </span>
												<span class="form-text-12-title"> # </span>
												<span class="form-text-12-title">&nbsp;&nbsp;&nbsp;</span>
												<span class="form-text-12-title">Fit: </span>
												<span class="form-text-12-title"> # </span>
												<span class="form-text-12-title">&nbsp;&nbsp;&nbsp;</span>
												<span class="form-text-12-title">Worked: </span>
												<span class="form-text-12-title"> # </span>
											</div>
										</div>
									</div> -->									
								</div>
					   		</div>
				   		</a>
				   	</div> 
					
				<% end %>

			<% else %>
					<div class="" style="color: red; padding-left: 20px;">
						<h3>No record</h3>
					</div>
			<% end %>

			</div>
					
					
					<% if false %>
					<div class="table product-list-1" style="background-color: transparent;">
						<div class="row">
							<div class="cell-100 product-list-1a">
								<a href="#" class="product-list-link-a">
								<div class="product-list-1a-1">
									<ul class="publisher-product-list-grid publisher-product-list-caption">
										<li>
											<figure>
												<%= avatar_product_for(product, s_rand) %>
												<figcaption>
												</figcaption>
											</figure>
										</li>
									<ul>
								</div>
								</a>
							</div>
							<div class="cell-600">
								<a href="#" class="product-list-link-a">
								<div style="width: 594px; background-color: #fff; padding: 0 0 0 4px;">
									<div class="product-list-1b-1" style="">
										<div style="display: inline-block;" class="float-left product-span-2-a">
											<span><%= product.name_product %> </span>
										</div>
										<div style="clear: both;"></div>
									</div>
									<div class="product-list-1b-2" style="">
										<div class="product-span-1"></div>
									</div>
									<div class="product-list-1b-3">
										<div class="table" style="height: 30px; margin: 0 0 10px 0;">
											<div class="row">
												<div class="cell-150">
												</div>
												<div class="cell-300">
												</div>													
												<div class="cell-150" style="text-align: right;">
												    <!-- <span class="product-span-2"> logged in
												      - <#%= time_ago_in_words(product.created_at) %#> ago
												    </span> -->
												</div>													
											</div>
										</div>
									</div>
								</div>
								</a>
							</div>
						</div>
					</div>
					<% end %>					


					
					

	<script>
		
				
		// $(window).load(function() {
		$(document).ready(function() {			
      	// $(function() {


            $('.tip').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout'
                })
            });			
			
            $('.tip-bottom-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'top center',
				        at: 'bottom center'
				        // target: $('.tip-bottom-center')
    				}                    
                })
            });			

            $('.tip-top-center').each(function() {
                var tipContent = $(this).next('.tip-content').html();
                $(this).qtip({
                	style: { classes: 'tooltip-text-1' },
                    content: tipContent,
                    show: 'mouseover',
                    hide: 'mouseout',
				    position: {
				        my: 'bottom center',
				        at: 'top center'
				        // target: $('.tip-top-center')
    				}                    
                })
            });			

			
		});				

				
	</script>

