<style>
	
		.jqmWindow-4 {
		    display: none;
		    position: fixed;
		    left: 50%;
		    margin-left: -350px;
		    width: 700px;
			height: 700px;		    
		    background-color: #EEE;
		    color: #333;
		    border: 1px solid black;
		    padding: 0px;
		}		
	
</style>


<div class="jqmWindow jqmWindow-4" id="dialog_4">
	<div class="table-dl-form">
		<div class="row">
			<div class="cell-100percent">
				<div id="close_form4" class="form-edit-close jqmClose tip-left-center" tabindex="">
					<img src="/assets/x_close_w20_h20.png" alt="X" height="20px">
				</div>
                <div class="tip-content">
                    <div class="tooltiptext">Close</div>
                </div>																								
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>				   				
	<div class="pad-left-20">
		<div style="height: 20px;"></div>
		<div class="profile-grid profile-cs-style-3">
			<figure class="" id="profile_figure_list">
				<img alt="photo not appearing" src="" />
				<figcaption class="figcaption-2">
					<div class="tip-top-center"></div>
	                <div class="tip-content">
	                    <div class="tooltiptext">Delete</div>
	                </div>																								
				</figcaption>
			</figure>
		</div>
	</div>
</div>





<style>
	.drop-publisher-users-index103 .drop-hidden {
	display: none !important;
	visibility: hidden !important;  
	}
	.drop-publisher-users-index103 .drop-clear-both {
	clear: both;
	}
	.drop-publisher-users-index103 .drop-103 {
	width: 100px;
	height: 100px;
	}
	.drop-publisher-users-index103 .drop-103 .drop-103-triangle {
	width: 0px;
	height: 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: relative;
	left: 3px;
	float: left;
	bottom: -1px;
	}
	.drop-publisher-users-index103 .drop-103 .drop-103-box {
	width: 96px;
	float: left;
	/*position: relative;*/
	position: absolute;
	margin-top: 0px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	z-index: 1;
	}
	.drop-publisher-users-index103 .drop-103 .drop-103-container-links {
	}
	.drop-publisher-users-index103 .drop-103 .margin-top-hide-1 {
	margin-top: -16px;
	}
	.drop-publisher-users-index103 .drop-103 .margin-top-show-1 {
	margin-top: -6px;
	}
	.drop-publisher-users-index103 .drop-103 .drop-103-link-1 {
	width: 100%;
	}
	/*.drop-publisher-users-index103 .drop-103 .drop-103-target {
	position: relative;
	width: 200px;
	height: 19px;
	padding: 9px 0px 4px 0px;
	text-align: center;
	}
	.drop-publisher-users-index103 .drop-103 .drop-103-target:hover {
	background: #f6f6f6;
	}*/
	.drop-publisher-users-index103 .drop-103 .drop-103-link-1:hover .span-1 {
	}   
	.drop-publisher-users-index103 .drop-103 .drop-103-span-1 {
	color: #376340; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	}
	.drop-publisher-users-index103 .drop-103 a.drop-103-link-a-1 {
	text-decoration: none;
	}
	.drop-publisher-users-index103 .drop-103 a.drop-103-link-a-1:hover {
	text-decoration: none;
	}
	.drop-publisher-users-index103 .drop-103 .drop-103-border {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;      
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;     
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;      
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;     
	}
	.drop-publisher-users-index103 .drop-103 .drop-103-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.drop-publisher-users-index103 .drop-103 .drop-103-divider-1 {
	height: 2px;
	}
	.drop-publisher-users-index103 .drop-103 .drop-103-divider-2 {
	height: 10px;
	}
	.drop-publisher-users-index103 .drop-103 .background-transparent {
	background-color: transparent;
	}
	.drop-publisher-users-index103 .background-white {
	background-color: #fff;
	}
	.drop-publisher-users-index103 .drop-103 .nav-caret-container {
	width: 14px;
	height: 30px;
	padding: 0 0 0 2px;     
	}
	.drop-publisher-users-index103 .drop-103 .nav-caret {
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin: 16px 0 0 0px;
	}
	.drop-publisher-users-index103 .drop-103 .nav-caret-down {
	border-top: 5px solid #999;
	border-bottom: 0;     
	}
	.drop-publisher-users-index103 .drop-103 .nav-caret-up {
	border-bottom: 5px solid #999;
	border-top: 0;
	}
	.drop-publisher-users-index103 .drop-103 .nav-drop-1:hover {
	cursor: pointer;
	}
	.drop-publisher-users-index103 .drop-103 .nav-drop-1:hover .nav-avatar img {
	border: 2px solid #A9D996;
	}
	.drop-publisher-users-index103 .drop-103 .nav-drop-1:hover .nav-caret-down {
	border-top: 5px solid #A9D996;
	}
	.drop-publisher-users-index103 .drop-103 .nav-drop-1:hover .nav-caret-up {
	border-bottom: 5px solid #A9D996;
	}
	.drop-publisher-users-index103 .drop-103 .cursor-pointer:hover {
	cursor: pointer;
	}
	.drop-publisher-users-index103 .drop-103-target-icon {
	display: inline-block;
	}	
	.drop-publisher-users-index103 .drop-103-target-text {
	display: inline-block;
	}	
	.drop-publisher-users-index103 .drop-103 a:focus {
	outline: none;	
	}
	.drop-publisher-users-index103 .drop-103 a:active {
	outline: none;
	}
	.drop-publisher-users-index103 .drop-103 a:visited {
	outline: none;
	}
	.drop-publisher-users-index103 .drop-103-table {
	display: table;
	}
	.drop-publisher-users-index103 .drop-103-table-row {
	display: table-row;
	}
	.drop-publisher-users-index103 .drop-103-table-cell-1 {
	display: table-cell;
	width: 174px;
	}
	.drop-publisher-users-index103 .drop-103-table-cell-2 {
	display: table-cell;
	width: 12px;
	}
	.drop-publisher-users-index103 .drop-103-1 {
	text-align: left;
	width: auto;
	height: 24px;
	padding: 4px;
	}
	.drop-publisher-users-index103 .drop-103-1:hover {
	background: #f6f6f6;
	}
	.drop-publisher-users-index103 .drop-103-1-target {
	position: relative;
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
	position: relative;
	float: left;
	left: -8px;
	top: 33px;
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-container {
	position: relative;
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-box {
	width: 200px;
	position: absolute;
	margin-top: 0px;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
	z-index: 1;
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-container-links {
	}
	.drop-publisher-users-index103 .drop-103-1 .margin-top-hide-1-1 {
	margin-top: -53px;
	margin-left: 160px;
	}
	.drop-publisher-users-index103 .drop-103-1 .margin-top-show-1-1 {
	margin-top: -53px;
	margin-left: 180px;
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-link-1 {
	width: 100%;
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-link-1:hover {
	background: #f6f6f6;
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-link-1:hover .span-1 {
	}   
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-span-1 {
	color: #376340; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 700;
	}
	.drop-publisher-users-index103 .drop-103-1 a.drop-103-1-link-a-1 {
	text-decoration: none;
	}
	.drop-publisher-users-index103 .drop-103-1 a.drop-103-1-link-a-1:hover {
	text-decoration: none;
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-border {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;      
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;     
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;      
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;     
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-shadow {
	-webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-divider-1 {
	height: 2px;
	}
	.drop-publisher-users-index103 .drop-103-1 .drop-103-1-divider-2 {
	height: 10px;
	}
	.drop-publisher-users-index103 .drop-103-1 .background-transparent {
	background-color: transparent;
	}
	.drop-publisher-users-index103 .drop-103-1 .background-white {
	background-color: #fff;
	}
	.drop-publisher-users-index103 .drop-103-1 .nav-caret-container {
	width: 14px;
	height: 30px;
	padding: 0 0 0 2px;     
	}
	.drop-publisher-users-index103 .drop-103-1 .nav-caret {
	width: 0px;
	height: 0px;
	position: relative;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	margin: 16px 0 0 0px;
	}
	.drop-publisher-users-index103 .drop-103-1 .nav-caret-down {
	border-top: 5px solid #999;
	border-bottom: 0;     
	}
	.drop-publisher-users-index103 .drop-103-1 .nav-caret-up {
	border-bottom: 5px solid #999;
	border-top: 0;
	}
	.drop-publisher-users-index103 .drop-103-1 .nav-drop-1:hover {
	cursor: pointer;
	}
	.drop-publisher-users-index103 .drop-103-1 .nav-drop-1:hover .nav-avatar img {
	border: 2px solid #A9D996;
	}
	.drop-publisher-users-index103 .drop-103-1 .nav-drop-1:hover .nav-caret-down {
	border-top: 5px solid #A9D996;
	}
	.drop-publisher-users-index103 .drop-103-1 .nav-drop-1:hover .nav-caret-up {
	border-bottom: 5px solid #A9D996;
	}
	.drop-publisher-users-index103 .drop-103-1 .cursor-pointer:hover {
	cursor: pointer;
	}
	.drop-publisher-users-index103 .drop-103-1-target-icon {
	display: inline-block;
	}	
	.drop-publisher-users-index103 .drop-103-1-target-text {
	display: inline-block;
	margin: 4px 0px 0px 1px;
	}	
	/*.drop-publisher-users-index103 .container-figure-image-border-load-103 {
		border: 2px solid #fff;
		margin: 0px 4px 0px 4px;
	}	
	.drop-publisher-users-index103 .container-figure-image-border-103 {
		border: 2px solid #fff;
    	margin: 0px 4px 0px 4px;
	}
	.drop-publisher-users-index103 .container-figure-image-border-edit-103 {
		border: 2px solid #fbb040;
		margin: 4px;
	}*/	

	.drop-publisher-users-index103 figure img,
	 .drop-publisher-users-index103 figure {
		border: medium none; 
		overflow: hidden;
		height: 100px;
	}	
	.drop-publisher-users-index103 .figure-list-1-image-edit {
		height: 96px;
		border: 2px solid #fbb040;
	}	
	.drop-publisher-users-index103 .figure-list-1-image-edit img {
		margin: -2px;
	}	

	/*.drop-publisher-users-index103 figure:hover {
		height: 92px;
		border: 4px solid #fbb040;
	}	
	.drop-publisher-users-index103 figure:hover img {
		margin: -4px;
	}*/	
	
    /*#example-one a img, #example-one a           { border: none; overflow: hidden; float: left; }
    #example-one a:hover                         { border: 3px solid black; }
    #example-one a:hover img                     { margin: -3px; }*/
    	
</style>

<style>
	
	table.list-1-image-table-1 tbody tr td div {
		margin: 1px;
	} 
	/** {
	    margin: 0;
	    padding: 0;
	}*/
	/*.myDIV {
	    width: 100px;
	    height: 100px;
	    box-shadow: 0px 0px 0px 4px #fbb040 inset;	
	    margin: 4px;
	}*/
		
</style>

<!-- <div class="myDIV"></div> -->


<div>
	<table class="list-1-image-table-1">
		<tbody>
			<% if @list_1_images.any? %>
				<% number_images = @list_1_images.count %>
				<% cnt_images = 0 %>
				<% cnt = 0 %>
				<% i = 0 %>
				<% @list_1_images.each do |list_1_image| %>
					<% cnt_images += 1 %>   				
					<% cnt += 1 %>
					<% if cnt == 1 %>				
					<tr>
					<% end %>
						<td>
							<!-- <div> -->
							<div class="drop-namespace103 drop-publisher-users-index103" style="width: 102px; height: 102px;" data-i="<%= i %>">
								<div class="container-figure-image container-figure-image-border-load-103 container-figure-list-1-image drop-103" style="position: relative;">	
									<figure class="dialog-103-1-figure cursor-pointer" data-width="<%= list_1_image.width %>" data-src-600="<%= list_1_image.image_url(:image_600_600) %>">
										<img id="list_1_image_img" class="" alt="" src="<%= list_1_image.image_url(:image_100_100) + '?' + (rand(10..90) * rand(100..900)).to_s if list_1_image.image? %>" />
										<figcaption class="figcaption-edit-list-1-image hidden drop-103-target" data-i="<%= i %>">
										<!-- <figcaption class="figcaption-image-5 edit-image drop-501-target hidden" data-i="<#%= i %#>"> -->
												<div class="img-1-text">Edit photo</div>
										</figcaption>
									</figure>
							    	<div class="drop-103-container drop-hidden">
										<div class="drop-103-box background-transparent margin-top-hide-1">
											<div class="drop-103-triangle"></div>
											<div style="clear: both;"></div>
											<div class="drop-103-container-links background-white drop-103-border drop-103-shadow">
												<div class="drop-103-divider-2"></div>
												<!-- <div class="drop-103-divider-1"></div> -->
												<div class="drop-103-link-1 cursor-pointer" data-id="3" data-id-list-image="<%= list_1_image.id %>">
													<div class="drop-103-1">
												    	<div class="drop-103-1-target">
												    		<div class="drop-103-1-target-text">
												    			<span class="drop-103-1-span-1">Delete</span>
												    		</div>						    		
												    	</div>
											    	</div>
												</div>
												<div class="drop-301-divider-2"></div>
											</div>
										</div>
							        </div>
	
									<% if false %>								
									<figure class="profile-figure-list dialog-4-figure">
										<img alt="photo not appearing" src="<%= list_1_image.image_url(:image_100_100) if list_1_image.image? %>" />
										<input class="x-container-hidden" type="hidden" value="<%= list_1_image.image_url(:image_600_600) if list_1_image.image? %>" />												
										<!-- <figcaption class="figcaption-2">
											<div class="tip-top-center"><#%= button_to "", destroy_publisher_user_image_publisher_users_path(:publisher_id => @publisher_id, :id => publisher_user_image.id), :confirm => 'Delete this photo?', :remote => true, class: 'x-container' %#></div>
							                <div class="tip-content">
							                    <div class="tooltiptext">Delete</div>
							                </div>																								
										</figcaption> -->
									</figure>
									<% end %>
									
								</div>
							</div>
						</td>
						<% i += 1 %>
					<% if cnt_images == number_images   %>
					<%     if cnt == 1                  %>
						<td></td><td></td>
					</tr>
					<%     elsif cnt == 2               %>
						<td></td>
					</tr>
					<%     elsif cnt == 3               %>
						</tr>
					<%     end                          %>
					<% elsif cnt == 3                   %>
					</tr>
					<% cnt = 0                          %>
					<% end                              %>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<div style="height: 4px;"></div>

<% if false %>

<% if @publisher_user_images.any? %>
	<% @publisher_user_images.each do |publisher_user_image| %>   				
	
		<!-- <span class="dialog-3 label-dialog">&laquo; Add a photo &raquo;</span> -->
		<div class="profile-grid profile-cs-style-3" style="display: inline-block;">
			<figure class="profile-figure-list dialog-4-figure">
				<img alt="photo not appearing" src="<%= publisher_user_image.image_url(:image_100_100) if publisher_user_image.image? %>" />
				<input class="x-container-hidden" type="hidden" value="<%= publisher_user_image.image_url(:image_600_600) if publisher_user_image.image? %>" />												
				<figcaption class="figcaption-2">
					<div class="tip-top-center"><%= button_to "", destroy_publisher_user_image_publisher_users_path(:publisher_id => @publisher_id, :id => publisher_user_image.id), :confirm => 'Delete this photo?', :remote => true, class: 'x-container' %></div>
	                <div class="tip-content">
	                    <div class="tooltiptext">Delete</div>
	                </div>																								
				</figcaption>
			</figure>
		</div>
	
	<% end %>
<% end %>

<% end %>


<script>

		// var drop_visible_namespace103 = false;
		var drop_visible_namespace103_i = -1;
		function drop_show_namespace103(i) {
			// alert('drop_show_namespace103');
			if (drop_visible_namespace103_i > -1) {
				drop_hide_namespace103(drop_visible_namespace103_i);
			}
			var s_container = ".drop-namespace103[data-i=" + i.toString() + "] .drop-103-container";
			$(s_container).removeClass('drop-hidden');
			var s_box = ".drop-namespace103[data-i=" + i.toString() + "] .drop-103-box";
			$(s_box).fadeIn(1).removeClass("margin-top-hide-1").addClass("margin-top-show-1");
			drop_visible_namespace103_i = i;			
		}	
		function drop_hide_namespace103(i) {
			var s_box = ".drop-namespace103[data-i=" + i.toString() + "] .drop-103-box";
			// $(".drop-namespace103 .drop-103-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);
			$(s_box).addClass("margin-top-hide-1").fadeOut(50);		
			// drop_visible_namespace103 = false;
			drop_visible_namespace103_i = -1;			
		}	
		function drop_hide_namespace103() {
			$(".drop-namespace103 .drop-103-box").removeClass("margin-top-show-1").addClass("margin-top-hide-1").fadeOut(50);
			$(".drop-namespace103 .drop-103-box").addClass("margin-top-hide-1").fadeOut(50);		
			// drop_visible_namespace103 = false;
			drop_visible_namespace103_i = -1;			
		}	
		function drop_toggle_namespace103(i) {
			if (drop_visible_namespace103_i == i) {
				drop_hide_namespace103(i);
			}
			else {
				// drop_close_all_called_namespace103 = false;
				drop_show_namespace103(i);
			}
		}	
		// function drop_toggle_namespace103() {
			// if (drop_visible_namespace103) {
				// drop_hide_namespace103();
			// }
			// else {
				// drop_close_all_called_namespace103 = false;
				// drop_show_namespace103();
			// }
		// }	
		
		function dropCloseAll_namespace103() {
			// drop_close_all_called_namespace103 = true;
			drop_hide_namespace103();
			// drop_visible_namespace301_i = -1;
		}
	
	
	$(document).ready(function () {				

			$(document).on('click', function(e) {
				var target_namespace103 = $(e.target).parents('.drop-namespace103').attr("class");
				if (target_namespace103 == null) {
					// drop_hide_namespace103();
					dropCloseAll_namespace103();
				}
			});
		
			$(".drop-namespace103 .drop-103-target").on('click', function() {
				var i = $(this).data('i');
				// alert(i);
				drop_toggle_namespace103(i);
			});
			// $(".drop-namespace103 .drop-103-link-1[data-id='1']").on("click", function() {
				// alert(".drop-namespace103 .drop-103-link-1[data-id='1']");
				// dropCloseAll_namespace103();
				// var id_list_image = $(this).data('id-list-image');
				// $(document).trigger("btn_list_image_change_click", id_list_image);
			// });
			// // $(".drop-namespace103 .drop-103-link-1[data-id='2']").on("click", function() {
				// // dropCloseAll_namespace103();
				// // $(document).trigger("btn_image_1_crop_click");
			// // });
			$(".drop-namespace103 .drop-103-link-1[data-id='3']").on("click", function() {
				dropCloseAll_namespace103();
				var id_list_1_image = $(this).data('id-list-image');
				// alert(id_list_1_image);
				$(document).trigger("btn_list_1_image_delete_click", id_list_1_image);
			});		
			// $(".drop-namespace103 .drop-103-link-1[data-id='4']").on("click", function() {
				// alert(".drop-namespace103 .drop-103-link-1[data-id='4']");
				// dropCloseAll_namespace103();
				// var id_list_image = $(this).data('id-list-image');
				// // alert($(this).data('id_list_image'));
				// $(document).trigger("btn_list_image_new_click", id_list_image);
			// });

		// $("img").one("load", function() {
			// if((this.id == "primary_1_image_img") || (this.id == "primary_1_image_img_generic")) {
				// var img_w = this.width;
				// var img_h = this.height;
// 
				// $(".container-figure-primary-1-image").css({
					// // width : img_w + 4,
					// // height : img_h + 4
					// width : img_w,
					// height : img_h						
				// })// .removeClass("container-figure-image-border-load-102").addClass("container-figure-image-border-102");													
			// }
			// // if(this.id == "primary_1_image_generic_img") {
				// // var img_w = this.width;
				// // var img_h = this.height;
				// // $(".container-figure-primary-1-image").css({
					// // // width : img_w + 4,
					// // // height : img_h + 4
					// // width : img_w,
					// // height : img_h						
				// // }).removeClass("container-figure-image-border-load-102").addClass("container-figure-image-border-102");				
			// // }				
			// if(this.id == "primary_1_image_img_600") {
				// var img_w = this.width;
				// var img_h = this.height;
				// $("#figure_dialog_102_1").css({
					// width : img_w,
					// height : img_h
				// });																			
			// }								
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  		// $(".drop-publisher-users-index102").removeClass("hidden");
		  	// }
		// });



		// $(document).on('click', function(e) {
			// var target_publisher_users_index103 = $(e.target).parents('.drop-publisher-users-index103').attr("class");
			// if (target_publisher_users_index103 == null) {
				// drop_hide_publisher_users_index103();
			// }
		// });
		// $(".drop-publisher-users-index103 .drop-103-target").on('click', function() {
			// drop_toggle_publisher_users_index103();
		// });
		// $(".drop-publisher-users-index103 .drop-103-link-1[data-id='1']").on("click", function() {
			// dropCloseAll_publisher_users_index103();
			// $(document).trigger("btn_primary_1_image_change_click");
		// });
		// $(".drop-publisher-users-index103 .drop-103-link-1[data-id='2']").on("click", function() {
			// dropCloseAll_publisher_users_index103();
			// $(document).trigger("btn_primary_1_image_crop_click");
		// });
		// $(".drop-publisher-users-index103 .drop-103-link-1[data-id='3']").on("click", function() {
			// dropCloseAll_publisher_users_index103();
			// $(document).trigger("btn_primary_1_image_delete_click");
		// });
		// $(".drop-publisher-users-index103 .drop-103-link-1[data-id='4']").on("click", function() {
			// dropCloseAll_publisher_users_index103();
			// $(document).trigger("btn_primary_1_image_new_click");
		// });

		// $("#primary_1_image_img").on("load", function() {
			// var img_w = this.width;
			// var img_h = this.height;
			// $(".container-figure-primary-1-image").css({
				// width : img_w,
				// height : img_h						
			// });													
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  		// $(".drop-publisher-users-index102").removeClass("hidden");
		  	// }
		// });
		// $("#primary_1_image_img_generic").on("load", function() {
			// var img_w = this.width;
			// var img_h = this.height;
			// $(".container-figure-primary-1-image").css({
				// width : img_w,
				// height : img_h						
			// });													
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  		// $(".drop-publisher-users-index102").removeClass("hidden");
		  	// }
		// });
		// $("#primary_1_image_img_600").on("load", function() {
			// var img_w = this.width;
			// var img_h = this.height;
			// $("#figure_dialog_102_1").css({
				// width : img_w,
				// height : img_h
			// });																			
		// }).each(function() {
		  	// if(this.complete) {
		  		// $(this).load();
		  	// }
		// });

	});
	
</script>



<% if false %>
<script>

	function closeShowPhoto() {
		$("#close_form4").trigger('click');
	};	  
  
  	function setImgLast() {
  		setTimeout(function(){
			var a_img = document.getElementsByClassName("profile-figure-list");
			var len = a_img.length;
			var list_width = 0;
			for( var i = 0; i < len; i++ ) {
				list_width += a_img[i].clientWidth;
				if( list_width > 692 ) {
					a_img[i].setAttribute("id", "list_img_last");
					i = len;
				}
			}
			var div_pos = $("#render_publisher_user_images").position();
			var img_pos = $("#list_img_last").position();
			var div_pos_left = div_pos.left;
			var img_pos_left = img_pos.left;
			var rel_pos_left = img_pos_left - div_pos_left;
			var adj_pos_left = 16;
			var del_pos_left = 692 - rel_pos_left - adj_pos_left;
	  		$("#list_img_last figcaption.figcaption-2").css({
	  			left : del_pos_left
	  		});
  		},500);
  	}

  
  	// function xDelete() {
  		// alert('xDelete');
  		// return false;
  	// }
  
  
	// $(window).load( function() {
	$(document).ready(function () {				
	
  		// $('.dialog').jqm({
  			// onLoad: load,
  			// onShow: open,
  			// onHide: close
  		// });		


		setImgLast();


		$(".dialog-4-figure").on('click', function(e) {
			if ( e.target.nodeName == "IMG" ) {
				var this_src = $(this).find("input.x-container-hidden").attr("value");
				$("#profile_figure_list").find("img").attr("src", this_src );
				var this_delete = $(this).find("div.tip-top-center").html();
				$("#profile_figure_list").find("div.tip-top-center").html(this_delete);
				$("#dialog_4").jqmShow();	
			}
			// if ( e.target.nodeName == "INPUT" ) {
				// alert("delete");
			// }
		});
		
		$('#dialog_4').jqm({
			onShow: function(hash) {
				hash.o.prependTo('body');
				hash.w.css('top', '60px');
				hash.w.css('opacity', 1.0).fadeIn(200);

				var img = $("#profile_figure_list img");
				$("<img/>")
		    		.attr("src", $(img).attr("src"))
		    		.load(function() {
		        		img_width = this.width; 
		        		$("#profile_figure_list").css({
		        			width : this.width
		        	});	        		
		    	});		


				// hash.w.show();
				// $('#dialog_4').animate(
					// {bottom:'-=800', top:'+=800'}, 
					// 500, 
					// 'easeInOutCirc', 
					// function() {
						// $('#dialog_4').animate(
							// {bottom:'+=4', top:'-=4'}, 
							// 100, 
							// 'easeInBounce', 
							// function() {
							// }
						// );
						// // $('#dl_email').focus();
					// }
				// );
			}
		}); 		

	
	});
  
</script>		
<% end %>

