
	<style>
		
		
	</style>

			<!-- <div class="line-space-20"></div> -->

			<% if @users.any? %>
		
			<!-- <#%= hidden_field_tag :direction, params[:direction] %#>
			<#%= hidden_field_tag :sort, params[:sort] %#>	
			<#%= hidden_field_tag :pos, params[:pos] %#> -->	

				<div class="utility-bar lighter">
					<div style="padding-left: 10px; padding-top: 10px;">
						<span>Record Count: <%= @users.count %></span>
					</div>
				</div>

				<% @users.each do |user| %>

					<%= link_to ("/id" + user.id.to_s).html_safe, class: "" do %>
						<div class="users-row">
							<!-- <a href="<#%= ("/publisher-id" + publisher.id.to_s).html_safe %#>" style="height: 65px;"> -->
								<div class="users-cell-image">
									<div>
										<%= avatar_for user %>
										<!-- <#%= link_to (publisher_avatar_for publisher), ("/publisher-id" + publisher.id.to_s).html_safe %#> -->
									</div>
								</div>
								<div class="users-cell">
									<div>
										<span class="user-name">
											<%= (user.name_first + ' ' + user.name_last).html_safe %>
											<!-- <#%= link_to publisher.name, ("/publisher-id" + publisher.id.to_s).html_safe %#> -->
										</span>
									</div>
								</div>
							<!-- </a> -->
						</div>
					<% end %>

				<% end %>
					
				<%= will_paginate @users %>
		
			<% else %>
				<div class="row" style="color: red;">
					<h3>No record for Users</h3>
				</div>
			<% end %>
