

					<div style="height: 30px;"></div>

					<div class="pad-left-20">
						<span class="jp-title"><%= @user.name_first %> <%= @user.name_last %></span>
					</div>
					<div style="height: 10px;"></div>
					<div class="pad-left-20">
						<span class="jp-title-sub">title-sub</span>
					</div>
					
					<div style="height: 30px;"></div>
			
				   	<div class="pad-left-20">
				   		<div class="table">
				   			<div class="row">
								<div id="profile_image">
								
								
								<% if @user_profile_images.any? %>   				
								
									<% for user_profile_image in @user_profile_images %>
					   				<div class="">
										<ul class="profile-grid profile-grid-caption profile-grid-caption-height-50">
											<li>
												<figure>
													<img id="id_image" alt="photo not appearing" src="<%= user_profile_image.image_url(:profile_600_600) if user_profile_image.image? %>"  width="250px" />
													<figcaption class="figcaption-1">
														<span><%= link_to "Options", "#" %></span>
														<br>
													</figcaption>
												</figure>
											</li>
										</ul>
						   			</div>
						   			<div class="">
						   			</div>
									<% end %>

								<% else %>

					   				<div class="">
										<!-- <ul class="grid cs-style-4"> -->
										<ul class="profile-grid profile-grid-caption profile-grid-caption-height-50">
											<li>
												<figure>
													<img alt="logo not appearing" src="../images_avatar/avatar_generic_1_w250_h310.png" />
													<figcaption class="figcaption-1">
														<span><%= link_to "Options", "#" %></span>											
													</figcaption>
												</figure>
											</li>
										</ul>
						   			</div>
						   			<div class="">
						   				<!-- <span><#%= link_to "Add a photo", new_user_profile_image_path(:user_id => current_user.id) %#></span> -->
						   			</div>
								
								<% end %>
								
								
								</div>
					   		</div>
					   	</div> 
					</div>
			
			
			
    				<!-- 
    				:id, 
                    :user_id,    
                    :name, 
                    :address, 
                    :city, 
                    :state, 
                    :country, 
                    :zip,
                    :phone, 
                    :url, 
                    :description, 
                    :company_contact_name_first, 
                    :company_contact_name_last,
                    :company_contact_phone, 
                    :company_contact_email, 
                    :created_at, 
                    :updated_at 
                    -->
			
  				  	<!-- 
  				  	:id, 
                  	:name_first,
                  	:name_last,
                  	:email, 
                  	:username, 
                  	:account_type, 
                  	:has_account, 
                  	:password, 
                  	:password_confirmation, 
                  	:bd_month,
                  	:bd_day,
                  	:bd_year,
                  	:gender,
                  	:created_at, 
                  	:updated_at 
                  	-->
			
					<div class="line-space-20"></div>

					<% if !@user.nil? %>

						<div class="pad-left-20">
							<div class="jp-table-descr">
								<div class="row">
									<div class="jp-col-left">
										<span class="form-text-index">User ID:</span>
									</div>
									<div class="jp-col-right">
										<span class="form-text-index"><%= @user.id %></span>							
									</div>
								</div>
								<div class="input-form-spacer-jp"></div>        
								<div class="row">
									<div class="jp-col-left">
										<span class="form-text-index">First Name:</span>
									</div>
									<div class="jp-col-right">
										<span class="form-text-index"><%= @user.name_first %></span>							
									</div>
								</div>
								<div class="input-form-spacer-jp"></div>        
								<div class="row">
									<div class="jp-col-left">
										<span class="form-text-index">Last Name:</span>
									</div>
									<div class="jp-col-right">
										<span class="form-text-index"><%= @user.name_last %></span>							
									</div>
								</div>
								
							</div>
						</div>

					<% end %>

