

					<div class="pad-left-20">
						<span class="jp-title">Journal Poster</span>
					</div>
					<div style="height: 10px;"></div>
					<div class="pad-left-20">
						<span class="jp-title-sub"><%= @publisher_journalposter.poster_text %></span>
					</div>
					
					<div style="height: 30px;"></div>
						
				   	<div class="pad-left-20">
				   		<div class="table">
				   			<div class="row">
								
								<% if @publisher_journalposter_has_journalposter_logo %>   				
								
									<% for publisher_journalposter_logo in @publisher_journalposter.publisher_journalposter_logos %>
					   				<div class="cell-180">
											<ul class="grid cs-style-3">
												<li>
													<figure>
														<img alt="logo not appearing" src="<%= publisher_journalposter_logo.image_url(:logo) if publisher_journalposter_logo.image? %>" />
					
														<figcaption>
															<span><%= link_to "Delete", publisher_journalposter_logo, :confirm => 'Delete this logo?', :method => :delete, :params => {:publisher_journalposter_id => @publisher_journalposter.id} %></span>
							        						<!-- <span>= link_to "edit", edit_publisher_journalposter_logo_path(publisher_journalposter_logo) </span> -->
														</figcaption>
													</figure>
												</li>
											</ul>
									        <!-- image_tag publisher_journalposter_logo.image_url(:logo) if publisher_journalposter_logo.image?  -->
						   			</div>
						   			<div class="cell-400">
										<span><%= link_to '&laquo; Delete image &raquo;'.html_safe, publisher_journalposter_logo, :confirm => 'Delete this logo?', :method => :delete, :params => {:publisher_journalposter_id => @publisher_journalposter.id}, :class => 'links' %></span>						   				
										<br>
										
						   			</div>
									<% end %>

								<% else %>

					   				<div class="cell-180">
										<ul class="grid cs-style-3">
											<li>
												<figure>
													<img alt="logo not appearing" src="../journal_poster/logo_journalposter_generic.jpg" />
													<figcaption>
														<span><%= link_to "Add a Logo", new_publisher_journalposter_logo_path(:publisher_id => @publisher_journalposter.publisher_id, :publisher_journalposter_id => @publisher_journalposter.id) %></span>											
													</figcaption>
												</figure>
											</li>
										</ul>
						   			</div>
						   			<div class="cell-400">
										<span><%= link_to '&laquo; Add a Logo &raquo;'.html_safe, new_publisher_journalposter_logo_path(:publisher_id => @publisher_journalposter.publisher_id, :publisher_journalposter_id => @publisher_journalposter.id), :class => 'links' %></span>
						   			</div>
								
								<% end %>
								
					   		</div>
					   	</div> 
					</div>
			
					<div class="line-space-20"></div>
			
					<% if @publisher_journalposter_descriptions.any? %>
					 
						<div class="pad-left-20">
							<span class="normal">								
								<%= button_to "&laquo; Edit &raquo;".html_safe, {:controller => 'publisher_journalposter_descriptions', :action => 'edit', :id => @publisher_journalposter_descriptions[0].publisher_journalposter_id }, :class => 'jp-btn' %>
							</span>
						</div>
					 
<!-- 
curriculum_resources
cent21_learning
language
math
science
social_studies
special_ed				

teacher_tools             
assmt_testing            
collaboration             
classroom_resp           
grading_atten            
lesson_planning          
pres_tools               
lecture_capture          
plag_checks              

school_operations        
learning_mgmt_systs       
student_info_systs       
web_filtering            
device_mgmt               
virtual_dist_ed           
testing_systs              
unique_tech                

content                    
apps                       
digit_textbooks           
games                    
study_tools              
video                    
dictionaries            
directories                

prof_learning             
subscrip_sites             
ebook_game_creat        
digit_story_poster         
courseware               
talent_mgmt               
prof_devel_systems       
instr_design              
other_diy                   	
-->					 		
					 

								<!-- 
								cent21_learning		assmt_testing			learning_mgmt_systs		apps				subscrip_sites            
								language			collaboration			student_info_systs		digit_textbooks     ebook_game_creat        
								math				classroom_resp     		web_filtering      		games				digit_story_poster
								science				grading_atten       	device_mgmt     		study_tools			courseware
								social_studies		lesson_planning     	virtual_dist_ed     	video				talent_mgmt
								special_ed			pres_tools          	testing_systs     		dictionaries		prof_devel_systems
													lecture_capture     	unique_tech     		directories			instr_design
													plag_checks              											other_diy
								-->
						<div class="pad-left-20">
						<table>						
					 		<tr>
								<td id="label_curriculum_resources" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Curriculum Resources
									</div>
								</td>
								<td id="label_teacher_tools" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Digital Teacher Tools
									</div>
								</td>
								<td id="label_school_operations" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Digital School Operations
									</div>
								</td>
								<td id="label_content" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Digital Content
									</div>
								</td>
								<td id="label_prof_learning" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-right">
									<div class="jp-showcell-1">
										Professional Learning and DIY Digital Content
									</div>
								</td>
					 		</tr>
					 		<tr>
								<td id="label_cent21_learning" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										21st Century Learning
									</div>
								</td>
								<td id="label_assmt_testing" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Assessment / Testing
									</div>
								</td>
								<td id="label_learning_mgmt_systs" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Learning Management Systems
									</div>
								</td>
								<td id="label_apps" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Apps
									</div>
								</td>
								<td id="label_subscrip_sites" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-right">
									<div class="jp-showcell-1">
										Subscription sites
									</div>
								</td>
					 		</tr>
					 		<tr>
								<td id="label_language" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Language
									</div>
								</td>
								<td id="label_collaboration" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Collaboration
									</div>
								</td>
								<td id="label_student_info_systs" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Student Information Systems
									</div>
								</td>
								<td id="label_digit_textbooks" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Digital Textbooks / eBooks
									</div>
								</td>
								<td id="label_ebook_game_creat" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-right">
									<div class="jp-showcell-1">
										eBook creation / Game creation
									</div>
								</td>
					 		</tr>
					 		<tr>
								<td id="label_math" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Math
									</div>
								</td>
								<td id="label_classroom_resp" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Classroom Response
									</div>
								</td>
								<td id="label_web_filtering" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Web Filtering
									</div>
								</td>
								<td id="label_games" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Games
									</div>
								</td>
								<td id="label_digit_story_poster" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-right">
									<div class="jp-showcell-1">
										Digital Storytelling / PosterBoarding
									</div>
								</td>
					 		</tr>
					 		<tr>
								<td id="label_science" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Science
									</div>
								</td>
								<td id="label_grading_atten" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Grading / Attendance
									</div>
								</td>
								<td id="label_device_mgmt" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Device Management
									</div>
								</td>
								<td id="label_study_tools" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Study Tools
									</div>
								</td>
								<td id="label_courseware" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-right">
									<div class="jp-showcell-1">
										Courseware
									</div>
								</td>
					 		</tr>
					 		<tr>
								<td id="label_social_studies" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Social Studies
									</div>
								</td>
								<td id="label_lesson_planning" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Lesson Planning
									</div>
								</td>
								<td id="label_virtual_dist_ed" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Virtual Schools and Distance Education
									</div>
								</td>
								<td id="label_video" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Video
									</div>
								</td>
								<td id="label_talent_mgmt" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-right">
									<div class="jp-showcell-1">
										Talent Management
									</div>
								</td>
					 		</tr>
					 		<tr>
								<td id="label_special_ed" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Special Education
									</div>
								</td>
								<td id="label_pres_tools" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Presentation Tools
									</div>
								</td>
								<td id="label_testing_systs" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Testing Systems
									</div>
								</td>
								<td id="label_dictionaries" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Dictionaries
									</div>
								</td>
								<td id="label_prof_devel_systems" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-right">
									<div class="jp-showcell-1">
										Professional Development Systems
									</div>
								</td>
					 		</tr>
					 		<tr>
								<td id="label_" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										
									</div>
								</td>
								<td id="label_lecture_capture" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Lecture Capture
									</div>
								</td>
								<td id="label_unique_tech" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Unique Tech
									</div>
								</td>
								<td id="label_directories" class="jp-showcell jp-cell-border-left jp-cell-border-top">
									<div class="jp-showcell-1">
										Directories
									</div>
								</td>
								<td id="label_instr_design" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-right">
									<div class="jp-showcell-1">
										Instructional Design
									</div>
								</td>
					 		</tr>
					 		<tr>
								<td id="label_" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-bottom">
									<div class="jp-showcell-1">
										
									</div>
								</td>
								<td id="label_plag_checks" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-bottom">
									<div class="jp-showcell-1">
										Plagiarism Checks
									</div>
								</td>
								<td id="label_" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-bottom jp-cell-border-right">
									<div class="jp-showcell-1">
										
									</div>
								</td>
								<td id="label_" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-bottom">
									<div class="jp-showcell-1">
										
									</div>
								</td>
								<td id="label_other_diy" class="jp-showcell jp-cell-border-left jp-cell-border-top jp-cell-border-bottom jp-cell-border-right">
									<div class="jp-showcell-1">
										Other DIY
									</div>
								</td>
					 		</tr>
						</table>
						</div>

						<div class="line-space-20"></div>
						
						<div class="pad-left-20">
							<div class="jp-table-descr">
								<div class="row">
									<div class="jp-col-left">
										<span class="form-text-index">Tag Line:</span>
									</div>
									<div class="jp-col-right">
										<span class="form-text-index"><%= @publisher_journalposter_descriptions[0].tag_line %></span>							
									</div>
								</div>
								<div class="input-form-spacer-jp"></div>        
								<div class="row">
									<div class="jp-col-left">
										<span class="form-text-index">Company URL:</span>
									</div>
									<div class="jp-col-right">
										<span class="form-text-index"><%= @publisher_journalposter_descriptions[0].url %></span>							
									</div>
								</div>
								<div class="input-form-spacer-jp"></div>        		
								<div class="row">
									<div class="jp-col-left">
										<div class="jp-textarea"><span>30 Word Description:</div></span>
									</div>
									<div class="jp-col-right">
										<textarea class="txtarea" cols="28" disabled="disabled"><%= @publisher_journalposter_descriptions[0].word_descr %></textarea>
									</div>
								</div>
							</div>
						</div>
						
						<div class="line-space-20"></div>
						
					 	<table>
					 		<tr>
					 			<td class="form-display-col1">
					 				<span class="small pad-left-20">Created:</span>
					 			</td>
					 			<td class="form-display-col2">
					 				<span class="small pad-left-20"><%= @publisher_journalposter_descriptions[0].created_at.strftime("%B %d, %Y") %></span>
					 			</td>
					 		</tr>
					 		<!-- <tr><td class="form-display-separator"></td><td></td></tr> -->
					 		<tr>
					 			<td>
					 				<span class="small pad-left-20">Updated:</span>
					 			</td>
					 			<td>
					 				<span class="small pad-left-20"><%= @publisher_journalposter_descriptions[0].updated_at.strftime("%B %d, %Y") %></span>
					 			</td>
					 		</tr>
					 		
					 	</table>
					 	
				    	<!-- <div>
					    	<h5>
							   	 delete_all_msg = "Delete all records and reset index in Publisher Journal Poster Descriptions?" 
								 button_to "Delete All Records and Reset Index", {:action => 'dbdelete'}, :method => :post, data: { confirm: delete_all_msg }, :class => 'reset-db-btn-long' 
							</h5>
						</div> -->
						
					<% else %>

						<div>
							<span class="pad-left-20">&laquo;<%= link_to 'Add Journal Poster Information', '/PublisherAddJournalPosterInformation', :class => 'links' %>&raquo;</span>
						</div>
			
						<div class="line-space-20"></div>
			
						<div>
							<span class="normal-red pad-left-20">No record for this journalposter</span>
						</div>
				
					<% end %>

					<div style="height: 100px;"></div>
