<% provide(:title, 'Product Search') %>

<div style="display: table; height: 100%; width: 100%;">
	<%= form_tag({action: 'search_publisher_product'}, id: "search_form", remote: true) do %>
	<div style="display: table-cell; width: 225px; vertical-align: top;"></div>
	<div id="main_container" style="display: table-cell; width: 750px; vertical-align: top;">
		<div style="margin: 20px auto; width: 80%;" >
			<div style="margin: auto 20px; float: left; position: relative;">
				<div class="search-image-search-field"></div>
				<%=text_field_tag :search_query, value = nil, class: "search-query-tag", placeholder: "Start typing a product name...", :autofocus => true %>
				<div class="btn-clear-search-field" onclick="onClearSearchField()"></div>
				<%= submit_tag("Search", :style => "display: none") %> 
				<div onclick="onSearchClick()" style="float: right; margin: 5px" class="btn-opt-edit-container">
					<div class="btn-opt-edit">Search</div>
				</div>
			</div>
			<div style="clear: both;"></div>
		</div>
		<div id="result_container" style="margin: 20px auto; width: 730px;" >
			
		</div>		
	</div>
	<div style="display: table-cell; width: 225px; vertical-align: top; ">
		<div style="padding: 20px 22.5px; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #376340; background: #F7F7F7" >
			<div>
				<label style="font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 14px; color: #555;">Subjects:</label>
				<div style="height: 10px"></div>
				<!-- <#%= collection_select :subject, :id, Dtab4let.all, :id, :col_1,  {:include_blank => false}, {"data-placeholder" => "Choose a subject", :class => "chosen-select", :style => "width: 180px;" ,:multiple => true} %> -->
				<%= select_tag "search_subjects", options_from_collection_for_select(Dtab4let.all, "id", "col_1"), multiple: true, class: 'chosen-select', :style => "width: 180px;", "data-placeholder" => "Choose any subjects" %>
			</div>
			<div style="height: 10px"></div>
			<div>
				<label style="font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 14px; color: #555;">Age:</label>
				<div style="height: 10px"></div>
				<div>
					<select data-placeholder="From" id="product_from_age" name="search_from_age" class="chosen-select" style="width: 82.5px; display: inline-block">
						<option value=""></option>
						<% (1..18).each do |age| %>
							<option value="<%= age %>"><%= age %></option>
						<% end %>
					</select>
					<div style="display: inline-block"> - </div>
					<select data-placeholder="To" id="product_to_age" name="search_to_age" class="chosen-select" style="width: 82.5px; display: inline-block">
						<option value=""></option>
						<% (1..18).each do |age| %>
							<option value="<%= age %>"><%= age %></option>
						<% end %>
					</select>		
				</div>
			</div>
			<div style="height: 10px"></div>
			<div>
				<label style="font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 14px; color: #555;">Grade:</label>
				<div style="height: 10px"></div>
				<div>
					<select data-placeholder="From" id="product_from_grade" name="search_from_grade" class="chosen-select" style="width: 82.5px; display: inline-block">
						<option value=""></option>
						<% (1..12).each do |grade| %>
							<option value="<%= grade %>"><%= grade %></option>
						<% end %>
					</select>
					<div style="display: inline-block"> - </div>
					<select data-placeholder="To" id="product_to_grade" name="search_to_grade" class="chosen-select" style="width: 82.5px; display: inline-block">
						<option value=""></option>
						<% (1..12).each do |grade| %>
							<option value="<%= grade %>"><%= grade %></option>
						<% end %>
					</select>		
				</div>
			</div>
			<div style="height: 10px"></div>
			<div>
				<label style="font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 14px; color: #555;">Platforms:</label>
				<div style="height: 10px"></div>
				<%= select_tag "search_platforms", options_from_collection_for_select(Dtab3let.all, "id", "col_1"), multiple: true, class: 'chosen-select', :style => "width: 180px;", "data-placeholder" => "Choose any platforms" %>
			</div>
			<div style="height: 10px"></div>		
		</div>
	</div>
	<% end %>
</div>

<script type="text/javascript">

	function setClearSearchFieldButton () {
		if ($("#search_query").val()) {
			$("form .btn-clear-search-field").css("display", "block");
		} else{
			$("form .btn-clear-search-field").css("display", "none");
		}
	}

	function update_to_age_select (min_value) {
		$("#product_to_age option").css("display", "block");
		for (var i = 1; i < min_value; i++) {
			var selector = "#product_to_age option[value=" + i + "]";
			$(selector).css("display", "none");
		};
		// Updating dropdown
		$("#product_to_age").trigger('chosen:updated');
	}

	function update_from_age_select (max_value) {
		$("#product_from_age option").css("display", "block");
		for (var i = parseInt(max_value) + 1; i <= 18; i++) {
			var selector = "#product_from_age option[value=" + i + "]";
			$(selector).css("display", "none");
		};
		// Updating dropdown
		$("#product_from_age").trigger('chosen:updated');
	}

	function update_to_grade_select (min_value) {
		$("#product_to_grade option").css("display", "block");
		for (var i = 1; i < min_value; i++) {
			var selector = "#product_to_grade option[value=" + i + "]";
			$(selector).css("display", "none");
		};
		// Updating dropdown
		$("#product_to_grade").trigger('chosen:updated');
	}

	function update_from_grade_select (max_value) {
		$("#product_from_grade option").css("display", "block");
		for (var i = parseInt(max_value) + 1; i <= 12; i++) {
			var selector = "#product_from_grade option[value=" + i + "]";
			$(selector).css("display", "none");
		};
		// Updating dropdown
		$("#product_from_grade").trigger('chosen:updated');
	}

	$(document).ready(function () {
		// Initialize dropdowns
		$(".chosen-select").chosen({
			disable_search_threshold: 100,
			allow_single_deselect: true
		});

		setClearSearchFieldButton();

		onSearchClick();
	});

	function onSearchClick () {
		$("#search_form").submit();
	}

	function onClearSearchField() {
		$("#search_query").val("");
		setClearSearchFieldButton();
		onSearchClick();
	}

	$( '#search_query' ).on('input', function() {
		setClearSearchFieldButton();
		// onSearchClick();
	});

	// Updating search results
	$( "#search_subjects" ).change(function() {
		onSearchClick ();
	});

	$( "#search_platforms" ).change(function() {
		onSearchClick ();
	});

	// Dynamic update of 'to Age' due to selected 'from Age'
	$( "#product_from_age" ).change(function() {
		update_to_age_select($("#product_from_age").val());
		onSearchClick ();
	});

	// Dynamic update of 'from Age' due to selected 'to Age'
	$( "#product_to_age" ).change(function() {
		update_from_age_select($("#product_to_age").val());
		onSearchClick ();
	});

	// Dynamic update of 'to Grade' due to selected 'from Grade'
	$( "#product_from_grade" ).change(function() {
		update_to_grade_select($("#product_from_grade").val());
		onSearchClick ();
	});

	// Dynamic update of 'from Grade' due to selected 'to Grade'
	$( "#product_to_grade" ).change(function() {
		update_from_grade_select($("#product_to_grade").val());
		onSearchClick ();
	});
</script>