<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
								    	
  		<title><%= full_title(yield(:title)) %></title> 

		<!-- <#%= javascript_include_tag "application" %#>
		<#%= stylesheet_link_tag    "application", :media => "all" %#> -->

    	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
   		<%= javascript_include_tag "application", "data-turbolinks-track" => false %>		
  		
		<link rel="icon" type="image/png" href="/assets/knowstory-icon-fav.png" />
  		
   		    	
  		<%= include_gon %>
    	
	  	<%= csrf_meta_tags %>
	  	<%= render 'layouts/shim' %>  
		
		<style>
		
			#debug {
				background-color: red;
				font-family:Arial, Helvetica, sans-serif;
				font-size: 16px;
				color: #000;
			}
		
		</style>

		<!-- <style type="text/css">
		
			html, body { 
				height: 100%; 
				/*margin: 0 auto; 
				padding: 0;*/ 
			}
			#container {
				height: 100%; 
				margin: 0 auto; 
				padding: 0; 
				width: 1200px;
			}
		
			/*html, body, #container { 
				height: 100%; 
				margin: 0 auto; 
				padding: 0; 
			}*/
			body > #container { 
				height: auto; 
				min-height: 100%; 
			}
			/*#content { 
				padding-bottom: 100px;
			}*/
		
		</style> -->


    </head>
    
	<body>


		<!-- <div id="container">
			<#%= render 'layouts/nav_main' %#>
			<#%= yield %#>
		</div> -->		
		
		<%= render 'layouts/nav_main' %>
		
		<div style="width: 1200px; margin: 0px auto;">
			<%= yield %>
		</div>
		
		<%= render 'layouts/footer' %>

		<% if Rails.env.development? %>
			<div id="debug">
				<%= debug(params) %>
			</div>
		<% end %>
			
	</body>
	
</html>
