





					<div style="height: 30px;"></div>

					<div class="pad-left-20">
						<span class="jp-title">title</span>
					</div>
					<div style="height: 10px;"></div>
					<div class="pad-left-20">
						<span class="jp-title-sub">title-sub</span>
					</div>
					
					<div style="height: 30px;"></div>
			
					<% if !@publisher.nil? %>

						<div class="pad-left-20">
							<div id="box_profile_general" class="box-profile-general" tabindex="9">
								
								<!-- <div class="box-profile-space"></div> -->

								<!-- <div class="box-profile-space"></div> -->								
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<span class="input-label-catagory">User ID:</span>
										</div>
										<div class="form-home-profile-cell-2">
											<span class="input-label-catagory"><%= @publisher_id %></span>
										</div>
										<div class="form-home-profile-cell-3">
											<!-- <div id="render0"></div> -->
										</div>								
									</div>
								</div>

								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Company Name</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_name">Company</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_name %>
											<input class="input-home-profile-short" id="publisher_name" name="publisher[name]" tabindex="10" type="text" value="<%= @publisher.name %>" placeholder="" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_name" name="publisher[name]" tabindex="10" type="text" value="" placeholder="Company" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_name %>
											<div id="render_1_name" class="render-1"><span id="render_name" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_name" class="render-2"></div>
										</div>										
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_name" class="submit-btn-home-profile" tabindex="12">Submit</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>





								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Company URL</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_url">URL</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_url %>
											<input class="input-home-profile-short" id="publisher_url" url="publisher[url]" tabindex="10" type="text" value="<%= @publisher.url %>" placeholder="" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_url" url="publisher[url]" tabindex="10" type="text" value="" placeholder="www.MyCompany.com" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_url %>
											<div id="render_1_url" class="render-1"><span id="render_url" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_url" class="render-2"></div>
										</div>										
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" url="submit-url-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_url" class="submit-btn-home-profile" tabindex="12">Submit</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>

								
								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Company Contact Email</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_company_contact_email">Email</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_company_contact_email %>
											<input class="input-home-profile-short" id="publisher_company_contact_email" name="publisher[company_contact_email]" tabindex="21" type="text" value="<%= @publisher.company_contact_email %>" placeholder="" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_company_contact_email" name="publisher[company_contact_email]" tabindex="21" type="text" value="" placeholder="Company Contact Email" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_company_contact_email %>
											<div id="render_1_company_contact_email" class="render-1"><span id="render_company_contact_email" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_company_contact_email" class="render-2"></div>
										</div>								
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_company_contact_email" class="submit-btn-home-profile" tabindex="22">Submit</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>



								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Company Contact Phone</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_company_contact_phone">Phone</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_company_contact_phone %>
											<input class="input-home-profile-short" id="publisher_company_contact_phone" name="publisher[company_contact_phone]" tabindex="21" type="text" value="<%= @publisher.company_contact_phone %>" placeholder="" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_company_contact_phone" name="publisher[company_contact_phone]" tabindex="21" type="text" value="" placeholder="555-555-5555" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_company_contact_phone %>
											<div id="render_1_company_contact_phone" class="render-1"><span id="render_company_contact_phone" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_company_contact_phone" class="render-2"></div>
										</div>								
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_company_contact_phone" class="submit-btn-home-profile" tabindex="22">Submit</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>


								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Company Contact Name</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_address">First Name</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_company_contact_name_first %>
											<input class="input-home-profile-short" id="publisher_company_contact_name_first" name="publisher[company_contact_name_first]" tabindex="23" type="text" value="<%= @publisher.company_contact_name_first %>" placeholder="" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_company_contact_name_first" name="publisher[company_contact_name_first]" tabindex="23" type="text" value="" placeholder="First Name" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_company_contact_name_first %>
											<div id="render_1_company_contact_name_first" class="render-1"><span id="render_company_contact_name_first" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_company_contact_name_first" class="render-2"></div>
										</div>								
									</div>
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_address">Last Name</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_company_contact_name_last %>
											<input class="input-home-profile-short" id="publisher_company_contact_name_last" name="publisher[company_contact_name_last]" tabindex="23" type="text" value="<%= @publisher.company_contact_name_last %>" placeholder="" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_company_contact_name_last" name="publisher[company_contact_name_last]" tabindex="23" type="text" value="" placeholder="Last Name" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_company_contact_name_last %>
											<div id="render_1_company_contact_name_last" class="render-1"><span id="render_company_contact_name_last" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_company_contact_name_last" class="render-2"></div>
										</div>								
									</div>
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_company_contact_name" class="submit-btn-home-profile" tabindex="24">Submit</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>





								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Company Address</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_address">Address</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_address %>
											<input class="input-home-profile-short" id="publisher_address" name="publisher[address]" tabindex="23" type="text" value="<%= @publisher.address %>" placeholder="" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_address" name="publisher[address]" tabindex="23" type="text" value="" placeholder="Address" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_address %>
											<div id="render_1_address" class="render-1"><span id="render_address" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_address" class="render-2"></div>
										</div>								
									</div>
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_city">City</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_city %>
											<input class="input-home-profile-short" id="publisher_city" name="publisher[city]" tabindex="23" type="text" value="<%= @publisher.city %>" placeholder="" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_city" name="publisher[city]" tabindex="23" type="text" value="" placeholder="City" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_city %>
											<div id="render_1_city" class="render-1"><span id="render_city" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_city" class="render-2"></div>
										</div>								
									</div>							
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_state">State</label>
										</div>		
										<div class="form-home-profile-cell-2">
										<!-- <#%= f.collection_select :bd_year, @bd_years, :id, :year, :html => {}  %#> -->		
											<select id="publisher_state" name="publisher[state]" data-template="#dropdown-data3" tabindex="">
							          		<!-- <select id="user_bd_year" name="user[bd_year]" data-placeholder="" class="chosen-select" style="width:80px;" tabindex="19"> -->
												<option value="0">-State-</option>
												<% @address_states.each do|address_state| %>
													<option value="<%= address_state.state_text %>"><%= address_state.state_text %></option>
												<% end %>
											</select>		
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_state %>
											<div id="render_1_state" class="render-1"><span id="render_state" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_state" class="render-2"></div>
										</div>								
									</div>
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_zip">Zip Code</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_zip %>
											<input class="input-home-profile-short" id="publisher_zip" name="publisher[zip]" tabindex="23" type="text" value="<%= @publisher.zip %>" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_zip" name="publisher[zip]" tabindex="23" type="text" placeholder="Zip Code" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_zip %>
											<div id="render_1_zip" class="render-1"><span id="render_zip" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_zip" class="render-2"></div>
										</div>								
									</div>							
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="publisher_country">Country</label>
										</div>
										<div class="form-home-profile-cell-2">
											<% if @b_country %>
											<input class="input-home-profile-short" id="publisher_country" name="publisher[country]" tabindex="23" type="text" value="<%= @publisher.country %>" placeholder="" />
											<% else %>
											<input class="input-home-profile-short" id="publisher_country" name="publisher[country]" tabindex="23" type="text" value="" placeholder="Country" />
											<% end %>
										</div>
										<div class="form-home-profile-cell-3">
											<% if !@b_country %>
											<div id="render_1_country" class="render-1"><span id="render_country" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_country" class="render-2"></div>
										</div>								
									</div>							
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_address" class="submit-btn-home-profile" tabindex="24">Submit</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>
								
								
								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Decription of Company</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
											<!-- <textarea class="input-form-word-description-jp" id="publisher_journalposter_description_word_descr" name="publisher_journalposter_description[word_descr]" onkeyup="countChar(this)" tabindex="44">words</textarea> -->								

								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile input-form-word-description-label" for="publisher_company_contact_phone">Description</label>
										</div>
										<div class="form-home-profile-cell-2a">
											<% if @b_description %>
											<textarea class="input-form-word-description" id="publisher_description" name="publisher[description]" tabindex="21" type="text" placeholder="" onkeyup="countChar(this)"><%= @publisher.description %></textarea>
											<% else %>
											<textarea class="input-form-word-description" id="publisher_description" name="publisher[description]" tabindex="21" type="text" placeholder="Description of Company" onkeyup="countChar(this)"></textarea>
											<% end %>
											<div id="char_num" class="char_num">count</div>
										</div>
										<div class="form-home-profile-cell-3a">
											<% if !@b_description %>
											<div id="render_1_description" class="render-1 input-form-word-description-label"><span id="render_description" class="profile-label-text-no-entry">* entry required</span></div>
											<% end %>
											<div id="render_2_description" class="render-2 input-form-word-description-label"></div>
										</div>								
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2a">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_description" class="submit-btn-home-profile" tabindex="22">Submit</div>
											<!-- style="position: relative; top: -12px;" --> 
										</div>
										<div class="form-home-profile-cell-3a">
										</div>								
									</div>							
								</div>
								
								
								<!-- <div class="row">
									<div class="cell-left-form-jp">
										<#%= f.label(:word_descr, '30 Word Description', class: 'input-label-form-area-jp') %#>							
									</div>
									<div class="cell-right-form-jp">
										<#%= f.text_area :word_descr, :class => 'input-form-word-description-jp', :onkeyup => 'countChar(this)',  :autofocus => false, :tabindex => '44' %#>
										<div id="char_num" class="char_num"></div>	
									</div>
									<div class="cell-error" id="state_publisher_journalposter_descriptions_word_descr"><p id="error_publisher_journalposter_descriptions_word_descr"></p></div>      					   							 								      	
								</div> -->
								
								
								
								
							</div>
	
						</div>

					<% end %>

					<div style="height: 100px;"></div>

                    <!-- 
                    :phone, 
                    :description, 
                    --> 
					
					
	<script>


		// function validate_Name(s) {
			// val b = false;
			// if s.length > 0 {
				// b = true;
			// }
			// else {
// 				
			// }
			// return b;
		// }

		function countChar(val) {
	    	var len = val.value.length;
	        if (len > 150) {
	        	val.value = val.value.substring(0, 150);
	        } else {
	        	$('#char_num').text(150 - len);
	      	}
		}


		$(window).load( function() {
		//$(document).ready(function(){
	
			$("#render_2_name").addClass("display-none");
			$("#render_2_url").addClass("display-none");			
			$("#render_2_company_contact_email").addClass("display-none");
			$("#render_2_company_contact_phone").addClass("display-none");
			$("#render_2_address").addClass("display-none");
			$("#render_2_city").addClass("display-none");
			$("#render_2_state").addClass("display-none");
			$("#render_2_zip").addClass("display-none");
			$("#render_2_country").addClass("display-none");
			$("#render_2_company_contact_name_first").addClass("display-none");
			$("#render_2_company_contact_name_last").addClass("display-none");
			$("#render_2_description").addClass("display-none");
	
	
			$("#publisher_state").val( gon.publisher_state );


    		$("#submit_name").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_name").click();
    		});				
    		$("#submit_company_contact_email").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_company_contact_email").click();
    		});				
    		$("#submit_address").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_address").click();
    		});				
    		$("#submit_country").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_country").click();
    		});				
    		$("#submit_company_contact_phone").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_company_contact_phone").click();
    		});				
    		$("#submit_url").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_url").click();
    		});				

			$("#submit_name").on('click', function() {

			  	// var obj_list = ""; 

				var input_name = $("#publisher_name").val();
				
				var obj_list = '{"publisher_id":' + <%= @publisher_id %> + ', "name":"' + input_name + '"}';      
				// var obj = '{' + input_name_first + '}';
			  	var obj = '{ "publisher": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	// url: '/Update-FirstName',
			    	url: '/publisher_profiles/update_name',			    	
			    	// dataType: "js",
			    	// contentType: "application/js",
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						// $("#render0").html("<#%= escape_javascript(render("publisher_profiles/test")) %#>");	            		
						// $("#render0").html("<#%= @user_updated_name_first %#>");	            		
						
						if (data.name.length > 0) {      		
							$("#publisher_name").attr("value", data.name);
							$("#render_name").html("");
							$("#render_1_name").addClass("display-none");							
							$("#render_2_name").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_name").attr("value", "");
							$("#render_name").html("* entry required");
							$("#render_1_name").removeClass("display-none");														
							$("#render_2_name").removeClass("cb-affirm").addClass("display-none");
						}							
						
						$( "#box_profile_general" ).focus();													
						// $("#render0").html(gon.name_first);	            		
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});
			

			$("#submit_url").on('click', function() {

			  	// var obj_list = ""; 

				var input_url = $("#publisher_url").val();
				
				var obj_list = '{"publisher_id":' + <%= @publisher_id %> + ', "url":"' + input_url + '"}';      
				// var obj = '{' + input_url_first + '}';
			  	var obj = '{ "publisher": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	// url: '/Update-FirstName',
			    	url: '/publisher_profiles/update_url',			    	
			    	// dataType: "js",
			    	// contentType: "application/js",
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						// $("#render0").html("<#%= escape_javascript(render("publisher_profiles/test")) %#>");	            		
						// $("#render0").html("<#%= @user_updated_name_first %#>");	            		
						
						if (data.url.length > 0) {      		
							$("#publisher_url").attr("value", data.url);
							$("#render_url").html("");
							$("#render_1_url").addClass("display-none");							
							$("#render_2_url").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_url").attr("value", "");
							$("#render_url").html("* entry required");
							$("#render_1_url").removeClass("display-none");														
							$("#render_2_url").removeClass("cb-affirm").addClass("display-none");
						}							
						
						$( "#box_profile_general" ).focus();													
						// $("#render0").html(gon.name_first);	            		
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});

			

			$("#submit_company_contact_email").on('click', function() {

				var input_company_contact_email = $("#publisher_company_contact_email").val();
				
				var obj_list = '{"publisher_id":' + <%= @publisher_id %> + ', "company_contact_email":"' + input_company_contact_email + '"}';      
			  	var obj = '{ "publisher": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_profiles/update_company_contact_email',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {

						if (data.company_contact_email.length > 0) {      		
							$("#publisher_company_contact_email").attr("value", data.company_contact_email);
							$("#render_company_contact_email").html("");
							$("#render_1_company_contact_email").addClass("display-none");							
							$("#render_2_company_contact_email").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_company_contact_email").attr("value", "");
							$("#render_company_contact_email").html("* entry required");
							$("#render_1_company_contact_email").removeClass("display-none");														
							$("#render_2_company_contact_email").removeClass("cb-affirm").addClass("display-none");
						}							
	            		
						// if (data.company_contact_email.length > 0) {      		
							// $("#publisher_company_contact_email").attr("value", data.company_contact_email);
							// $("#render_company_contact_email").html("");
						// }
						// else {
							// $("#publisher_company_contact_email").attr("value", "");
							// $("#render_company_contact_email").html("* entry required");
						// }							
	            		
						// $("#render_company_contact_email").html(data.company_contact_email);	            		
						// $("#publisher_company_contact_email").attr("placeholder", data.company_contact_email);      		
						// $("#publisher_company_contact_email").attr("value", "");       		
						
						$( "#box_profile_general" ).focus();																											
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
			  
			  	return false;
			});



			$("#submit_company_contact_phone").on('click', function() {

				var input_company_contact_phone = $("#publisher_company_contact_phone").val();
				
				var obj_list = '{"publisher_id":' + <%= @publisher_id %> + ', "company_contact_phone":"' + input_company_contact_phone + '"}';      
			  	var obj = '{ "publisher": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_profiles/update_company_contact_phone',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {

						if (data.company_contact_phone.length > 0) {      		
							$("#publisher_company_contact_phone").attr("value", data.company_contact_phone);
							$("#render_company_contact_phone").html("");
							$("#render_1_company_contact_phone").addClass("display-none");							
							$("#render_2_company_contact_phone").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_company_contact_phone").attr("value", "");
							$("#render_company_contact_phone").html("* entry required");
							$("#render_1_company_contact_phone").removeClass("display-none");														
							$("#render_2_company_contact_phone").removeClass("cb-affirm").addClass("display-none");
						}							
	            		
						// if (data.company_contact_email.length > 0) {      		
							// $("#publisher_company_contact_email").attr("value", data.company_contact_email);
							// $("#render_company_contact_email").html("");
						// }
						// else {
							// $("#publisher_company_contact_email").attr("value", "");
							// $("#render_company_contact_email").html("* entry required");
						// }							
	            		
						// $("#render_company_contact_email").html(data.company_contact_email);	            		
						// $("#publisher_company_contact_email").attr("placeholder", data.company_contact_email);      		
						// $("#publisher_company_contact_email").attr("value", "");       		
						
						$( "#box_profile_general" ).focus();																											
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
			  
			  	return false;
			});


			$("#submit_address").on('click', function() {
			  	// var obj_list = ""; 
				var input_address = $("#publisher_address").val();
				var input_city = $("#publisher_city").val();
				var input_state = $("#publisher_state").val();
				var input_zip = $("#publisher_zip").val();
				var input_country = $("#publisher_country").val();

				var obj_list = '{"publisher_id":' + <%= @publisher_id %> + ', "address":"' + input_address + '", "city":"' + input_city + '", "state":"' + input_state + '", "zip":"' + input_zip + '", "country":"' + input_country + '"}';      
				// var obj = '{' + input_name_first + '}';
			  	var obj = '{ "publisher": [' +  obj_list + '] }';                  
			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	// url: '/Update-FirstName',
			    	url: '/publisher_profiles/update_address',			    	
			    	// dataType: "js",
			    	// contentType: "application/js",
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						// $("#render0").html("<#%= escape_javascript(render("publisher_profiles/test")) %#>");	            		
						// $("#render0").html("<#%= @user_updated_name_first %#>");	      
						
						if (data.address.length > 0) {      		
							$("#publisher_address").attr("value", data.address);
							$("#render_address").html("");
							$("#render_1_address").addClass("display-none");							
							$("#render_2_address").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_address").attr("value", "");
							$("#render_address").html("* entry required");
							$("#render_1_address").removeClass("display-none");														
							$("#render_2_address").removeClass("cb-affirm").addClass("display-none");
						}							
						
						if (data.city.length > 0) {      		
							$("#publisher_city").attr("value", data.city);
							$("#render_city").html("");
							$("#render_1_city").addClass("display-none");							
							$("#render_2_city").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_city").attr("value", "");
							$("#render_city").html("* entry required");
							$("#render_1_city").removeClass("display-none");														
							$("#render_2_city").removeClass("cb-affirm").addClass("display-none");
						}							
						
						if (data.zip.length > 0) {      		
							$("#publisher_zip").attr("value", data.zip);
							$("#render_zip").html("");
							$("#render_1_zip").addClass("display-none");							
							$("#render_2_zip").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_zip").attr("value", "");
							$("#render_zip").html("* entry required");
							$("#render_1_zip").removeClass("display-none");														
							$("#render_2_zip").removeClass("cb-affirm").addClass("display-none");
						}							

						if (data.country.length > 0) {      		
							$("#publisher_country").attr("value", data.country);
							$("#render_country").html("");
							$("#render_1_country").addClass("display-none");							
							$("#render_2_country").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_country").attr("value", "");
							$("#render_country").html("* entry required");
							$("#render_1_country").removeClass("display-none");														
							$("#render_2_country").removeClass("cb-affirm").addClass("display-none");
						}							
						
						// $("#publisher_address").attr("value", data.address);       		
						// $("#publisher_city").attr("value", data.city);       	
						// $("#publisher_zip").attr("value", data.zip);

						// alert(data.state);

						if (data.state == '0') {						
							$("#render_state").html("* entry required");
							$("#render_1_state").removeClass("display-none");														
							$("#render_2_state").removeClass("cb-affirm").addClass("display-none");
						}
						else {
							$("#publisher_state").val( data.state );
							$("#render_state").html("");
							$("#render_1_state").addClass("display-none");							
							$("#render_2_state").addClass("cb-affirm").removeClass("display-none");

							// $("#publisher_state").attr("value", "");
						}
						       		
						$( "#box_profile_general" ).focus();													
						// $("#render0").html(gon.name_first);	            		
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
			  
			  	return false;
			});


			$("#submit_company_contact_name").on('click', function() {

			  	// var obj_list = ""; 

				var input_company_contact_name_first = $("#publisher_company_contact_name_first").val();
				var input_company_contact_name_last = $("#publisher_company_contact_name_last").val();
				
				var obj_list = '{"publisher_id":' + <%= @publisher_id %> + ', "company_contact_name_first":"' + input_company_contact_name_first + '", "company_contact_name_last":"' + input_company_contact_name_last + '"}';      
				// var obj = '{' + input_country_first + '}';
			  	var obj = '{ "publisher": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	// url: '/Update-FirstName',
			    	url: '/publisher_profiles/update_company_contact_name',			    	
			    	// dataType: "js",
			    	// contentType: "application/js",
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						// $("#render0").html("<#%= escape_javascript(render("publisher_profiles/test")) %#>");	            		
						// $("#render0").html("<#%= @user_updated_country_first %#>");	            		
						
						if (data.company_contact_name_first.length > 0) {      		
							$("#publisher_company_contact_name_first").attr("value", data.company_contact_name_first);
							$("#render_company_contact_name_first").html("");
							$("#render_1_company_contact_name_first").addClass("display-none");							
							$("#render_2_company_contact_name_first").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_company_contact_name_first").attr("value", "");
							$("#render_company_contact_name_first").html("* entry required");
							$("#render_1_company_contact_name_first").removeClass("display-none");														
							$("#render_2_company_contact_name_first").removeClass("cb-affirm").addClass("display-none");
						}							

						if (data.company_contact_name_last.length > 0) {      		
							$("#publisher_company_contact_name_last").attr("value", data.company_contact_name_last);
							$("#render_company_contact_name_last").html("");
							$("#render_1_company_contact_name_last").addClass("display-none");							
							$("#render_2_company_contact_name_last").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_company_contact_name_last").attr("value", "");
							$("#render_company_contact_name_last").html("* entry required");
							$("#render_1_company_contact_name_last").removeClass("display-none");														
							$("#render_2_company_contact_name_last").removeClass("cb-affirm").addClass("display-none");
						}							
						
						$( "#box_profile_general" ).focus();													
						// $("#render0").html(gon.country_first);	            		
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});


			$("#submit_description").on('click', function() {

			  	// var obj_list = ""; 

				var input_description = $("#publisher_description").val();
				
				var obj_list = '{"publisher_id":' + <%= @publisher_id %> + ', "description":"' + input_description + '"}';      
				// var obj = '{' + input_description_first + '}';
			  	var obj = '{ "publisher": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	// url: '/Update-FirstName',
			    	url: '/publisher_profiles/update_description',			    	
			    	// dataType: "js",
			    	// contentType: "application/js",
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						// $("#render0").html("<#%= escape_javascript(render("publisher_profiles/test")) %#>");	            		
						// $("#render0").html("<#%= @user_updated_name_first %#>");	            		
						
						if (data.description.length > 0) {      		
							$("#publisher_description").attr("value", data.description);
							$("#render_description").html("");
							$("#render_1_description").addClass("display-none");							
							$("#render_2_description").addClass("cb-affirm").removeClass("display-none");
						}
						else {
							$("#publisher_description").attr("value", "");
							$("#render_description").html("* entry required");
							$("#render_1_description").removeClass("display-none");														
							$("#render_2_description").removeClass("cb-affirm").addClass("display-none");
						}							
						
						$( "#box_profile_general" ).focus();													
						// $("#render0").html(gon.name_first);	            		
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
		  		return false;
			});

	
		});
	  
	</script>		
