





					<div style="height: 30px;"></div>

					<div class="pad-left-20">
						<span class="jp-title">title</span>
					</div>
					<div style="height: 10px;"></div>
					<div class="pad-left-20">
						<span class="jp-title-sub">title-sub</span>
					</div>
					
					<div style="height: 30px;"></div>
			
					<% if !@user.nil? %>

						<div class="pad-left-20">
							<div id="box_profile_general" class="box-profile-general" tabindex="9">
								
								<!-- <div class="box-profile-space"></div> -->

								<!-- <div class="box-profile-space"></div> -->								
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<span class="input-label-catagory">User ID:</span>
										</div>
										<div class="form-home-profile-cell-2">
											<span class="input-label-catagory"><%= @user.id %></span>
										</div>
										<div class="form-home-profile-cell-3">
											<!-- <div id="render0"></div> -->
										</div>								
									</div>
								</div>

								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Name</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<span id="render_name_first" class="profile-label-text"><%= @user.name_first %></span>
										</div>
										<div class="form-home-profile-cell-3">
											<span id="render_name_last" class="profile-label-text"><%= @user.name_last %></span>
										</div>								
									</div>
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="user_name">New</label>
										</div>
										<div class="form-home-profile-cell-2">
											<input class="input-home-profile-short" id="user_name_first" name="user[name_first]" tabindex="10" type="text" placeholder="<%= @user.name_first %>" />
										</div>
										<div class="form-home-profile-cell-3">
											<input class="input-home-profile-short" id="user_name_last" name="user[name_last]" tabindex="11" type="text" placeholder="<%= @user.name_last %>" />
										</div>								
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
										</div>
										<div class="form-home-profile-cell-3">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_name" class="submit-btn-home-profile" tabindex="12">Change</div>
										</div>								
									</div>							
								</div>
								
								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Password</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>


							<%= form_for( :new_password, url: update_password_publisher_profiles_path, :html => {:id => "form_new_password"}, :remote => true ) do |f| %>																	
								<%= csrf_meta_tag %>
								<%= hidden_field_tag(:user_id, @user_id) %>

								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <span id="render_email" class="profile-label-text"></span> -->
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="user_email">Current</label>
										</div>
										<div class="form-home-profile-cell-2">
											<%= f.password_field :password_current, class: "input-home-profile-short", :tabindex => '13' %>
											<!-- <input class="input-home-profile-short" id="user_password_current" name="user[password_current]" tabindex="13" type="password" /> -->
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="user_password_new">New</label>
										</div>
										<div class="form-home-profile-cell-2">
											<%= f.password_field :password, class: "input-home-profile-short", :tabindex => '14' %>
											<!-- <input class="input-home-profile-short" id="user_password_new" name="user[password_new]" tabindex="14" type="password" /> -->
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>		
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="user_password_confirmation">Confirm</label>
										</div>
										<div class="form-home-profile-cell-2">
											<%= f.password_field :password_confirmation, class: "input-home-profile-short", :tabindex => '15' %>
											<!-- <input class="input-home-profile-short" id="user_password_confirmation" name="user[password_confirmation]" tabindex="15" type="password" /> -->
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>		
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<!-- <div id="submit_password" class="submit-btn-home-profile" tabindex="16">Change</div> -->
											<%= f.submit "Change", :id => "new_password_submit", class: "submit-btn-home-profile submit-btn-home-profile-password" %>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>	
																			
								</div>
								
							<% end %>

								<div class="box-profile-space"></div>
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Birthday</span>								
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>

								<div class="form-home-profile-table-bd">
									<div class="form-home-profile-row-bd">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-month">
											<span id="render_bd_month_text" class="profile-label-text"><%= @user.bd_month_text %></span>
										</div>
										<div class="form-home-profile-cell-day">
											<span id="render_bd_day" class="profile-label-text"><%= @user.bd_day %></span>
										</div>
										<div class="form-home-profile-cell-year">
											<span id="render_bd_year" class="profile-label-text"><%= @user.bd_year %></span>
										</div>																				
									</div>
									<!-- <div class="form-home-profile-row-space"></div> -->
									<div class="form-home-profile-row-bd">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="user_bd">New</label>
										</div>		
										<div class="form-home-profile-cell-month">
							          		<!-- <select id="user_bd_month" name="user[bd_month]" data-placeholder="Month" class="chosen-select" style="width:100px;" tabindex="17">
												<option value="0">-Month-</option>
												<option value="1">Jan</option>
												<option value="2">Feb</option>
												<option value="3">Mar</option>
												<option value="4">Apr</option>
												<option value="5">May</option>
												<option value="6">Jun</option>
												<option value="7">Jul</option>
												<option value="8">Aug</option>
												<option value="9">Sep</option>
												<option value="10">Oct</option>
												<option value="11">Nov</option>
												<option value="12">Dec</option>
							          		</select> -->
							          													
											<select id="user_bd_month" name="user[bd_month]" data-template="#dropdown-data1" tabindex="">
												<option value="0">-Month-</option>
												<option value="1">Jan</option>
												<option value="2">Feb</option>
												<option value="3">Mar</option>
												<option value="4">Apr</option>
												<option value="5">May</option>
												<option value="6">Jun</option>
												<option value="7">Jul</option>
												<option value="8">Aug</option>
												<option value="9">Sep</option>
												<option value="10">Oct</option>
												<option value="11">Nov</option>
												<option value="12">Dec</option>
											</select>		
								   		<!-- <#%= f.select("bd_month", options_for_select(
								   				[['-Month-','0'],
								   				['Jan','1'],
								   				['Feb','2'],
								   				['Mar','3'],
								   				['Apr','4'],
								   				['May','5'],
								   				['Jun','6'],
								   				['Jul','7'],
								   				['Aug','8'],
								   				['Sep','9'],
								   				['Oct','10'],
								   				['Nov','11'],
								   				['Dec','12']]), :class => 'btn-bd-month', :html => {:id => 'bd_month'}) %#> -->
										</div>
										<div class="form-home-profile-cell-day">
											
							          		<!-- <select id="user_bd_day" name="user[bd_day]" data-placeholder="<%= @user.bd_day %>" class="chosen-select" style="width:80px;" tabindex="18">
												<option value="0">-Day-</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
												<option value="23">23</option>
												<option value="24">24</option>
												<option value="25">25</option>
												<option value="26">26</option>
												<option value="27">27</option>
												<option value="28">28</option>
												<option value="29">29</option>
												<option value="30">30</option>
												<option value="31">31</option>
							          		</select> -->
											
											
											
											<select id="user_bd_day" name="user[bd_day]" data-template="#dropdown-data2" tabindex="">
												<option value="0">-Day-</option>
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">22</option>
												<option value="23">23</option>
												<option value="24">24</option>
												<option value="25">25</option>
												<option value="26">26</option>
												<option value="27">27</option>
												<option value="28">28</option>
												<option value="29">29</option>
												<option value="30">30</option>
												<option value="31">31</option>
											</select>		
										</div>
										<div class="form-home-profile-cell-year">
										<!-- <#%= f.collection_select :bd_year, @bd_years, :id, :year, :html => {}  %#> -->		
											<select id="user_bd_year" name="user[bd_year]" data-template="#dropdown-data3" tabindex="">
							          		<!-- <select id="user_bd_year" name="user[bd_year]" data-placeholder="" class="chosen-select" style="width:80px;" tabindex="19"> -->
												<option value="0">-Year-</option>
												<% @bd_years.each do|bd_year| %>
													<option value="<%= bd_year.year %>"><%= bd_year.year %></option>
												<% end %>
											</select>		
										</div>
										
									  	<!-- <script type="text/javascript">
									    	var config = {
									      	'.chosen-select'           : {},
									      	'.chosen-select-deselect'  : {allow_single_deselect:true},
									      	'.chosen-select-no-single' : {disable_search_threshold:10},
									      	'.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
									      	'.chosen-select-width'     : {width:"95%"}
									    	}
									    	for (var selector in config) {
									      		$(selector).chosen(config[selector]);
									    	}
									  	</script> -->
										
										<div class="form-home-profile-cell-bd-why">
											<div id="submit_bd" class="submit-btn-home-profile" tabindex="20">Change</div>
										</div>								
									</div>
								</div>
								
								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Email</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<span id="render_email" class="profile-label-text"><%= @user.email %></span>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="user_email">New</label>
										</div>
										<div class="form-home-profile-cell-2">
											<input class="input-home-profile-short" id="user_email" name="user[email]" tabindex="21" type="text" placeholder="<%= @user.email %>" />
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_email" class="submit-btn-home-profile" tabindex="22">Change</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>
								
								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Username</span>
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table">						
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<span id="render_username" class="profile-label-text"><%= @user.username %></span>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
											<label class="input-label-home-profile" for="user_username">New</label>
										</div>
										<div class="form-home-profile-cell-2">
											<input class="input-home-profile-short" id="user_username" name="user[username]" tabindex="23" type="text" placeholder="<%= @user.username %>" />
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
									<div class="form-home-profile-row">
										<div class="form-home-profile-cell-1">
										</div>
										<div class="form-home-profile-cell-2">
											<!-- <input class="submit-btn-home-profile" name="submit-name-first" tabindex="" type="button" value="Change" /> -->
											<div id="submit_username" class="submit-btn-home-profile" tabindex="24">Change</div>
										</div>
										<div class="form-home-profile-cell-3">
										</div>								
									</div>							
								</div>
								
								<div class="box-profile-space"></div>								
								<div class="box-profile-space"></div>
								<span class="input-label-catagory">Gender</span>								
								<div class="box-profile-line-container"><div class="box-profile-line"></div></div>
								<div class="box-profile-space"></div>
								
								<div class="form-home-profile-table-gender">
									<!-- <div class="form-home-profile-row-gender">
										<div class="form-home-profile-cell-gender-1">
										</div>
										<div class="form-home-profile-cell-gender-2">
											<span id="render_gender_text" class="profile-label-text"><#%= @user.gender_text %#></span>
										</div>
										<div class="form-home-profile-cell-gender-3">
										</div>
										<div class="form-home-profile-cell-gender-4">
										</div>																				
										<div class="form-home-profile-cell-gender-5">
										</div>																				
									</div>
									<div class="form-home-profile-row-space"></div> -->
									<div class="form-home-profile-row-gender">
										<div class="form-home-profile-cell-gender-1">
										</div>										
										<div class="form-home-profile-cell-gender-2">
										</div>
										<div class="form-home-profile-cell-gender-3">
											<label id="label_gender_male" class="profile-label-text" for="gender_male" onclick="rd_gender('male');" tabindex="">Male</label>
										</div>
										<div class="form-home-profile-cell-gender-4">
											<label id="label_gender_female" class="profile-label-text" for="gender_female" onclick="rd_gender('female');" tabindex="">Female</label>
										</div>
										<div class="form-home-profile-cell-gender-5">
										</div>								
									</div>
									<div class="form-home-profile-row-space"></div>
									<div class="form-home-profile-row-gender">
										<div class="form-home-profile-cell-gender-1">
											<label class="input-label-home-profile" for="user_gender">New</label>
										</div>										
										<div class="form-home-profile-cell-gender-2">
										</div>
										<div class="form-home-profile-cell-gender-3">
											<div id="rd_gender_male" class="rd-button" tabindex="25"></div>
											<input id="user_gender_0" name="user_gender" type="radio" value="0" />
										</div>
										<div class="form-home-profile-cell-gender-4">
											<div id="rd_gender_female" class="rd-button" tabindex="26"></div>
											<input id="user_gender_1" name="user_gender" type="radio" value="1" />
										</div>
										<div class="form-home-profile-cell-gender-5">
											<div id="submit_gender" class="submit-btn-home-profile" tabindex="27">Change</div>											
										</div>								
									</div>
								</div>
								
								<div class="box-profile-space"></div>
								
								
							</div>
	
						</div>

					<% end %>

					<div style="height: 100px;"></div>
					
					
	<script>

		function set_rd_1() {
			var rd ="#user_gender_0";
			var sd = "#rd_gender_male";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_1() {
			var sd = "#rd_gender_male";
			$(sd).removeClass("rd-background");			
		}
		function set_rd_2() {
			var rd ="#user_gender_1";
			var sd = "#rd_gender_female";
			$(rd).prop('checked',true);
			$(sd).addClass("rd-background");			
		}
		function unset_rd_2() {
			var sd = "#rd_gender_female";
			$(sd).removeClass("rd-background");			
		}

		function rd_gender(caller) {

			switch (caller)
			{
			  case 'male':
			  		set_rd_1();
			  		unset_rd_2();
			  	break;
			  case 'female':
			  		set_rd_2();
			  		unset_rd_1();
			  	break;

			  default:
			  //
			}
			
			if (rd_gender_clicked == false) {
				validateRadio1();
				rd_gender_clicked = true;
			}
		}

		function init_gender( gender ) {

			switch ( gender )
			{
			  case 0:
			  		set_rd_1();
			  		unset_rd_2();
			  	break;
			  case 1:
			  		set_rd_2();
			  		unset_rd_1();
			  	break;

			  default:
			  //
			}

		}


		// function new_password( verify_auth ) {
			// alert( verify_auth );
			// if( verify_auth == "true" ) {
				// // $("#new_password_input").val('bbbb');
				// // $("#new_password_confirmation_input").val('bbbb');
				// $("#new_password_input").val($("user_password_new").val());
				// $("#new_password_confirmation_input").val($("user_password_confirmation").val());
				// $("#new_password_submit").click();
				// $( "#box_profile_general" ).focus();																			  								
				// // var input_new_password = $("user_password_new").val();
				// // // var input_password = "aaaa";
				// // var obj_list = '{"id":' + <#%= @user.id %#> + ', "password":"' + input_new_password + '"}';      
			  	// // var obj = '{ "user": [' +  obj_list + '] }';                  
			  	// // $.ajax({
			    	// // type: 'POST',
			    	// // data : obj,
			    	// // url: '/publisher_profiles/update_password',			    	
			    	// // dataType: "json",
			    	// // contentType: "application/json",
			    	// // processData: false,
			    	// // beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	// // statusCode: {
	                	// // // 200:function() { alert("200"); },
	                	// // // 202:function() { alert("202"); }
	            	// // },
	            	// // success: function(data) {
						// // // $("#user_password").attr("placeholder", data.password);      		
						// // // $("#user_password").attr("value", "");       		
						// // $( "#box_profile_general" ).focus();																			  								
	            	  	// // // alert( data.authenticated );
	            	  	// // // alert( data.password );
	            	  	// // alert("New password saved" ); 
	            		// // // if (data.url) {
							// // // window.location.href = data.url;
						// // // }
	            	// // },
	            	// // error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	// // });
			  	// // return false;
		  	// }
		  	// else {
		  		// alert('The current password you entered is not verified.');
		  	// }
		// }

		function new_password_status( verify_auth ) {
			alert( verify_auth );
		}
		
		
		$(window).load( function() {
		//$(document).ready(function(){
	
			$('#user_gender_0').prop('checked', false);				
			$('#user_gender_1').prop('checked', false);				

			$('#rd_gender_male').on('click', function() {
				rd_gender('male');
			});
			$('#rd_gender_female').on('click', function() {
				rd_gender('female');
			});
			
    		$('#rd_gender_male').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_gender_male').click();
    		});				
    		$('#rd_gender_female').keypress(function(e){
      			if(e.keyCode==13)
      			$('#rd_gender_female').click();
    		});				


    		$("#submit_name").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_name").click();
    		});				
    		$("#submit_bd").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_bd").click();
    		});				
    		$("#submit_email").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_email").click();
    		});				
    		$("#submit_username").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_username").click();
    		});				
    		$("#submit_gender").keypress(function(e){
      			if(e.keyCode==13)
      			$("#submit_gender").click();
    		});				


			$("#user_bd_month").val( gon.bd_month );
			$("#user_bd_day").val( gon.bd_day );
			$("#user_bd_year").val( gon.bd_year );

			init_gender( gon.gender );


			$("#submit_name").on('click', function() {

			  	// var obj_list = ""; 

				var input_name_first = $("#user_name_first").val();
				var input_name_last = $("#user_name_last").val();
				
				var obj_list = '{"id":' + <%= @user.id %> + ', "name_first":"' + input_name_first + '", "name_last":"' + input_name_last + '"}';      
				// var obj = '{' + input_name_first + '}';
			  	var obj = '{ "user": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	// data : JSON.stringify(obj),
			    	data : obj,
			    	// url: '/Update-FirstName',
			    	url: '/publisher_profiles/update_name',			    	
			    	// dataType: "js",
			    	// contentType: "application/js",
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						// $("#render0").html("<#%= escape_javascript(render("publisher_profiles/test")) %#>");	            		
						// $("#render0").html("<#%= @user_updated_name_first %#>");	            		

						$("#render_name_first").html(data.name_first);	            		
						$("#render_name_last").html(data.name_last);	      
						$("#user_name_first").attr("placeholder", data.name_first);      		
						$("#user_name_last").attr("placeholder", data.name_last);      		
						$("#user_name_first").attr("value", "");       		
						$("#user_name_last").attr("value", "");       	
						
						$( "#box_profile_general" ).focus();													
						// $("#render0").html(gon.name_first);	            		
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
			  
			  	return false;
			});
			

			$("#submit_bd").on('click', function() {

				var input_bd_month = $("#user_bd_month").val();
				var input_bd_day = $("#user_bd_day").val();
				var input_bd_year = $("#user_bd_year").val();
				
				var obj_list = '{"id":' + <%= @user.id %> + ', "bd_month":' + input_bd_month + ', "bd_day":' + input_bd_day + ', "bd_year":' + input_bd_year + '}';      
			  	var obj = '{ "user": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_profiles/update_bd',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						$("#render_bd_month_text").html(data.bd_month_text);	            		
						$("#render_bd_day").html(data.bd_day);	      
						$("#render_bd_year").html(data.bd_year);
						$("#user_bd_month").attr("value", data.bd_month);
						$("#user_bd_day").attr("value", data.bd_day);
						$("#user_bd_year").attr("value", data.bd_day);

						$( "#box_profile_general" ).focus();													
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
			  
			  	return false;
			});
			

			$("#submit_email").on('click', function() {

				var input_email = $("#user_email").val();
				
				var obj_list = '{"id":' + <%= @user.id %> + ', "email":"' + input_email + '"}';      
			  	var obj = '{ "user": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_profiles/update_email',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						$("#render_email").html(data.email);	            		
						$("#user_email").attr("placeholder", data.email);      		
						$("#user_email").attr("value", "");       		
						
						$( "#box_profile_general" ).focus();																											
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
			  
			  	return false;
			});


			$("#submit_username").on('click', function() {

				var input_username = $("#user_username").val();
				
				var obj_list = '{"id":' + <%= @user.id %> + ', "username":"' + input_username + '"}';      
			  	var obj = '{ "user": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_profiles/update_username',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						$("#render_username").html(data.username);	            		
						$("#user_username").attr("placeholder", data.username);      		
						$("#user_username").attr("value", "");       		
						
						$( "#box_profile_general" ).focus();																											
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
			  
			  	return false;
			});


			$("#submit_gender").on('click', function() {
				// $('input:radio[name=sex]:checked').val();
				var input_gender = $("input:radio[name=user_gender]:checked").val();
				
				// $('td[name=tcol1]')
				var obj_list = '{"id":' + <%= @user.id %> + ', "gender":' + input_gender + '}';      
			  	var obj = '{ "user": [' +  obj_list + '] }';                  

			  	$.ajax({
			    	type: 'POST',
			    	data : obj,
			    	url: '/publisher_profiles/update_gender',			    	
			    	dataType: "json",
			    	contentType: "application/json",
			    	processData: false,
			    	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	statusCode: {
	                	// 200:function() { alert("200"); },
	                	// 202:function() { alert("202"); }
	            	},
	            	success: function(data) {
						$("#render_gender_text").html(data.gender_text);	            		
						$('#user_gender_0').prop('checked', false);				
						$('#user_gender_1').prop('checked', false);				
						
						$( "#box_profile_general" ).focus();																			  								
	            	  	// alert("success"); 
	            		// if (data.url) {
							// window.location.href = data.url;
						// }
	            	},
	            	error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	});
			  
			  	return false;
				
			});
			

			// $("#submit_password").on('click', function() {
				// $("#current_password_input").val($("#user_password_current").val());
				// $("#current_password_submit").click();
			// });
			
			
			
			// $("#submit_password").on('click', function() {
// 				
				// $("#form_user_password_input").val("aaaa");
				// $("#form_user_password_submit").click();
				// // $("#submit_id_password").click();
			// });
    		// $("#submit_password").keypress(function(e){
      			// if(e.keyCode==13)
      			// $("#submit_password").click();
    		// });				
			// $("#form_user_password").on('submit', function(e) {
			  	// e.preventDefault();
				// var input_password = $("user_password").val();
				// // $('td[name=tcol1]')
				// var obj_list = '{"id":' + <#%= @user.id %#> + ', "password":"' + input_password + '"}';      
			  	// var obj = '{ "user": [' +  obj_list + '] }';                  
			  	// $.ajax({
			    	// type: 'POST',
			    	// data : obj,
			    	// url: '/publisher_profiles/update_password',			    	
			    	// dataType: "json",
			    	// contentType: "application/json",
			    	// processData: false,
			    	// beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	            	// statusCode: {
	                	// // 200:function() { alert("200"); },
	                	// // 202:function() { alert("202"); }
	            	// },
	            	// success: function(data) {
						// // $("#user_password").attr("placeholder", data.password);      		
						// // $("#user_password").attr("value", "");       		
						// $( "#box_profile_general" ).focus();																			  								
	            	  	// alert( data.authenticated );
	            	  	// alert( data.password ); 
	            		// // if (data.url) {
							// // window.location.href = data.url;
						// // }
	            	// },
	            	// error: function(xhr){  alert("error: " + xhr.statusText); }        
			  	// });
			  	// return false;
			// });
			
			
	
	
		});
	  
	</script>		
